﻿@section title {
	Enrolment by {{"Island"|vocab}}
}

@section filters {
	{{vm.options.descriptionExcluding('Island')}}
}
<div layout="row" layout-fill>
	<div layout="column" ng-style="{'height': vm.isSelected()?'600px':'100%'}" flex>
		<row-col-chart dataset="vm.chartData"
									 touch="{{vm.touch}}"
									 sort-by="'id'"
									 charttype="h"
									 allowed-types="vm.allowedTypes"
									 on-click="vm.clickHandler(params)"
									 tooltipper="vm.tooltipper(datum)"
									 on-chart-render="vm.onChartRender(option, echart, renderedType)"
									 highlight="vm.highlight"
									 colors="vm.palette"
									 @*column-sort-by="['Approaching competence','Well below competent','Minimally competent','Competent']"*@
									 layout="column" layout-fill>
		</row-col-chart>
	</div>
	<div ng-if="vm.isSelected()" flex="50">
		<table class="table dashboard table-hover" style="padding: 20px">
			<thead>
				<tr>
					<th style="text-align: left;">{{'Island'|vocab}}</th>
					<th style="text-align: right;" ng-repeat="colHeader in ['F', 'M', 'Total', 'F%'] ">{{colHeader}}</th>
				</tr>
			</thead>
			<tr class="animated" ng-repeat="r in vm.grpIslandCode.all()">
				<td style="text-align: left;">{{r.key |lookup:"islands"}}</td>
				<td>{{r.value.Tot.Female}}</td>
				<td>{{r.value.Tot.Male}}</td>
				<td>{{r.value.Tot.Total}}</td>
				<td><spark-percent n="r.value.Tot.Female" d="r.value.Tot.Total" /></td>
			</tr>
		</table>
	</div>
</div>