﻿@{Layout = "master.cshtml"; }

<tr>
  <td>
    <h2>Your password has been changed</h2>
  </td>
</tr>
<tr>
  <td class="mui--divider-top">
  </td>
</tr>
<tr>
  <td>
    Your password has been changed.
  </td>
</tr>
