﻿<div id="actionpane" ui-view="actionpane" />
<panel panel-class=""
			 panel-icon="list"
			 heading="Upload Pdf Survey"
			 panel-control-collapse="true">

	<div layout="row" layout-margin>
		<div flex-gt-sm="33">
			<div ng-show="vm.uploader.isHTML5">
				<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
				<div nv-file-drop="" uploader="vm.uploader">
					<div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
						Drop Pdf Survey here...
					</div>
				</div>
			</div>

			<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
			<label for="inputFile"> ... or click to select file...</label>
			<input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />
		</div>

		<div flex-gt-sm="66">
			<table class="md-table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th ng-show="vm.uploader.isHTML5">Size</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.uploader.queue">
						<td>
							<strong>{{ item.file.name }}</strong>
						</td>
						<td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
						<td class="text-center">
							<span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
							<span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
							<span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<md-progress-linear md-mode="indeterminate" ng-show="vm.uploader.isUploading"></md-progress-linear>
				<md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
					<md-icon class="material-icons md-24">cloud_upload</md-icon>
					Upload
				</md-button>
				<md-button class="md-raised md-warn" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
					<md-icon class="material-icons md-24">cancel</md-icon>
					Cancel
				</md-button>
				<md-button class="md-raised" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
					<md-icon class="material-icons md-24">clear</md-icon>
					Clear
				</md-button>
			</div>

		</div>
	</div>

	<div>
		<div ng-show="vm.uploadResponseData">
			<div>
				<div><strong>School No:</strong> {{vm.uploadResponseData.SchoolNo}}</div>
				<div><strong>School Name:</strong> {{vm.uploadResponseData.SchoolName}}</div>
				<div><strong>Survey Year</strong> {{vm.uploadResponseData.SurveyYear}}</div>
				<div><strong>Enrolment</strong> {{vm.uploadResponseData.Enrolment}}</div>
				<div><strong>File Id:</strong> {{vm.uploadResponseData.id}}</div>
			</div>

		</div>

		<div ng-show="vm.uploadResponseData.hasValidations">
			<div>Validation errors were found in this file. You must correct these errors before the file can be loaded</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Row Index</th>
						<th>Value</th>
						<th>Error</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.uploadResponseData.validations">
						<td>{{v.rowID}}</td>
						<td>{{v.errorValue}}</td>
						<td>{{v.errorMessage}}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div ng-show="vm.processResponseData">
			<div layout="row" layout-align ="end center">
				<md-button ui-sref="site.surveys.item({schoolNo: vm.uploadResponseData.SchoolNo, year: vm.uploadResponseData.SurveyYear})">
					Show Survey Data
				</md-button>
				<md-button ui-sref=".school({id: vm.uploadResponseData.SchoolNo})">
					Show School
				</md-button>
				<span permission permission-only="'@Pineapples.Models.PermissionGlobals.ShowCensusPermission'">
					<document-image document="vm.uploadResponseData.id" height="16"></document-image>
				</span>
			</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Section</th>
						<th>Info</th>
						<th>Number</th>
						<th>Code</th>

						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.processResponseData.auditlog">
						<td>{{v.Section}}</td>
						<td>{{v.Info}}</td>
						<td>{{v.Number}}</td>
						<td>{{v.Code}}</td>
						<td>{{v.Status}}</td>
					</tr>
				</tbody>
			</table>
			<div ui-sref=""
		</div>
		</div>

</panel>