﻿@*
	Confirmation to proess upload of Ndoe data
		uses MaterialLayoutDialog
*@

@section icon {
	<md-icon>cloud_upload</md-icon>
}

@section title {
	Pdf Survey Uploaded
}

@section tools {
}

@* body *@
<div>
	<div><strong>School No:</strong> {{vm.info.SchoolNo}}</div>
	<div><strong>School Name:</strong> {{vm.info.SchoolName}}</div>
	<div><strong>Survey Year</strong> {{vm.info.SurveyYear}}</div>
	<div><strong>Enrolment</strong> {{vm.info.Enrolment}}</div>
</div>
<div ng-show="vm.info.hasValidations">
	Invalid rows were found in this workbook. Review and correct these problems, then submit the file again.
</div>

@section actions {

	<md-button ng-click="vm.returnSuccess()" ng-disabled="vm.info.hasValidations" class="md-primary">
		Process this file
	</md-button>
	<md-button ng-click="vm.returnFail()" class="md-primary">
		Cancel - discard this data
	</md-button>
}
