﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	Student Deduplicate: Merge
}

<style>
	input.modified {
		font-weight: bold;
	}

	.squish md-input-container {
		margin-top: 6px;
		margin-bottom: 6px;
	}
</style>
<div class="squish">
	<div layout="column">
		<div layout="row">
			<div flex="20"></div>
			<div flex="30">Duplicate (to be deleted)</div>
			<div flex="10"></div>
			<div flex="40">Combined Record (to be updated)</div>
		</div>
		<div layout="row">
			<div flex="20"></div>
			<div flex="30">ID: {{vm.dup.stuID}}</div>
			<div flex="10"></div>
			<div flex="40">ID: {{vm.model.stuID}}</div>

			<div></div>
		</div>
		<form name="vm.modelForm" ng-submit="vm.save()">
			<!-- name parts -->
			<div layout="row" ng-repeat="(prop, description) in vm.nameProps">
				<md-input-container class="md-block" flex="20">
					<div layout-align="end">{{description}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex="30">
					<input type="text" ng-model="vm.dup[prop]" ng-disabled="true" />
				</md-input-container>
				<div flex="10">
					<md-switch layout-align="center" class="primary" ng-model="vm.copy[prop]"
										 ng-disabled="!vm.dup[prop]"
										 ng-change="vm.model[prop]=vm.copy[prop]?vm.dup[prop]:vm.primary[prop]"></md-switch>
				</div>
				<md-input-container class="md-block" flex="40">
					<input ng-class="{'modified': vm.model[prop] != vm.primary[prop]}" type="text" ng-model="vm.model[prop]" />
				</md-input-container>
			</div>

			@* gender *@
			<!-- gender -->
			<div layout="row" ng-repeat="(prop, description) in {stuGender: 'Gender'}">
				<md-input-container class="md-block" flex="20">
					<div layout-align="end">{{description}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex="30">
					<input type="text" ng-model="vm.dup[prop]" ng-disabled="true" />
				</md-input-container>
				<div flex="10">
					<md-switch layout-align="center" class="primary" ng-model="vm.copy[prop]"
										 ng-disabled="!vm.dup[prop]"
										 ng-change="vm.model[prop]=vm.copy[prop]?vm.dup[prop]:vm.primary[prop]"></md-switch>
				</div>
				<md-input-container class="md-block" flex="40">
					<label>{{description}}</label>
					<lookup-selector ng-class="{'modified': vm.model[prop] != vm.primary[prop]}"
													 lkp="gender" ng-model="vm.model[prop]" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			@* dob *@
			<div layout="row" ng-repeat="(prop, description) in {stuDoB: 'Date of birth'}">
				<md-input-container class="md-block" flex="20">
					<div layout-align="end">{{description}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex="30">
					<md-datepicker ng-model="vm.dup[prop]" ng-disabled="true"></md-datepicker>
				</md-input-container>
				<div flex="10">
					<md-switch layout-align="center" class="primary" ng-model="vm.copy[prop]"
										 ng-disabled="!vm.dup[prop]"
										 ng-change="vm.model[prop]=vm.copy[prop]?vm.dup[prop]:vm.primary[prop]"></md-switch>
				</div>
				<md-input-container class="md-block" flex="40">
					<md-datepicker ng-model="vm.model.stuDoB" ng-disabled="!vm.isEditing"></md-datepicker>
				</md-input-container>
			</div>
			@* Employment*@

			<div layout="row" ng-repeat="(prop, description) in vm.tnumberProps">
				<md-input-container class="md-block" flex="20">
					<div layout-align="end">{{description|vocab}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex="30">
					<input type="text" ng-model="vm.dup[prop]" ng-disabled="true" />
				</md-input-container>
				<div flex="10">
					<md-switch layout-align="center" class="primary" ng-model="vm.copy[prop]"
										 ng-disabled="!vm.dup[prop]"
										 ng-change="vm.model[prop]=vm.copy[prop]?vm.dup[prop]:vm.primary[prop]"></md-switch>
				</div>
				<md-input-container class="md-block" flex="40">
					<input ng-class="{'modified': vm.model[prop] != vm.primary[prop]}" type="text" ng-model="vm.model[prop]" />
				</md-input-container>
			</div>

		</form>
	</div>
</div>.