﻿<h4>Deduplicator Selection</h4>

<div layout-gt-xs="row">
	<div layout="column" layout-align="none center" flex>
		<md-label>Given</md-label>
		<md-button class="md-fab md-mini" ng-class="vm.buttonClass(vm.params.MatchGiven)"
							 ng-click="vm.cycleFuzzyOption('MatchGiven')">
			{{vm.showOption(vm.params.MatchGiven)}}
			<md-tooltip>
				{{vm.buttonTooltip(vm.params.MatchGiven)}} Given Name
			</md-tooltip>
		</md-button>
	</div>
	<div layout="column" layout-align="none center" flex>
		<md-label>Family Name</md-label>
		<md-button class="md-fab md-mini" ng-class="vm.buttonClass(vm.params.MatchSurname)"
							 ng-click="vm.cycleFuzzyOption('MatchSurname')">
			{{vm.showOption(vm.params.MatchSurname)}}
			<md-tooltip>
				{{vm.buttonTooltip(vm.params.MatchSurname)}} Family Name
			</md-tooltip>
		</md-button>
	</div>
	<div layout="column" layout-align="none center" flex>
		<md-label>Gender</md-label>
		<md-button class="md-fab md-mini" ng-class="vm.buttonClass(vm.params.MatchGender)"
							 ng-click="vm.cycleOption('MatchGender')">
			{{vm.showOption(vm.params.MatchGender)}}
			<md-tooltip>
				{{vm.buttonTooltip(vm.params.MatchGender)}} Gender
			</md-tooltip>
		</md-button>
	</div>
	<div layout="column" layout-align="none center" flex>
		<md-label>DoB</md-label>
		<md-button class="md-fab md-mini" ng-class="vm.buttonClass(vm.params.MatchDoB)"
							 ng-click="vm.cycleOption('MatchDoB')">
			{{vm.showOption(vm.params.MatchDoB)}}
			<md-tooltip>
				{{vm.buttonTooltip(vm.params.MatchDoB)}} Date of Birth
			</md-tooltip>
		</md-button>
	</div>

	<div layout="column" layout-align="none center" flex>
		<md-label>{{'Student Card ID'|vocab}}</md-label>
		<md-button class="md-fab md-mini" ng-class="vm.buttonClass(vm.params.MatchCard)"
							 ng-click="vm.cycleOption('MatchCard')">
			{{vm.showOption(vm.params.MatchCard)}}
			<md-tooltip>
				{{vm.buttonTooltip(vm.params.MatchCard)}} {{"Student Card ID"|vocab}}
			</md-tooltip>
		</md-button>
	</div>
	
</div>
<div layout="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>Given Name</label>
		<input ng-model="vm.params.Given" type="text" />
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Family Name</label>
		<input ng-model="vm.params.Surname" type="text" />
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>{{'District'|vocab}}</label>
		<lookup-selector lkp="districts"
										 ng-model="vm.params.District"
										 ng-disabled="vm.findConfig.isLocked('District')">
		</lookup-selector>
	</md-input-container>
</div>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
