﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	Student Deduplicate: Compare Student Enrolments
}

<div>
	<table class="table table-material">
		<thead>
			<tr>
				<th></th>
				<th colspan="5">Record 1:</th>
				<th colspan="5">Record 2:</th>
			</tr>
			<tr>
				<th>Student ID:</th>
				<td colspan="5"><a ui-sref="site.studentdeduper.list.student({id: vm.leftID})">{{vm.leftID}}</a></td>
				<td colspan="5"><a ui-sref="site.studentdeduper.list.student({id: vm.rightID})">{{vm.rightID}}</a></td>
			</tr>
			<tr>
				<th>Year</th>
				<th>ID</th>
				<th>{{'School No'|vocab}}</th>
				<th>School Name</th>
				<th>Class</th>
				<th>From</th>


				<th>ID</th>
				<th>{{'School No'|vocab}}</th>
				<th>School Name</th>
				<th>Class</th>
				<th>From</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(year, v) in vm.listdata">
				<td>{{year}}</td>

				<td>{{v.left.stueID}}</td>
				<td>{{v.left.schNo}}</td>
				<td>{{v.left.schName}}</td>
				<td>{{v.left.stueClass | lookup:"levels"}}</td>
				<td>{{v.left.stueFrom}}</td>

				<td>{{v.right.stueID}}</td>
				<td>{{v.right.schNo}}</td>
				<td>{{v.right.schName}}</td>
				<td>{{v.right.stueClass | lookup:"levels"}}</td>
				<td>{{v.right.stueFrom}}</td>
			</tr>
		</tbody>
	</table>
</div>