﻿@* Teachers dashboard *@
<div>

	@*TODO Move these dashboard-child-chart components to the same as in the Schools dashboard?!
		and get them to support the same blow out mode.*@
	<dashboard-child-chart heading-title="Teachers by {{'Island'|vocab}}"
												 dimensions="height3 width6"
												 heading-filters="vm.filterString('Island')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpIslandCodeDetail"
												 selected-key="vm.options.selectedIsland"
												 @* SAMPLE just one accessor, unnamed so it is applied without ui
												 value-accessors="vm.chartAccessors.Total"*@
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedIsland')(key)"
												 key-formatter="vm.lookupFormatter('islands')(key)"
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<dashboard-child-chart heading-title="Teachers by {{'District'|vocab}}"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('District')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpDistrictCodeDetail"
												 selected-key="vm.options.selectedDistrict"
												 @* SAMPLE just one accessor, unnamed so it is applied without ui
												 value-accessors="vm.chartAccessors.Total"*@
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedDistrict')(key)"
												 key-formatter="vm.lookupFormatter('districts')(key)"
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<dashboard-child-chart heading-title="Teachers by {{'Region'|vocab}}"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('Region')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpRegionCodeDetail"
												 selected-key="vm.options.selectedRegion"
												 @* SAMPLE just one accessor, unnamed so it is applied without ui
												 value-accessors="vm.chartAccessors.Total"*@
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedRegion')(key)"
												 key-formatter="vm.lookupFormatter('regions')(key)"
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<dashboard-child-chart heading-title="Teachers by {{'Authority Govt'|vocab}}"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('AuthorityGovt')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpAuthorityGovtCodeDetail"
												 selected-key="vm.options.selectedAuthorityGovt"
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedAuthorityGovt')(key)"
												 key-formatter="vm.lookupFormatter('authorityGovts')(key)"												 
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v','h','pie']" />

	<dashboard-child-chart heading-title="Teachers by Authority"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('Authority')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpAuthorityCodeDetail"
												 selected-key="vm.options.selectedAuthority"
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedAuthority')(key)"
												 key-formatter="vm.lookupFormatter('authorities')(key)"												 
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<teacher-age-qual-chart class="dashboard-wrapper height3 "
													dashboard="::vm.dashboard"
													dimension="vm.dimAge"
													@* sample of override heading
													heading-title="Qualification by Age and Gender"
													sample of override palette
													colors="['pink','teal', 'crimson','darkseagreen']"*@
													options="::vm.options"
													option-change="vm.optionChange"
													selected-child="vm.selectedChild" />

	<simple-table heading-title="Teachers by {{'Island'|vocab}}"
								dimensions="height7 width3"
								heading-filters="vm.filterString('Island')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpIslandCode"
								selected-key="vm.options.selectedIsland"
								on-click="vm.optionToggler('selectedIsland')(key)"
								row-labels-lookup="islands"
								col-headings="['Island', 'Teachers']" />

	<simple-table heading-title="Teachers by Authority"
								dimensions="height7 width3"
								heading-filters="vm.filterString('Authority')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpAuthorityCode"
								selected-key="vm.options.selectedAuthority"
								on-click="vm.optionToggler('selectedAuthority')(key)"
								row-labels-lookup="authorities"
								col-headings="['Authority', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'District'|vocab}}"
								dimensions="height3 width3"
								heading-filters="vm.filterString('District')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpDistrictCode"
								selected-key="vm.options.selectedDistrict"
								on-click="vm.optionToggler('selectedDistrict')(key)"
								row-labels-lookup="districts"
								col-headings="['State', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'Region'|vocab}}"
								dimensions="height2 width3"
								heading-filters="vm.filterString('Region')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpRegionCode"
								selected-key="vm.options.selectedRegion"
								on-click="vm.optionToggler('selectedRegion')(key)"
								row-labels-lookup="regions"
								col-headings="['Location', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'Authority Govt'|vocab}}"
								dimensions="height2 width3"
								heading-filters="vm.filterString('AuthorityGovt')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpAuthorityGovtCode"
								selected-key="vm.options.selectedAuthorityGovt"
								on-click="vm.optionToggler('selectedAuthorityGovt')(key)"
								row-labels-lookup=""
								col-headings="['Public/Private', 'Teachers']" />

	@* row = district col = school type *@
	<cross-tab heading-title="Teachers by {{'District'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('District', 'SchoolType')"
						 dimensions="height4 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'District'|vocab}}"
						 grid-data="vm.tabDistrictBySchoolType"
						 col-labels-lookup="schoolTypes"
						 row-labels="'districts'"
						heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = region col = school type *@
	<cross-tab heading-title="Teachers by {{'Region'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('Region', 'SchoolType')"
						 dimensions="height3 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'Region'|vocab}}"
						 grid-data="vm.tabRegionBySchoolType"
						 col-labels-lookup="schoolTypes"
						 row-labels="'regions'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = island col = school type *@
	<cross-tab heading-title="Teachers by {{'Island'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('Island', 'SchoolType')"
						 dimensions="height9 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'Island'|vocab}}"
						 grid-data="vm.tabIslandBySchoolType"
						 col-labels-lookup="schoolTypes"
						 row-labels="'islands'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = authority govts col = school type *@
	<cross-tab heading-title="Teachers by {{'Authority Govt'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('AuthorityGovt', 'SchoolType')"
						 dimensions="height3 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'Authority Govt'|vocab}}"
						 grid-data="vm.tabAuthorityGovtBySchoolType"
						 col-labels-lookup="schoolTypes"
						 row-labels="'authorityGovts'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = ISCEDSubClass col = district *@
	<cross-tab heading-title="Teachers by ISCED Levels, {{'District'|vocab}} and Gender"
						 heading-filters="vm.filterString('ISCEDSubClass', 'District')"
						 dimensions="height6 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="ISCED Levels"
						 grid-data="vm.tabISCEDSubClassByDistrict"
						 col-labels-lookup="districts"
						 row-labels="'iscedLevelsSub'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = island col = ISCEDSubClass *@
	<cross-tab heading-title="Teachers by {{'Island'|vocab}}, ISCED Levels and Gender"
						 heading-filters="vm.filterString('Island', 'ISCEDSubClass')"
						 dimensions="height9 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'Island'|vocab}}"
						 grid-data="vm.tabIslandByISCEDSubClass"
						 col-labels-lookup="iscedLevelsSub"
						 row-labels="'islands'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = ISCEDSubClass col = region *@
	<cross-tab heading-title="Teachers by ISCED Levels, {{'Region'|vocab}} and Gender"
						 heading-filters="vm.filterString('ISCEDSubClass', 'Region')"
						 dimensions="height6 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="ISCED Levels"
						 grid-data="vm.tabISCEDSubClassByRegion"
						 col-labels-lookup="regions"
						 row-labels="'iscedLevelsSub'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = ISCEDSubClass col = authority govts *@
	<cross-tab heading-title="Teachers by ISCED Levels, {{'Authority Govt'|vocab}} and Gender"
						 heading-filters="vm.filterString('ISCEDSubClass', 'AuthorityGovt')"
						 dimensions="height6 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="ISCED Levels"
						 grid-data="vm.tabISCEDSubClassByAuthorityGovt"
						 col-labels-lookup="authorityGovts"
						 row-labels="'iscedLevelsSub'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

</div>