﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        table.gendergrid {
            table-layout:fixed;
            font-family: Calibri;
            font-size: 11pt
            
        }
        table.gendergrid .colhdr {
            background-color: aqua

        }

        table.gendergrid .colhdr.current {
            background-color: blue

        }
       table.gendergrid .rowhdr {
            background-color: aqua

        }

        table.gendergrid .rowhdr.current {
            background-color: blue

        }
        table.gendergrid .colm {
            background-color: blanchedalmond

        }

        table.gendergrid input {
            width: 40px;
            border:none;
            padding:3px;
            background-color:inherit;
            text-align:right
               
        }

        table.gendergrid .totg {
            text-align:right;
            color: gray;
        }

        table.gendergrid .tot {
            text-align:right;
            color: gray;
        }

        table.gendergrid input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        </style>
</head>
<body ng-app="scholar">
    <script type="text/ng-template" id="gridtemplate.html">
        <table class="gendergrid">
            <colgroup>
                <col width="50px" />
                <col width="50px" ng-repeat-start="c in ctrlr.cols" />
                <col width="50px" ng-repeat-end />
                <col width="50px" />
                <col width="50px" />
                <col width="50px" />
            </colgroup>
            <thead>
                <tr>
                    <th> </th>
                    <th class="colhdr" ng-class="{current: (ctrlr.selectedCol == $index)}" colspan="2" ng-repeat="c in ctrlr.cols">{{c}}</th>
                    <th class="colhdr" colspan="3">Total</th>
                </tr>
                <tr>
                <tr>
                    <th>Age</th>
                    <th class="colghdr" ng-repeat-start="c in ctrlr.cols">M</th>
                    <th class="colghdr" ng-repeat-end>F</th>
                    <th>M</th>
                    <th>F</th>
                    <th>Total</th>
                </tr>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="r in ctrlr.rows">
                    <td class="rowhdr"
                        ng-class="{current: (ctrlr.selectedRow == $index)}">
                        {{r}}
                    </td>
                    <td class="colm" ng-repeat-start="c in ctrlr.cols track by $index">

                        <input type="number" onfocus="this.select();"
                               ng-model="ctrlr.fat[$parent.$index][$index].M"
                               ng-focus="ctrlr.gridFocus($parent.$index,$index,'M')"
                               ng-blur="ctrlr.gridBlur()"
                               ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'M')"
                               sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'M')" />
                     </td>
                    <td ng-repeat-end>
                        <input type="number" onfocus="this.select();"
                               ng-model="ctrlr.fat[$parent.$index][$index].F"
                               ng-focus="ctrlr.gridFocus($parent.$index,$index,'F')"
                               ng-blur="ctrlr.gridBlur()"
                               ng-keydown="ctrlr.gridkeydown($event,$parent.$index,$index,'F')"
                               sync-focus-with="ctrlr.focusRequested($parent.$index,$index,'F')" />
                    </td>

                    
                    <td class="totg">{{ctrlr.rowSum(ctrlr.fat,$index,'M')}}</td>
                    <td class="totg">{{ctrlr.rowSum(ctrlr.fat,$index,'F')}}</td>
                    <td class="tot">{{ctrlr.rowSum(ctrlr.fat,$index)}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="colm totg" ng-repeat-start="c in ctrlr.cols track by $index">
                        {{ctrlr.colSum(ctrlr.fat,$index,'M')}}
                    </td>
                    <td class="totg" ng-repeat-end>
                        {{ctrlr.colSum(ctrlr.fat,$index,'F')}}
                    </td>
                    <!-- all gender totals-->
                    <td class="totg">{{ctrlr.gridSum(ctrlr.fat,'M')}}</td>
                    <td class="totg">{{ctrlr.gridSum(ctrlr.fat,'F')}}</td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td class="tot" colspan="2" ng-repeat ="c in ctrlr.cols track by $index">
                        {{ctrlr.colSum(ctrlr.fat,$index)}}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="tot">{{ctrlr.gridSum(ctrlr.fat)}}</td>
                </tr>
            </tfoot>
        </table>
    </script>

    <div ng-controller="ctrlr as ctrlr">

    <div > </div>
 
       <div gender-grid></div>
  
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script type="text/javascript">
        // main module declaration
        var app = angular.module('scholar',[]);

       
        app.directive('genderGrid', function ($templateCache) {
           
            return {
                getTemplate: function(tpl) { 
                    return $templateCache.get(tpl)
                },
                restrict: 'AE',
                replace: true,
                template: $templateCache.get('gridtemplate.html'),
                link: function (scope, elem, attrs) {
                    
                    elem.bind('mouseover', function () {
                        elem.css('cursor', 'pointer');
                       
                    });
                }
            };
        });

        // this directive can shift the focus based on an evaluation
        app.directive('syncFocusWith', function ($timeout, $rootScope) {
            return {
                restrict: 'A',
                scope: {
                    focusValue: "=syncFocusWith"
                },
                link: function ($scope, $element, attrs) {
                    $scope.$watch("focusValue", function (currentValue, previousValue) {
                        if (currentValue === true && !previousValue) {
                            // $timeout prevents the event getting lost becuase a digest is already in progress
                            $timeout(function () {
                                $element[0].focus();
                            });
                        } else if (currentValue === false && previousValue) {
                            $timeout(function () {
                                $element[0].blur();
                            });
                        }
                    })
                }
            }
        });
   
    
    
    app.controller('ctrlr', ['$scope', function ($scope) {

        this.cols = ['F1', 'F2', 'F3','F4','F5','F6','F7'];

        this.rows = [9,10,11, 12, 13, 14, 15,16, 17,18];

        this.data = [{ col: "F1", row: 12, M: 4 },
                     { col: "F2", row: 12, F: 14 },
                     { col: "F2", row: 13, M: 23 },
                     { col: "F3", row: 14, M: 15, F:12 }
        ];

        this.render = d3.nest()
                    .key(function (d) { return d.row; })
                    .key(function (d) { return d.col; })
                    .rollup(function(d) { return {M: d3.sum(d, function(g) {return g.M;}),
                        F: d3.sum(d, function(g) {return g.F;})
                    };
                    })
                    .entries(this.data);


        this.render2 = d3.nest()
                    .key(function (d) { return d.row; })
                    .key(function (d) { return d.col; })
                    .entries(this.data);

        var self = this
        this.dataf = function(row, col, gender, value){
            if (!value){
                var v =   self.render.filter(function (d) { return d.key == row; });
                if (v.length) {
                    v = v[0].values.filter(function (d) { return d.key == col; });
                    if (v.length)
                        return v[0].values[gender];
                }
                    
                             
                return null;
            }
        }
            
        this.fat = [];

        this.makeFat = function(data)
        {
            var f = new Array();
            for(var i = 0 ; i < self.rows.length; i++){
                f[i] = [];
                for(var j = 0 ; j < self.cols.length; j++)
                    f[i][j] = {};
                        
                
            }

            data.forEach(function (e) {
                var icol = self.cols.indexOf(e.col);
                var irow = self.rows.indexOf(e.row);
                f[irow][icol].M = e.M;
                f[irow][icol].F = e.F;

            });
            return f;
        };

        this.makeThin = function (fat) {
            var thin = [];
            var r = 0;
            fat.forEach(function (row) {
                var c = 0;
                row.forEach(function (col) {
                    if (col.F || col.M)
                        thin.push({ row: this.rows[r], col: self.cols[c], M: col.M, F: col.F })
                    c++;
                })
                r++;
            })
            return thin;
        }

       this.fat = this.makeFat(this.data);

       this.rowSum = function (data, rownum, gender) {
           // get the row
           var row = data[rownum];
           return d3.sum(row, function (cc) {
               if (gender)
                   return (cc[gender]?cc[gender]:null);
               return (cc.M?cc.M:null) + (cc.F?cc.F:null);
           })
       };

       this.colSum = function (data, colnum, gender) {
           
           var cv = function (row, colnum, gender) {
               var cc = row[colnum];
               if (gender)
                   return (cc[gender] ? cc[gender] : null);
               else
                   return (cc.M ? cc.M : null) + (cc.F ? cc.F : null);
           };
           var tot = 0;
           data.forEach(function (row) {
               tot += cv(row, colnum, gender);
           });
           return tot;
       };

       this.gridSum = function (data, gender) {
           // get the row
           var cv = function (cc, gender) {
               if (gender)
                   return (cc[gender] ? cc[gender] : null);
               else
                   return (cc.M ? cc.M : null) + (cc.F ? cc.F : null);
           };
           var tot = 0;
           data.forEach(function (row) {
               row.forEach(function (col) {
                   tot += cv(col, gender);
               })
               
           });
           return tot;
       };

        // navigation
        // 
       this.selectedRow = -1;
       this.selectedCol = -1;
       this.SelectedGender = '';

       this.gridFocus = function (row, col, gender) {
           self.selectedRow = row;
           self.selectedCol = col;
           self.selectedGender = gender;
           
       }

 
       this.gridBlur = function () {
           self.selectedRow = -1;
           self.selectedCol = -1;
           self.selectedGender = '';
       }
       this.Save = function () {
           var thin = self.makeThin();

       }

       this.selectedRowNew = -1;
       this.selectedColNew = -1;
       this.SelectedGenderNew = '';


       // key press
       this.gridkeydown = function ($event, row, col, gender) {
           if ($event.keyCode >= 48 && $event.keyCode <= 57) {
               return;
           }
           // number pad numerics
           if ($event.keyCode >= 96 && $event.keyCode <= 105) {
               return;
           }
           // process anything with alt or ctrl

           if ($event.altKey || $event.ctrlKey)
               return;

           switch ($event.keyCode) {
               case 8:          // backspace
               case 9:          // tab
               case 13:         // enter
               case 45:         // insert
               case 46:         // delete
                   return;      // don;t prevent default

               case 33:         // page up
                   self.selectedRowNew = 0;
                   self.selectedColNew = col;
                   self.selectedGenderNew = gender;
                   break;
               case 34:         // page down
                   self.selectedRowNew = self.rows.length - 1;
                   self.selectedColNew = col;
                   self.selectedGenderNew = gender;
                   break;
               case 35:         // end
                   self.selectedRowNew = self.rows.length - 1;
                   self.selectedColNew = self.cols.length - 1;
                   self.selectedGenderNew = 'F';
                   break;

               case 36:         // home
                   self.selectedRowNew = 0;
                   self.selectedColNew = 0;
                   self.selectedGenderNew = 'M';
                   break;
               case 37:         // left
                   self.selectedRowNew = row;
                   if (gender == "M")
                       if ((self.selectedColNew = (col == 0 ? self.cols.length - 1 : --col)) == self.cols.length - 1)
                            self.selectedRowNew = (row == 0 ? self.rows.length - 1 : --row);
                   else
                       self.selectedColNew = col;
                   self.selectedGenderNew = (gender == "M" ? "F" : "M");
                   break;
               case 38:         // up
                   
                   self.selectedColNew = col;
                   self.selectedGenderNew = gender;
                   self.selectedRowNew = (row == 0 ? self.rows.length - 1 : --row);
                   if (self.selectedRowNew == self.rows.length - 1) {
                       self.selectedGenderNew = (gender == "M" ? "F" : "M");
                       if (self.selectedGenderNew == "F") {
                           // we wrapped a column
                           self.selectedColNew = (col == 0 ? self.cols.length - 1 : --col);
                       }
                   }
                   
                   break;
               case 39:  // right
                   self.selectedRowNew = row;
                   if (gender == "F") {
                       if ((self.selectedColNew = (++col == self.cols.length ? 0 : col)) == 0)
                           self.selectedRowNew = (++row == self.rows.length ? 0 : row);
                   }
                   else 
                       self.selectedColNew = col;
                   self.selectedGenderNew = (gender == "M" ? "F" : "M");
                   break;
               case 40:
                  
                   self.selectedColNew = col;
                   self.selectedGenderNew = gender;
                   self.selectedRowNew = (++row == self.rows.length ? 0 : row);
                   if (self.selectedRowNew == 0) {
                       self.selectedGenderNew = (gender == "M" ? "F" : "M");
                       if (self.selectedGenderNew == "M") {
                           // we wrapped a column
                           self.selectedColNew = (++col == self.cols.length ? 0 : col);
                       }
                   }
                   break;

           }
           $event.preventDefault();
       };
       this.focusRequested = function (row, col, gender) {
           var result = (row == self.selectedRowNew && col == self.selectedColNew && gender == self.selectedGenderNew);
           //console.log("Focus requested by", row, col, gender, result, self.selectedRowNew, self.selectedColNew, self.SelectedGenderNew);
           return result;
       }

       this.gridkeypress = function ($event) {
           if ($event.keyCode >= 48 && $event.keyCode <= 57) {
               return;
           }
           switch ($event.keyCode) {
               case 9:
               case 13:
               case 37:
               case 38:
               case 39:
               case 40:
                   return;

           }
           $event.preventDefault();
       };
    }]);
    </script>
    
</body>
</html>
