﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <!-- injector:css -->
  <link href="../bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
  <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="../bower_components/plottable/plottable.css" rel="stylesheet" />
  <link href="../bower_components/d3/lib/colorbrewer/colorbrewer.css" rel="stylesheet" />

    <!-- endinjector -->
</head>
<body ng-app="pineapples">
<div ng-controller="ctrlr as vm">
    <p>{{name}}</p>
  <input type="text"  ng-model="asyncSelected" placeholder="Locations loaded via $http" 
                      uib-typeahead="s.N for s in vm.schoolSearch($viewValue)" 
                      typeahead-loading="loadingLocations" 
                      typeahead-no-results="noResults" class="form-control"
                      typeahead-on-select="vm.onSelect($item, $model, $label)"
         >
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
  <div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
  <P>N/{{asyncSelected.N}}</P>
  <P>C:{{asyncSelected.C}}</P>
  <P>{{asyncSelected}}</P>
</div>
  <div filter-editor url="/api/selectors/school" on-changed="vm.schoolParamChanged" ng-model="vm.theModel" filter="vm.filter"></div>

<!-- google maps stub-->
<script src="../test/stubs/googlemaps.js"></script>
<!-- take out the stub and use real google maps if you need to test maps -->
<!--<script type='text/javascript' src='https://maps.google.com/maps/api/js'></script>--> 
<!-- injector:js -->
<script src="../scripts/vendor/jquery/dist/jquery.js"></script>
<script src="../scripts/vendor/d3/d3.js"></script>
<script src="../scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="../scripts/vendor/angular/angular.js"></script>
<script src="../scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../scripts/vendor/angular-cookie/angular-cookie.js"></script>
<script src="../scripts/vendor/angular-dc/dist/angular-dc.js"></script>
<script src="../scripts/vendor/angular-dimple/dist/angular-dimple.js"></script>
<script src="../scripts/vendor/angular-pnotify/src/angular-pnotify.js"></script>
<script src="../scripts/vendor/angular-toggle-switch/angular-toggle-switch.min.js"></script>
<script src="../scripts/vendor/angular-ui-grid/ui-grid.js"></script>
<script src="../scripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../scripts/vendor/angular-xeditable/dist/js/xeditable.js"></script>
<script src="../scripts/vendor/angularjs-slider/dist/rzslider.js"></script>
<script src="../scripts/vendor/crossfilter/crossfilter.js"></script>
<script src="../scripts/vendor/d3-geo-projection/d3.geo.projection.js"></script>
<script src="../scripts/vendor/dcjs/dc.js"></script>
<script src="../scripts/vendor/dimple/dist/dimple.latest.js"></script>
<script src="../scripts/vendor/enquire/dist/enquire.js"></script>
<script src="../scripts/vendor/flow.js"></script>
<script src="../scripts/vendor/flow.js/dist/flow.js"></script>
<script src="../scripts/vendor/gmaps/gmaps.js"></script>
<script src="../scripts/vendor/jScrollPane/script/jquery.jscrollpane.min.js"></script>
<script src="../scripts/vendor/jScrollPane/script/jquery.mousewheel.js"></script>
<script src="../scripts/vendor/jScrollPane/script/mwheelIntent.js"></script>
<script src="../scripts/vendor/jquery-autosize/jquery.autosize.js"></script>
<script src="../scripts/vendor/jquery-validation/dist/jquery.validate.js"></script>
<script src="../scripts/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
<script src="../scripts/vendor/jquery.slimscroll/jquery.slimscroll.min.js"></script>
<script src="../scripts/vendor/jquery.sparkline/index.js"></script>
<script src="../scripts/vendor/key_drag_zoom/index.js"></script>
<script src="../scripts/vendor/lodash/lodash.js"></script>
<script src="../scripts/vendor/markerclustererplus/src/markerclusterer.js"></script>
<script src="../scripts/vendor/ng-flow/dist/ng-flow.js"></script>
<script src="../scripts/vendor/ng-token-auth/customised/ng-token-auth.js"></script>
<script src="../scripts/vendor/ngmap/build/scripts/ng-map.js"></script>
<script src="../scripts/vendor/overlapping_marker_spiderfier/index.js"></script>
<script src="../scripts/vendor/plottable/plottable.js"></script>
<script src="../scripts/vendor/pnotify_build/pnotify.custom.js"></script>
<script src="../scripts/vendor/restangular/dist/restangular.js"></script>
<script src="../scripts/vendor/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="../scripts/vendor/skylo/vendor/scripts/skylo.js"></script>
<script src="../scripts/vendor/svg-typewriter/svgtypewriter.js"></script>
<script src="../scripts/vendor/topojson/topojson.js"></script>
<script src="../scripts/app/theme.js"></script>
<script src="../scripts/app/pineapples.js"></script>
<!-- endinjector -->
<script>
    (function(angular) {
        var controller = function($scope, $http) {
          $scope.name = "Hello World";
          var self = this;
          // load the data you need here
 
          this.lastFetchString = "";
          this.fetchData = [];
          this.schoolSearch = function (s) {
            if (s.length < 3) {
              //if we don't have 3 chars don;t do anything
              return [];
            }
            s = s.toLowerCase();
            var l = self.fetchData.length
            // we don;t need to fetch:
            // the current search is the last fetch
            if (s === self.lastFetchString) {
              return self.filterLocal(s);
            }
            // the current search is backspaced and there is already a full list
            if (_.startsWith(self.lastFetchString, s) && l === 30) {
              return self.filterLocal(s);
            }
            // the current search string is longer than  the last search and that search returned < 30 records
            // ie we have everything
            if (_.startsWith(s, self.lastFetchString) && l > 0 && l < 30) {
              return self.filterLocal(s);
            }
            // return the promise with its resolution
            return $http.get('/test/data/schoolSearchResult.json')
              .then(function (response) {
                self.fetchData = response.data.ResultSet[0];       // use self in this d3 function to refer to the controller
                self.lastFetchString = s;
                return self.fetchData;
              });
          };
          this.filterLocal = function (s) {
            return _.filter(self.fetchData, function (d) { return (d.N.toLowerCase().indexOf(s) >= 0 || d.C.toLowerCase().indexOf(s) >= 0); });
          }
          this.onSelect = function ($item, $model, $label) {
            console.log($item);
          };
        };
       
        angular
            .module("pineapples")
            .controller("ctrlr", ["$scope", "$http",controller]);
    })(window.angular);
</script>
</body>
</html>
