﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.filterDescription()}}
	<div ng-if="(!vm.options.selectedYear)">
		Select the year from the Dashboard Options
	</div>
}

@section componentOptions {
	<md-select ng-model="vm.selectedViewOption" aria-label="Select" ng-if="vm.viewOptions.length > 0">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
	</md-select>
}


<div flex>
	@section whenSelected {
		<table class="table dashboard table-hover">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="cn in vm.selectedViewLookup">{{cn.N}}</th>
					<th>Unspecified</th>
					<th>Total</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="row in vm.chartData.all()">
					<td class="rowlabel">{{row.key}}</td>
					<td ng-repeat="cn in vm.selectedViewLookup">{{row.value[cn.N]}}</td>
					<td >{{row.value["-"]}}</td>
					<td>{{row.value["Tot"]}}</td>

				</tr>
			</tbody>
		</table>
	}

	<row-col-chart ng-show="(vm.options.selectedYear) && !vm.isSelected()"
								 @*ng-class="vm.paletteName"*@
								 dataset="vm.chartData" touch="{{vm.touch}}"
								 charttype="h" flip="false"
								 on-click="vm.clickHandler(item)" highlight="vm.highlight"
								 tooltipper="vm.tooltipper(datum)"
								 colors="vm.palette"
								 layout="column" layout-fill>
	</row-col-chart>
	<!--"['#1010FF', '#223344', '#096723', '#123456','#3000FF', '#503344', '#506723', '#503456']"
	['#1010FF','#223344','#096723','#123456']
	-->

</div>