﻿@*
	Upload a student Link
*@

@section icon {
	<md-icon class="material-icons">upload</md-icon>
}

@section title {
	{{vm.student.stuGiven}} {{vm.student.stuFamilyName}} <span style="padding-left:30px"><document-thumbnail document="vm.model" document-changed="vm.documentChanged(document)" height="30"></document-thumbnail></span>
}

@section tools {
}
<div style="padding:5px">
	<div class="row" style="padding:5px">


	</div>

	@* no file selected - display means to select *@
	<div class="row" ng-show="vm.uploader.queue.length == 0">

		<div ng-show="vm.uploader.isHTML5">

			<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
			<div nv-file-drop="" uploader="vm.uploader">
				<div nv-file-over="" uploader="vm.uploader"
						 over-class="another-file-over-class" class="well my-drop-zone" style="height: 100px">
					Drop file here to load...
				</div>
			</div>
		</div>
		<label for="inputFile">
			<span ng-show="vm.uploader.isHTML5"> ... or click here to select file... </span>
			<span ng-show="!vm.uploader.isHTML5"> Click to select file to upload ... </span>
		</label>
		<input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />

	</div>
	@* file selected - processing options*@
	<div class="row" style="margin-bottom: 40px" ng-show="vm.uploader.queue.length != 0">
		<table class="table">
			<tbody>
				<tr ng-repeat-start="item in vm.uploader.queue">
					<td>
						@* we can render a thumb if it is html5 browser and an image file type *@
						<div ng-show="vm.renderer.isImage(item.file.name) && vm.uploader.isHTML5">
							<div ng-thumb="item._file" height="100"></div>
						</div>
						@* otherwise get an icon from the server *@
						<div ng-show="!(vm.renderer.isImage(item.file.name) && vm.uploader.isHTML5)">
							<img ng-src="{{vm.renderer.thumbPath(item.file.name)}}" />
						</div>
					</td>
					<td>
						<div><strong>{{ item.file.name }}</strong></div>
						<div ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
					</td>
				</tr>
				<tr ng-repeat-end>
					<td colspan="2">
						<div class="form-group">
							<label for="inputtPayroll" class="col-sm-4 control-label">Category:</label>
							<div class="col-sm-8">
								<lookup-selector name="lnkFunction" lkp="studentLinkTypes" ng-model="vm.model.lnkFunction" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputtPayroll" class="col-sm-4 control-label">Description:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" ng-model="vm.model.docDescription" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputtPayroll" class="col-sm-4 control-label">Source:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" ng-model="vm.model.docSource" />
							</div>
						</div>

						<div class="form-group">
							<label for="inputtPayroll" class="col-sm-4 control-label">Tags:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" ng-model="vm.model.docTags" />
							</div>
						</div>
						@*<div class="form-group">
							<label for="chkCurrentPhoto" class="col-sm-4 control-label">Preferred Photo:</label>
							<div class="col-sm-8">
								<input type="checkbox" name="chkCurrentPhoto" id="chkCurrentPhoto"
											 ng-true-value="1" ng-false-value="0"
											 ng-model="vm.model.isCurrentPhoto" ng-disabled="!(vm.model.lnkFunction === 'PHOTO')" />
							</div>
						</div>*@
						<div>


						</div>
					</td>
				</tr>
			</tbody>
		</table>



	</div>
	<div style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.uploader.isUploading">
		Uploading {{vm.uploader.progress}}% <img src="assets/img/wait.gif" />
	</div>
</div>
@section actions {
	<div>
		<button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
			<md-icon class="material-icons" ng-style="{color: 'white'}">upload</md-icon> Upload
		</button>
		<button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
			<md-icon class="material-icons" ng-style="{color: 'white'}">cancel</md-icon> Cancel
		</button>
		<button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
			<md-icon class="material-icons" ng-style="{color: 'white'}">remove</md-icon> Remove
		</button>
	</div>
}
