﻿<div>
	<special-ed-gender class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpDisability"
										 options="::vm.options" heading-title="Disability"
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</special-ed-gender>
	<special-ed-gender class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpEthnicity"
										 options="::vm.options" heading-title="Ethnicity"
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</special-ed-gender>
	<special-ed-gender class="dashboard-wrapper  height3 width4"
										 dashboard="::vm.dashboard" 
										 group="::vm.grpEnvironment"
										 options="::vm.options" heading-title="Special Ed Environment"
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</special-ed-gender>
	<special-ed-gender class="dashboard-wrapper  height3 width4 "
										 dashboard="::vm.dashboard" 
										 group="::vm.grpEnglishLearner"
										 options="::vm.options" heading-title="English Learner Status"
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</special-ed-gender>
	<special-ed-year-series class="dashboard-wrapper  height3 "
													dashboard="::vm.dashboard"
													options="::vm.options" heading-title="Cohort Distribution by Year"
													selected-child="vm.selectedChild"
													option-change="vm.optionChange">
	</special-ed-year-series>
	<special-ed-district-series class="dashboard-wrapper  height3 "
													dashboard="::vm.dashboard"
													options="::vm.options" heading-title="Cohort Distribution by {{'District'|vocab}}"
													selected-child="vm.selectedChild"
													option-change="vm.optionChange">
	</special-ed-district-series>
</div>


