﻿@using Pineapples.Models
@model PermissionSet
@* SpEd evaluations List
*@
<div>
	<table class="md-table striped">
		<thead>
			<tr>
				<th>Evaluation Event Type</th>
				<th>Evaluation Event Date</th>
				<th>Comment</th>
				<th>First Time Evaluation?</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="e in vm.evaluationevents">
				<td>{{e.spedEvalEventCode | lookup:'spEdEvaluationEventTypes'}}</td>
				<td>{{e.spedEvalEventDate | date: "mediumDate"}}</td>
				<td>{{e.spedEvalComment}}</td>
				<td>
					<div ng-show="e.spedEvalFirstTime === true">Yes</div>
					<div ng-show="e.spedEvalFirstTime === false">No</div>
				</td>
				<td>
					<md-button class="md-icon-button" ng-click="vm.showEvaluationEvent(e)">
						@* create is a pencil, ie 'Edit' more-horiz is the horizontal ellipsis *@
						<md-icon class="material-icons md-24 md-dark">
							<span permission permission-only="'@Model.Update'">
								create
								<md-tooltip>View / Edit details ... </md-tooltip>
							</span>
							<span permission permission-only="'@Model.Read'" permission-except="'@Model.Update'">
								more_horiz
								<md-tooltip>Details ...</md-tooltip>
							</span>
						</md-icon>
					</md-button>
					<span permission permission-only="'@Model.Delete'">
						<md-button class="md-icon-button" ng-click="vm.deleteEvaluationEvent(e)">
							<md-icon class="material-icons md-24 md-dark">delete</md-icon>
							<md-tooltip>Delete this Evaluation Event</md-tooltip>
						</md-button>
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div layout="row" permission permission-only="'@Model.Create'">
		<div flex></div>
		<md-button class="md-fab md-mini" ng-click="vm.new()">
			<md-icon class="md-24">add</md-icon>
			<md-tooltip>Add a new Evaluation Event</md-tooltip>
		</md-button>
	</div>
</div>