﻿@section title {
	Evaluation Event : {{vm.model.spedEvalEventCode | lookup:'spEdEvaluationEventTypes'}} on {{vm.model.spedEvalEventDate | date: "mediumDate"}}

}

@section icon {
	<i class="fa fa-graduation-cap"></i>&nbsp;
}
@section tools {}
@section actions {}

<div ng-show="vm.showErrors()">
	The form cannot be saved because the data is incomplete or invalid
</div>
<div>
	<form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">
		<div layout="column">

			<md-input-container class="md-block" flex-gt-sm>
				@* use <p> to prevent the *@
				<p>First Time Evaluation?</p>
				@* not to get boolean values we have to use ng-value, not value , so that the expression 'true'
					is evaluated, not treated as a string literal
				*@
				<md-radio-group ng-model="vm.model.spedEvalFirstTime" ng-disabled="!vm.isEditing" layout="row">
					<md-radio-button ng-value="true">Yes</md-radio-button>
					<md-radio-button ng-value="false">No</md-radio-button>
				</md-radio-group>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm
													md-is-error="vm.showErrors('spedEvalEventCode')"
													ng-class="{'md-input-invalid': vm.showErrors('spedEvalEventCode')}">
				<label>Evaluation Event Type</label>
				<lookup-selector name="spedEvalEventCode"
												 lkp="spEdEvaluationEventTypes" ng-model="vm.model.spedEvalEventCode" ng-disabled="!vm.isEditing"
												 ng-required="true"></lookup-selector>
				<div ng-messages="vm.modelForm.spedEvalEventCode.$error" ng-show="vm.showErrors('spedEvalEventCode')">
					<ng-message when="required">
						Evaluation Event Type is required
					</ng-message>
				</div>
			</md-input-container>

			<md-input-container>
				<md-datepicker placeholder="Evaluation Event Date"
											 name="spedEvalEventDate"
											 ng-model="vm.model.spedEvalEventDate"
											 ng-disabled="!vm.isEditing" />
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Comment</label>
				<textarea rows="4" ng-model="vm.model.spedEvalComment" ng-disabled="!vm.isEditing" />
			</md-input-container>

		</div>
	</form>
</div>