# Build files
test/tests.js
test/app/tests.js

# Typescript
.baseDir.ts
.tscache/

# Project specific
node_modules/
bower_components/
local/

# Mac
.DS_Store
*.tmp.txt

# IntelliJ
.idea/

# Emacs
.#*

# Vim
*.swp
*~

# Eclipse
*.project

# Visual Studio Code
.settings/
.vscode/

# Visual Studio
*.sln
.vs/

# temporary!
src/app/ts/**/*.js
