﻿@*

	css Selectors

	headings
	--------

	thead th							=> column header
	thead th.gender.total	=> sub header for gender Tot
	thead th.gender				=> sub header for gender M or F

	thead th.row_label		=> heading cell above row_labels , can contain the descriptor of the row values

	thead th							=> column header
	thead th.gender.total	=> sub header for gender Tot
	thead th.gender				=> sub header for gender M or F

	thead th.row_total		=> column header 'Total' when row total are displayed

	thead th.row_total.gender.total				'Tot' in row totals header
	thead th.row_total.gender							'M' 'F' in row totals header

	Values
	------

	tbody th.row_label    => value of row identifier, leftmost column on row

	tbody td							=> value

	tbody td.gender.total	=> 		gender total value
	tbody td.gender				=> 		gender value M or F

	tbody td.row_total
	tbody td.row_total.gender.total				'Tot' in row totals header
	tbody td.row_total.gender							'M' 'F' in row totals header

	Totals/Aggregates

	tfoot th.row_label    => row identifier for total row

	tfoot td							=> total value

	tfoot td.gender.total	=> 		gender total value
	tfoot td.gender				=> 		gender value M or F

	tfoot td.row_total
	tfoot td.row_total.gender.total				'Tot' in row totals header
	tfoot td.row_total.gender							'M' 'F' in row totals header


*@

	<table class="crosstab" ng-class="vm.tableClassHandler()">
		<caption>
			<div ng-transclude="caption"></div>
			<div ng-transclude="toolbar"></div>
		</caption>
		<colgroup span="{{vm.genderTotals?4:1}}">
			<col />		@* row label column *@
			
		</colgroup>
		<colgroup ng-repeat="col in vm.columns" span="{{vm.genderTotals?4:1}}" 
							ng-class="vm.colClassHandler(col, $index)">
			@*  <col /> data columns *@
		</colgroup>
		<colgroup span="{{vm.genderTotals?4:1}}">
			<col /> @* row totals *@
		</colgroup>
		<thead>
			<tr>
				<!-- row label header -->
				<th class="row_label_label"
					ng-class="vm.rowLabelClassHandler(row,$index,source,'head')">
					{{vm.genderTotals?vm.colDescriptor:vm.rowDescriptor}}
				</th>
				<th scope="col" class="col_label"
						ng-repeat="col in vm._cols(vm.source[0])"
						colspan="{{vm.genderTotals?4:1}}"
						ng-style="{'text-align': vm.genderTotals?'center':'right'}"
						ng-click="vm.colClickHandler(col, $event)">{{vm.columnHeader(col)}}</th>
				<th scope="col" class="row_total_label"
						colspan="{{vm.genderTotals?4:1}}"
						ng-show="vm.hasRowTotals"
						ng-style="{'text-align': vm.genderTotals?'center':'right'}">Total</th>
			</tr>
			<tr ng-if="vm.genderTotals">
				<th class="row_label_label"
					ng-class="vm.rowLabelClassHandler(row,$index,source,'head')">
					{{vm.rowDescriptor}}
				</th>
				<th ng-repeat-start="col in vm._cols(vm.source[0])"
						class="gender total">Tot</th>
				<th class="gender">M</th>
				<th class="gender">F</th>
				<th class="gender" ng-repeat-end>N/A</th>
				<th class="row_total gender total"
						ng-show="vm.hasRowTotals">Tot</th>
				<th class="row_total gender"
						ng-show="vm.hasRowTotals">M</th>
				<th class="row_total gender"
						ng-show="vm.hasRowTotals">F</th>
				<th class="row_total gender"
						ng-show="vm.hasRowTotals">N/A</th>
			</tr>
		</thead>
		<tbody ng-repeat="source in vm.source">
			<tr ng-class="vm.rowClassHandler(row, $index, source,'body')"
					ng-repeat-start="row in vm._rows(source)"
					ng-click="vm.rowClickHandler(row, source, $event)">
				<!-- row label -->
				<th scope="row"
						class="row_label" ng-class="vm.rowLabelClassHandler(row,$index,source,'body')">{{vm.rowLabel(row, source)}}</th>
				<!-- column values -->
				<td ng-repeat-start="col in vm._cols(vm.source[0])" ng-show="!vm.genderTotals"
						ng-click="vm.cellClickHandler(row, col, source, $event)"
						ng-class="vm.cellClassHandler(row, col, $parent.$index, $index, source)">
					{{vm.value(row,col)}}
				</td>
				<!-- column gender values-->
				<td ng-show="vm.genderTotals"
						class="gender total"
						ng-click="vm.cellClickHandler(row, col, source, $event)"
						ng-class="vm.cellClassHandler(row, col, $parent.$index, $index, source)">
					{{vm.value(row,col,'T')}}
				</td>
				<td ng-show="vm.genderTotals"
						class="gender m"
						ng-click="vm.cellClickHandler(row, col, source, $event)"
						ng-class="vm.cellClassHandler(row, col, $parent.$index, $index, source)">
					{{vm.value(row,col,'M')}}
				</td>
				<td ng-show="vm.genderTotals"
						class="gender f"
						ng-click="vm.cellClickHandler(row, col, source, $event)"
						ng-class="vm.cellClassHandler(row, col, $parent.$index, $index, source)">
					{{vm.value(row,col,'F')}}
				</td>
				<td ng-repeat-end ng-show="vm.genderTotals"
						class="gender f"
						ng-click="vm.cellClickHandler(row, col, source, $event)"
						ng-class="vm.cellClassHandler(row, col, $parent.$index, $index, source)">
					{{vm.value(row,col,'NA')}}
				</td>

				<!-- row totals-->
				<td ng-if="vm.hasRowTotals && !vm.genderTotals"
						class="row_total">
					{{vm.value(row,"Tot")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender total">
					{{vm.value(row,"Tot","T")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender m">
					{{vm.value(row,"Tot","M")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender f">
					{{vm.value(row,"Tot","F")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender f">
					{{vm.value(row,"Tot","NA")}}
				</td>

			</tr>
			@* drill down row*@
		<tr class="detail" ng-repeat-end style="padding: 0px;border-style:none;"
				ng-if="vm.transclude.isSlotFilled('detail')"	>
				
			<td class="detail-pane" colspan="2000">
				<div 
						 class="animate-slide"
						 ng-if="vm._showDetail(row, source)"
						 ng-transclude="detail">
				</div>
			</td>
		</tr>
		</tbody>

		<tfoot ng-repeat="source in vm.footerSource">
			<tr ng-class="vm.rowClassHandler(row, $index, source,'body')"
					ng-repeat="row in vm._rows(source)"
					ng-if="vm.showRow(row, source)"
					ng-click="vm.rowClickHandler(row, source, $event)">
				<th scope="row"
						class="row_label"
						ng-class="vm.rowLabelClassHandler(row,$index,source,'body')">{{vm.rowLabel(row, source)}}</th>
				<td ng-repeat-start="col in vm._cols(source)" ng-show="!vm.genderTotals">
					{{vm.value(row,col)}}
				</td>
				<!-- column gender values-->
				<td ng-show="vm.genderTotals"
						class="gender total">
					{{vm.value(row,col,'T')}}
				</td>
				<td ng-show="vm.genderTotals"
						class="gender">
					{{vm.value(row,col,'M')}}
				</td>
				<td ng-show="vm.genderTotals"
						class="gender">
					{{vm.value(row,col,'F')}}
				</td>
				<td ng-repeat-end ng-show="vm.genderTotals"
						class="gender">
					{{vm.value(row,col,'T') - vm.value(row,col,'M') - vm.value(row,col,'F')}}
				</td>

				<!-- row totals-->
				<td ng-if="vm.hasRowTotals && !vm.genderTotals"
						class="row_total">
					{{vm.value(row,"Tot")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender total">
					{{vm.value(row,"Tot","T")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender">
					{{vm.value(row,"Tot","M")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender">
					{{vm.value(row,"Tot","F")}}
				</td>
				<td ng-if="vm.hasRowTotals && vm.genderTotals"
						class="row_total gender">
					{{vm.value(row,"Tot","T") - vm.value(row,"Tot","M") - vm.value(row,"Tot","F")}}
				</td>

			</tr>
		</tfoot>

	</table>



