﻿@*
  CrossTabBase widget
*@

<div style="margin:4px">
  <h3 class="md-title"></h3>
  <table class="table" style="table-layout:fixed">
    <thead>

      <tr> <!--First Header Row -->
				<th style="width: 130px; text-align: left">{{vm.firstDimName}}</th>
        <th colspan="{{vm.selectedOption.length}}" style="text-align: center" ng-repeat="col in vm.colLabels()">
          <div>
            <span>
              {{col}}
            </span>
          </div>
        </th>
        <th colspan="3" ng-if="vm.hasRowTotals" style="%">
          <div>
            <span>Total</span>
          </div>
        </th>
      </tr>

      <tr ng-if="vm.selectedOption.length > 1"> <!--Second Header Row-->
        <th style=""></th>
        <th class="rotate90" style="text-align: center" ng-repeat="col in vm.columnLabels()">
          <div>
            <span>
              {{col.sub}}
            </span>
          </div>
        </th>
        <th ng-if="vm.hasRowTotals" ng-repeat="sub in vm.totalColumnLabels()" class="rotate90" style="">
          <div>
            <span>
              {{sub}}
            </span>
          </div>
        </th>
      </tr>

    </thead>
    <tbody>
      <tr class="animated" ng-repeat="row in vm.gridData.all()">
        <td style="text-align: left">{{vm._rowLabels(row.key)}}</td>
        <td ng-repeat="col in vm.columnCodes()">{{vm.getValue(row.value[col.top], col.sub)}}</td>
        <td ng-if="vm.hasRowTotals" class="total"
            ng-repeat="sub in vm.selectedOption">{{vm.getValue(row.value["Tot"], sub)}}</td>
      </tr>

      <tr ng-if="vm.hasColumnTotals" class="animated total">
        <td style="text-align: left">Total</td>
        <td ng-repeat="col in vm.columnCodes()">{{vm.columnTotals(col)}}</td>
        <td ng-if="vm.hasRowTotals" class="total"
            ng-repeat="sub in vm.selectedOption">{{vm.columnTotals( {top: "Tot", sub} )}}</td>
      </tr>
    </tbody>
  </table>
</div>


