﻿@* Render a cross tab generated from
  a crossFilter using xFilter. this is the tempalte for the the xTable component.
*@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()"
                 another-component-selected="vm.anotherComponentSelected()"
                 component-id="vm.componentId">

  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <heading-options>
    <md-select ng-if="vm.headingOptions" ng-model="vm.selectedViewOption">
      <md-option ng-value="opt" ng-repeat="opt in vm.viewOptions()">{{ opt }}</md-option>
    </md-select>
  </heading-options>  

  <child-body>

    <cross-tab-base ng-if="!vm.isSelected() || !vm.detailGridData"
                    first-dim-name="vm.firstDimName"
                    grid-data="vm.gridData"
                    col-labels-lookup="vm.colLabelsLookup"
                    row-labels="vm.rowLabels"
                    has-row-totals="vm.hasRowTotals"
                    has-column-totals="vm.hasColumnTotals"
                    display-value="Total"
                    selected-option="vm.selectedColumns()"
                    indicator-calculators="vm.indicatorCalculators"
                    />
    

    <cross-tab-base ng-if="vm.isSelected() && !!vm.detailGridData"
                    first-dim-name="vm.firstDimName"
                    grid-data="vm.detailGridData"
                    col-labels-lookup="vm.detailColLabelsLookup"
                    row-labels="vm.detailRowLabels"
                    has-row-totals="vm.hasRowTotals"
                    has-column-totals="vm.hasColumnTotals"
                    selected-option="vm.selectedColumns()"
                    indicator-calculators="vm.indicatorCalculators"
                    decimal-places="vm.decimalPlaces"
                    />
    
  </child-body>
</dashboard-child>

