﻿@* Render a Bar Chart
*@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()"
                 another-component-selected="vm.anotherComponentSelected()"
                 component-id="vm.componentId">

  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <heading-options>
    <md-select ng-if="vm.viewOptions" ng-model="vm.selectedViewOption">
      <md-option ng-value="opt" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
    </md-select>
  </heading-options>
	<child-body>
		<row-col-chart
										touch="{{vm.touch}}"
										dataset="vm.chartData"			
									  charttype="{{vm.charttype}}"
										highlight="vm.selectedKey"
										on-click="vm.clickHandler(params)"
										on-chart-render="vm.onChartRender(option, echart)"
										allowed-types="vm.allowedTypes"
									 />
	</child-body>
</dashboard-child>

