﻿@{
    Layout = null;
}
<dashboard-child class="dashboard-wrapper"
								 ng-class="vm.dimensions"
								 report-path="vm.reportPath"
								 toggle-selected="vm.toggleSelected"
								 is-selected="vm.isSelected()"
								 another-component-selected="vm.anotherComponentSelected()"
								 component-id="vm.componentId">

	<heading-title>{{vm.headingTitle}}</heading-title>
	<heading-filters>{{vm.headingFilters}}</heading-filters>
	<heading-options>
		<md-select ng-if="vm.headingOptions" ng-model="vm.selectedViewOption" aria-label="Select">
			<md-option ng-value="opt" ng-repeat="opt in vm.headingOptions">{{ opt }}</md-option>
		</md-select>
	</heading-options>

	<child-body>
		<row-col-chart ng-if="!vm.headingOptions"
									 touch="{{vm.touch}}"
									 dataset="vm.group"
									 charttype="pie"
									 highlight="vm.selectedKey"
									 on-click="vm.clickHandler(params)"
									 on-chart-render="vm.onChartRender(option, echart)" />

	</child-body>
</dashboard-child>