﻿@* School Details *@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()"
                 another-component-selected="vm.anotherComponentSelected()"
                 component-id="vm.componentId">

  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <heading-options>
    <md-select ng-if="vm.headingOptions" ng-model="vm.selectedViewOption">
      <md-option ng-value="opt" ng-repeat="opt in vm.viewOptions()">{{ opt }}</md-option>
    </md-select>
  </heading-options>
  <child-body>


    <div>
      @*<h2 style="margin-bottom: 0;">School Details</h2>*@
      <div layout="row" class="zero">
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">School ID</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schNo}}</h6>
        </div>
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">School Name</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schName}}</h6>
        </div>
      </div>

      <h4 style="margin-bottom: 0;">Location Details</h4>
      <div layout="row" class="zero">
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">Island</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.iCode | lookup:'islands'}}</h6>
        </div>
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">Atolls and Islands</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schElectN | lookup:'districts'}}</h6>
        </div>
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">Village</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schVillage}}</h6>
        </div>
      </div>

      <h4 style="margin-bottom: 0;">Type of School</h4>
      <div layout="row" class="zero">
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">Authority</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schAuth | lookup:'authorities'}}</h6>
        </div>
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">Land Ownership</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schLandOwner}}</h6>
        </div>
        <div layout="column" class="zero" style="min-width: 150px">
          <h6 style="margin-bottom: 0;">School Type</h6>
          <h6 style="opacity: .6; margin-bottom: 0;">{{vm.schoolInfo.schType | lookup:'schoolTypes'}}</h6>
        </div>
      </div>
    </div>

  </child-body>
</dashboard-child>