﻿@* Render a cross tab generated from
  a crossFilter using xFilter. this is the tempalte for the the xTable component.
*@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()" 
                 another-component-selected="vm.anotherComponentSelected()" 
                 component-id="vm.componentId" >
  
  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <child-body>
                                                                
    <simple-table-base 
        row-labels-lookup="vm.rowLabelsLookup"
        group="vm.group"
        selected-key="vm.selectedKey"
        on-click="vm.clickHandler(key)"
        col-headings="vm.colHeadings"
        />


  </child-body>
</dashboard-child>

