﻿@* page for chart 
    modified to work with 'renderframe' model - 
    the enclosing panel is provided by the renderframe, 
    the chart just goes in the 'renderarea' view
*@

	@* by using fit-content this div has a deterministic height
		chain layout-fill layout="column" all the way down to ensure the chart is resized
		*@
  <div ng-show="vm.ready" fit-content layout="column">

    <div ng-show="vm.chartType != 'map'" layout-fill layout="column">

      <row-col-chart dataset="vm.data" layout-fill layout="column"
										 charttype="{{vm.chartType}}" flip="{{vm.flipped}}" 
										 allowed-types="'all'"
										 ></row-col-chart>
    </div>

    @*
      the topodata
    *@
    <div ng-show="vm.chartType === 'map'">
      <div worldmap fit-content height="100%" width="100%" extent="vm.mapExtent"
           world="vm.topodata"
           values="vm.mapdata" valueAccessor="vm.mapValueAccessor"
           palette="vm.palette"
           map-color-scale="vm.mapColorScale"
           q-as="css"
           feature-set="{{vm.featureset}}"
           id-accessor="vm.idAccessor">

      </div>
      <div color-range-designer
           height="200" width="300"
           dataset="vm.mapdata"
           palette="vm.palette" map-color-scale="vm.mapColorScale"
           key-field="id" y-field="value">
      </div>
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
    </div>

  </div>
