﻿@* OBSOLETE - Using ChartParamsComponent.cshtml *@

<!-- expects controller as: vm -->
<h4>Manipulate Display</h4>

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>Row</label>
		<md-select id="rowSelector" ng-model="vm.row">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.tableOptions">{{r.C}}</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm ng-show="vm.showColumnOption()">
		<label>Column</label>
		<md-select id="colSelector" ng-model="vm.col">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.tableOptions">{{r.C}}</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm ng-show="vm.showDataOption()">
		<label>Data</label>
		<md-select id="dataSelector" ng-model="vm.dataItem">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.dataOptions">{{r.N}}</md-option>
		</md-select>
	</md-input-container>
</div>

<div layout-gt-xs="row" layout-align="center center">
	<md-button class="md-raised" ng-click="vm.swap()" ng-show="vm.showColumnOption()">
		<md-icon class="material-icons md-24">swap_horizontal</md-icon> Swap Row/Column Data
	</md-button>

	<div ng-show="vm.showChartOptions()" layout="row" flex>
		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'v'">
			<svg height="16" width="16">
				<g transform="scale(.8, .8)">
					<rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
					<rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
					<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
				</g>
			</svg>
		</md-button>

		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'vp'">
			<svg height="16" width="16">
				<g transform="scale(.8, .8)">
					<rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
					<rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
					<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
				</g>
			</svg>
		</md-button>

		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'vc'">
			<svg height="16" width="16">
				<g transform="scale(.8, .8)">
					<rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
					<rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
					<rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
				</g>
			</svg>
		</md-button>

		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'h'">
			<svg height="16" width="16">
				<g transform="rotate(90, 0, 0) translate(0,-20) scale(.8, .8)">
					<rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
					<rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
					<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
				</g>
			</svg>
		</md-button>

		<md-button class="md-raised md-primary" ng-class="{selected: vm.chartType === 'hp' }" ng-model="vm.chartType" uib-btn-radio="'hp'">
			<svg height="16" width="16">
				<g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
					<rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
					<rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
					<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
				</g>
			</svg>
		</md-button>

		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'hc'">
			<svg height="16" width="16">
				<g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
					<rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
					<rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
					<rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
					<rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
				</g>
			</svg>
		</md-button>
		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'l'">
			Line
		</md-button>
		<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'a'">
			Area
		</md-button>
	</div>
	<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'pie'">
		Pie
	</md-button>
	<md-button class="md-raised md-primary" ng-model="vm.chartType" uib-btn-radio="'pieh'">
		Pie (cols)
	</md-button>


	<md-button class="md-raised" ng-model="vm.chartType" uib-btn-radio="'map'" ng-disabled="(vm.rowData.g === null)">
		map
	</md-button>
	<
</div>
@*
	<label type="button" class="btn btn-primary" ng-click="vm.theFilter.tableparams.flip()">
		flip
	</label>
*@
<color-brewer-picker palette="vm.palette" ng-show="vm.chartType === 'map'"></color-brewer-picker>

@*<a  tooltip-placement="right" tooltip="show chart" ng-click="chtc.theFilter.FlashFind()" class="nav navbar-nav pull-right toolbar dropdown"  style="padding-top:4px; height:32px;width: 40px">

			<i class="fa fa-search"></i></a>

	<div class="form-group pull-right">

			<input type="text" class="form-control input-sm" runat="server" id="Text1" ng-model="chtc.theFilter.FlashString" ng-enter="chtc.theFilter.FlashFind()">

	</div>*@
