﻿<svg class="colorRangeDesigner" ng-class="palette.scheme" height={{height}} width={{width}}></svg>
<div>
  <table class='md-table striped' ng-class="palette.scheme">
    <thead><tr><th>Band</th><th ng-repeat='t in mapColorScale.thresholds track by $index'>{{$index}}</th></tr></thead>
    <tbody>
      <tr>
        <td>Colour</td>
        <td ng-repeat='c in vm.colorScale.range()' class='{{c}}'><svg height='10' width='10'><rect height='10' width='10' /></svg></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Legend</td>
        <td ng-repeat='t in mapColorScale.thresholds track by $index'>{{mapColorScale.getBandLabel($index)}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Threshold</td>
        <td ng-repeat='t in mapColorScale.thresholds  track by $index'>{{t}}</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>Range</td>
        <td ng-repeat='t in mapColorScale.thresholds track by $index'>{{t - mapColorScale.thresholds[$index - 1]}}</td>
        <td><a href="" ng-click="vm.setScaleType('quantize')"><label class="button" uib-tooltip="Divide into equal ranges">=</label></a></td>
      </tr>
      <tr>
        <td>Items in range</td>
        <td ng-repeat='b in mapColorScale.buckets track by $index'>{{b}}</td>
        <td><a href="" ng-click="vm.setScaleType('quantile')"><label class="button" uib-tooltip="Divide into ranges to equalise items in each range">=</label></a></td>
      </tr>
    </tbody>
  </table>
</div>
