﻿@* page for chart
	modified to work with 'renderframe' model -
	the enclosing panel is provided by the renderframe,
	the chart just goes in the 'renderarea' view
*@

@* ng-map upgrade now deprecates name 'map' use ng-map'
	expects controller as mapctrlr
*@
<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBB0ek5RclWay0_-jZR9doF04wl5rI_L04">
	<ng-map zoom="6" center="[0,0]" style="display:block; height:600px" fit-content>
		<!-- <marker ng-repeat="row in mapc.pointData" position="{{row.sLat}},{{row.sLng}}" title="{{row.sFullName}}"></marker> -->
	</ng-map>
</div>
<img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="mapc.isWaiting" />