﻿@* OBSOLETE - Using MapParamsComponent.cshtml *@

<!-- expect controller as mappc-->
<h4>Manipulate Map <i class="fa fa-question-circle"><md-tooltip md-direction="top">Manipulate how the map is display (e.g. zoom to a specific region, cluster data)</md-tooltip></i></h4>

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm flex="75">
		<label>Zoom to</label>
		<md-select id="zoomer" ng-model="mappc.selectedBox">
			<md-option ng-repeat="key in mappc.boxOptions" ng-value="key">
				{{key.name}}
			</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm flex="25">
		<md-checkbox ng-model="mappc.cluster">Cluster</md-checkbox>
	</md-input-container>
</div>