﻿@* OBSOLETE WARNING: This template should no longer be used. It is superceded by
	Shared/RenderFrame.cshtml which is more flexible and avoids the problem described below.
	IT will be removed in the near future. *@

<!-- expects controllerAs: listvm -->
<div id="actionpane" ui-view="actionpane" />
<div id="datadiv" layout="column" flex ng-show="listvm.listVisible()">

	<panel panel-class=""
				 panel-icon="list"
				 heading="All {{listvm.theFilter.entity|capitalize:first}}s Data"
				 panel-control-collapse="false"
				 layout="column" flex>

		<panel-controls>
			@*Make use of permissions on common templates?! to show/hide the Add button of a particular feature*@
			@*@if (ViewBag.EditPermission != null)
					{
				<span ng-hide="listvm.nonManagedEntities.indexOf(listvm.theFilter.entity) !== -1" permission permission-only="'@ViewBag.EditPermission'">*@
			<span ng-hide="listvm.nonManagedEntities.indexOf(listvm.theFilter.entity) !== -1">
				<md-button class="md-icon-button" ng-click="listvm.theFilter.showFilter = !listvm.theFilter.showFilter">
					<md-icon class="material-icons md-24">search</md-icon>
					<md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
				</md-button>
				<md-button class="md-icon-button" ui-sref="site.{{listvm.theFilter.entity}}s.list.new" href="">
					<md-icon class="material-icons md-24">add_box</md-icon>
					<md-tooltip md-direction="bottom">Add</md-tooltip>
				</md-button>
			</span>
			@*</span>
				}*@
		</panel-controls>

		<div ng-show="listvm.theFilter.showFilter">
			@*
				<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
				<paged-list-params-component columns="listvm.theFilter"></paged-list-params-component>
				<school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>*@

			@* Deactivate broken flashfindsearch for now (was broken before I moved it here)
				<div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
			<div id="pagedlistparams" ui-view="pagedlistparams"></div>
			<div id="searcher" ui-view="searcher"></div>
			<md-divider></md-divider>
		</div>

		<div style="position:relative" fit-content>
			<div id="pgGrid" ng-class="[listvm.theFilter.entity, listvm.gridClass]"
					 ui-grid="listvm.gridOptions"
					 ui-grid-pagination
					 ui-grid-pinning
					 ui-grid-cellnav
					 ui-grid-edit
					 ui-grid-row-edit
					 ui-grid-auto-resize
					 ui-grid-resize-columns
					 style="height: 100%">
			</div>

			<div layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
			</div>

		</div>
	</panel>
</div>
