﻿<style>
	is-waiting {
		opacity: .2
	}
</style>
<div class="{is-waiting: vm.isWaiting}">
	<div layout="column" layout-gt-sm="row">
		<md-input-container flex>
			<label>Warehouse Endpoint</label>
			<input type="text" ng-model="vm.endpoint" />
		</md-input-container>
		<md-button flex flex-gt-sm="10" ng-click="vm.getData()" ng-disabled="vm.isWaiting">Get Data</md-button>
		<md-checkbox flex flex-gt-sm="10" ng-model="vm.ignoreETag" aria-label="Ignore ETag">
			Ignore ETag
		</md-checkbox>
		<md-checkbox flex flex-gt-sm="10" ng-model="vm.useReflator" aria-label="Use Reflator">
			Use Reflator
		</md-checkbox>

	</div>
	<div layout="column" ng-show="vm.info != null">
		<div flex layout="row">
			<label flex="25">Status:</label>
			<label flex>{{vm.info.status}}</label>
		</div>
		<div flex layout="row">
			<label flex="25">Records:</label>
			<label flex>{{vm.info.numRecords}}</label>
		</div>
		<div flex layout="row">
			<label flex="25">Content Length:</label>
			<label flex>{{vm.info.contentLength}}</label>
		</div>
		<div flex layout="row">
			<label flex="25">Content Encoding:</label>
			<label flex>{{vm.info.contentEncoding}}</label>
		</div>
		<div flex layout="row">
			<label flex="25">ETag</label>
			<label flex>{{vm.info.eTag}}</label>
		</div>
		<div flex layout="row">
			<label flex="25">Error</label>
			<label flex>{{vm.info.msg}}</label>
		</div>


	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<td ng-repeat="col in vm.cols">{{col}}</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in vm.data">
					<td ng-repeat="col in vm.cols">{{row[col]}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>
</div>
