﻿<panel panel-class=""
       panel-icon="info"
       heading="State Audit"
       panel-control-collapse="true">

  <table class="md-table striped">
    <thead>
      <tr>
        <th>State Name</th>
        <th>State URL</th>
        <th>State Params</th>
		<th>Permissions</th>
        <th>Page Title</th>
        </tr>
      </thead>
    <tbody>
			<tr ng-repeat="state in vm.states | orderBy: 'name'">
				<td>{{state.name}}</td>
				<td>{{state.url}}</td>
				<td>{{state.params}}</td>
				<td>{{state.data.permissions}}</td>
                <td>{{vm.pageTitle(state)}}</td>
			</tr>
    </tbody>
  </table>

</panel>