﻿<div style="height:3px;overflow-y:hidden">
	<md-progress-linear ng-show="vm.isWaiting" md-mode="indeterminate" style="opacity:.7"></md-progress-linear>
</div>
<div id="pgGrid" ui-grid="vm.gridOptions" ng-class="{'waiting': vm.isWaiting}"
     ui-grid-pagination ui-grid-pinning
     ui-grid-cellnav ui-grid-edit ui-grid-row-edit
     ui-grid-resize-columns ui-grid-auto-resize
     ui-grid-selection fit-content>
</div>
