﻿@* page for chart
	modified to work with 'renderframe' model -
	the enclosing panel is provided by the renderframe,
	the chart just goes in the 'renderarea' view
*@

<md-content fit-content>
	<table class="md-table striped">
		<thead>
			<tr>
				<th />
				<th />
				<th colspan="{{vm.xtabcolumns.length}}">{{vm.tableparams.col | vocab}}</th>
			</tr>
			<tr>
				<th>{{vm.tableparams.row | vocab}}</th>
				<th>Total</th>
				<th ng-repeat="col in vm.xtabcolumns">{{col.key}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in vm.xtabtotal">
				<td>{{row.key}}</td>
				<td>{{vm.v(row.values.Total)}}</td>
				<td ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
			</tr>
			<tr ng-repeat="row in vm.xtabdata">
				<td>{{row.key}}</td>
				<td>{{vm.v(row.values.Total)}}</td>
				<td ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
			</tr>
		</tbody>
	</table>
</md-content>

<div layout="row" layout-sm="column" layout-align="space-around">
	<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
</div>

