﻿@section icon {
  book
}

@section title {
  {{vm.isNew?'New Book': 'Book No ' + vm.model.bkCode + ': ' + vm.model.bkTitle }}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Book Info">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"Book Code" | vocab }}</label>
                  <input type="text" ng-model="vm.model.bkCode" ng-disabled="!(vm.isNew && vm.isEditing)" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Title</label>
                  <input type="text" ng-model="vm.model.bkTitle" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Subject</label>
                  <lookup-selector lkp="subjects" ng-model="vm.model.bkSubject" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Book Type</label>
                  <lookup-selector name="bkTG" lkp="bookTG" ng-model="vm.model.bkTG" ng-disabled="!vm.isEditing" ng-required="true" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Publisher</label>
                  <lookup-selector lkp="publishers" ng-model="vm.model.bkPublisher" ng-disabled="!vm.isEditing" ng-required="true" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Edition</label>
                  <input type="text" ng-model="vm.model.bkEdition" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Year Published</label>
                  <input type="number" ng-model="vm.model.bkYear" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>ISBN</label>
                  <input type="text" ng-model="vm.model.bkISBN" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

            </form>

            <md-card md-colors="::{backgroundColor: 'default-primary-200'}">
              <md-card-content>
                <md-icon class="material-icons">info</md-icon>
                <span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
              </md-card-content>
            </md-card>

          </div>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Curriculum" ng-disabled="!vm.model.Curriculum.length">
      <table class="books md-table striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Class Level</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="c in vm.model.Curriculum | orderBy: cuYear : true">
            <td>{{c.cuYear}}</td>
            <td>{{c.cuLevel}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

    <md-tab label="Holdings" ng-disabled="!vm.model.Holdings.length">
      <table class="books md-table striped">
        <thead>
          <tr>
            <th>Location Type</th>
            <th>Location</th>
            <th>Name</th>
            <th>As At</th>
            <th>Quantity on Hand</th>
            <th>Replacement</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="h in vm.model.Holdings | orderBy: 'schNo' : true">
            <td>{{h.locType}}</td>
            <td>{{h.location}}</td>
            <td>{{h.locationName}}</td>
            <td>{{h.asatDate | date : 'd-MMM-yyyy'}}</td>
            <td class="text-right">{{h.qty}}</td>
            <td class="text-right">{{h.qtyToReplace}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>

  </md-tabs>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>
