﻿<!-- expects controller as: vm -->
<h4>Manipulate Display</h4>

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>Row</label>
		<md-select id="rowSelector" ng-model="vm.row">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.tableOptions">{{r.C}}</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm ng-show="vm.showColumnOption()">
		<label>Column</label>
		<md-select id="colSelector" ng-model="vm.col">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.tableOptions">{{r.C}}</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm ng-show="vm.showDataOption()">
		<label>Data</label>
		<md-select id="dataSelector" ng-model="vm.dataItem">
			<md-option ng-value=""></md-option>
			<md-option ng-value="r.C" ng-repeat="r in vm.dataOptions">{{r.N}}</md-option>
		</md-select>
	</md-input-container>
</div>

<div layout-gt-xs="row" layout-align="center center">
	<md-button class="md-raised" ng-click="vm.swap()" ng-show="vm.showColumnOption()">
		<md-icon class="material-icons md-24">swap_horizontal</md-icon> Swap Row/Column Data
	</md-button>
</div>
@*
	<label type="button" class="btn btn-primary" ng-click="vm.theFilter.tableparams.flip()">
		flip
	</label>
*@
<color-brewer-picker palette="vm.palette" ng-show="vm.chartType === 'map'"></color-brewer-picker>

@*<a  tooltip-placement="right" tooltip="show chart" ng-click="chtc.theFilter.FlashFind()" class="nav navbar-nav pull-right toolbar dropdown"  style="padding-top:4px; height:32px;width: 40px">

			<i class="fa fa-search"></i></a>

	<div class="form-group pull-right">

			<input type="text" class="form-control input-sm" runat="server" id="Text1" ng-model="chtc.theFilter.FlashString" ng-enter="chtc.theFilter.FlashFind()">

	</div>*@
