﻿
<row-col-chart 
							 dataset="vm.dataset"
							 touch="{{vm.touch}}"
							 sort-by="vm.sortBy"
							 sort-descending="vm.sortDescending"
							 charttype="{{vm.charttype}}"
							 flip="flip"
							 on-click ="vm.doClick(params)"
							 tooltipper="vm.mirrorTooltip(params, datum)"
							 on-chart-render="vm.applyMirror(option, echart, renderedType)"
							 colors="vm.colors"							
							 column-sort-by="vm.columnSortBy"
							 column-sort-descending="vm.columnSortDescending"
							 selected-series="vm.selectedSeries"
							 highlight="vm.highlight"
							 allowed-types="vm.allowedTypes"
							 layout-fill layout="column">
</row-col-chart>

