﻿<h4>Change Columns Set</h4>
<md-input-container class="md-block" flex-gt-sm>
  <label>Column Set View Mode</label>
  <md-select id="viewMode" ng-model="vm.viewMode">
    <md-option ng-repeat="key in vm.supportedViewModes()" ng-value="key">
      {{key}}
    </md-option>
  </md-select>
  <md-icon class="material-icons md-24">info</md-icon>
  <md-tooltip md-direction="top">Change which sets of logical groups of columns to display in the grid</md-tooltip>
</md-input-container>
