﻿<div style="position:relative">
	<super-grid rowset="vm.rowset"
							view-mode="vm.selectedViewMode" view-defaults="vm.theFilter.ViewDefaults"
							is-waiting="vm.isWaiting"
							on-show-page="vm.onShowPage(newPage, pageSize)"
							on-sort="vm.onSort(column, direction)"
							on-sort-clear="vm.onSortClear()"
							on-action="vm.onAction(actionName, columnField, rowData)">

	</super-grid>
</div>
