﻿<style>
	div.toolbox {
		position: absolute;
		top: 0px;
		left: 0px;
		overflow-x: visible
	}

		div.toolbox md-fab-trigger .md-button {
			min-width: 20px;
			min-height: 20px;
			width: 24px;
			height: 24px;
			margin: 0px 0px;
			padding: 0 0px;
		}

		div.toolbox md-fab-toolbar .md-fab-toolbar-wrapper {
			min-height: 20px;
			height: 24px;
		}

		div.toolbox md-fab-toolbar.md-is-open .md-fab-toolbar-wrapper {
			min-height: 20px;
			height: 24px;
			background-color: #1665c0;
		}

		div.toolbox md-fab-actions {
			padding-left: 30px;
		}

		div.toolbox .md-button.md-fab-action-item {
			line-height: 20px;
			min-width: 20px;
			min-height: 20px;
			width: 24px;
			height: 24px;
			margin: 0px 0px;
			padding: 0 0px;
		}

			div.toolbox .md-button.md-fab-action-item.selected {
				background-color: #9e9e9e;
			}
	/*
		div.toolbox md-fab-toolbar md-fab-trigger .md-fab-toolbar-background {
			opacity: 0;
			transition: all .2s
		}*/
</style>
<div style="position:relative" layout="column" layout-fill>
	<row-col-chart-core dataset="vm.dataset"
											touch="{{vm.touch}}"
											sort-by="vm.sortBy"
											sort-descending="vm.sortDescending"
											charttype="{{vm.charttype}}"
											flip="flip"
											on-click="vm.doClick(params, series, item, marker, value, percent, charttype, datum)"
											tooltipper="vm.doTooltip(params, series, item, marker, value, percent, charttype, datum)"
											on-chart-render="vm.doChartRender(option, echart, renderedType)"
											colors="vm.colors"
											column-sort-by="vm.columnSortBy"
											column-sort-descending="vm.columnSortDescending"
											selected-series="vm.selectedSeries"
											highlight="vm.highlight"
											layout-fill layout="column">
	</row-col-chart-core>
	<div class="toolbox" layout="row" ng-if="vm.allAllowedTypes().length > 1">
		<md-fab-toolbar md-open="vm.isOpen">
			<md-fab-trigger>
				<md-button aria-label="settings" class="">
					<md-icon style="vertical-align:top">settings</md-icon>
				</md-button>
			</md-fab-trigger>

			<md-toolbar>
				<md-fab-actions>
					<md-button ng-repeat="charttype in vm.allAllowedTypes()"
										 ng-click="vm.charttype=charttype;vm.isOpen=true;"
										 ng-class="{'selected': vm.charttype==charttype }">

						<svg height="16" width="16" ng-show="charttype=='v'">
							<g transform="scale(.8, .8)">
								<rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
								<rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
								<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
							</g>
						</svg>
						<svg height="16" width="16" ng-show="charttype=='vp'">
							<g transform="scale(.8, .8)">
								<rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
								<rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
								<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
							</g>
						</svg>
						<svg height="16" width="16" ng-show="charttype=='vc'">
							<g transform="scale(.8, .8)">
								<rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
								<rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
								<rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='h'">
							<g transform="rotate(90, 0, 0) translate(0,-20) scale(.8, .8)">
								<rect fill="white" stroke-width="0" x="0" width="8" y="12" height="8"></rect>
								<rect fill="#202020" stroke-width="0" x="0" width="8" y="8" height="4"></rect>
								<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="12" width="8" y="2" height="6"></rect>
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='hp'">
							<g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
								<rect fill="white" stroke-width="0" x="0" width="8" y="5" height="15"></rect>
								<rect fill="#202020" stroke-width="0" x="0" width="8" y="0" height="5"></rect>
								<rect fill="white" stroke-width="0" x="12" width="8" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="12" width="8" y="0" height="8"></rect>
							</g>
						</svg>
						<svg height="16" width="16" ng-show="charttype=='hc'">
							<g transform="scale(.8, .8) rotate(90, 0, 0) translate(0,-20) ">
								<rect fill="white" stroke-width="0" x="0" width="4" y="12" height="8"></rect>
								<rect fill="#202020" stroke-width="0" x="5" width="4" y="16" height="4"></rect>
								<rect fill="white" stroke-width="0" x="11" width="4" y="8" height="12"></rect>
								<rect fill="#202020" stroke-width="0" x="16" width="4" y="14" height="6"></rect>
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='l'"
								 viewBox="0 0 511.9 511.9">
							<g id="g6">
								<g id="g4">
									<path id="path2"
												d="M460.8,25.55c-28.2-0.1-51.1,22.8-51.2,51c0,13.3,5.1,26.1,14.4,35.6l-93.5,187.1c-2-0.3-4.1-0.6-6.2-0.6    c-6.6,0-13.2,1.3-19.3,3.8l-72.6-81.7c4.2-7.5,6.5-15.9,6.6-24.6c0-28.3-22.9-51.2-51.2-51.2s-51.2,22.9-51.2,51.2    c0.1,12.2,4.5,24,12.6,33.2l-88.9,155.5c-3-0.6-6.1-0.9-9.1-0.9c-28.3,0-51.2,22.9-51.2,51.2c0,28.3,22.9,51.2,51.2,51.2    s51.2-22.9,51.2-51.2c-0.1-12.2-4.5-24-12.6-33.2l88.8-155.5c9.5,1.9,19.4,0.9,28.3-2.9l72.6,81.7c-4.2,7.5-6.4,16-6.5,24.6    c-0.1,28.3,22.8,51.3,51,51.4c28.3,0.1,51.3-22.8,51.4-51c0-13.3-5.1-26.2-14.4-35.8l93.5-187.1c2,0.3,4.1,0.6,6.2,0.6    c28.3,0,51.2-22.9,51.2-51.2S489.1,25.55,460.8,25.55z" />
								</g>
							</g>
							<g id="g8">
							</g>
							<g id="g10">
							</g>
							<g id="g12">
							</g>
							<g id="g14">
							</g>
							<g id="g16">
							</g>
							<g id="g18">
							</g>
							<g id="g20">
							</g>
							<g id="g22">
							</g>
							<g id="g24">
							</g>
							<g id="g26">
							</g>
							<g id="g28">
							</g>
							<g id="g30">
							</g>
							<g id="g32">
							</g>
							<g id="g34">
							</g>
							<g id="g36">
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='a'"
								 viewBox="0 0 464 464">
							<g id="g28">
								<path id="path2"
											style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
											d="M 172,172 56,288 0,232 V 464 H 464 V 168 l -232,131.87891 -60,-60 -116,116 116,-116 60,60 L 464,168 V 0 L 232,232 Z m 140,260 z m -64,0 z m -64,0 z m 0,0" />
								<path id="path4"
											style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
											d="M 464,168 V 464 H 0 v -48 l 168,-176 64,64 z m 0,0" />
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='pie'"
								 viewBox="0 0 58 58">
							<circle style="fill:#000000"
											cx="29"
											cy="29"
											r="29"
											id="circle53" />
							<path style="fill:#ffffff"
										d="M 29,0 V 29 H 58 C 58,12.984 45.016,0 29,0 Z"
										id="path55" />
							<g id="g59">
							</g>
							<g id="g61">
							</g>
							<g id="g63">
							</g>
							<g id="g65">
							</g>
							<g id="g67">
							</g>
							<g id="g69">
							</g>
							<g id="g71">
							</g>
							<g id="g73">
							</g>
							<g id="g75">
							</g>
							<g id="g77">
							</g>
							<g id="g79">
							</g>
							<g id="g81">
							</g>
							<g id="g83">
							</g>
							<g id="g85">
							</g>
							<g id="g87">
							</g>
						</svg>

						<svg height="16" width="16" ng-show="charttype=='pieh'"
								 viewBox="0 0 58 58">
							<g id="g99">
								<circle id="circle53"
												r="29"
												cy="29"
												cx="29"
												style="fill:#ffffff" />
							</g>
							<path style="fill:#000000"
										d="M 29,0 V 29 H 58 C 58,12.984 45.016,0 29,0 Z"
										id="path55" />
							<g id="g59">
							</g>
							<g id="g61">
							</g>
							<g id="g63">
							</g>
							<g id="g65">
							</g>
							<g id="g67">
							</g>
							<g id="g69">
							</g>
							<g id="g71">
							</g>
							<g id="g73">
							</g>
							<g id="g75">
							</g>
							<g id="g77">
							</g>
							<g id="g79">
							</g>
							<g id="g81">
							</g>
							<g id="g83">
							</g>
							<g id="g85">
							</g>
							<g id="g87">
							</g>
						</svg>

					</md-button>
				</md-fab-actions>

			</md-toolbar>
		</md-fab-toolbar>


	</div>
</div>
