﻿@* dialog to display to confirm the cloudfiles that will be removed in a bulk remove *@
@section icon {
	warning
}

@section title {
	<h3>Remove Selected Cloud Files</h3>
}

@section tools {
}

<div class="modal-body">
	<div>This process will remove the selected files from cloud storage</div>
	<div layout="column">
		<div>Files selected for removal: {{vm.selectionCount}} </div>
		<div>Status of the selected files</div>
		<div ng-repeat="(key,value) in vm.summary">
			{{key}}: {{value}}
		</div>
		<div ng-show="vm.unsafe()" class="md-warn" md-colors="{background: 'red-400'}">
			Your selection includes files that are ACTIVE (Ready or In Progress). If you remove these files,
			you may lose information that has not been loaded.
			Select SAFE REMOVE below to ignore these files. You may remove these files one at a time using View option.
		</div>
	</div>
</div>

@section actions {
	<span ng-if="vm.unsafe()">
		<md-button class="md-raised md-warn" type="button" ng-click="vm.returnSuccess('unsafe')">Remove all selected (UNSAFE)</md-button>
		<md-button class="md-raised md-primary" type="button" ng-click="vm.returnSuccess('safe')">Safe Remove - ignore unfinalised </md-button>
		<md-button class="md-raised" type="button" ng-click="vm.closeDialog()">Cancel</md-button>
	</span>
	<span ng-if="!vm.unsafe()">
		<md-button class="md-raised md-primary" type="button" ng-click="vm.returnSuccess('safe')">Remove Selected</md-button>
		<md-button class="md-raised" type="button" ng-click="vm.closeDialog()">Cancel</md-button>
	</span>
}