﻿@model Softwords.Web.ApplicationUser
@using Softwords.Web.HtmlHelpers.Material
@section icon {
  account_circle
}

@section title {
  {{vm.isNew?'New User': 'User ' + vm.model.Id + ': ' + vm.model.UserName}}
}
<div>
  <form novalidate class="" name="vm.modelForm" ng-submit="vm.save()" role="form">
    <div layout="column" layout-gt-sm="row">
      <md-input-container flex-gt-sm="50" flex="100">
        <label>User Email / Windows Group Name</label>
        @Html.ngInputFor(m => m.UserName, new {
            ng_disabled = "!(vm.isEditing && vm.isNew)", 
            ng_required = "true"
        })
      </md-input-container>
    </div>
    <div layout="column" layout-gt-sm="row">
      <md-input-container flex>

        <label for="roles">User Roles</label>
        <md-select id="roles" placeholder="roles"
                   multiple
                   ng-model="vm.model.Roles" ng-disabled="!vm.isEditing">
          <md-option ng-repeat="r in vm.roles" ng-value="r.Id">{{r.Name}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex>
        <label for="roles">Menu Key</label>
        <md-select id="menukey" placeholder="menu Key"
                   ng-model="vm.model.MenuKey" ng-required="true" ng-disabled="!vm.isEditing">
          <md-option ng-repeat="mk in vm.menuKeys" ng-value="mk.id">{{mk.label}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="column" layout-gt-sm="row">
      <md-input-container flex>

        <label for="roles">Filter on:</label>
        <md-select id="filterOn" placeholder="Filter"
                   ng-model="vm.model.FilterOn" ng-disabled="!vm.isEditing">
          <md-option></md-option>
          <md-option ng-repeat="f in ['District','Authority','SchoolNo']" ng-value="'filter'+f" >{{f}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label for="roles">Value</label>
        <md-select id="filterValue" placeholder="filterValue"
                   ng-model="vm.model.FilterValue" ng-disabled="!(vm.isEditing && vm.model.FilterOn)">
          <md-option ng-if="vm.model.FilterOn == 'filterDistrict'" ng-repeat="c in vm.lookups.cache['districts']" ng-value="c.C">{{c.N}}</md-option>
          <md-option ng-if="vm.model.FilterOn == 'filterAuthority'" ng-repeat="c in vm.lookups.cache['authorities']" ng-value="c.C">{{c.N}}</md-option>
          <md-option ng-if="vm.model.FilterOn == 'filterSchoolNo'" ng-repeat="c in vm.lookups.cache['schoolNames']" ng-value="c.C">{{c.C}}: {{c.N}}</md-option>
        </md-select>
      </md-input-container>
    </div>
 
    <table class="md-table striped" ng-class="{'disabled': !vm.isEditing}">
      <colgroup>
        <col width="220" />
        <col width="80" />
        <col width="80" />
        <col width="80" />
        <col width="80" />
        <col width="80" />
        <col width="80" />
      </colgroup>

      <thead>
        <tr>
          <th></th>
          <th>Read</th>
          <th>ReadX</th>
          <th>Write</th>
          <th>WriteX</th>
          <th>Ops</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(area, rights) in vm.model.PermissionGrid">
          <td class="rowlabel">{{area}}</td>
          <td class="text-center" ng-repeat="(right, v) in rights">
            <md-checkbox ng-model="rights[right]" ng-disabled="!vm.isEditing">
            </md-checkbox>
          </td>
        </tr>
      </tbody>
    </table>

  </form>
</div>
