﻿@*
	Confirmation to proess upload of Ndoe data
		uses MaterialLayoutDialog
*@

@section icon {
	<i class="fa fa-question-circle"></i>
}

@section title {
	Report Parameters
}
@section tools {
}
@* body *@
@* add tab-pane class to get the labels and inputs to look like elsewhere *@
<div style="padding:5px" class="tab-pane">
	<form name="vm.modelForm" class="form-horizontal">
		@* iterate over the inputs -- see the jasper documentation at  https://community.jaspersoft.com/documentation/jasperreports-server-web-services-guide/v56/listing-input-control-structure *@
		<div ng-repeat="ic in vm.inputInfo.inputControl">

			<div class="form-group" ng-show="ic.visible">
				@* <label class="control-label col-sm-4">{{ic.label | vocab}}</label> *@
				<div>
					<div ng-switch on="ic.state.uri">
						@*school finder*@
						<div ng-switch-when="/Input_Controls/SchoolNo">
							<school-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
														 ng-model="vm.instanceInfo.parameters[ic.id]" />
						</div>
						@* candidate finder - preferred location*@
						<div ng-switch-when="/Input_Controls/CandidateID">
							<exam-candidate-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
																		 ng-model="vm.instanceInfo.parameters[ic.id]"
																		 year="vm.getValue('Year')" exam-code="vm.getValue('ExamCode')" school-no="vm.getValue('SchoolNo')">
							</exam-candidate-finder>
						</div>
						@* student finder - preferred location*@
						<div ng-switch-when="/Input_Controls/StudentID">
							<student-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
															ng-model="vm.instanceInfo.parameters[ic.id]"
															year="vm.getValue('Year')" school-no="vm.getValue('SchoolNo')" />
						</div>

						@* teacher finder - preferred *@
						<div ng-switch-when="/Input_Controls/TeacherID">
							<teacher-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
															ng-model="vm.instanceInfo.parameters[ic.id]" />
						</div>

						@*Year - we can decorate with min and max values*@
						<div ng-switch-when="/Input_Controls/Year">
							<md-input-container class="md-block" flex-gt-sm>
								<label>{{(ic.label||Year) | vocab}}</label>
								<input type="number"
											 ng-model="vm.instanceInfo.parameters[ic.id]"
											 ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible"
											 min="{{ic.dataType.minValue||1500}}"
											 max="{{ic.dataType.maxValue||2500}}" />
							</md-input-container>

						</div>
						@* temporary ...*@
						@* candidate finder - temporary location - its not really a lookup*@
						<!--<div ng-switch-when="/Input_Controls/Lookups/CandidateID">
							<exam-candidate-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
													 ng-model="vm.instanceInfo.parameters[ic.id]"
													 year="vm.getValue('Year')" exam-code="vm.getValue('ExamCode')" school-no="vm.getValue('SchoolNo')"
													 on-selected="vm.candidateSelectedHandler(examcandidate)">
							</exam-candidate-finder>
						</div>-->
						@* teacher finder - temporary *@
						<!--<div ng-switch-when="/reports/fedemis/Teacher/Teacher_Profile_files/TeacherID">
							<teacher-finder ng-disabled="ic.readOnly" ng-required="ic.mandatory"
											ng-model="vm.instanceInfo.parameters[ic.id]" />
						</div>-->

						<div ng-switch-default>
							<div ng-switch on="ic.type">
								@* number *@
								<div ng-switch-when="singleValueNumber">
									<md-input-container class="md-block" flex-gt-sm>
										<label>{{ic.label | vocab}}</label>
										<input type="number"
													 ng-model="vm.instanceInfo.parameters[ic.id]"
													 ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible"
													 min="{{ic.dataType.minValue}}" max="{{ic.dataType.maxValue}}" />
									</md-input-container>


								</div>
								@* text *@
								<div ng-switch-when="singleValueText">
									<md-input-container class="md-block" flex-gt-sm>
										<label>{{ic.label | vocab}}</label>

										<input type="text" ng-if="(!vm.getLookup(ic))"
													 ng-model="vm.instanceInfo.parameters[ic.id]" ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible"
													 regex-validator="{{ic.dataType.pattern}}" />

										@* tagged as a loookup list*@
										<lookup-selector ng-if="(vm.getLookup(ic))" lkp="{{vm.getLookup(ic)}}"
																		 ng-disabled="ic.readOnly" ng-required="ic.mandatory"
																		 ng-model="vm.instanceInfo.parameters[ic.id]">
										</lookup-selector>
									</md-input-container>
								</div>
								@* date *@
								<div ng-switch-when="singleValueDate">

									<md-input-container class="md-block" flex-gt-sm>
										<label>{{ic.label | vocab}}</label>
										<md-datepicker ng-model="vm.instanceInfo.parameters[ic.id]" ng-disabled="ic.readOnly"
																	 md-hide-icons="calendar"
																	 md-min-date="ic.dataType.minValue" md-max-date="ic.dataType.maxValue">

										</md-datepicker>
									</md-input-container>
								</div>
								@* select (dropdown list)*@
								<div ng-switch-when="singleSelect">
									<md-input-container ng-if="(!vm.getLookup(ic))" class="md-block" flex-gt-sm>
										<label>{{ic.label | vocab}}</label>
										<md-select ng-model="vm.instanceInfo.parameters[ic.id]" ng-required="ic.mandatory" ng-disabled="ic.readOnly" ng-show="ic.visible">
											<md-option value=""></md-option>
											<md-option ng-repeat="option in ic.state.options" value="{{option.value}}">{{option.label}}</md-option>
										</md-select>
									</md-input-container>

									@* tagged as a loookup list*@
									<lookup-selector ng-if="(vm.getLookup(ic))" lkp="{{vm.getLookup(ic)}}"
																	 ng-disabled="ic.readOnly" ng-required="ic.mandatory"
																	 ng-model="vm.instanceInfo.parameters[ic.id]">
									</lookup-selector>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
@section actions {
	<div>
		<button type="button" class="btn btn-success btn-s" ng-disabled="vm.modelForm.$invalid" ng-click="vm.returnSuccess()">
			<span class="fa fa-play-circle"></span> Run Report
		</button>
		<button type="button" class="btn btn-warning btn-s" ng-click="vm.returnFail()">
			<span class="fa fa-stop-circle"></span> Cancel
		</button>
	</div>
}
