﻿<md-autocomplete id="standard-autocomplete" ng-disabled="vm.ngDisabled" ng-required="vm.ngRequired"
								 md-no-cache="ctrl.noCache"
								 md-selected-item="vm.selectedItem"
								 md-search-text-change="vm.searchTextChange(vm.searchText)"
								 md-search-text="vm.searchText"
								 md-selected-item-change="vm.onSelected(vm.selectedItem)"
								 md-items="candidate in vm.doSearch(vm.searchText)"
								 md-item-text="candidate.N"
								 md-min-length="0"
								 input-aria-describedby="standard-autocomplete-description"
								 input-aria-label="Candidate"
								 md-floating-label="Candidate"
								 md-menu-class="autocomplete-standard-template"
								 md-menu-container-class="standard-container"
								 md-mode="standard"
								 md-autoselect="true"
								 md-select-on-focus="true">
	<md-item-template>
		<span>
			<span ng-bind-html="candidate.N |finderResults:vm.searchText"></span>
			<span>: </span>
			<span ng-style="(candidate.Y == vm.year)?{'background-color':'lightgrey'} : {}">{{candidate.Y}} </span>
			<span ng-style="(candidate.X == vm.examCode)?{'background-color':'lightgrey'} : {}"> {{candidate.X}} </span>
			<span ng-style="(candidate.S == vm.schoolNo)?{'background-color':'lightgrey'} : {}">({{candidate.S}}) </span>
		</span>
	</md-item-template>
</md-autocomplete>
