﻿<div layout-gt-xs="row">
	@*<md-input-container class="md-block" flex-gt-sm>
			<label>{{"School No" | vocab }}</label>
			<input ng-model="vm.params.SchoolNo" type="text" />
		</md-input-container>*@

	<md-input-container class="md-block" flex-gt-sm>
		<label>Teacher Exam ID</label>
		<input ng-model="vm.params.TeacherExamID" type="text" />
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Teacher Exam Name</label>
		<lookup-selector name="texName" lkp="teacherExamTypes" ng-model="vm.params.TeacherExamCode"
										 ng-disabled="vm.findConfig.isLocked('TeacherExamName')" />
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Teacher Exam Year</label>
		<input ng-model="vm.params.TeacherExamYear" type="text" />
	</md-input-container>

	@*<md-input-container class="md-block" flex-gt-sm>
			<label>TEacher Exam Date</label>
			<md-datepicker ng-model="vm.params.TeacherExamDate" md-placeholder="Enter date"></md-datepicker>
		</md-input-container>*@
</div>

<section layout="row" layout-align="center center">
	<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
	<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
