﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	{{vm.isNew? 'New Teacher Exam': 'Teacher Exam: ' + vm.model.texCode + '(' + vm.model.texYear + ')'}}
}

<div class="appform">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Teacher Exam Info">

			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h3>General Information</h3>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Teacher Exam ID</label>
									<input type="text" ng-model="vm.model.texID" ng-disabled="true" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Teacher Exam Code</label>
									<input type="text" ng-model="vm.model.texCode" ng-disabled="!vm.isEditing" required />
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Teacher Exam Year</label>
									<input type="number" ng-model="vm.model.texYear" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Uploaded By</label>
									<input type="text" ng-model="vm.model.texUser" ng-disabled="true" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Uploaded Date</label>
									<md-datepicker ng-model="vm.model.texDate" md-placeholder="Enter date"></md-datepicker>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Candidates</label>
									<input type="number" ng-model="vm.model.texCandidates" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Marks</label>
									<input type="number" ng-model="vm.model.texMarks" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.texUser}} {{vm.model.texDate | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

		<md-tab label="Results">
			<md-content>
				<table class="md-table striped">
					<thead>
						<tr>
							<th>Given Name</th>
							<th>Family Name</th>
							<th>Exam Code</th>
							<th>Exam Name</th>
							<th style="text-align: right">Exam Year</th>
							@*<th>Exam Date (loaded)</th>*@
							<th style="text-align: right">Final Score Percentage</th>
						</tr>
					</thead>
					<tr ng-repeat="r in vm.model.Results">
						<td>{{r.texcGiven}}</td>
						<td>{{r.texcFamilyName}}</td>
						<td>{{r.texCode}}</td>
						<td>{{r.texName}}</td>
						<td style="text-align: right">{{r.texYear}}</td>
						@*<td>{{r.texDate}}</td>*@
						<td style="text-align: right">{{r.ScorePercentage}}</td>
						<td>
						</td>
					</tr>
				</table>
			</md-content>
		</md-tab>

	</md-tabs>

	<md-tab label="Reports">
		<report-list folder="Teacher Exam" context="{TeacherExamID: vm.model.texID, TeacherExamYear: vm.model.texYear}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
	</md-tab>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>
