﻿<panel panel-class=""
			 panel-icon="upload"
			 heading="Teacher Exams Data Upload"
			 panel-control-collapse="true">

	<div layout="row" layout-margin>
		<div flex-gt-sm="33">
			<div ng-show="vm.uploader.isHTML5">
				<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
				<div nv-file-drop="" uploader="vm.uploader">
					<div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
						Drop Teacher Exam summary file here...
					</div>
				</div>
			</div>

			<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
			<label for="inputFile"> ... or click to select file...</label>
			<input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />
		</div>

		<div flex-gt-sm="66">
			<table class="md-table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th ng-show="vm.uploader.isHTML5">Size</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.uploader.queue">
						<td>
							<strong>{{ item.file.name }}</strong>
						</td>
						<td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
						<td class="text-center">
							<span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
							<span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
							<span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<md-progress-linear md-mode="indeterminate" ng-show="vm.uploader.isUploading"></md-progress-linear>
				<md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
					<md-icon class="material-icons md-24">cloud_upload</md-icon>
					Upload
				</md-button>
				<md-button class="md-raised md-warn" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
					<md-icon class="material-icons md-24">cancel</md-icon>
					Cancel
				</md-button>
				<md-button class="md-raised" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
					<md-icon class="material-icons md-24">clear</md-icon>
					Clear
				</md-button>
			</div>
		</div>
	</div>

	<div layout="column" layout-margin>
		<div flex>
			<div ng-show="vm.uploadResponseData">
				<div>Teacher Exam Name: {{vm.uploadResponseData.examName}}</div>
				<div>Year: {{vm.uploadResponseData.examYear}}</div>

				<div>No of teachers:{{vm.uploadResponseData.teachers}}</div>
				<div>No of results:{{vm.uploadResponseData.results}}</div>
				<div>File Id:{{vm.uploadResponseData.id}}</div>
			</div>
			<div ng-show="vm.progressData">
				@*<div>Schools: {{vm.progressData.schools}}</div>*@
				<div>Teachers: {{vm.progressData.teachers}}</div>
				@*<div>Staff: {{vm.progressData.staff}}</div>
					<div>Wash: {{vm.progressData.wash}}</div>*@
			</div>
			<div ng-show="vm.processResponseData.hasValidations">
				<div class="error">
					Validation issues were found in the teacher examination data. The Examination has NOT been loaded.
					Correct these problems, then upload the Exam summary again.
				</div>
				<table class="md-table striped">
					<thead>
						<tr>
							<th>Row Index</th>
							<th>Value</th>
							<th>Issue</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="v in vm.processResponseData.validations">
							<td>{{v.rowID}}</td>
							<td>{{v.errorValue}}</td>
							<td>{{v.errorMessage}}</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>

		<div ng-if="vm.processResponseData.hasData">
			<div layout="column" style="height:800px" ;>
				<exam-chart exam-xf="vm.examXf" sta-mirrors="['1.F','2.F','1.T','2.T','1.M','2.M','1','2']"
										layout="column" layout-fill>
				</exam-chart>
			</div>
			<div>
				<exam-crosstab exam-xf="vm.examXf" aggregation=""
											 layout="column" layout-fill>
				</exam-crosstab>
			</div>
		</div>

		<div ng-if="vm.processResponseData.hasWarnings">
			<div>
				These Warning issues were found in the teacher examination data.
				These issues do not prevent the data from being loaded, but the results may be inaccurate or incomplete. For better results, you can correct these problems, then upload the Exam summary again.
			</div>
			<table class="md-table striped">
				<thead>
					<tr>
						<th>Row Index</th>
						<th>Value</th>
						<th>Issue</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="v in vm.processResponseData.warnings">
						<td>{{v.rowID}}</td>
						<td>{{v.errorValue}}</td>
						<td>{{v.errorMessage}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ng-if="vm.processResponseData.hasAudit">
		<div>
			Audit data provides technical personnel with information on the processing of the teacher examination data
		</div>
		<table class="md-table striped">
			<thead>
				<tr>
					<th>Time</th>
					<th>Message</th>
					<th>Elapsed Time (sec)</th>
					<th>Cumulative Time (sec)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in vm.processResponseData.audit">
					<td>{{v.clock}}</td>
					<td>{{v.msg}}</td>
					<td>{{v.elapsed/1000}}</td>
					<td>{{v.cumulative/1000}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>
</panel>
