﻿
/* crossfilter table component
	see src/app/ts/dashboard/widget/CrossfilterTable.Component
*/


/* variables for standard crossfilter table */

crossfilter-table {
	--background-color: white;
	--border-color: rgb(220,220,220);
	--stripe-background-color: rgba(242,242,242,.5);
	--colstripe-background-color: rgba(242,242,242,.5);
	--row-hover-background-color: #eeeeea;
	--row-hover-color: initial;
	--row-selected-background-color: initial; /*#eeeeea*/
	--row-selected-border-color: -webkit-focus-ring-color;
	--row-selected-color: initial; /*#eeeeea*/
	--col-hover-background-color: rgba(240,129,40,.5); /*#eeeeea*/
	--col-selected-background-color: silver; /*#eeeeea*/
	--col-selected-border-color: rgba(240,129,40,.5); /*#eeeeea*/
	--col-selected-color: white; /*#eeeeea*/
	--cell-hover-background-color: rgba(240,129,40,.5); /*#eeeeea*/
	--cell-selected-background-color: rgba(240,129,40,.5); /*#eeeeea*/
	--cell-selected-border-color: rgba(240,129,40,.5); /*#eeeeea*/
	--row-label-background-color: initial;
	--row-label-color: initial;
	--row-label-width: fit-content;
	--col-label-background-color: initial;
	--col-label-color: initial;
	--row-total-background-color: initial;
	--row-total-color: initial;
	--toolbar-background-color: white;
	--toolbar-color: initial;
	--detail-pane-background-color: white;
	--detail-pane-border-color: initial;
}

/*
	css resets for crossfilter-table 
*/
table.crosstab {
	width: 100%;
	max-width: 100%;
	margin: 20px 5px 20px 5px;
	background-color: var(--background-color);
	border-spacing: 0;
	border-collapse: collapse;
	border-color: var(--border-color);
	table-layout: auto; /* apply fixed class to crossfilter-table to override */
	cursor: default;
}

	table.crosstab thead,
	table.crosstab tbody,
	table.crosstab tfoot,
	table.crosstab tr,
	table.crosstab td,
	table.crosstab th {
		border-color: inherit;
	}

		/* kill the default 'focus' styling */
		table.crosstab tr:focus,
		table.crosstab td:focus,
		table.crosstab th:focus {
			outline: none
		}

	/* kill the 'button' styling added by ng-click */
	table.crosstab [role="button"] {
		cursor: default;
	}

	table.crosstab tr {
		border-bottom-style: solid;
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-width: 1px;
		outline-style: none;
	}


	table.crosstab th,
	table.crosstab td {
		text-align: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
		vertical-align: middle;
	}

	table.crosstab th.left-align,
	table.crosstab td.left-align {
		text-align: left;
	}

	/* 
	row borders 
*/

	/* border below table head */
	table.crosstab thead tr:last-child {
		border-bottom-style: solid;
		border-bottom-width: 3px;
	}

	/* border above table foot */
	/* the first tfoot element is moved to the bottom */
	table.crosstab tfoot:nth-of-type(2) tr:first-child,
	table.crosstab tfoot:only-of-type tr:first-child {
		border-top-style: solid;
		border-top-width: 3px;
	}

	/* Gender view - set fonts and cell borders */
	table.crosstab .gender.total {
		border-left-style: solid;
	}

	table.crosstab .gender.total {
		font-size: 12px;
	}

	table.crosstab th.gender,
	table.crosstab td.gender {
		font-size: 10px;
		padding-left: 2px;
	}

	/* 
	caption 
*/
	table.crosstab caption {
		background-color: darkgrey;
		padding: 0px;
	}

	/* caption-content is a transclude */
	table.crosstab caption caption-content {
		background-color: transparent;
		color: ivory;
		padding: 10px 5px 10px 5px;
		display: block;
	}
/* 
	toolbar 
	toolbar is a child of caption 
*/

		/* toolbar-content is a transclude */
		table.crosstab toolbar-content {
			background-color: var(--toolbar-background-color);
			color: var(--toolbar-color);
			padding: 0px 5px 0px 5px;
			display: block;
			/* separate the toolbar from the header */
			border-bottom-style: solid;
			border-color: var(--border-color)
		}




/* these classes may be applied on the <crossfilter-table> 
	element :
	thin			=> less padding on rows
	thick			=> more padding on rows
	striped		=> alternating stripes on rows
	colstriped => alternating stripes on columns
	fixed			=> fixed table-layout
*/
/* striped , becuase of the detail rows, this is handled 'manually'
	crossfilter-table.striped > table.crosstab > tbody > tr:not(.detail):nth-child(odd)
	*/
crossfilter-table.striped > table.crosstab > tbody > tr.stripe {
	background-color: var(--stripe-background-color);
}

crossfilter-table.striped > table.crosstab > tbody > tr {
	border-bottom-style: none;
	border-top-style: none;
}

crossfilter-table.colstriped > table.crosstab > colgroup.striped {
	background-color: var(--colstripe-background-color);
}


/* thick and thin presentations can control top/bottom pdding from class on crossfilter-table element */
crossfilter-table.thick > table.crosstab > * > tr > th,
crossfilter-table.thick > table.crosstab > * > tr > td,
crossfilter-table.thick > table.crosstab > caption > caption-content {
	padding-top: 15px;
	padding-bottom: 15px;
}

crossfilter-table.thin > table.crosstab > * > tr > th,
crossfilter-table.thin > table.crosstab > * > tr > td,
crossfilter-table.thin > table.crosstab > caption caption-content {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* apply fixed table layout */
crossfilter-table.fixed table.crosstab {
	table-layout: fixed;
}

/* 
	structure - labels and totals
*/

crossfilter-table > table > tbody > tr > th.row_label {
	background-color: var(--row-label-background-color);
	color: var(--row-label-color);
}

crossfilter-table > table > thead > tr > th.col_label {
	background-color: var(--col-label-background-color);
	color: var(--col-label-color);
} 

crossfilter-table > table > tbody > tr > td.row_total {
	background-color: var(--row-total-background-color);
	color: var(--row-total-color);
}

/* column header for row labels , can control the width of this */
crossfilter-table > table > thead > tr > th.row_label_label {
/*	background-color: var(--col-label-background-color);
	color: var(--col-label-color);
*/	
	width: var(--row-label-width);
} 

/*
		interactivity - hover and selection drill down
*/

/* reset cursors - ng-clicks are present, adding role=button 
		but these may not be used
	*/
table.crosstab.col-hover thead th,
table.crosstab.row-hover tbody th,
table.crosstab.row-hover tbody td,
table.crosstab.cell-hover tbody td,
table.crosstab.any-hover thead th,
table.crosstab.any-hover tbody th,
table.crosstab.any-hover tbody td,
table.crosstab.any-hover tbody td {
	cursor: pointer;
}

table.crosstab thead th.row_label {
	cursor: default;
}

crossfilter-table > table.crosstab.col-hover > colgroup.selected,
crossfilter-table > table.any-hover > colgroup.selected {
	border-color: var(--col-selected-border-color);
	border-width: 2px;
	border-style: solid;
}

crossfilter-table > table.col-hover > colgroup.selected,
crossfilter-table > table.any-hover > colgroup.selected {
	background-color: var(--col-selected-background-color);
	color: var(--col-selected-color);
}
/* row selection */
crossfilter-table > table.crosstab.row-hover > tbody > tr.selected,
crossfilter-table > table.crosstab.any-hover > tbody > tr.selected {
	outline: var(--row-selected-border-color) auto 1px;
	background-color: var(--row-selected-background-color);
	color: var(--row-selected-color);
}
	/* row selection animation */
	table.crosstab.row-hover tr.selected-add,
	/*	table.crosstab.row-hover tr.selected-add.selected,*/
	table.crosstab.any-hover tr.selected.selected-add {
		transition: none 40ms;
		outline: green solid 6px;
	}

/* cell selection */
table.crosstab.cell-hover td.selected,
table.crosstab.any-hover td.selected {
	outline: var(--cell-selected-border-color) auto 1px;
}
	/* cell selection animation */
	table.crosstab.cell-hover td.selected.selected-add,
	table.crosstab.any-hover td.selected.selected-add {
		transition: all 5s;
		outline: green solid 2px;
	}


	table.crosstab.cell-hover td.selected.gender,
	table.crosstab.any-hover td.selected.gender {
		outline: none;
		border-top-style: solid;
		border-bottom-style: solid;
		border-color: black;
		border-right-style: none;
		border-left-style: none;
		border-width: 3px;
	}

		table.crosstab.cell-hover td.selected.gender.total,
		table.crosstab.any-hover td.selected.gender.total {
			border-left-style: solid;
		}

		table.crosstab.cell-hover td.selected.gender.f,
		table.crosstab.any-hover td.selected.gender.f {
			border-right-style: solid;
		}

crossfilter-table table.row-hover tbody tr:not(.detail):hover td,
crossfilter-table table.row-hover tbody tr:not(.detail):hover th,
crossfilter-table table.any-hover tbody tr:not(.detail):hover th:hover {
	background-color: var(--row-hover-background-color);
	color: var(--row-hover-color);
}

crossfilter-table table.cell-hover > tbody > tr:not(.detail):hover > td:hover,
crossfilter-table table.any-hover > tbody > tr:not(.detail):hover > td:hover {
	background-color: var(--cell-hover-background-color);
	color: var(--cell-hover-color);
}

crossfilter-table > table.col-hover > thead > tr:hover > td,
crossfilter-table > table.col-hover > thead > tr:hover > th:hover, 
crossfilter-table > table.any-hover > thead > tr:hover > th:hover {
	background-color: var(--col-hover-background-color);
	color: var(--col-hover-color);
}


/* detail view */
crossfilter-table > table.crosstab > tbody > tr.detail > td.detail-pane {
	background-color: var(--detail-pane-background-color);
	border-color: var(--detail-pane-border-color);
	padding: 0px; 
	border-style: none;
	overflow:hidden; 
	border-left-style:solid;
}

/* slide down animation of detail */
.animate-slide {
	position: relative;
	transition: all .8s ease-out;
}
	/* The starting CSS styles for the enter animation */
	.animate-slide.ng-enter,
	.animate-slide.ng-leave.ng-leave-active {
		top: -200px;
		opacity: 1;
	}

		/* The finishing CSS styles for the enter animation */
		.animate-slide.ng-enter.ng-enter-active,
		.animate-slide.ng-leave {
			top: 0px;
			opacity: 1;
		}
