﻿/* dashboard-wall is the surface that holds the children */
.dashboard-wall {
	max-width: 3600px;
}

/* dashboard-child class is the outermost class on the contents of a dashboard item */

.dashboard-child table tr.selected,
table.material tr.selected {
	background-color: darkgrey;
	color: white
}

.dashboard-child table.table th,
table.table.material th {
	background-color: white;
	border-top: solid;
	border-color: darkslategrey;
	color: darkslategray;
	background-image: none;
}

/* Tables - spacing*/

/* allow for tighter packing of rows by reducing the vertical padding from the material default of 15px */
.dashboard-child table th,
dashboard-child table td {
	padding: 15px 5px;
}

.dashboard-child table.tight th,
dashboard-child table.tight td {
	padding: 10px 5px;
}

.dashboard-child table.tighter th,
dashboard-child table.tighter td {
	padding: 5px 5px;
}

.dashboard-child table.tightest th,
dashboard-child table.tightest td {
	padding: 2px 5px;
}

/* Tables - alignment */

/* the default text alignment is right; usually these tables are full of numbers */
.dashboard-child table tbody td,
.dashboard-child table tfoot td {
	text-align: right;
}

/* but centre the column headings */
.dashboard-child table thead th {
	text-align: center;
}

/* Tables headers and labels 
	-- rowlabel
	-- colgroupstart		(apply to col in colgroup)
	-- colgroupheader
	-- rowlabelheader 

*/

/* a label on the row, usually the first column */
.dashboard-child table tbody td.rowlabel,
.dashboard-child table tfoot td.rowlabel {
	text-align: left;
}

/* columngroups - alternating colurs, and borders */
.dashboard-child table .colgroupstart {
	border-left: 1px solid rgba(192,192,192,.2);
}

/* columngroup header - use when columns are grouped into sets for the heading of the set
	this is usually on a row in thead that is above the column headings, and uses a colspan to span the whole group
	the child selector is even, assuming their will be one column for a rowlabel
*/
.dashboard-child table .colgroupheader:nth-child(even) {
	background-color: rgba(192,192,192,0.1);
}

/* Table totals */
/* for a total row, total class can go on the row */
.dashboard-child table tr.total,
table.material tr.total {
	border-top: solid;
	border-bottom: solid;
	border-width: medium;
	border-color: darkslategrey;
	font-weight: 500;
}

/* total column */
.dashboard-child table td.total,
table.material td.total {
	background-color: rgba(192,192,192,0.1);
	font-weight: 600;
}

/* grand total */
.dashboard-child table tr.total td.total,
table.material tr.total td.total {
	font-weight: 700;
}

/* allow for disabled table in editing contexts (not applicable for dashboards) */
table.material.disabled tbody tr {
	background-color: rgba(170,151,206,0.2); /* same as the disabled color for input */
}

.dashboard-child {
	margin: 0px; /* change margin to 0 to prevent vertical overflows */
	opacity: 1;
	background-color: white;
	border-color: lightgray;
	padding: 4px;
}

.dashboard-child.selected {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 95%;
	z-index: 70;
	overflow-y: inherit;
}

.dashboard-child.unselected {
	background-color: lightgray;
	opacity: .2;
}

.dashboard-child .height2 {
	height: 230px;
}

.dashboard-child .height3 {
	height: 380px;
}

.dashboard-child .height4 {
	height: 530px;
}

.dashboard-child .height5 {
	height: 680px;
}

.dashboard-child .height6 {
	height: 830px;
}

.dashboard-child .height7 {
	height: 980px;
}

.dashboard-child .height8 {
	height: 1130px;
}

.dashboard-child .height9 {
	height: 1280px;
}

.dashboard-child .height10 {
	height: 1430px;
}

.dashboard-child .height11 {
	height: 1580px;
}

.dashboard-child .height12 {
	height: 1730px;
}

.dashboard-child .height13 {
	height: 1880px;
}

.dashboard-child .height14 {
	height: 2030px;
}

.dashboard-child .height15 {
	height: 2180px;
}

.dashboard-child .height16 {
	height: 2330px;
}

.dashboard-child .height17 {
	height: 2480px;
}

.dashboard-child .height18 {
	height: 2630px;
}

.dashboard-child .height19 {
	height: 2780px;
}

.dashboard-child .height20 {
	height: 2930px;
}

.dashboard-child .height21 {
	height: 2980px;
}

.dashboard-child .height22 {
	height: 3030px;
}

.dashboard-child .height23 {
	height: 3080px;
}

.dashboard-child .height24 {
	height: 3130px;
}

.dashboard-child .height25 {
	height: 3180px;
}

.dashboard-child.selected-add,
.dashboard-child.selected-remove,
.dashboard-child.unselected-add,
.dashboard-child.unselected-remove {
	transition: .2s;
}

/* angular animations form adding form removing material whiteframe 
  to create the impression of raisng/lowering a component
*/
.lifting .md-whiteframe-1dp-add,
.lifting .md-whiteframe-2dp-add,
.lifting .md-whiteframe-6dp-add,
.lifting .md-whiteframe-12dp-add,
.lifting .md-whiteframe-24dp-add,
.lifting .md-whiteframe-1dp-remove,
.lifting .md-whiteframe-2dp-remove,
.lifting .md-whiteframe-6dp-remove,
.lifting .md-whiteframe-12dp-remove,
.lifting .md-whiteframe-24dp-remove {
	transition: .4s;
}


school-details,
cross-tab,
simple-table,
bar-chart,
pie-chart,
generic {
	overflow-y: hidden;
}

/* dashboard-wrapper is applied to the dashboard child component in the dashboard html
  it controls layout within the 'masonry' grid
  default is '2x2' block ie 300 x 300px
*/
.dashboard-wrapper {
	background-color: rgb(255,255,255);
	opacity: 1;
	display: block;
	width: 100%; /* if no width is specifed, go with 100% */
	height: 440px; /* if no height is specifed with the wrapper this default is height 3*/
	float: left; /* masonry seems to need this */

	overflow-x: hidden;
	overflow-y: inherit;
}

.dashboard-wrapper {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); /* default to the same as md-whiteframe-1dp */
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 3px;
}

/* size control for dashbard wrappers */
.dashboard-wrapper.height1 {
	height: 140px;
}

.dashboard-wrapper.height2 {
	height: 290px;
}

.dashboard-wrapper.height3 {
	height: 440px;
}

.dashboard-wrapper.height4 {
	height: 590px;
}

.dashboard-wrapper.height5 {
	height: 740px;
}

.dashboard-wrapper.height6 {
	height: 890px;
}

.dashboard-wrapper.height7 {
	height: 1040px;
}

.dashboard-wrapper.height8 {
	height: 1190px;
}

.dashboard-wrapper.height9 {
	height: 1340px;
}

.dashboard-wrapper.height10 {
	height: 1490px;
}

.dashboard-wrapper.height11 {
	height: 1540px;
}

.dashboard-wrapper.height12 {
	height: 1590px;
}

.dashboard-wrapper.height13 {
	height: 1640px;
}

.dashboard-wrapper.height14 {
	height: 1690px;
}

.dashboard-wrapper.height15 {
	height: 1740px;
}

.dashboard-wrapper.height16 {
	height: 1790px;
}

.dashboard-wrapper.height17 {
	height: 1840px;
}

.dashboard-wrapper.height18 {
	height: 1890px;
}

.dashboard-wrapper.height19 {
	height: 1940px;
}

.dashboard-wrapper.height20 {
	height: 1990px;
}

.dashboard-wrapper.height21 {
	height: 2040px;
}

.dashboard-wrapper.height22 {
	height: 2090px;
}

.dashboard-wrapper.height23 {
	height: 2140px;
}

.dashboard-wrapper.height24 {
	height: 2190px;
}

.dashboard-wrapper.height25 {
	height: 2240px;
}

.dashboard-wrapper.width1 {
	width: 140px;
}

.dashboard-wrapper.width2 {
	width: 290px;
}

.dashboard-wrapper.width3 {
	width: 440px;
}

.dashboard-wrapper.width4 {
	width: 590px;
}

.dashboard-wrapper.width5 {
	width: 740px;
}

.dashboard-wrapper.width6 {
	width: 890px;
}

.dashboard-wrapper.width7 {
	width: 1040px;
}

.dashboard-wrapper.width8 {
	width: 1190px;
}


/* fixes a problem that prevents resizing of Dc charts*/
div.dc-chart.unfloat {
	float: none;
}

/* */

/* rotated table headings
    https://css-tricks.com/rotated-table-column-headers/
    To do: I suspect there are more relaible ways to place these rotated headers
    if the transform-origin is set to top left or bottom left
  */

th.rotate45 {
	/* Something you can count on */
	height: 140px;
	white-space: nowrap;
}

th.rotate45 > div {
	transform:
	/* Magic Numbers */
	translate(25px, 51px)
	/* 45 is really 360 - 45 */
	rotate(315deg);
	width: 30px;
}

th.rotate45 > div > span {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

th.rotate90 {
	height: 140px;
	white-space: nowrap;
}

th.rotate90 > div {
	padding-top: 100%;
	transform: rotate(270deg);
}

th.rotate90 > div > span {
	padding: 5px 10px;
	text-align: start;
	transform: translate(0px, 20px);
}

.tooltip {
	pointer-events: none;
}

/* 
	to support highlighting a single cell in a dashboard table
*/
td.selectedcell {
	border-color: red;
	border-width: medium;
	background-color: cornflowerblue
}
/* 
	these classes are used by the stars component to display a string of stars 
	developed for presentation of accreditation results
*/
.stars {
	text-align: left !important;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: -3px;
}

.stars.large {
	font-size: 1.25em;
}

.stars.small {
	font-size: .75em;
	letter-spacing: -2px;
}

/* 
	colors for stars match the standards set up in exams
	["#FF0000", "#FFC000", "#92D050", "#00B050"]

*/
.star1:before {
	font-family: Material Icons;
	display: inline-block;
	color: #ff0000;
	content: "star";
}

.star2:before {
	font-family: Material Icons;
	display: inline-block;
	color: #ffc000;
	content: "star star";
}

.star3:before {
	font-family: Material Icons;
	display: inline-block;
	color: #92d050;
	content: "star star star";
}

.star4:before {
	font-family: Material Icons;
	display: inline-block;
	color: #00b050;
	content: "star star star star";
}

/* checked unchecked radio button */
.radiobutton.checked:before {
	font-family: Material Icons;
	display: inline-block;
	content: "radio_button_checked";
}

.radiobutton.unchecked:before {
	font-family: Material Icons;
	display: inline-block;
	content: "radio_button_unchecked";
}

/* dashboard header items */
.dashboard-header md-select {
	/* md-select defaults to very large top and bottom margins - remove these 
		this is for displaying component options
	*/
	margin-top: 0px;
	margin-bottom: 0px;
}
