﻿/* Keep the "old" grid styling mostly gender grids. But simplified and theme neutral */

table.gendergrid {
	table-layout: fixed;
}

	table.gendergrid td {
		border: 1px solid #D0D0D0;
		padding-left: 6px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

		table.gendergrid td.current {
			background: #eee;
			color: #333;
		}

	table.gendergrid th {
		text-align: center;
		padding: 2px 2px 2px 2px;
	}

	table.gendergrid .colhdr {
		color: #333;
		text-align: center;
	}

	table.gendergrid th.colhdr {
		border: solid 1px #d4d4d4;
	}

	table.gendergrid .colhdr.current, table.gendergrid .colghdr.current {
		background-color: #eee;
		color: #333;
	}

	table.gendergrid th.colghdr {
		border-left: solid 1px #d4d4d4;
		border-right: solid 1px #d4d4d4;
	}

	table.gendergrid .rowhdr {
		font-size: 15px;
		font-weight: bold;
		color: #333;
		padding-left: 7px;
	}

		table.gendergrid .rowhdr.current {
			background-color: #eee;
			color: #333;
		}

	table.gendergrid td.current {
		background-color: #eee;
	}

	table.gendergrid .colm {
		border-left: solid 2px #ccc;
	}

	table.gendergrid input {
		width: 20px;
		border: none;
		padding-right: 2px;
		margin: 2px;
		background-color: white;
		text-align: right;
	}

		table.gendergrid input.hover {
			width: 40px;
			border: none;
			padding: 3px;
			background-color: lightyellow;
			text-align: right;
		}

	table.gendergrid .totg {
		text-align: right;
		font-weight: bold;
		background-color: #eee;
	}

	table.gendergrid .tot {
		text-align: right;
		font-weight: bold;
		background-color: none;
		padding-right: 3px;
		padding-left: 3px;
	}

	table.gendergrid input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.gendergrid input:disabled, .gendergrid select:disabled, .gendergrid input[type=checkbox]:disabled {
	background-color: lightsteelblue !important;
}


/* additional styles and utilities for ui-grid 

	these are designed to be named as cellHeaderClass or cellClass
	these will only apply in a ui-grid
*/


/* for numbers to align right in a grid*/
/* these classes are widely in use, but probably should not be camelcase */
.ui-grid .gdAlignRight {
	text-align: right
}

.ui-grid .gdAlignCenter {
	text-align: center
}

.ui-grid .gdAlignLeft {
	text-align: left;
}

/* grids in 'list' views usually have an anchor column to open the item in the actionpane
	style this link;
*/
.ui-grid .gdAction,
a.gdAction {
	cursor: pointer
}

/* supergrid applies waiting style to the ui-grid div 
 Customise the grid accordingly
*/
.ui-grid.waiting {
	opacity: .7;
}

/* tracking style is applied to columns displaying the audit fields
	CreateUser, CreateDateTime, EditUser, EditDateTime 
	Make these less prominent
*/
.ui-grid .tracking {
	font-size: 9px;
	opacity: .8;
}

/* for editable grids - salvaged from tables-and-grids in <79a66543>
*/

div.ui-grid-cell input.grid-input {
	background-color: rgba(255,220,220,.5);
	height: 30px;
	padding: 5px;
}

div.ui-grid-cell select.grid-input {
	background-color: rgba(255,220,220,.5);
	height: 30px;
	padding: 5px;
}
/* some other miscellaneous for form b type grids 
	introduce the table level style cells, indicating that this table has borders around cells

*/


/* we should not need to disable these so explicilty, but there are some very general styles
	e.g. th in place elsewhere...
*/
table.table.cells.box {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}


table.table.cells tr {
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}

table.table.cells td,
table.table.cells th {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
}


table.table.cells tr td.leftedge,
table.table.cells tr th.leftedge {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-left-style: solid;
}

table.table.cells tr td.rightedge,
table.table.cells tr th.rightedge {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-right-style: solid;
}

table.table.cells tr td.cell,
table.table.cells tr th.cell {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-style: solid;
}

table.table.cells tr td.no-border,
table.table.cells tr th.no-border {
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

table.table.cells tr td.leftedge-only,
table.table.cells tr th.leftedge-only {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-left-style: solid;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

table.table.cells tr td.rightedge-only,
table.table.cells tr th.rightedge-only {
	border-color: rgba(0,0,0,.12);
	border-width: 1px;
	border-right-style: solid;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

table.table.cells tr.total td {
	background-color: rgba(0,0,0,.03);
}


/* list tables */

table.md-table.list.tight td,
table.md-table.list.tight th {
	padding-top: 8px;
	padding-bottom: 8px;
}

table.md-table.list.numbers td {
	text-align: right;
}

table.md-table.list.numbers th {
	text-align: center;
}

table.md-table.list td.text {
	text-align: left;
}

table.list td.text,
table.list.numbers th.text {
	text-align: left;
}
