﻿/* 
  Leaving these old styles around until the current Indicators data grid and historical
  charts are all migrated to a dashboard with our latest architecture
*/

table.indicators {
  table-layout: fixed;
  font-family: Calibri;
  font-size: 10pt;
  border-collapse: collapse;
}

table.indicators .tblhdr {
  background-color: #f3f4f6;
  font-size: 14pt;
  color: #4b4b4b;
  font-weight: bold;
  text-align: left;
  /*border: none;*/
  padding: 0px;
}

table.indicators .tblhdrSub {
  background-color: #f3f4f6;
  font-size: 10pt;
  color: #4b4b4b;
  text-align: left;
  border: none;
  padding: 0px;
}

table.indicators .colhdr {
  background-color: #348bc6;
  background-image: -webkit-linear-gradient(top, #296f9f, #348bc6);
  background-image: -moz-linear-gradient(top, #296f9f, #348bc6);
  background-image: -o-linear-gradient(top, #296f9f, #348bc6);
  background-image: -ms-linear-gradient(top, #296f9f, #348bc6);
  background-image: linear-gradient(top, #296f9f, #348bc6);
  color: #efefef;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

table.indicators .colhdr td {
  text-align: left;
}

table.indicators .colhdr td.rowhdr {
  background-color: #f3f4f6;
  /*border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;*/
}

table.indicators .grouphdr {
  background-color: #f3f4f6;
  background-image: -webkit-linear-gradient(top, #a5b2ba, #f3f4f6);
  background-image: -moz-linear-gradient(top, #a5b2ba, #f3f4f6);
  background-image: -o-linear-gradient(top, #a5b2ba, #f3f4f6);
  background-image: -ms-linear-gradient(top, #a5b2ba, #f3f4f6);
  background-image: linear-gradient(top, #a5b2ba, #f3f4f6);
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

table.indicators .alt {
  font-style: italic;
  color: #333;
}

table.indicators .alt-light {
  font-style: italic;
  color: #efefef;
}

table.indicators .rowhdr {
  background-color: #f3f4f6;
  color: #4b4b4b;
  font-weight: normal;
  /*border-top: 1pt solid #f3f4f6;*/
  padding-right: 3px;
}

table.indicators .rowhdr .alt {
  color: #4b4b4b;
  /*border-top: 1pt solid #f3f4f6;*/
}

table.indicators tr {
  min-height: 30px;
}

table.indicators tbody tr:hover {
  background: #dae5f3;
}

table.indicators td {
  padding: 5px;
  text-align: right;
  /*border: 1px solid #D0D0D0;
  border: 1px solid #D0D0D0;
  border: 1px solid #D0D0D0;
  border: 1px solid #D0D0D0;*/
}

/* not applicable ie values that dont have gender breakdown*/
table.indicators .na {
  /* just leave blank*/
  /*background-color: #D0D0D0;*/
}

  /* section boundary */
table.indicators .sec {
  /*border-right: 1px solid #D0D0D0;*/
  /*font-size:12pt;*/
}

table.indicators .t {
  font-weight: bolder
}
table.kpigrid {
  table-layout: fixed;
  font-family: Calibri;
  font-size: 11pt;
}

table.kpigrid .colhdr {
  background-color: aqua;
}

table.kpigrid .colhdr.current {
  background-color: blue;
}

table.kpigrid .rowhdr {
  background-color: aqua;
}

table.kpigrid .colm {
  background-color: blanchedalmond;
}

table.kpigrid input {
  width: 40px;
  border: none;
  padding: 3px;
  background-color: inherit;
  text-align: right;
}

table.kpigrid .totg {
  text-align: right;
  color: gray;
}

table.kpigrid .tot {
  text-align: right;
  color: gray;
}

table.kpigrid input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

rect.enrol {
  fill: #69c;
  opacity: 0.5;
}

rect.enrolny {
  fill: #69c;
}

rect.repeatny {
  fill: #c69;
}

svg #d1 {
  text-align: center;
  display: none;
  line-height: 150px;
}

svg:hover #d1 {
  display: block;
}

svg .repeatny {
  stroke: #c69;
  fill: #c69;
  stroke-width: 2px;
  marker-start: url(#markerCircleR);
  marker-end: url(#markerArrowR);
}

svg .promoteny {
  stroke: #69c;
  fill: #69c;
  stroke-width: 2px;
  marker-start: url(#markerCircleP);
  marker-end: url(#markerArrowP);
}