﻿<panel panel-class="panel-primary"
			 panel-icon="fa fa-table"
			 heading="Junior Secondary Education Indicators"
			 panel-collapse="true"
			 style="width:100%">

	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="New Data Grid">
			<p>
				Please select a start and end year to compare indicators over time. Get more details on the column F% or GPI
				<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GPI')">
					<md-tooltip>Details</md-tooltip>
					<md-icon class="material-icons md-24 md-dark">info</md-icon>
				</md-button>
			</p>
			<style>

				.flextbl .row:nth-child(even) {
					background-color: rgb(243,244,246)
				}

				.flextbl .row {
					display: flex;
					flex-direction: row;
					min-height: 20px;
					border-top-color: rgb(221,221,221);
					border-top-style: solid;
					border-top-width: 1px;
					margin-right: 0;
					margin-left: 0
				}

				.flextbl .cellgrp {
					display: flex;
					flex-direction: row;
				}

				.flextbl .cell {
					padding: 5px 3px 5px 5px;
					text-align: right;
					font-size: 12px
				}

				.flextbl .blockhdr {
					font-weight: 700
				}

				.flextbl .row_label {
					padding: 5px 20px 5px 5px;
					text-align: right;
					font-size: 12px;
					background-color: rgb(243,244,246)
				}

					.flextbl .row_label md-icon {
						cursor: help
					}


				.flextbl .cell.left, .flextbl .left {
					text-align: left;
				}

				.flextbl .cell.center, .flextbl .center {
					text-align: center;
				}

				.flextbl .grouphdr {
					background-color: #f3f4f6;
					color: #333;
					font-weight: bold;
					font-size: 14px;
					text-align: center;
					padding: 10px 3px 10px 5px;
				}

				ind-block.hover, ind-change.hover {
					background-color: rgb(224,224,224);
					border-radius: 3px
				}
			</style>
			<div layout="column" class="flextbl">
				<div class="grouphdr" layout="row">
					<div class="cell left" flex="25">Indicators</div>
					<div class="cell" flex>
						<select style="width: 100%; border-style: none; color: #4b4b4b; font-size: 14pt"
								ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
								ng-model="vm.baseYear"></select>
					</div>
					<div class="cell" flex>
						<select style="width:100%;border-style:none; color:#4b4b4b; font-size:14pt"
								ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
								ng-model="vm.selectedYear"></select>
					</div>
					<div class="cell center" flex hide-xs hide-sm>
						Change {{vm.baseYear}} - {{vm.selectedYear}}
					</div>

				</div>
				<div class="row">
					<div flex="25" class="cell"></div>
					<div layout="row" flex>
						<ind-block-hdr layout="row" flex></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
					</div>
				</div>

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Context Indicators</div>
				<div class="row">
					<div flex="25" class="row_label">Years of schooling</div>
					<ind-row-x layout="row" flex
							   item="YearsOfSchooling"></ind-row-x>
				</div>
				<div class="row">
					<div flex="25" class="row_label">Official Start Age</div>
					<ind-row-x layout="row" flex
							   item="OfficialStartAge"></ind-row-x>
				</div>
				@*
		This row is the only difference between MIEMIS and FEDMIS versions of Indicators_PRI
		Keep a KEMIS version of this row too, in case we later consolidate these context-specific files
				*@

				@if (ViewBag.Context == "kemis")
				{
					<div class="row">
						<div flex="25" class="row_label">Number of JS Schools</div>
						<div flex layout="row">
							<ind-block flex model="vm.indicatorCalc.schoolCount(vm.baseYear, 'JS')" />
							<ind-block flex model="vm.indicatorCalc.schoolCount(vm.selectedYear, 'JS')" />
							<ind-change flex
										model1="vm.indicatorCalc.schoolCount(vm.baseYear, 'JS')"
										model2="vm.indicatorCalc.schoolCount(vm.selectedYear, 'JS')" />
						</div>
					</div>

				<div class="row">
					<div flex="25" class="row_label">Number of CS Schools</div>
					<div flex layout="row">
						<ind-block flex model="vm.indicatorCalc.schoolCount(vm.baseYear, 'CS')" />
						<ind-block flex model="vm.indicatorCalc.schoolCount(vm.selectedYear, 'CS')" />
						<ind-change flex
									model1="vm.indicatorCalc.schoolCount(vm.baseYear, 'CS')"
									model2="vm.indicatorCalc.schoolCount(vm.selectedYear, 'CS')" />
					</div>
				</div>

				}

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Demographic Indicators</div>

				<div class="row">
					<div flex="25" class="row_label">Population (Estimate)</div>
					<ind-row-x layout="row" flex
							   item="Population"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Enrolment</div>
					<ind-row-x flex item="Enrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Official Age Enrolment</div>
					<ind-row-x flex item="NetEnrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Gross Enrolment Ratio
					</div>
					<ind-row-x flex item="GER"
							   gpi="1"
							   action="ger" tt="Click to explore GER"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Net Enrolment Ratio
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="NER"
							   gpi="1"
							   action="ner" tt="Click to explore NER"></ind-row-x>
				</div>

				@* quality indicators*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Quality Indicators</div>
				<div class="row">
					<div class="row_label" flex="25">
						Number of Teachers
					</div>
					<ind-row-x layout="row" flex item="TeachersFtpt"
							   action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCert"
							   action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCertP"
							   gpi="1"
							   action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQual"
							   action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQualP"
							   gpi="1"
							   action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Teacher Ratio
					</div>
					<ind-row-x flex item="FtptPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Certified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptCertPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Qualified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptQualPTR" places="1"></ind-row-x>
				</div>
				@*
		-------------------------------------
				Process indicators
		-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Process Indicators
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Repeaters
					</div>
					<ind-row-x flex item="Repeaters"
							   action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Repetition Rate
					</div>
					<ind-row-x flex item="RepRate"
							   gpi="1"
							   action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>
				@*
		-------------------------------------
				Outcome indicators
		-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Outcome Indicators
				</div>

				@*
		Kirinati shows survival to year 4 and year 6
				*@
				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Survival Rate to Year 4
					</div>
					<ind-row-x flex item="Survival4"
							   gpi="1"
							   action="survival" tt="Click to explore Survival Rate"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Survival Rate to Year 6
					</div>
					<ind-row-x flex item="Survival6"
							   gpi="1"
							   action="survival" tt="Click to explore Survival Rate"></ind-row-x>
				</div>

				@*
		-------------------------------
		Intake
		-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Intake Class 1
					</div>
					<ind-row-x flex item="Intake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Gross Intake Ratio {{vm.selectedEdLevel|lookup:'educationLevels'}}
					</div>
					<ind-row-x flex item="GIR"
							   gpi="1"
							   action="gir" tt="Click to explore GIR"></ind-row-x>
				</div>
				@*
		-------------------------------
		Net Intake
		-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Net Intake Class 1
					</div>
					<ind-row-x flex item="NetIntake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Net Intake Ratio {{vm.selectedEdLevel|lookup:'educationLevels'}}
					</div>
					<ind-row-x flex item="NIR"
							   gpi="1"
							   @* action="nir" tt="Click to explore NIR" *@></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">

						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
						Gross Intake Ratio Class 6
					</div>
					<ind-row-x flex layout-align="start center" item="GIRLast"
							   gpi="1"></ind-row-x>
				</div>
			</div>


		</md-tab>

		<md-tab label="Data Grid">
			<!-- Indicators Primary -->
			<table class="indicators table table-striped table-hover table-condensed">
				<colgroup>
					<col width="25%" />
					<col width="7%" />
					<col width="6%" />
					<col width="6%" />
					<col width="6%" />
					<col width="7%" />
					<col width="6%" />
					<col width="6%" />
					<col width="6%" />
					<col width="7%" />
					<col width="6%" />
					<col width="6%" />
					<col width="6%" />

				</colgroup>
				<thead class="ng-cloak">
					<tr class="">
						<td class="rowhdr sec"></td>
						<th colspan="4">
							<select style="width:100%; color:#4b4b4b; font-size:14pt"
									ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
									ng-model="vm.baseYear"></select>
						</th>
						<th colspan="4">
							<select style="width:100%; color:#4b4b4b; font-size:14pt"
									ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
									ng-model="vm.selectedYear"></select>
						</th>
						<th class="text-center" colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
					</tr>
					<tr class="colhdr">
						<td class="rowhdr sec"></td>
						<td ng-repeat-start="i in [1,2,3]">Total</td>
						<td>F</td>
						<td>M</td>
						<td ng-repeat-end>F% <span class="alt-light">(GPI)</span></td>
					</tr>

				</thead>
				<tbody>
					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Context Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Years of schooling</td>
						<td>{{vm.baseYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.YearsOfSchooling - vm.baseYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />

					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Official Start Age</td>
						<td>{{vm.baseYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Number of JS Schools</td>
						<td>{{vm.indicatorCalc.schoolCount(vm.baseYear, 'JS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'JS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'JS') - vm.indicatorCalc.schoolCount(vm.baseYear, 'JS')}}</td>
						<td colspan="3" class="na sec" />

					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Number of CS Schools</td>
						<td>{{vm.indicatorCalc.schoolCount(vm.baseYear, 'CS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'CS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'CS') - vm.indicatorCalc.schoolCount(vm.baseYear, 'CS')}}</td>
						<td colspan="3" class="na sec" />

					</tr>
					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Demographic Indicators</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Population (Est)</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}</td>

					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Enrolment</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Official Age Enrolment</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>

					</tr>
					@* GER *@
					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Gross Enrolment Ratio
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" @* base year *@
							ng-class="{sec: $last, alt: $last}"
							ng-click="vm.action('ger',vm.baseYear)">

							<md-tooltip>Click to explore GER</md-tooltip>

							{{vm.baseYearData.GER[g]| percif:!($last) :2 }}

						</td>

						<td ng-repeat="g in ['T','F','M','I']" @* selected year *@
							ng-class="{sec: $last, alt: $last}"
							ng-click="vm.action('ger',vm.selectedYear)">

							{{vm.selectedYearData.GER[g]|percif:!($last) :2 }}

							<md-tooltip>Click to explore GER</md-tooltip>
						</td>

						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| percif:!($last) :2 }}
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] < 0.005 && vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					@* NER *@
					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Net Enrolment Rate
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" @* base year *@
							ng-class="{sec: $last, alt: $last}"
							ng-click="vm.action('ner',vm.baseYear)">

							<md-tooltip>Click to explore NER</md-tooltip>

							{{vm.baseYearData.NER[g]| percif:!($last) :2 }}
						</td>

						<td ng-repeat="g in ['T','F','M','I']" @* selected year *@
							ng-class="{sec: $last, alt: $last}"
							ng-click="vm.action('ner',vm.selectedYear)">

							<md-tooltip>Click to explore NER</md-tooltip>

							{{vm.selectedYearData.NER[g]| percif:!($last) :2 }}
						</td>

						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| percif:!($last) :2 }}
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] < 0.005 && vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Quality Indicators</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Number of Teachers</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g] - vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Certified</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g] - vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>

					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Certified %</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP[g]| percif :!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g]| number :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g] - vm.baseYearData.TeachersCertP[g]| percif :$last :0}}</td>


					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Pupil/Teacher Ratio</td>

						<td>{{vm.baseYearData.PTR |number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.PTR|number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.PTR - vm.baseYearData.PTR|number:1}}</td>
						<td colspan="3" class="na sec" />
					</tr>
					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Process Indicators</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">No of Repeaters</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Repetition Rate</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Survival Rate to Year 4</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival4[g]| number :2 }}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g]| number :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g] - vm.baseYearData.Survival4[g]| number :2}}</td>
					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">Survival Rate to Year 6</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival6[g]| number :2 }}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g]| number :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g]| number :2}}</td>

					</tr>
					<tr class="ng-cloak">
						<td class="rowhdr sec">GIR Year 6</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| number:2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| number:2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| number:2}}</td>
					</tr>

					</tr>
				</tbody>

			</table>


		</md-tab>

		<md-tab label="Historical Charts">
			<div style="margin: 10px;">
				<h2>Demographic Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']" />
					<echart flex="" indicators="vm" title="Total Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrol (Male)', 'Enrol (Female)', 'Enrol (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Net Enrolment Rate" chart-type="line" value-format="0.0%" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']" />
					<echart flex="" indicators="vm" title="Gross Enrolment Rate" chart-type="line" value-format="0.0%" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']" />
				</div>
				<h2>Quality Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Teachers vs Certified Teachers" chart-type="line" value-format="0.0%" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']" />
				</div>
				<h2>Process Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']" />
					<echart flex="" indicators="vm" title="Repeaters Rate" chart-type="line" value-format="0.0%" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']" />
				</div>
				<h2>Outcome Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Survival4" chart-type="line" value-format="0.0%" indicator="Survival4" meta="['Survival4 (Male)', 'Survival4 (Female)', 'Survival4 (Total)']" />
					<echart flex="" indicators="vm" title="Survival6" chart-type="line" value-format="0.0%" indicator="Survival6" meta="['Survival6 (Male)', 'Survival6 (Female)', 'Survival6 (Total)']" />
				</div>
			</div>
		</md-tab>

	</md-tabs>

</panel>