﻿<div ng-show="vm.buttonText">
	<md-button  ng-click="vm.newDoc()">
		{{vm.buttonText}}
	</md-button>

</div>
<div ng-show="!vm.buttonText">
	<md-button class="md-fab md-mini" ng-click="vm.newDoc()">
		<md-icon class="md-24">add</md-icon>
		<md-tooltip>Add document</md-tooltip>
	</md-button>
</div>


