﻿<style>
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
</style>
<div ng-show="vm.document">
  <document-image document="vm.document" height="vm.height"></document-image>
    <md-menu md-offset="0 0" ng-show="vm.renderer.isImage(vm.document.docType) && vm.showMenu">
      <md-button aria-label="Open image rotate menu" class="md-icon-button"  style="vertical-align:top;text-align:left" ng-mouseenter="$mdMenu.open()">
        <i style="color:gray" class="material-icons">more_vert</i>
      </md-button>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item>
          <md-button ng-click="vm.renderer.rotate($event, vm.document, 90)">
            <md-icon class="material-icons md-24 md-dark">rotate_right</md-icon>
            Rotate right
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.renderer.rotate($event, vm.document, 180)">
            <md-icon md-menu-align-target style="color: grey; padding:2px; font-size:24px; 
              -webkit-transform: rotate(90deg); transform: rotate(90deg)">flip</md-icon>
            Flip
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.renderer.rotate($event, vm.document, 270)">
            <md-icon md-menu-align-target style="color: grey; padding:2px; font-size:24px">rotate_left</md-icon>
            Rotate left
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
</div>

