﻿@* scholarship enrollment List
*@
<div>
	<table class="md-table striped">
		<thead>
			<tr>
				<th>Recorded (UTC)</th>
				<th>By...</th>
				<th>Action...</th>
				<th>Status</th>
				<th>Status Date</th>
				<th>Year/Semester</th>
				<th>Study</th>
				<th>GPA</th>
				<th>Amount</th>
				<th>Paid On...</th>

			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="e in vm.audit">
				<td>{{e.pCreateDateTime|date:'dd-MMM-yyyy HH:mm'}}</td>
				<td>{{e.pCreateUser}}</td>
				<td>{{e.schoaNote}}</td>
				<td>{{e.schoStatus | lookup:'scholarshipStatus'}}</td>
				<td>{{e.schoStatusDate|date:'d-MMM-yyyy'}}</td>
				<td>{{e.posYear}}:{{e.posSemester}}</td>
				<td>{{e.instCode |lookup:'scholarshipInstitutions'}}:{{e.fosCode |lookup:'fieldsOfStudy'}}</td>
				<td>{{e.posGPA}}</td>
				<td>{{e.posAmount}}</td>
				<td>{{e.posPaid|date:'d-MMM-yyyy'}}</td>
			</tr>
		</tbody>
	</table>

</div>