﻿<div>
	<scholarship-x-tab class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpYear"
										 options="::vm.options" heading-title="Type/Year"
										 on-click="vm.options.toggleSelectedYear(item)"
										 highlight="vm.options.selectedYear"
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</scholarship-x-tab>
	<scholarship-x-tab class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpPaymentYearP"
										 options="::vm.options" heading-title="Payment Year"
										 @*on-click="vm.options.toggleSelectedYear(item)"
										 highlight="vm.options.selectedYear"*@
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</scholarship-x-tab>
	<scholarship-gender class="dashboard-wrapper height3 width4"
											dashboard="::vm.dashboard" group="::vm.grpScholarshipType"
											options="::vm.options" heading-title="Scholarship Type"
											on-click="vm.options.toggleSelectedScholarshipType(item)"
											highlight="vm.options.selectedScholarshipTypeName"
											selected-child="vm.selectedChild"
											option-change="vm.optionChange">
	</scholarship-gender>
	<scholarship-gender class="dashboard-wrapper height3 width4"
											dashboard="::vm.dashboard" group="::vm.grpMajor"
											options="::vm.options" heading-title="Major Study"
											on-click="vm.options.toggleSelectedMajor(item)"
											highlight="vm.options.selectedMajorName"
											selected-child="vm.selectedChild"
											option-change="vm.optionChange">
	</scholarship-gender>

	<scholarship-gender class="dashboard-wrapper height3 width4"
											dashboard="::vm.dashboard" group="::vm.grpStatus"
											options="::vm.options" heading-title="Status"
											on-click="vm.options.toggleSelectedStatus(item)"
											highlight="vm.options.selectedStatusName"
											selected-child="vm.selectedChild"
											option-change="vm.optionChange">
	</scholarship-gender>

	<scholarship-gender class="dashboard-wrapper height3 width4"
											dashboard="::vm.dashboard" group="::vm.grpYearP"
											options="::vm.options" heading-title="Payments by Round"
											on-click="vm.options.toggleSelectedYear(item)"
											highlight="vm.options.selectedYear"
											selected-child="vm.selectedChild"
											option-change="vm.optionChange">
	</scholarship-gender>

	<scholarship-x-tab class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpPaymentYearTierP"
										 options="::vm.options" heading-title="Payment Year"
										 @*on-click="vm.options.toggleSelectedYear(item)"
										 highlight="vm.options.selectedYear"*@
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</scholarship-x-tab>

	<scholarship-x-tab class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpPaymentYearRoundP"
										 options="::vm.options" heading-title="Payment Year"
										 @*on-click="vm.options.toggleSelectedYear(item)"
										 highlight="vm.options.selectedYear"*@
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</scholarship-x-tab>

	<scholarship-x-tab class="dashboard-wrapper height3 width4"
										 dashboard="::vm.dashboard" group="::vm.grpPaymentYearTertiaryGradeP"
										 options="::vm.options" heading-title="Payment Year"
										 @*on-click="vm.options.toggleSelectedYear(item)"
										 highlight="vm.options.selectedYear"*@
										 selected-child="vm.selectedChild"
										 option-change="vm.optionChange">
	</scholarship-x-tab>

	@*<scholarship-round-status class="dashboard-wrapper height3 width3"
														heading-title="Scholarship Round"
														dashboard="::vm.dashboard"
														options="::vm.options"
														selected-child="vm.selectedChild"
														option-change="vm.optionChange" />*@

</div>