﻿@* scholarship enrollment List
*@
<div>
	<table class="md-table striped">
		<thead>
			<tr>
				<th>Enrollment Year/Semester</th>

				<th>Institution</th>
				<th>Major</th>
				<th>Grade Level</th>

				<th>Amount</th>
				<th>Date</th>
				<th>GPA</th>
				<th></th>


			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="e in vm.enrollments">
				<td>{{e.posYear}}-{{e.posSemester}}</td>
				<td>{{e.instCode |lookup:'scholarshipInstitutions'}}</td>
				<td>{{e.fosCode |lookup:'fieldsOfStudy'}}</td>
				<td>{{e.gyIndex|lookupId:'tertiaryGrades'}}</td>
				<td>{{e.posAmount}}</td>
				<td>{{e.posPaid|date:'d-MMM-yyyy'}}</td>
				<td>{{e.posGPA}}</td>
				<td>
					<md-button class="md-icon-button" ng-click="vm.show(e)">
						@* create is a pencil, ie 'Edit' more-horiz is the horizontal ellipsis *@
						<md-icon class="material-icons md-24 md-dark">
							<span permission permission-only="'@Model.Update'">
								create
								<md-tooltip>View / Edit details ... </md-tooltip>
							</span>
							<span permission permission-only="'@Model.Read'" permission-except="'@Model.Update'">
								more_horiz
								<md-tooltip>Details ...</md-tooltip>
							</span>
						</md-icon>
					</md-button>
					<span permission permission-only="'@Model.Delete'">
						<md-button class="md-icon-button" ng-click="vm.delete(e)">
							<md-icon class="material-icons md-24 md-dark">delete</md-icon>
							<md-tooltip>Delete this enrollment</md-tooltip>
						</md-button>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<div layout="row" permission permission-only="'@Model.Create'">
		<div flex></div>
		<md-button class="md-fab md-mini" ng-click="vm.new()">
			<md-icon class="md-24">add</md-icon>
			<md-tooltip>Add a new enrollment</md-tooltip>
		</md-button>
	</div>
</div>