﻿@section title {
	Select student for Scholarship

}

@section icon {
	<i class="fa fa-graduation-cap"></i>&nbsp;
}
@section tools {}
@section actions {
	<md-button ng-disabled="vm.studentId == null" ng-click="vm.select()">Select student</md-button>
	<md-button ng-click="vm.returnSuccess(null)">Create new student</md-button>

}

<div>
	<student-finder ng-model="vm.studentId" on-selected="vm.selectedHandler(student)"></student-finder>
	<div ng-show="vm.studentId">
		<div layout="row">
			<div flex="20">Name:</div>
			<div flex>{{vm.student.G}} {{vm.student.F}} </div>
		</div>
		<div layout="row">
			<div flex="20">DoB:</div>
			<div flex>{{vm.student.D | date:'d-MMM-yyyy'}}</div>
		</div>
		<div layout="row">
			<div flex="20">ID:</div>
			<div flex>{{vm.studentId}}</div>
		</div>
	</div>
</div>