﻿@using Softwords.Web.HtmlHelpers
@using Softwords.Web.HtmlHelpers.Material
@using System.Web.Mvc.Html
@model Pineapples.Data.Models.Scholarship

@section icon {
	fa fa-graduation-cap
}

@section title {
	{{vm.isNew? 'New Scholarship: ' + vm.model.stuGiven + ' ' + vm.model.stuFamilyName: 'Scholarship ' + vm.model.schoID + ': ' + vm.model.stuGiven + ' ' + vm.model.stuFamilyName }}
}

<div class="appform">
	<form name="vm.modelForm" ng-submit="vm.save()">
		<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

			@*<md-tab label="Dashboard" ng-disabled="vm.isNew">
					<div class="row">
					</div>
				</uib-tab>*@
			<md-tab label="Scholarship">
				<div>
					<div layout="row">
						<md-input-container class="md-block" flex-gt-sm="25">
							<label>Scholarship No</label>
							<input type="text" ng-model="vm.model.schoID" ng-disabled="true" />
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm="50">
							<label>Scholarship Type</label>
							<lookup-selector lkp="scholarshipTypes" ng-model="vm.model.scholCode" ng-disabled="!vm.isEditing" />
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm="25">
							<label>Scholarship Year</label>
							<input type="number" ng-model="vm.model.schrYear" ng-disabled="!vm.isEditing" ng-required="true" />
						</md-input-container>

					</div>

					<div layout="row">
						<md-input-container class="md-block" flex-gt-sm="50">
							<label>Institution</label>
							<lookup-selector lkp="scholarshipInstitutions" ng-model="vm.model.schoInst" ng-disabled="!vm.isEditing" ng-required="true" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm="25">
							<label>Major</label>
							<lookup-selector lkp="fieldsOfStudy" ng-model="vm.model.schoFos" ng-disabled="!vm.isEditing" ng-required="true" />
						</md-input-container>

						<md-input-container flex
																ng-class="{'md-input-has-value' : vm.model.schoFos}">

							<label>{{"Field of Study Group" | vocab }}</label>
							<p>{{vm.model.schoFos | lookup:'fieldsOfStudy':'G' | lookup:'fieldOfStudyGroups'}}</p>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex-gt-sm="50">
							<label>Subject</label>
							<input type="text" @Html.ngBindTo(x => x.schoSubject) ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm="25">
							<label>School GPA</label>
							<input type="number" @Html.ngBindTo(x => x.schoGPA) ng-disabled="!vm.isEditing" />
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container class="md-block" flex-gt-sm="50">
							<label>Scholarship Status</label>
							<lookup-selector lkp="scholarshipStatus" ng-model="vm.model.schoStatus" ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Status Date</label>
							<md-datepicker ng-model="vm.model.schoStatusDate" ng-disabled="!vm.isEditing"></md-datepicker>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Expected Completion</label>
							<md-datepicker ng-model="vm.model.schoExpectedCompletion" ng-disabled="!vm.isEditing"></md-datepicker>
						</md-input-container>
					</div>
					<div layout="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>Date Applied</label>
							<md-datepicker ng-model="vm.model.schoAppliedDate" ng-disabled="true"></md-datepicker>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Date Compliant</label>
							<md-datepicker ng-model="vm.model.schoCompliantDate" ng-disabled="true"></md-datepicker>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Date Awarded</label>
							<md-datepicker ng-model="vm.model.schoAwardedDate" ng-disabled="true"></md-datepicker>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Date Completed</label>
							<md-datepicker ng-model="vm.model.schoCompletedDate" ng-disabled="true"></md-datepicker>
						</md-input-container>
					</div>

					<div layout="row">
						<md-input-container class="md-block" flex>
							<label>Note</label>
							<textarea ng-model="vm.model.schoNote" ng-disabled="!vm.isEditing" />

						</md-input-container>

					</div>
				</div>
				<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
					<md-card-content>
						<md-icon class="material-icons">info</md-icon>
						<span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
					</md-card-content>
				</md-card>


			</md-tab>
			@* don't show the student info tab when adding a new student via student id*@
			<md-tab label="Student Info" ng-disabled="(vm.isNew && vm.model.stuID != null)">

				<div layout="column" class="md-inline-form">
					<md-content layout-padding>
						<div>

							@*novalidate class="form-custom-validation"*@

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex="50">
									<label>Student ID</label>
									@* don't need required on this, becuase it will be server-supplied on new record *@
									<input type="text" ng-model="vm.model.stuID" ng-disabled="true" />
								</md-input-container>
								<span permission permission-only="StudentRead">
									<md-button lass="md-icon-button" ng-click="vm.showstudent()" ng-disabled="vm.isEditing || vm.model.stuID == null">
										<md-icon class="material-icons md-24 md-dark">more_horiz</md-icon>
										<md-tooltip>Show full student record</md-tooltip>
									</md-button>
								</span>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Student Card ID</label>
									@* also not required -a schlarship holder may not have a card id?*@
									<input type="text" ng-model="vm.model.stuCardID" ng-disabled="!vm.isEditing" />
								</md-input-container>

								@*<md-input-container class="md-block" flex-gt-sm>
										<label>Name Prefix</label>
										<input type="text" ng-model="vm.model.stuNamePrefix" ng-disabled="!vm.isEditing" />
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Name Suffix</label>
										<input type="text" ng-model="vm.model.stuNameSuffix" ng-disabled="!vm.isEditing" />
									</md-input-container>*@

								<md-input-container class="md-block" flex-gt-sm>
									<label>Given Name</label>
									<input type="text" ng-model="vm.model.stuGiven" ng-disabled="!vm.isEditing" required />
								</md-input-container>


								<md-input-container class="md-block" flex-gt-sm>
									<label>Middle Names</label>
									<input type="text" ng-model="vm.model.stuMiddleNames" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Family Name</label>
									<input type="text" ng-model="vm.model.stuFamilyName" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								@*<md-input-container class="md-block" flex-gt-sm>
										<label>Family Name Soundex</label>
										<input type="text" ng-model="vm.model.stuFamilySoundex" ng-disabled="!vm.isEditing" />
									</md-input-container>*@
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Gender</label>
									<lookup-selector lkp="gender" ng-model="vm.model.stuGender" ng-disabled="!vm.isEditing"
																	 ng-required="vm.model.stuID == null || !(vm.isNew)" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Marital Status</label>
									<lookup-selector lkp="maritalStatus" ng-model="vm.model.stuMaritalStatus" ng-disabled="!vm.isEditing" />
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Ethnicity</label>
									<lookup-selector lkp="ethnicities" ng-model="vm.model.stuEthnicity" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Date of Birth</label>
									@* require if we are creating a new student with the scholarship *@
									<md-datepicker ng-model="vm.model.stuDoB" ng-disabled="!vm.isEditing"
																 ng-required="vm.model.stuID == null || !(vm.isNew) "></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<md-checkbox ng-model="vm.model.stuDoBEst"
															 ng-true-value="1" ng-false-value="null"
															 ng-disabled="!vm.isEditing">Is the Date of Birth Estimated?</md-checkbox>
								</md-input-container>
							</div>

						</div>
					</md-content>
				</div>
			</md-tab>

			@if (ViewBag.SpecialEd == "SpecialEd")
			{
				<md-tab label="Special Education" ng-disabled="vm.isNew">
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Disability</label>
							<lookup-selector lkp="disabilities" ng-model="vm.model.stueSpEdDisability" ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>English Learner</label>
							<lookup-selector lkp="spEdEnglishLearner" ng-model="vm.model.stueSpEdEnglish" ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Environment</label>
							<lookup-selector lkp="spEdEnvironment" ng-model="vm.model.stueSpEdEnv" ng-disabled="!vm.isEditing" />
						</md-input-container>
					</div>
					<div layout="column" layout-gt-sm="row">
						<md-input-container flex>
							<md-checkbox ng-model="vm.model.stueSpEdIEP"
													 ng-true-value="1" ng-false-value="0"
													 ng-disabled="!vm.isEditing">Has IEP</md-checkbox>
						</md-input-container>
					</div>

					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Accommodations</label>
							<lookup-selector lkp="spEdAccommodations" ng-model="vm.model.stueSpEdAccommodation" ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Assessment Type</label>
							<lookup-selector lkp="spEdAssessmentTypes" ng-model="vm.model.stueSpEdAssessment" ng-disabled="!vm.isEditing" />
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Exiting</label>
							<lookup-selector lkp="spEdExits" ng-model="vm.model.stueSpEdExit" ng-disabled="!vm.isEditing" />
						</md-input-container>

					</div>
				</md-tab>

			}

			<md-tab label="Enrollment List" ng-disabled="vm.isNew">
				<component-scholarship-enrollment-list scholarship="vm.model" enrollments="vm.model.Enrollments"></component-scholarship-enrollment-list>
			</md-tab>

			@*<md-tab label="Scorecards" ng-disabled="!vm.model.Surveys.length">
					<component-scorecards-list scorecards="vm.model.Scorecards"></component-scorecards-list>
				</md-tab>*@

			<md-tab label="Documents" ng-disabled="vm.isNew">
				<component-scholarship-links links="vm.model.Documents" scholarship="vm.model"></component-scholarship-links>
			</md-tab>

			<md-tab label="Reports" ng-disabled="vm.isNew">
				<report-list folder="Scholarship" context="{ScholarshipID: vm.model.schoID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
			</md-tab>
			<md-tab label="Audit Log" ng-disabled="vm.isNew">
				<component-scholarship-audit-list audit="vm.model.Audit" scholarship="vm.model"></component-scholarship-audit-list>
			</md-tab>
		</md-tabs>
	</form>
	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>
