﻿<h4>Search/Filter Dataset</h4>

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Student Card ID</label>
    <input ng-model="vm.params.StudentCardID" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Given Name</label>
    <input ng-model="vm.params.StudentGiven" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Family Name</label>
    <input ng-model="vm.params.StudentFamilyName" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Gender</label>
    <lookup-selector lkp="gender"
                     ng-model="vm.params.StudentGender"
                     ng-disabled="vm.findConfig.isLocked('StudentGender')">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Ethnicity</label>
    <lookup-selector lkp="ethnicities"
                     ng-model="vm.params.StudentEthnicity"
                     ng-disabled="vm.findConfig.isLocked('StudentEthnicity')">
    </lookup-selector>
  </md-input-container>
</div>
<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>Scholarship type</label>
		<lookup-selector lkp="scholarshipTypes"
										 ng-model="vm.params.ScholarshipType"
										 ng-disabled="vm.findConfig.isLocked('ScholarshipType')">
		</lookup-selector>
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Scholarship Year</label>
		<input ng-model="vm.params.ScholarshipYear" type="number" />
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Scholarship Status</label>
		<lookup-selector lkp="scholarshipStatus"
										 ng-model="vm.params.ScholarshipStatus"
										 ng-disabled="vm.findConfig.isLocked('ScholarshipStatus')">
		</lookup-selector>
	</md-input-container>
</div>
	<div layout-gt-xs="row">
		@* find a student by enrolment - at a school, in a year in a grade *@
		<md-input-container class="md-block" flex-gt-sm>
			<label>Enrolled At</label>
			<lookup-selector lkp="scholarshipInstitutions"
											 ng-model="vm.params.EnrolledAt"
											 ng-disabled="vm.findConfig.isLocked('EnrolledAt')">
			</lookup-selector>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>In Year</label>
			<input ng-model="vm.params.EnrolYear" type="number" />
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>In Grade</label>
			<lookup-selector lkp="tertiaryGrades"
											 ng-model="vm.params.EnrolLevel"
											 ng-disabled="vm.findConfig.isLocked('EnrolLevel')">
			</lookup-selector>
		</md-input-container>


	</div>

	<section layout="row" layout-align="center center">
		<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
		<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
	</section>
