﻿

@section title {
	Study : {{vm.model.posID}} {{vm.model.posYear }}-{{vm.model.posSemester}}

}

@section icon {
	<i class="fa fa-graduation-cap"></i>&nbsp;
}
@section tools {}
@section actions {}

<div ng-show="vm.showErrors()">
	The form cannot be saved because the data is incomplete or invalid
</div>
<div>
	<form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">
		<div layout="column">
			<div layout="row">
				<md-input-container class="md-block" flex="25">
					<label>Year</label>
					@* the input has to have a name to be part of the form error handling *@
					<input type="number" name="posYear"
								 ng-model="vm.model.posYear" ng-disabled="!vm.isEditing"
								 ng-min="vm.minYear" ng-max="vm.maxYear" />
					<div ng-messages="vm.modelForm.posYear.$error">
						<ng-message when="max">
							Year must be between {{vm.minYear}} and {{vm.maxYear}}
						</ng-message>
						<ng-message when="min">
							Year must be between {{vm.minYear}} and {{vm.maxYear}}
						</ng-message>
					</div>
				</md-input-container>
				<md-input-container flex="25">
					<label>Term/Semester</label>
					<input type="number" name="posSemester"
								 ng-model="vm.model.posSemester" ng-disabled="!vm.isEditing"
								 ng-min="1" ng-max="3" />
				</md-input-container>
				<md-input-container flex>
					<label>Enrolment Level</label>
					<lookup-selector lkp="tertiaryGrades" ng-model="vm.model.gyIndex" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Proposed Institution</label>
					<lookup-selector lkp="scholarshipInstitutions" ng-model="vm.model.instCode" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex="50">
					<label>Major</label>
					<lookup-selector lkp="fieldsOfStudy" ng-model="vm.model.fosCode" ng-disabled="!vm.isEditing" />
				</md-input-container>
				<md-input-container flex
														ng-class="{'md-input-has-value' : vm.model.fosCode}">

					<label>{{"Field of Study Group" | vocab }}</label>
					<p>{{vm.model.fosCode | lookup:'fieldsOfStudy':'G' | lookup:'fieldOfStudyGroups'}}</p>
				</md-input-container>

			</div>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Subject</label>
					<input type="text" ng-model="vm.model.posSubject" maxlength="200" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex="50">
					<label>Amount Paid</label>
					<input type="number" name="posAmount"
								 ng-model="vm.model.posAmount" ng-disabled="!vm.isEditing" />
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Date Paid</label>
					<md-datepicker ng-model="vm.model.posPaid" ng-disabled="!vm.isEditing"
												 ng-required="vm.model.posAmount"></md-datepicker>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container flex="50">
					<label>GPA</label>
					<input type="number" name="posGPA"
								 ng-model="vm.model.posGPA" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
		</div>
		<div layout="row">
			<div>{{vm.message}}</div>
		</div>
	</form>
</div>