﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<div>
		Scholarship Test
	</div>
	<div>
		<school-finder ng-model="foo"></school-finder>
		<p>
			{{foo}}
		</p>
	</div>
	<div>
		<teacher-finder ng-model="tfoo"></teacher-finder>
		<p>
			{{tfoo}}
		</p>

	</div>
	<div>
		<student-finder ng-model="sfoo"></student-finder>
		<p>
			{{sfoo}}
		</p>

	</div>
</body>
</html>
