﻿@section title {
	{{(vm.model.trQual|lookup:'teacherQuals':'G') === 'FSM Certification' ? 'Certification' : 'Qualification'}}
	: {{vm.model.trYear}} {{vm.model.trQual |lookup:'teacherQuals'}}
}

@section icon {
	school
}
@section tools {}
@section actions {}

<div ng-show="vm.showErrors()">
	The form cannot be saved because the data is incomplete or invalid
</div>
<form layout="column"
			novalidate
			class="form-custom-validation form-horizontal"
			name="vm.modelForm"
			ng-submit="vm.save()"
			role="form">

	<md-input-container md-is-error="vm.showErrors('trQual')"
											ng-class="{'md-input-invalid': vm.showErrors('trQual')}">
		<lookup-selector placeholder="Qualification"
										 name="trQual"
										 lkp="teacherQuals"
										 ng-model="vm.model.trQual"
										 ng-disabled="!vm.isEditing"
										 ng-required="true" />
		<div ng-messages="vm.modelForm.trQual.$error" ng-show="vm.showErrors('trQual')">
			<ng-message when="required">Qualification is required</ng-message>
		</div>
	</md-input-container>

	<div class="conditional"
			 ng-if="(vm.model.trQual|lookup:'teacherQuals':'G') === 'FSM Certification'" layout="row">
		<md-input-container style="min-width:300px">
			<md-datepicker placeholder="Effective Date"
										 name="trEffectiveDate"
										 ng-required="true"
										 ng-model="vm.model.trEffectiveDate"
										 ng-disabled="!vm.isEditing" />
			<div ng-messages="vm.modelForm.trEffectiveDate.$error" ng-show="vm.showErrors('trEffectiveDate')">
				<ng-message when="required">Effective Date is required</ng-message>
			</div>
		</md-input-container>

		<md-input-container style="min-width:300px">
			<md-datepicker placeholder="Expiry Date"
										 name="trExpirationDate"
										 ng-model="vm.model.trExpirationDate"
										 ng-disabled="!vm.isEditing" />

		</md-input-container>
	</div>

	<div class="conditional"
			 ng-if="(vm.model.trQual|lookup:'teacherQuals':'G') === 'Academic Degree'" layout="column">

		@* Only use trYear for qualification (academic degrees) but not for certifications above where it will be
			set automatically with a SQL trigger *@
		<md-input-container>
			<input placeholder="Year"
						 name="trYear"
						 type="number"
						 ng-model="vm.model.trYear"
						 ng-disabled="!vm.isEditing"
						 ng-min="vm.minYear"
						 ng-max="vm.maxYear" />
			<div ng-messages="vm.modelForm.trYear.$error">
				<ng-message when="max">Year must be between {{vm.minYear}} and {{vm.maxYear}}</ng-message>
				<ng-message when="min">Year must be between {{vm.minYear}} and {{vm.maxYear}}</ng-message>
			</div>
		</md-input-container>

		<md-input-container>
			<input placeholder="Institution"
						 name="trInstitution"
						 ng-required="true"
						 type="text"
						 ng-model="vm.model.trInstitution"
						 ng-disabled="!vm.isEditing" />
			<div ng-messages="vm.modelForm.trInstitution.$error" ng-show="vm.showErrors('trInstitution')">
				<ng-message when="required">Institution is required</ng-message>
			</div>
		</md-input-container>

		<div layout="row">
			<md-input-container flex>
				<label>Major</label>
				<lookup-selector name="trMajor" lkp="subjects"
												 ng-model="vm.model.trMajor" ng-disabled="!vm.isEditing"></lookup-selector>
			</md-input-container>
			<md-input-container flex>
				<label>Minor</label>
				<lookup-selector name="trMinor" lkp="subjects"
												 ng-model="vm.model.trMinor" ng-disabled="!vm.isEditing"></lookup-selector>
			</md-input-container>
		</div>

		<md-input-container>
			<input placeholder="Duration (Years)"
						 name="trDuration"
						 type="number"
						 ng-model="vm.model.trDuration" ng-disabled="!vm.isEditing"
						 ng-min=1 />
			<div ng-messages="vm.modelForm.trDuration.$error">
				<ng-message when="min">Duration must be at least 1 year</ng-message>
			</div>
		</md-input-container>
	</div>

	<div ng-if="vm.model.trQual" layout="column">
		<p style="font-size: small; color:#9f9f9f;">Completed?</p>
		<md-input-container>
			<md-radio-group ng-model="vm.model.trComplete"
											ng-disabled="!vm.isEditing"
											layout="row">
				<md-radio-button ng-value="true">Yes</md-radio-button>
				<md-radio-button ng-value="false">No</md-radio-button>
			</md-radio-group>
		</md-input-container>

		<md-input-container class="conditional"
												ng-if="vm.model.trComplete !== Null && vm.model.trComplete === false">
			<input placeholder="Progress (%)"
						 type="text"
						 ng-model="vm.model.trProgressPerc"
						 ng-disabled="!vm.isEditing" />
		</md-input-container>

		<md-input-container>
			<textarea placeholder="Comment"
								rows="2"
								ng-model="vm.model.trComment"
								ng-disabled="!vm.isEditing"
								ng-maxlength="50"
								maxlength="50" />
		</md-input-container>
	</div>
</form>
