﻿@* calculation of KR-20*@
<div>
	<table>
		<tr>
			<td>No of items:</td>
			<td>{{vm.numItems}}</td>
		</tr>
		<tr>
			<td>Sum of item variances</td>
			<td>{{vm.sumItemVarianceP| number:3}}</td>
		</tr>
		<tr>
			<td>Variance of total</td>
			<td>{{vm.totalScoreVarianceP| number:3}}</td>
		</tr>
		<tr>
			<td>Standard Dev of total</td>
			<td>{{vm.totalScoreStdDev| number:3}}</td>
		</tr>
		<tr>
			<td>Alpha</td>
			<td>{{vm.alpha | number:3}}</td>
		</tr>
		<tr>
			<td>Standard Error of Measurement</td>
			<td>{{vm.standardErrorOfMeasurement| number:3}}</td>
		</tr>


	</table>
</div>

<div ng-repeat="item in vm.model.ItemAnalysis">

	<exam-item-analysis exam="vm.model" item="item"></exam-item-analysis>
</div>
