﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	{{vm.isNew? 'New Exam': 'Exam: ' + vm.model.exCode + '(' + vm.model.exYear + ')'}}
}

<div class="appform">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		@*<md-tab label="Dashboard" ng-disabled="vm.isNew">
				<div class="row">
				</div>
			</uib-tab>*@

		<md-tab label="Exam Info">

			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h3>General Information</h3>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam ID</label>
									<input type="text" ng-model="vm.model.exID" ng-disabled="true" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Code</label>
									<input type="text" ng-model="vm.model.exCode" ng-disabled="!vm.isEditing" required />
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Year</label>
									<input type="number" ng-model="vm.model.exYear" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Uploaded By</label>
									<input type="text" ng-model="vm.model.exUser" ng-disabled="true" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Uploaded Date</label>
									<md-datepicker ng-model="vm.model.exDate" md-placeholder="Enter date"></md-datepicker>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Candidates</label>
									<input type="number" ng-model="vm.model.exCandidates" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Exam Marks</label>
									<input type="number" ng-model="vm.model.exMarks" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.exUser}} {{vm.model.exDate | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

		@*<md-tab label="Scorecards" ng-disabled="!vm.model.Surveys.length">
				<component-scorecards-list scorecards="vm.model.Scorecards"></component-scorecards-list>
			</md-tab>

			<md-tab label="Documents">
				<component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
			</md-tab>*@
		<md-tab label="Structure">
			<exam-frame rowset="vm.model.ExamFrame" is-editing="true"></exam-frame>
		</md-tab>
		<md-tab label="Results">
			<div layout="column" fit-content>
				<exam-school-chart exam="vm.model"
													 layout="column">

				</exam-school-chart>
			</div>
		</md-tab>

		<md-tab label="Table">
			<md-content>
				<exam-school-crosstab exam="vm.model"
															layout="column">

				</exam-school-crosstab>
			</md-content>
		</md-tab>

		<md-tab label="Test Analysis">
			<md-content>
				<exam-analysis model="vm.model">
				</exam-analysis>
			</md-content>
		</md-tab>

		@*There are no individual JasperReports to list. If they ever get designed this tab can be shown*@
		@*<md-tab label="Reports">
			<md-content ng-show="false">
				<report-list folder="Exam" context="{ExamID: vm.model.exID, ExamYear: vm.model.exYear}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
			</md-content>
		</md-tab>*@

	</md-tabs>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>
