﻿
<div style="padding:10px;margin-top:30px;background-color:#f8f8f8" class="primary">
	<h4>Question {{vm.itemNo}}</h4>
</div>
<div layout="row">
	<div flex>
		<table>
			<tr>
				<td>
					Expected Difficulty:
				</td>
				<td>{{vm.expectedDifficulty}}</td>
				<td><span ng-show="vm.expectedDifficulty == vm.assessedDifficulty"><md-icon>check</md-icon></span></td>

			</tr>
			<tr ng-show="vm.expectedDifficulty != vm.assessedDifficulty">
				<td>
					Assessed Difficulty:
				</td>
				<td>{{vm.assessedDifficulty}}</td>
				<td></td>

			</tr>
		</table>

	</div>
	<div flex>
		<table>
			<tr>
				<td>
					Standard:
				</td>
				<td>{{vm.standard.Code}}</td>
				<td>{{vm.standard.Description}}</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>
					Benchmark:
				</td>
				<td>{{vm.benchmark.Code}}</td>
				<td>{{vm.benchmark.Description}}</td>
				<td></td>
			</tr>
			<tr>
				<td>
					Indicator:
				</td>
				<td>{{vm.indicator.Code}}</td>
				<td>{{vm.indicator.Description}}</td>
				<td></td>
			</tr>
			<tr>
				<td>Item Code:</td>
				<td colspan="2">{{vm.item.exItemCode}}</td>
			</tr>
		</table>
	</div>
</div>
<div layout="row" style="padding-top:20px;min-height:300px">
	<div layout="column" flex="30">
		<table>
			<tr ng-repeat="r in ['A','B','C','D','E','F']" ng-style="
									{'background-color': r==vm.item.iaAnswer?vm.answercolor:'inherit',
										'font-weight': r==vm.item.iaAnswer?'bold':'inherit'
									}"
				ng-show="vm.item[r]"
				>
				@* point to the correct answer*@
				<td><span ng-show="r==vm.item.iaAnswer">*</span></td>
				<td>{{r}}</td>
				<td>{{vm.item[r]}}</td>
				<td ng-style="{'color': r!=vm.item.iaAnswer && vm.item[r]&gt;=vm.item.iaCorrect?'red':'inherit',
										'font-weight': r!=vm.item.iaAnswer && vm.item[r]&gt;=vm.item.iaCorrect?'bold':'inherit'
										}
										">
					{{vm.item[r]/vm.item.iaResponses | percent:1}}
				</td>
				<td><span ng-show="vm.item[r]"><md-icon ng-style="{'color': vm.palette[$index]}">circle</md-icon></span></td>

			</tr>
		</table>
	</div>
	<div layout="column" flex>
		<row-col-chart dataset="{
									collection:[
										{ID: 'A', v:vm.item.A},
										{ID:'B', v:vm.item.B},
										{ID:'C', v:vm.item.C},
											{ID:'D', v:vm.item.D},
											{ID:'E', v:vm.item.E},
											{ID:'F', v:vm.item.F}

									],
									columns:['v']
									}
												 " layout-fill layout="column"
					   charttype="pie"
					   colors="vm.palette"
					   on-chart-render="vm.renderResponseChart(option)"
					   allowed-types="'all'"></row-col-chart>
	</div>

</div>

<h5>Discrimination Index</h5>
<div layout="row" style="padding-top:20px;min-height:300px">

	<div layout="column" flex="30">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Candidates</th>
					<th>Correct</th>
					<th></th>
				</tr>
			</thead>
			<tr>
				<td>Top 27%</td>
				<td>{{vm.item.iaTopCount}}</td>
				<td>{{vm.item.iaTopScore}}</td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom 27%</td>
				<td>{{vm.item.iaBottomCount}}</td>
				<td>{{vm.item.iaBottomScore}}</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">Discrimination Index</td>
				<td>{{vm.item.iaDI |number:3}}</td>
			</tr>
		</table>

	</div>
</div>