﻿@*
	Confirmation to proess upload of Ndoe data
		uses MaterialLayoutDialog
*@

@section icon {
	<i class="fa fa-book"></i>
}

@section title {
	Exam Uploaded
}

@section tools {
}

@* body *@
<div layout="column">
	<div class="row" layout="row">
		<strong>Exam Details</strong>
	</div>
	<div class="row" layout="row">
		<div flex="40">Exam Name:</div><div flex>{{vm.info.examName}}</div>
	</div>
	<div class="row" layout="row">
		<div flex="40">Year:</div><div flex>{{vm.info.examYear}}</div>
	</div>
	<div class="row" layout="row">
		<div flex="40">Students:</div><div flex>{{vm.info.students}}</div>
	</div>
	<div class="row" layout="row">
		<div flex="40">Results:</div><div flex>{{vm.info.results}}</div>
	</div>
	<div class="row" layout="row">
		<div flex="40">File ID:</div><div flex>{{vm.info.id}}</div>
	</div>
	<div class="row" layout="row" ng-show="vm.info.exam">
		<div flex="40">Uploaded By:</div><div flex>{{vm.info.exam.exUser}}</div>
	</div>

	@*<div class="row"><div class="xs-col-9">Year:</div><div class="xs-col-3">{{vm.info.examYear}}</div></div>
		<div class="row"><div class="xs-col-9">Students:</div><div class="xs-col-3">{{vm.info.students}}</div></div>
		<div class="row"><div class="xs-col-9">Results:</div><div class="xs-col-3">{{vm.info.results}}</div></div>
		<div class="row"><div class="xs-col-9">File ID:</div><div class="xs-col-3">{{vm.info.id}}</div></div>*@

	@* show the details of any previously loaded version of this exam *@
	<div ng-show="vm.info.exam">
		<div class="row" layout="row">
			<strong>Note that the results for this exam have already been loaded:</strong>
		</div>
		<div class="row" layout="row">
			<div flex="40">Exam Code:</div><div flex>{{vm.info.exam.exCode}}</div>
		</div>
		<div class="row" layout="row">
			<div flex="40">Year:</div><div flex>{{vm.info.exam.exYear}}</div>
		</div>
		<div class="row" layout="row">
			<div flex="40">Students:</div><div flex>{{vm.info.exam.exCandidates}}</div>
		</div>
		<div class="row" layout="row">
			<div flex="40">Results:</div><div flex>{{vm.info.exam.exMarks}}</div>
		</div>
		<div class="row" layout="row">
			<div flex="40">File ID:</div><div flex><a href="library/{{vm.info.exam.docID}}">{{vm.info.exam.docID}}</a> </div>
		</div>
		<div class="row" layout="row">
			<div flex="40">Uploaded By:</div><div flex>{{vm.info.exam.exUser}}</div>
		</div>
		<div class="row" layout="row">
			<div flex="40">Uploaded Data:</div><div flex>{{vm.info.exam.exDate | date:"d-MMM-yyyy"}}</div>
		</div>
	</div>
</div>
@section actions {
	<md-button ng-click="vm.returnSuccess()" class="md-primary">
		<span ng-show="!vm.info.exam">Process this file</span>
		<span ng-show="vm.info.exam">Reprocess this exam</span>
	</md-button>
	<md-button ng-click="vm.returnFail()" class="md-primary">
		Cancel - discard this data
	</md-button>
}
