﻿@* Dashboard Child - master template used by dashboard children

	This template defines a standard structure to express the functionality of a dashboard component.
	It comprises these sections:

	title
		- the title of the dashboard child item

	filters
		- display of any filters that are currently applied to the item

	component options
		-	componentOptions are options that relate specifically to the contents of this component
			it is not meaningful to add this to the main options used on the dashboard
			It is not synchronised to any other component


	whenSelected
		- section to display only when the component is 'selected' ie in full page view

  (the body of the component)

  this template provides means to run the associated report, if any

*@

<div id="{{vm.componentId}}"
		 class="dashboard-child"
		 ng-class="{ 'selected': vm.isSelected(),
                 'unselected': vm.isUnselected(),
                 'md-whiteframe-24dp': vm.isSelected()
                }"
		 layout="column" style="height:100%">
	@* header area *@
	<div layout="row" class="dashboard-header">
		<md-button class="md-icon-button" ng-click="vm.toggleSelected()">
			<i class="fa "
				 ng-class="{'fa-expand': !vm.isSelected(), 'fa-compress': vm.isSelected()}">
			</i>
		</md-button>
		<div flex layout-padding layout="row">
			<span layout-align="start end" flex>
				<span style="font-size:16px">@RenderSection("title", false)</span>
				<span class="filters">@RenderSection("filters", false)</span>
			</span>

			<span layout-align="end">
				<span class="componentOptions">@RenderSection("componentOptions", required: false)</span>
			</span>

		</div>

		<div>
			<span ng-if="vm.hasReport()">
				<md-button class="md-icon-button" ng-click="vm.runReport()">
					<img src="assets/img/file-pdf-icon-24.png" />
				</md-button>
			</span>
		</div>
	</div> @* end of header*@
	<div layout="column" ng-show="vm.isSelected()">
		@RenderSection("whenSelected", required: false)
	</div>
	<div layout="column" flex>
		@RenderBody()
	</div>
</div>
