﻿@*

	DEPRECATION WARNING: Dashboard pages are now renders using another approach which is more
	flexible. See Shared/RenderFrame.cshtml view. This is left here for now but should not be
	used and will be removed in the near future.

	Dashboard - master template used by dashboards

	This template defines a standard structure to express the functionality of a dashboard.
	It comprises these sections:

	options
		- the title of the dashboard child item

	children
		- this area is where the dashboard children go
		This area is wrapped in a masonry div, that uses the dashboard-wrapper class
		to identify the masonry 'bricks'.

	Template body goes between these two blocks

*@


<div>

	<panel panel-class=""
				 heading="{{vm.folder}} Dashboard"
				 panel-icon="dashboard"
				 panel-control-collapse="true">

		<panel-controls>
			<md-button class="md-icon-button" ng-click="vm.showFilter = !vm.showFilter">
				<md-icon class="material-icons md-24">search</md-icon>
				<md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
			</md-button>
		</panel-controls>

		<div ng-show="vm.showFilter">
			@* the options editor goes in here. this will be customised to expose the
				particular fields in CoreOptions (or, possibly, a derived class of coreoptions)
				that are relevant in this dashboard
			*@
			<!-- dashboard options -->
			@RenderSection("options")
		</div>

		<div style="margin-bottom:5px;margin-top:5px">
			@* body will usually not be needed, but provides a chance to get aother material on to the
				dashboard, outside the masonry wrapper
			*@
			<!-- body -->
			@RenderBody()
		</div>
		<div class="dashboard-wall"
				 @* use md-colors to keep with theming *@
				 md-colors="::{background:'primary-100'}"
				 data-masonry='{"itemSelector": ".dashboard-wrapper", "columnWidth": 150 }'>
			@* dashboard children go here
					children look like this

				<enrol-district-chart class="dashboard-wrapper height2 width3"
															dashboard="::vm.dashboard"
															selected-child="vm.selectedChild"
															option-change="vm.optionChange">
				</enrol-district-chart>

				they must all these binding attributes specified. Choose the height and width classes to determine the brick size
				in masonry
			*@
			<!-- dashboard children -->
			@RenderSection("children")
		</div>

	</panel>

</div>