﻿@*
  Provides a standard framework for wrapping a process into an
  angular-material dialog

  classes - classes desgined to subclass 
    md-toolbar-tools
    md-dialog-content
    md-dialog-actions
  include:
    picture-dialog....
    condensed-dialog....
    edit-dialog...
*@
<md-dialog class="@RenderSection("class", false)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-icon class="material-icons md-24">@RenderSection("icon", false)</md-icon>
			&nbsp;
			@if (IsSectionDefined("title"))
			{
			@RenderSection("title", false)
			}
			else
			{
					<span>{{vm.title}}</span>	@* so title can be passed by locals *@
			}
			<span flex></span>
			@RenderSection("tools", false)
			<md-button class="md-icon-button" ng-click="vm.closeDialog()">
				<i aria-label="Close dialog" class="material-icons">&#xE5CD;</i>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			@RenderBody()
				<div ng-if="vm.state=='confirm'">
					@if (IsSectionDefined("confirm"))
					{
						@RenderSection("confirm", false)
					}
					else
					{
						<div>{{vm.confirmMessage}}</div>
					}
				</div>
				<div ng-if="vm.state=='inprogress'">
					@if (IsSectionDefined("inprogress"))
					{
						@RenderSection("inprogress", false)
					}
					else
					{
						<div>{{vm.inprogressMessage}}</div>
					}
				</div>
				<div ng-if="vm.state=='success'">
					@if (IsSectionDefined("success"))
					{
						@RenderSection("success", false)
					}
					else
					{
						<div>{{vm.successMessage}}</div>
					}


				</div>
				<div ng-if="vm.state=='fail'">
					@if (IsSectionDefined("fail"))
					{
						@RenderSection("fail", false)
					}
					else
					{
						<div>{{vm.failMessage}}</div>
					}
				</div>
			</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" ng-if="vm.state=='confirm'">
		<md-button ng-click="vm.state='inprogress'">Proceed</md-button>
		<md-button ng-click="vm.closeDialog()">Cancel</md-button>
	</md-dialog-actions>
	<md-dialog-actions layout="row" ng-if="vm.state=='inprogress'">
	</md-dialog-actions>
	<div ng-if="vm.state=='inprogress'">
	</div>
	<md-dialog-actions layout="row" ng-if="vm.state=='success'">
		<md-button ng-click="vm.returnSuccess(vm.successMessage)">Close</md-button>
	</md-dialog-actions>
	<md-dialog-actions layout="row" ng-if="vm.state=='fail'">
		<md-button ng-click="vm.returnFail(vm.failMessage)">Exit</md-button>
	</md-dialog-actions>
</md-dialog>