﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@(ViewBag.Title.Length > 0 ? ViewBag.Title : "Pacific EMIS")</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An education management information system for small Pacific countries">
  <meta name="author" content="Soft Words Pty Ltd">

  <link rel="shortcut icon" href="favicon.ico?v=3">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  @RenderSection("styles")

  @Styles.Render("~/_styles/vendor")
  @Styles.Render("~/_styles/app")

  @RenderSection("fonts")

  <style type="text/css">
    [ng-cloak] {
      display: none;
    }
  </style>

</head>

<body class=""
			ng-app="pineapples"
			ng-controller="AppController as vm"
			ng-class="{
              'fullscreen': vm.style_fullscreen,
              'collapse-navbar': vm.style_navbarCollapsed && !vm.style_navbarShown,
              'show-navbar': vm.global
            }"
			ng-cloak
			ng-strict-di layout="row">

	<md-sidenav ng-if="vm.identity.isSet" id="sidenav" md-component-id="navBar" md-is-open="vm.sidenavOpen" md-is-locked-open="$mdMedia('gt-sm')" layout="column">
		<header ng-if="!vm.style_navbarCollapsed" class="nav-header">
			<div class="pineapples-logo">
				<img src="asset/logo" style="width:150px;" aria-label="Logo" />
				<h1 class="pineapples-logotype md-heading">@(ViewBag.title)</h1>
			</div>
		</header>
		<nav>
			<navigator is-set="vm.identity.isSet" user-name="vm.identity.userName"></navigator>
		</nav>
	</md-sidenav>

	<div flex layout="column">

		<md-toolbar ng-if="vm.identity.isSet" class="md-whiteframe-glow-z1 site-content-toolbar md-site-toolbar-theme" md-theme="site-toolbar" role="banner">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button"
									 aria-label="Settings"
									 ng-click="vm.toggleNavBar()">
					<md-icon class="material-icons md-24">menu</md-icon>
				</md-button>
				<span flex></span>
				<md-menu ng-if="vm.identity.isAuthenticated">
					<md-button aria-label="Open phone interactions menu" ng-click="$mdMenu.open($event)" ng-show="vm.isLoggedIn()">
						<md-icon class="material-icons md-dark md-14">account_circle</md-icon>
						{{vm.userName()}}
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button><a ui-sref="site.profile"><md-icon class="material-icons md-24 md-dark">edit</md-icon>Profile</a></md-button>
						</md-menu-item>
						<md-divider></md-divider>
						<md-menu-item>
							<md-button><a ui-sref="site.changepassword"><md-icon class="material-icons md-24 md-dark">lock</md-icon>Change Password</a></md-button>
						</md-menu-item>
						<md-divider></md-divider>
						<md-menu-item>
							<md-button><a href="" ng-click="vm.logOut()"><md-icon class="material-icons md-24 md-dark">exit_to_app</md-icon>Sign Out</a></md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<div ng-if="vm.identity.isPublicAccess"><a ui-sref="signin">Sign in</a></div>
			</div>
		</md-toolbar>

		<md-content layout="column" flex>
			<div id="mainview" ui-view="" class="mainview-animation" style="overflow:auto" layout="column"></div>

			<div layout="row" layout-align="center center">
				<div id="pineapples-license-footer" flex>
					Pacific EMIS Project.
					Code licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License Version 3</a>.
				</div>
			</div>
		</md-content>

	</div>

	@* render the remotable bundle - either from the local server or via cdn *@
	<!-- remotables -->
	@RenderSection("scripts")

	<!-- vendor -->
	@Scripts.Render("~/_scripts/vendor")

	<!-- app -->
	@Scripts.Render("~/_scripts/app")

	<script>
		(function () {
			var orig = angular.module;
			angular.modules = [];
			angular.module = function () {
				var args = Array.prototype.slice.call(arguments);
				if (arguments.length > 1) {
					angular.modules.push(arguments[0]);
				}
				return orig.apply(null, args);
			}
		})();
	</script>

</body>

</html>
