﻿<div>
  <table class="md-table striped">
    <tr ng-repeat="logitem in vm.log.items">
      <td>{{logitem.Section}}</td>
      <td>{{logitem.Info}}</td>
      <td>{{logitem.Number}}</td>
      <td>{{logitem.Status}}</td>
      <td>{{logitem.Code}}</td>
    </tr>
  </table>
</div>
