﻿<!-- This template will be superseded by surveyContent.cshtml -->

<ol class="breadcrumb">
  <li><i class="fa fa-location-arrow"></i></li>
  <li>Enrolment Entry</li>
</ol>

<div layout="row" layout-margin class="layout-margin-hack">

  <panel panel-class="panel-primary"
         panel-icon="fa fa-table"
         heading="Retrieve and manipulate survey data"
         panel-collapse="true">

    <div class="enrolment-entry-spacing">
      <form novalidate class="form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">
        <div class="row">
          <div class="form-group">
            <label for="inputSchool" class="col-md-2 col-sm-4 control-label">School</label>
            <div class="col-md-4 col-sm-8" filter-editor url="api/selectors/school" on-changed="vm.schoolSelected" ng-model="vm.school" mode="finder" required></div><div class="col-md-6 col-sm-12" ng-hide="vm.school">Start typing a school name</div><div class="col-md-6 col-sm-12" ng-show="vm.school">Chosen school ID is {{vm.school.C}}</div>
          </div>
          <div class="form-group">
            <label for="inputYear" class="col-md-2 col-sm-4 control-label">Year</label>
            <div class="col-md-4 col-sm-8"><lookup-selector lkp="surveyYears" ng-model="vm.year" required /></div>
          </div>
          <div class="form-group">
            <label for="inputTable" class="col-md-2 col-sm-4 control-label">Table</label>
            <div class="col-md-4 col-sm-8"><lookup-selector lkp="tableDefs" ng-model="vm.tableName" required /></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <button class="btnClassGet" ng-click="vm.getPupilTable()">Get Table</button>
            <button class="btnClassSave" ng-click="vm.savePupilTable()">Save Table</button>
          </div>
        </div>
        <hr />
        <div pupil-table-grid pupil-table="vm.pupilTable"></div>
      </form>
    </div>

  </panel>
</div>
