﻿<table class="gendergrid" ng-show="vm.pupilTable.data != undefined">
    <colgroup>
        <col />
        <col width="20" ng-repeat-start="c in vm.pupilTable.cols" />
        <col width="20" ng-repeat-end />
        <col width="20" />
        <col width="20" />
        <col width="20" />
    </colgroup>

    <thead>
        <tr>
            <th class="colhdr">Age</th>
            <th class="colhdr" ng-class="{current: (vm.selectedCol == $index)}" colspan="2" ng-repeat="c in vm.pupilTable.cols">{{c.codeDescription}}</th>
            <th class="colhdr" colspan="3">Total</th>
        </tr>
        <tr>
            <th class="colghdr"></th>
            <th class="colghdr" ng-class="{current: (vm.selectedGender == 'M' && vm.selectedCol == $index)}" ng-repeat-start="c in vm.pupilTable.cols">M</th>
            <th class="colghdr" ng-class="{current: (vm.selectedGender == 'F' && vm.selectedCol == $index)}" ng-repeat-end>F</th>
            <th class="colghdr">M</th>
            <th class="colghdr">F</th>
            <th class="colghdr">Total</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="r in vm.pupilTable.rows">
            <td class="rowhdr"
                ng-class="{current: (vm.selectedRow == $index)}">
                {{r.codeDescription}}
            </td>
            <td class="colm" ng-class="{current: (vm.selectedCol == $index && vm.selectedRow == $parent.$index && vm.selectedGender == 'M')}" ng-repeat-start="c in vm.pupilTable.cols track by $index">
                <input ng-class="{current: (vm.selectedCol == $index && vm.selectedRow == $parent.$index && vm.selectedGender == 'M')}" type="number" onfocus="this.select();"
                       ng-disabled="vm.ngDisabled"
                       ng-model="vm.pupilTable.data[$parent.$index][$index].M"
                       ng-focus="vm.gridFocus($parent.$index,$index,'M')"
                       ng-blur="vm.gridBlur()"
                       ng-keydown="vm.gridkeydown($event,$parent.$index,$index,'M')"
                       sync-focus-with="vm.focusRequested($parent.$index,$index,'M')" />
            </td>
            <td ng-class="{current: (vm.selectedCol == $index && vm.selectedRow == $parent.$index && vm.selectedGender == 'F')}" ng-repeat-end>
                <input ng-class="{current: (vm.selectedCol == $index && vm.selectedRow == $parent.$index && vm.selectedGender == 'F')}" type="number" onfocus="this.select();"
                       ng-disabled="vm.ngDisabled"
                       ng-model="vm.pupilTable.data[$parent.$index][$index].F"
                       ng-focus="vm.gridFocus($parent.$index,$index,'F')"
                       ng-blur="vm.gridBlur()"
                       ng-keydown="vm.gridkeydown($event,$parent.$index,$index,'F')"
                       sync-focus-with="vm.focusRequested($parent.$index,$index,'F')" />
            </td>
            <td class="totg">{{vm.rowSum(vm.pupilTable.data,$index,'M') | z0}}</td>
            <td class="totg">{{vm.rowSum(vm.pupilTable.data,$index,'F') | z0}}</td>
            <td class="tot">{{vm.rowSum(vm.pupilTable.data,$index) | z0}}</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="rowhdr"></td>
            <td class="colm totg" ng-repeat-start="c in vm.pupilTable.cols track by $index">
                {{vm.colSum(vm.pupilTable.data,$index,'M') | z0}}
            </td>
            <td class="totg" ng-repeat-end>
                {{vm.colSum(vm.pupilTable.data,$index,'F') | z0}}
            </td>
            <!-- all gender totals-->
            <td class="totg">{{vm.gridSum(vm.pupilTable.data,'M') | z0}}</td>
            <td class="totg">{{vm.gridSum(vm.pupilTable.data,'F') | z0}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="rowhdr"></td>
            <td class="tot" colspan="2" ng-repeat="c in vm.pupilTable.cols track by $index">
                {{vm.colSum(vm.pupilTable.data,$index) | z0}}
            </td>
            <td></td>
            <td></td>
            <td class="tot">{{vm.gridSum(vm.pupilTable.data) | z0}}</td>
        </tr>
    </tfoot>

</table>