﻿@* Survey template (generic) *@
<div>
  <div class="alert alert-warning alert-smaller" role="alert" typeof="warning">
    <ul>
      <li><strong>Editing:</strong> {{vm.schoolSurvey.schNo}} : Year {{vm.schoolSurvey.svyYear}}</li>
      <li><strong>Note:</strong> This survey data is the same as collected from the PDF eSurvey and/or the main workbook data collection tool. It can be edited here but if the workbook is re-uploaded data will be again re-written.</li>
    </ul>
		
  </div>
	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Pupils" ng-disabled="vm.isNew">
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL_PRI"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL_SEC"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="REP"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="DIS"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="TRIN"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="TROUT"></pupil-table-panel>

		</md-tab>

		<md-tab label="Resources" ng-disabled="vm.isNew">
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Communications"></resource-list-panel>
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Power Supply"></resource-list-panel>
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Library Resources"></resource-list-panel>

		</md-tab>


	</md-tabs>
</div>