﻿@* miemis context-specific extra tabs *@

<md-tab label="Surveys (Workbook)" ng-disabled="!vm.model.Surveys.length">
  <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
</md-tab>

<md-tab label="Quarterly Reports" ng-disabled="!vm.model.QuarterlyReports.length">
  <school-quarterly-reports quarterlyreports="vm.model.QuarterlyReports"></school-quarterly-reports>
</md-tab>

<md-tab label="School Accreditations" ng-disabled="!vm.model.SchoolAccreditations.length">
	<school-accreditations schoolaccreditations="vm.model.SchoolAccreditations"></school-accreditations>
</md-tab>
