﻿@* Schools dashboard *@
@* Schools dashboard Default version assumes Districts can be placed horizontally *@
<div>

	<enrolment-district-chart class="dashboard-wrapper height6 width3"
							  heading-title="Enrollment by {{'District'|vocab}}"
							  dashboard="::vm.dashboard"
							  options="::vm.options"
							  selected-child="vm.selectedChild"
							  option-change="vm.optionChange" />

	<enrolment-authority-chart class="dashboard-wrapper height6 width3"
							   heading-title="Enrollment by Authority"
							   dashboard="::vm.dashboard"
							   options="::vm.options"
							   selected-child="vm.selectedChild"
							   option-change="vm.optionChange" />

	<enrolment-region-chart class="dashboard-wrapper height3 width3"
							heading-title="Enrollment by {{'Region'|vocab}}"
							dashboard="::vm.dashboard"
							options="::vm.options"
							selected-child="vm.selectedChild"
							option-change="vm.optionChange" />


	<enrolment-authority-govt-chart class="dashboard-wrapper height3 width3"
									heading-title="Enrollment by {{'Authority Govt'|vocab}}"
									dashboard="::vm.dashboard"
									options="::vm.options"
									selected-child="vm.selectedChild"
									option-change="vm.optionChange" />

	<!-- Perhaps redundant to show these simple tables since they are available
		in the blownout version of their chart equivalents above -->
	<simple-table heading-title="Enrollment by {{'District'|vocab}}"
				  dimensions="height4 width3"
				  heading-filters="vm.filterString('District')"
				  toggle-selected="::vm.toggleSelected"
				  selected-child="vm.selectedChild"
				  group="::vm.grpDistrictCode"
				  selected-key="vm.options.selectedDistrict"
				  on-click="vm.optionToggler('selectedDistrict')(key)"
				  row-labels-lookup="districts" />

	<simple-table heading-title="Enrollment by {{'Authority Govt'|vocab}}"
				  dimensions="height4 width3"
				  heading-filters="vm.filterString('AuthorityGovt')"
				  toggle-selected="::vm.toggleSelected"
				  selected-child="vm.selectedChild"
				  group="::vm.grpAuthorityGovtCode"
				  selected-key="vm.options.selectedAuthorityGovt"
				  on-click="vm.optionToggler('selectedAuthorityGovt')(key)"
				  row-labels-lookup="authorityGovts" />


	@*
		<simple-table heading-title="Enrollment by {{'Island'|vocab}}"
									dimensions="height4 width3"
									heading-filters="vm.filterString('Island')"
									toggle-selected="::vm.toggleSelected"
									selected-child="vm.selectedChild"
									group="::vm.grpIslandCode"
									selected-key="vm.options.selectedIsland"
									on-click="vm.optionToggler('selectedIsland')(key)"
									row-labels-lookup="islands" />

		<simple-table heading-title="Enrollment by {{'Region'|vocab}}"
									dimensions="height4 width3"
									heading-filters="vm.filterString('Region')"
									toggle-selected="::vm.toggleSelected"
									selected-child="vm.selectedChild"
									group="::vm.grpRegionCode"
									selected-key="vm.options.selectedRegion"
									on-click="vm.optionToggler('selectedRegion')(key)"
									row-labels-lookup="regions" />

		<simple-table heading-title="Enrollment by Authority"
									dimensions="height4 width3"
									heading-filters="vm.filterString('Authority')"
									toggle-selected="::vm.toggleSelected"
									selected-child="vm.selectedChild"
									group="::vm.grpAuthorityCode"
									selected-key="vm.options.selectedAuthority"
									on-click="vm.optionToggler('selectedAuthority')(key)"
									row-labels-lookup="authorities" />*@

	<cross-tab heading-title="Enrollment by Age, Education Level and Gender"
			   heading-filters="vm.filterString('Age', 'Level')"
			   dimensions="height4 width9"
			   report-path="Schools/Current_Number_of_Schools_by_Authority"
			   toggle-selected="vm.toggleSelected"
			   selected-child="vm.selectedChild"
			   first-dim-name="Age"
			   grid-data="vm.tabAge_EdLevel"
			   col-labels-lookup="educationLevels"
			   row-labels="vm.labelerAgeGroup"
			   @*has-row-totals="false"
						 has-column-totals="false"*@
			   detail-grid-data="vm.tabAge_Level"
			   detail-col-labels-lookup="levels"
			   heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
			   indicator-calculators="vm.indicatorCalculations" />

	@* School Type x District *@

	@* rows = school type, col = district*@

	@*<cross-tab heading-title="Enrollment by {{'School Type'|vocab}}, {{'District'|vocab}} and Gender"
		heading-filters="vm.filterString('SchoolType', 'District')"
		dimensions="height6 width9"
		toggle-selected="vm.toggleSelected"
		selected-child="vm.selectedChild"
		first-dim-name="{{'School Type'|vocab}}"
		grid-data="vm.tabSchoolTypeByDistrict"
		col-labels-lookup="districts"
		heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
		indicator-calculators="vm.indicatorCalculations" />*@

	@* rows = district col=schooltype*@

	<cross-tab heading-title="School's Enrollment by {{'District'|vocab}}, {{'School Type'|vocab}} and Gender"
			   heading-filters="vm.filterString('SchoolType', 'District')"
			   dimensions="height9 width9"
			   toggle-selected="vm.toggleSelected"
			   selected-child="vm.selectedChild"
			   first-dim-name="{{'District'|vocab}}"
			   grid-data="vm.tabDistrictBySchoolType"
			   col-labels-lookup="schoolTypes"
			   row-labels="'districts'"
			   heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
			   indicator-calculators="vm.indicatorCalculations" />

	@* Ed Level x District *@

	@* rows = districts, column = ed level*@
	<cross-tab heading-title="Enrollment by {{'District'|vocab}}, Education Level and Gender"
			   heading-filters="vm.filterString('District', 'Level')"
			   dimensions="height9 width9"
			   toggle-selected="vm.toggleSelected"
			   selected-child="vm.selectedChild"
			   selected-key="vm.options.selectedDistrict"
			   first-dim-name="{{'District'|vocab}}"
			   grid-data="vm.tabDistrict_EdLevel"
			   col-labels-lookup="educationLevels"
			   row-labels="'districts'" @*a string is a lookup table name
						 row-labels ="vm.rowLookup" a function (code) => description "
						 row-labels="{14: 'District 14', '12':'District 12'}"  a lookup object
						 row-labels="[
							{key:'11', value: 'Key11Value'},
							{key:'17', value: 'Key17Value'}
						 ]"  lookup in key value pairs*@
			   detail-col-labels-lookup="levels"
			   heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
			   indicator-calculators="vm.indicatorCalculations" />

	@* Ed Level x Region *@

	@* rows = regions, column = ed level*@
	<cross-tab heading-title="Enrollment by {{'Region'|vocab}}, Education Level and Gender"
			   heading-filters="vm.filterString('Region', 'Level')"
			   dimensions="height4 width9"
			   toggle-selected="vm.toggleSelected"
			   selected-child="vm.selectedChild"
			   selected-key="vm.options.selectedRegion"
			   first-dim-name="{{'Region'|vocab}}"
			   grid-data="vm.tabRegion_EdLevel"
			   col-labels-lookup="educationLevels"
			   row-labels="'regions'"
			   detail-col-labels-lookup="levels"
			   heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
			   indicator-calculators="vm.indicatorCalculations" />

	@* rows = ed level column = Region*@
	@*
		<cross-tab heading-title="School's Enrollment by Education Level, {{'Region'|vocab}} and Gender"
							 heading-filters="vm.filterString('Region', 'Level')"
							 dimensions="height8 width9"
							 toggle-selected="vm.toggleSelected"
							 selected-child="vm.selectedChild"
							 selected-key="vm.options.selectedRegion"
							 first-dim-name="Ed Level"
							 grid-data="vm.tabEdLevel_Region()"
							 col-labels-lookup="regions"
							 detail-col-labels-lookup="levels"
							 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
							 indicator-calculators="vm.indicatorCalculations" />
	*@

	@* Ed Level x Authority Govt *@

	@* rows = authority govts, column = ed level*@
	<cross-tab heading-title="Enrollment by {{'Authority Govt'|vocab}}, Education Level and Gender"
			   heading-filters="vm.filterString('Authority Govt', 'Level')"
			   dimensions="height4 width9"
			   toggle-selected="vm.toggleSelected"
			   selected-child="vm.selectedChild"
			   selected-key="vm.options.selectedAuthorityGovt"
			   first-dim-name="{{'AuthorityGovt'|vocab}}"
			   grid-data="vm.tabAuthorityGovt_EdLevel"
			   col-labels-lookup="educationLevels"
			   row-labels="'authorityGovts'"
			   detail-col-labels-lookup="levels"
			   heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
			   indicator-calculators="vm.indicatorCalculations" />

	@* rows = ed level column = Authority Govt*@
	@*
		<cross-tab heading-title="School's Enrollment by Education Level, {{'Authority Govt'|vocab}} and Gender"
							 heading-filters="vm.filterString('AuthorityGovt', 'Level')"
							 dimensions="height8 width9"
							 toggle-selected="vm.toggleSelected"
							 selected-child="vm.selectedChild"
							 selected-key="vm.options.selectedAuthorityGovt"
							 first-dim-name="Ed Level"
							 grid-data="vm.tabEdLevel_AuthorityGovt()"
							 col-labels-lookup="authorityGovts"
							 detail-col-labels-lookup="levels"
							 heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
							 indicator-calculators="vm.indicatorCalculations" />
	*@

</div>