﻿@section icon {
	school
}

@section title {
	{{vm.isNew?'New School': 'School ' + vm.model.schNo + ': ' + vm.model.schName }}
}

<div class="appform" ng-init="vm.editTab = 1;">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Dashboard" ng-disabled="vm.isNew">
			<school-dashboard school="vm.model"></school-dashboard>
		</md-tab>

		<md-tab label="School Info">

			<div layout="column" class="md-inline-form">

				<md-content flex layout-padding>
					<p>Manage your school information here.</p>
				</md-content>

				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout="row">
								<div flex layout="row">
									<div ng-show="!vm.model.schPhoto" layout="row" flex>
										<span permission permission-only="'SchoolWrite'"
													permission-on-authorized="vm.permissionStrategies.hideElement"
													permission-on-unauthorized="vm.permissionStrategies.showElement"
													flex
													style="text-align:center;padding-top:100px;background-color:aliceblue;margin:20px">

											No photo available
										</span>
										<span permission permission-only="'SchoolWrite'"
													flex
													style="text-align:center;padding-top:100px;background-color:aliceblue;margin:20px">

											<school-new-link school="vm.model"
																			 button-text="Load a photo of this school">
											</school-new-link>
										</span>
									</div>
									<document-image document="vm.model.schPhoto" height="200"></document-image>
								</div>
								<div layout="column" flex="70">
									<div layout-gt-xs="row">
										<h3>General Information</h3>
									</div>

									<div layout-gt-sm="row">
										<md-input-container flex flex-gt-sm="33">
											<label>{{"School No" | vocab }}</label>
											<input type="text" ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
										</md-input-container>

										<md-input-container flex>
											<label>School Name</label>
											<input type="text" ng-model="vm.model.schName" ng-disabled="!vm.isEditing" required />
										</md-input-container>
									</div>

									@* authority, and its derived codes *@
									<div layout="column" layout-gt-sm="row">
										<md-input-container flex>
											<label>Authority</label>
											<lookup-selector lkp="authorities" ng-model="vm.model.schAuth" ng-disabled="!vm.isEditing" ng-required="true" />
										</md-input-container>
										<md-input-container flex
																				ng-class="{'md-input-has-value' : vm.model.iCode}">

											<label>{{"Authority Type" | vocab }} (Read-Only - from Authority)</label>
											<p>{{vm.model.schAuth | lookup:'authorities':'T' | lookup:'authorityTypes'}}</p>
										</md-input-container>

										<md-input-container flex
																				ng-class="{'md-input-has-value' : vm.model.iCode}">

											<label>{{"Authority Govt" | vocab }} (Read-Only - from Authority)</label>
											<p>{{vm.model.schAuth | lookup:'authorities':'T' | lookup:'authorityTypes':'G'|lookup:'authorityGovts'}}</p>
										</md-input-container>
										<md-input-container flex>
											<label>{{"School Type" | vocab }}</label>
											<lookup-selector lkp="schoolTypes" ng-model="vm.model.schType" ng-disabled="!vm.isEditing" ng-required="true" />
										</md-input-container>
									</div>

									<div layout="column" layout-gt-sm="row">
										<md-input-container flex>
											<label>{{"Registration Status" | vocab }}</label>
											<lookup-selector lkp="schoolRegistration" ng-model="vm.model.schRegStatus" ng-disabled="!vm.isEditing" />
										</md-input-container>

										<md-input-container flex>
											<label>{{"Status Date" | vocab }}</label>
											<md-datepicker ng-model="vm.model.schRegStatusDate" ng-disabled="!vm.isEditing"></md-datepicker>
										</md-input-container>

										<md-input-container flex>
											<label>{{"Registration No" | vocab }}</label>
											<input type="text" ng-model="vm.model.schReg" ng-disabled="!vm.isEditing" />
										</md-input-container>
									</div>

									<div layout="column" layout-gt-sm="row">
										<md-input-container flex>
											<label>Year Established</label>
											<input type="number" min="0" max="2035" step="1" ng-model="vm.model.schEst" ng-disabled="!vm.isEditing" />
										</md-input-container>

										<md-input-container flex>
											<label>Year School Closed</label>
											<input type="number" min="0" max="2035" step="1" ng-model="vm.model.schClosed" ng-disabled="!vm.isEditing"
														 ng-required="true" />
											<span class="md-warn" md-colors="{color: 'red-400'}" ng-show="vm.isEditing && vm.modelForm.$error.required">This field can not be left blank. For an opened school put 0, for a closed school put the year it was closed</span>
										</md-input-container>

										<md-input-container flex>
											<label>Reason School Closed</label>
											<input type="text" ng-model="vm.model.schCloseReason" ng-disabled="!vm.isEditing" />
										</md-input-container>
									</div>

									<div layout="column" layout-gt-sm="row">
										<md-input-container flex>
											<label>{{"Parent School" | vocab }}</label>
											<lookup-selector lkp="schoolNames" ng-model="vm.model.schParent" ng-disabled="!vm.isEditing" ng-required="false" />
										</md-input-container>

										<md-input-container flex>
											<label>{{"Next School" | vocab }}</label>
											<lookup-selector lkp="schoolNames" ng-model="vm.model.schNextSchool" ng-disabled="!vm.isEditing" ng-required="false" />
										</md-input-container>
									</div>

									<div layout="column" layout-gt-sm="row">
										<md-input-container flex>
											<md-checkbox ng-disabled="!vm.isEditing"
																	 ng-true-value="1" ng-false-value="0">Dormant</md-checkbox>
										</md-input-container>
									</div>
								</div>
							</div>

							<div layout="column" layout-gt-xs="row">
								<h3>Address</h3>
							</div>

							<div layout="column" layout-gt-sm="row">
								<md-input-container flex>
									<label>Line 1</label>
									<input type="text" ng-model="vm.model.schAddr1" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container flex>
									<label>Line 2</label>
									<input type="text" ng-model="vm.model.schAddr2" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container flex>
									<label>Village</label>
									<input type="text" ng-model="vm.model.schVillage" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout="column" layout-gt-sm="row">
								<md-input-container flex>
									<label>{{"Island" | vocab}}</label>
									<lookup-selector lkp="islands" ng-model="vm.model.iCode" ng-disabled="!vm.isEditing" ng-required="true" />
								</md-input-container>

								@* setting md-input-has-value forces the label to float, so do this when island is truthy*@
								<md-input-container flex flex-gt-sm="33"
																		ng-class="{'md-input-has-value' : vm.model.iCode}">

									<label>{{"District" | vocab }} (Read-Only set using {{"Island" | vocab}} above)</label>
									<p>{{vm.model.iCode | lookup:'islands':'D' | lookup:'districts'}}</p>
								</md-input-container>

								<md-input-container flex flex-gt-sm="33"
																		ng-class="{'md-input-has-value' : vm.model.iCode}">
									<label>{{"Region" | vocab }} (Read-Only set using {{"Island" | vocab}} above)</label>
									<p>{{vm.model.iCode | lookup:'islands':'R'| lookup:'regions'}}</p>
								</md-input-container>
							</div>
							<div layout="column" layout-gt-sm="row">

								<md-input-container flex flex-gt-sm="33">
									<label>{{"ElectorateN" | vocab}}</label>
									<lookup-selector lkp="electoraten" ng-model="vm.model.schElectN" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container flex flex-gt-sm="33">
									<label>{{"ElectorateL" | vocab}}</label>
									<lookup-selector lkp="electoratel" ng-model="vm.model.schElectL" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>


							<div layout="column" layout-gt-sm="row">
								<md-input-container flex>
									<label>Latitude</label>
									<input type="text" ng-model="vm.model.schLat" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container flex>
									<label>Longitude</label>
									<input type="text" ng-model="vm.model.schLong" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container flex>
									<label>Elevation</label>
									<input type="text" ng-model="vm.model.schElev" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout="column" layout-gt-xs="row">
								<h3>Contact</h3>
							</div>

							<div layout="column" layout-gt-sm="row">
								<md-input-container flex>
									<label>Email</label>
									<input type="email" ng-model="vm.model.schEmail" ng-disabled="!vm.isEditing" />
								</md-input-container>
								<div layout="column" layout-gt-sm="row" flex-gt-sm="66">
									<md-input-container flex>
										<label>Phone 1</label>
										<input type="text" ng-model="vm.model.schPh1" ng-disabled="!vm.isEditing" />
									</md-input-container>

									<md-input-container flex>
										<label>Phone 2</label>
										<input type="text" ng-model="vm.model.schPh2" ng-disabled="!vm.isEditing" />
									</md-input-container>

									<md-input-container flex>
										<label>Fax</label>
										<input type="text" ng-model="vm.model.schFax" ng-disabled="!vm.isEditing" />
									</md-input-container>
								</div>
							</div>

							<div layout="column" layout-gt-sm="row">
								<md-input-container flex flex-gt-sm="33">
									<label>Language</label>
									<lookup-selector lkp="languages" ng-model="vm.model.schLang" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout="column" layout-gt-xs="row">
								<h3>Miscellaneous</h3>
							</div>

							<div layout="column" layout-gt-sm="row">
								<md-input-container flex>
									<label>Pay Point</label>
									<input type="text" ng-model="vm.model.schpayptCode" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

		<md-tab label="Exams" ng-disabled="!vm.model.Exams.length">
			<school-exams school="vm.model"></school-exams>
		</md-tab>

		<md-tab label="Teachers" ng-if="vm.model.Teachers != null" ng-disabled="vm.model.Teachers.length === 0">

			<md-content layout-padding permission permission-only="'TeacherRead'">
				<school-staff-list school="vm.model"></school-staff-list>
			</md-content>

		</md-tab>

		<md-tab label="Documents" ng-disabled="vm.isNew">

			<md-content flex layout-padding>
				<p>Upload any type of document you would like to archive for your school (e.g. school accreditation hard copies, building plans and photos, etc.).</p>
			</md-content>

			<component-school-links links="vm.model.Documents" school="vm.model"></component-school-links>
		</md-tab>

		@*list of reports served from Jasper report server*@
		<md-tab label="Reports" ng-disabled="vm.isNew">

			<md-content flex layout-padding>
				<p>A list of reports you can generate for your school.</p>
			</md-content>

			<report-list folder="School" context="{SchoolNo: vm.model.schNo}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
		</md-tab>

		@*Some time tabs are context specific (e.g. specific to Marshall Islands only).
			In those cases the tabs are shown here if they are found in their country specific Views
			location (e.g. Pineapples/Views/miemis/School/ContextTabs.cshtml)*@

		@{
			Html.RenderAction("ContextTabs");
		}

	</md-tabs>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>
