﻿<md-content flex layout-padding>
	<p>
		Only a summary of the FORM B school accreditation results will be shown to the schools for information purposes.
		The actual data collection is done through an Android app not by the schools themselves but by designated inspectors.
		If you believe some of the results below are not correct you must contact the National Data Management Office.
	</p>
</md-content>

<md-content flex layout-padding>
	<h4>
		Classic Format
	</h4>
</md-content>

<md-card>
	<md-card-content>
		<table class="md-table striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th colspan="4">Leadership</th>
					<th colspan="4">Teacher Performance</th>
					<th colspan="4">Data Management</th>
					<th colspan="4">NCSB</th>
					<th colspan="4">Facility</th>
					<th colspan="4">SIP</th>
					<th colspan="2">CO</th>
					<th colspan="5">Level Tally</th>
					<th></th>
				</tr>
				<tr>
					<th>Period</th>
					<th>Submitted By</th>
					<th>L1</th>
					<th>L2</th>
					<th>L3</th>
					<th>L4</th>
					<th>T1</th>
					<th>T2</th>
					<th>T3</th>
					<th>T4</th>
					<th>D1</th>
					<th>D2</th>
					<th>D3</th>
					<th>D4</th>
					<th>N1</th>
					<th>N2</th>
					<th>N3</th>
					<th>N4</th>
					<th>F1</th>
					<th>F2</th>
					<th>F3</th>
					<th>F4</th>
					<th>S1</th>
					<th>S2</th>
					<th>S3</th>
					<th>S4</th>
					<th>CO1</th>
					<th>CO2</th>
					<th>LT1</th>
					<th>LT2</th>
					<th>LT3</th>
					<th>LT4</th>
					<th>Total</th>
					<th>School Level</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="sa in vm.schoolaccreditations | orderBy: 'InspYear' : true">
					<td ng-show="sa.StartDate == null">{{sa.InspectionYear}}</td>
					<td ng-show="sa.StartDate != null">{{sa.StartDate|date}}</td>
					<td ng-show="sa.InspectedBy == null">N/A</td>
					<td ng-show="sa.InspectedBy != null">{{sa.InspectedBy}}</td>
					<td>{{sa['SE.1.1'] | number}}</td>
					<td>{{sa['SE.1.2'] | number}}</td>
					<td>{{sa['SE.1.3'] | number}}</td>
					<td>{{sa['SE.1.4'] | number}}</td>
					<td>{{sa['SE.2.1'] | number}}</td>
					<td>{{sa['SE.2.2'] | number}}</td>
					<td>{{sa['SE.2.3'] | number}}</td>
					<td>{{sa['SE.2.4'] | number}}</td>
					<td>{{sa['SE.3.1'] | number}}</td>
					<td>{{sa['SE.3.2'] | number}}</td>
					<td>{{sa['SE.3.3'] | number}}</td>
					<td>{{sa['SE.3.4'] | number}}</td>
					<td>{{sa['SE.4.1'] | number}}</td>
					<td>{{sa['SE.4.2'] | number}}</td>
					<td>{{sa['SE.4.3'] | number}}</td>
					<td>{{sa['SE.4.4'] | number}}</td>
					<td>{{sa['SE.5.1'] | number}}</td>
					<td>{{sa['SE.5.2'] | number}}</td>
					<td>{{sa['SE.5.3'] | number}}</td>
					<td>{{sa['SE.5.4'] | number}}</td>
					<td>{{sa['SE.6.1'] | number}}</td>
					<td>{{sa['SE.6.2'] | number}}</td>
					<td>{{sa['SE.6.3'] | number}}</td>
					<td>{{sa['SE.6.4'] | number}}</td>
					<td>{{sa['CO.1'] | number}}</td>
					<td>{{sa['CO.2'] | number}}</td>
					<td>{{sa.Level1 | number}}</td>
					<td>{{sa.Level2 | number}}</td>
					<td>{{sa.Level3 | number}}</td>
					<td>{{sa.Level4 | number}}</td>
					<td>{{sa.Level1 + sa.Level2 + sa.Level3 + sa.Level4 }}</td>
					<td><stars level="sa.InspectionResult" size="large"></stars></td>
				</tr>
			</tbody>
		</table>
	</md-card-content>
</md-card>

<md-content flex layout-padding>
	<h4>
		New Comprehensive Format
	</h4>
</md-content>

<md-card ng-repeat="sa in vm.schoolaccreditations | orderBy: 'InspectionYear' : true">

	<md-card-header>
		<md-card-header-text>
			<div layout="row">
				<span flex class="md-headline" ng-show="sa.StartDate == null">Inspection: {{sa.InspectionYear}}</span>
				<span flex class="md-headline" ng-show="sa.StartDate != null">Inspection: {{sa.StartDate|date}}</span>
				<span flex class="md-headline"><stars level="sa.InspectionResult" size="large"></stars></span>
			</div>
			<span class="md-subhead" ng-show="sa.InspectedBy == null">Inspected by: N/A</span>
			<span class="md-subhead" ng-show="sa.InspectedBy != null">Inspected by: {{sa.InspectedBy}}</span>
		</md-card-header-text>
	</md-card-header>

	<md-card-content>

		<table class="md-table striped">
			<thead>
				<tr>
					<th colspan="2">Standard</th>
					<th>Result</th>
					<th>Criteria 1</th>
					<th>Criteria 2</th>
					<th>Criteria 3</th>
					<th>Criteria 4</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="std in ['SE.1', 'SE.2', 'SE.3', 'SE.4','SE.5', 'SE.6']">
					<td>{{std}}</td> @* code *@
					<td>{{std | lookup:'accreditationTerms':'S'}}</td> @* short name *@
					<td><stars level="sa[std]"></stars></td>

					<td><stars size="small" level="sa[std + '.1']"></stars></td>
					<td><stars size="small" level="sa[std + '.2']"></stars></td>
					<td><stars size="small" level="sa[std + '.3']"></stars></td>
					<td><stars size="small" level="sa[std + '.4']"></stars></td>
				</tr>

				<tr ng-repeat-end>
					<td></td>
					<td>Classroom Observation</td>
					<td>{{sa["CO.1"] | number}}</td>
					<td>{{sa["CO.2"]| number}}</td>
				</tr>
			</tbody>
		</table>

	</md-card-content>
</md-card>