﻿@*
	Survey List page in School form
	version: MIEMIS
*@
<md-content flex layout-padding>
	<p>
		The main data collection method currently with the EMIS is an annual survey using the excel workbook.
		Below you can see a summary of the yearly submitted surveys (workbook) for your school.
	</p>
</md-content>

<table class="md-table striped">

	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th colspan="3">Enrolment</th>
			<th colspan="2">Level</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<th>Survey Year</th>
			<th>School Type</th>
			<th>Authority</th>
			<th>Total</th>
			<th>M</th>
			<th>F</th>
			<th>Min</th>
			<th>Max</th>
			<th>
				Teachers (and Admin)
				<md-icon class="material-icons md-dark">info</md-icon>
				<md-tooltip>Includes Teachers, Mixed duties and Admin staff (i.e. 'T','M','A' from TAMX field in data)</md-tooltip>
			</th>
			<th>Classrooms</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr ng-class="{'editing': vm.activeSurvey.year == survey.svyYear}" data-ng-repeat="survey in vm.surveys | orderBy: svyYear : true">
			<td>{{survey.svyYear | surveyYear}}</td>
			<td>{{survey.ssSchType}}</td>
			<td>{{survey.ssAuth |lookup:"authorities"}}</td>
			<td>{{survey.ssEnrol}}</td>
			<td>{{survey.ssEnrolM}}</td>
			<td>{{survey.ssEnrolF}}</td>
			<td>{{survey.minLevel}}</td>
			<td>{{survey.maxLevel}}</td>
			<td>{{survey.TeacherSurveyCount}}</td>
			<td>{{survey.ClassroomCount}}</td>
			@* refer to default version of this file	for omitted markup *@
			<td>
				<span permission permission-only="'@Pineapples.Models.PermissionGlobals.ShowCensusPermission'">
					<document-image document="survey.ssSource" height="10"></document-image>
				</span>
			</td>
		</tr>
	</tbody>

</table>

<survey model="vm" school-survey="vm.activeSurvey" ng-show="vm.editSurveyOpened"></survey>
