﻿<md-tabs md-dynamic-height md-border-bottom>
	<md-tab ng-repeat="category in vm.survey.category" label="{{category.name}}"
					md-on-select="vm.selectedstandard = category.standard[0].id">
		<div layout="row">
			<div flex="50">
				<md-select ng-model="vm.selectedstandard" ng-show="category.standard" style="font-weight:bold">
					<md-option ng-repeat="standard in category.standard track by standard.id"
										 ng-value="standard.id">{{standard.name}}</md-option>
				</md-select>
			</div>
		</div>
		<div layout="column">
			<div ng-if="category.result">
				<div>{{category.name}} assessment: <stars level="category.result"></stars></div>
			</div>
			<div ng-repeat="standard in category.standard"
					 ng-show="standard.id == vm.selectedstandard">
				<div>
					<span style="font-weight:bold">{{standard.id}}</span>
					<span>{{standard.name}}</span>
				</div>
				<div ng-repeat="criteria in standard.criteria" style="padding-top:5px">
					<div style="font-weight:bold;padding-bottom:20px">
						<div>Criteria {{criteria.id}}: </div>
						<div>{{criteria.name}}</div>
					</div>
					<div ng-if="criteria.result">
						<stars level="criteria.result"></stars>
					</div>
					<div ng-repeat="sub in criteria.subcriteria" style="padding-top:20px; border-bottom: 1px solid lightgray">
						<div style="font-size:8pt">Sub-criteria {{sub.id}}: </div>
						<div style="font-size:14pt; font-weight:bolder;">{{sub.name}}</div>
						<div style="font-size:8pt; font-style:italic">{{sub.interviewQuestions}}</div>
						<div><yes-no value="sub.answer.state"></yes-no></div>
						@* provide the comment from the answer, and any photos from the answer *@
						<div>{{sub.answer.comment}}</div>
						<md-content layout="row" layout-wrap="" layout-padding="">
							<md-card ng-repeat="photo in sub.answer.photo" ng-show="photo.remotePath" flex="33" flex-gt-sm="20">
								<a target="_blank" href="/google/{{photo.remotePath}}">
									<img ng-src="/google/{{photo.remotePath}}/0/300" layout-fill="" />
								</a>
							</md-card>
						</md-content>
					</div>
				</div>
			</div>
		</div>
	</md-tab>
</md-tabs>
