﻿<style>
	div.choose, table.choose {
		margin-top: 20px;
	}

	table.choose th.question_id {
		color: white;
		background-color: blue;
		width: 30px
	}

	@* needs to match width of question_id *@
	div.choose div.answer_container {
	}

	div.choose {
		max-width: 900px;
	}

	div.question_item {
		border-bottom: 1px solid rgba(0,0,0,.12);
	}

	div.question_item div.selected {
		font-weight: bold;
	}

	div.question_head {
	}

	div.question {
		padding-top: 0px;
		padding-bottom: 5px;
		padding-left: 0px;
	}
	div.question_name {
		font-weight: bold;
	}

	div.question_id {
		color: #6d6d6d;
		font-size: small;
	}

	div.var_binary_question_items {
		color: #6d6d6d;
		font-size: small;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	div.var_binary_variant_items {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	div.var_binary_question_no_water {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	input.question_item_answer {
		color: rgba(0,0,0,0.87);
		background-color: #e3edf7;
		border-bottom-style: none;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	table.choose tbody td {
		padding: 5px;
	}

	table.choose tbody td.answer_icon {
		width: 50px;
	}
</style>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab ng-repeat="group in vm.survey.group" label="{{group.name}}"
					md-on-select="vm.selectedsubgroup = group.subgroup[0].id">
		@*<h2>{{group.id}} {{group.name}}</h2>*@
		<div layout="row" style="max-width: 900px">
			<div flex>
				<md-select ng-model="vm.selectedsubgroup" aria-label="{{group}}">
					<md-option ng-repeat="subgroup in group.subgroup track by subgroup.id"
										 ng-value="subgroup.id">{{subgroup.name}}</md-option>
				</md-select>
			</div>
		</div>
		<div ng-repeat="subgroup in group.subgroup track by subgroup.id"
				 ng-show="subgroup.id == vm.selectedsubgroup">
			<h3>{{subgroup.id}} {{subgroup.name}}</h3>
			<div class="choose" layout="column" ng-repeat="question in subgroup.question track by question.id">
				<div layout="column" class="question_head">
					<div class="question question_id">
						{{question.id}}
					</div>
					<div class="question question_name" flex>
						{{question.name}}
					</div>
				</div>

				@* container for the answer is offset by the question id width *@
				<div class="answer_container" flex layout="column">

					@* text inputs *@
					<div class="question_item" flex="100" ng-show="['INPUT','INPUT|NUMERIC','INPUT|PHONE'].includes(question.flags)">
						<md-input-container class="md-block">
							<input class="question_item_answer" ng-model="question.answer.inputText" disabled aria-label="{{question.name}}">
						</md-input-container>
					</div>

					@* Yes / No *@
					<div class="question_item" ng-show="['BINARY'].includes(question.flags)">
						<md-radio-group ng-model="question.answer.b_answer">
							<md-radio-button ng-disabled="true" value="YES" aria-label="YES">Yes</md-radio-button>
							<md-radio-button ng-disabled="true" value="NO" aria-label="NO">No</md-radio-button>
						</md-radio-group>
					</div>

					@* Yes / No / Don't Know *@
					<div class="question_item" ng-show="['TERNARY'].includes(question.flags)">
						<md-radio-group ng-model="question.answer.t_answer">
							<md-radio-button ng-disabled="true" value="YES" aria-label="YES">Yes</md-radio-button>
							<md-radio-button ng-disabled="true" value="NO" aria-label="NO">No</md-radio-button>
							<md-radio-button ng-disabled="true" value="UNKNOWN" aria-label="UNKNOWN">Unknown</md-radio-button>
						</md-radio-group>
					</div>

					@* handle arrays like source of water*@
					<div class="question_item" ng-show="question.flags=='VAR|BINARY'">
						<div layout="column" ng-repeat="v in  question.variant | filter : {name: '!No water source'}">
							<div class="var_binary_question_items" flex="100">{{v.name}}</div>
							<div class="var_binary_variant_items" layout="row" ng-repeat="vi in question.variant[0].variant_item">
								<div flex="70">{{vi.name}}</div>
								@* the answers for each variant item are at question\answer\variant\variant-item[name]\answer *@
								<md-radio-group layout="row" flex="30" ng-model="vm.vbAnswerGetterSetter(v.name, vi.name, question.answer)" ng-model-options="{getterSetter: true}">
									<md-radio-button flex value="Yes" ng-disabled="true" aria-label="Yes">Yes</md-radio-button>
									<md-radio-button flex value="No" ng-disabled="true" aria-label="No">No</md-radio-button>
								</md-radio-group>
							</div>
						</div>
						@* An annoying edge case with the only question of type VAR|BINARY in the whole survey *@
						<div class="var_binary_question_no_water" layout="column" ng-repeat="v in  question.variant | filter : {name: 'No water source'}">
							<md-radio-group ng-model="question.answer.variant[0].name">
								<md-radio-button flex value="No water source" ng-disabled="true" aria-label="No water source">No water source</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					@* handle arrays questions with several items each with several inputs*@
					<div class="question_item" ng-show="question.flags=='VAR|INPUT|NUMERIC'">
						<div layout="column" ng-repeat="v in  question.variant">
							<div class="var_binary_question_items" flex="100">{{v.name}}</div>
							<div class="var_binary_variant_items" layout="row" ng-repeat="vi in v.variant_item">
								<div flex="70">{{vi.name}}</div>
								@* can use the same as VAR|BINARY to get answer *@
								<input class="question_item_answer" flex="30" ng-value="vm.vbAnswer(v.name, vi.name, question.answer)" disabled aria-label="{{v.name}}">
							</div>
						</div>
					</div>


					@* Single Select *@
					<div class="question_item" ng-show="question.flags=='CHOOSE|SINGLE'">
						<div layout="column">
							<md-radio-group ng-model="question.answer.item">
								<md-radio-button ng-disabled="true" value="{{v}}" ng-repeat="v in question.item" aria-label="{{v}}">{{v}}</md-radio-button>
							</md-radio-group>
						</div>
					</div>

					@* Multiple *@
					<div class="question_item" ng-show="question.flags=='CHOOSE|MULTIPLE'">
						<div layout="column">
							<div flex ng-repeat="v in  question.item">
								@* for MULTIPLE answer.item is an array *@
								<md-checkbox ng-checked="question.answer.item.includes(v)" disabled>{{v}}</md-checkbox>
							</div>
						</div>
					</div>

					@*  photo *@
					<div class="question_item" ng-if="question.flags=='PHOTO'">
						@* we may have one or an array *@
						<div ng-if="question.answer.photo.remotePath">
							<img ng-src="google/{{question.answer.photo.remotePath}}/0/150" />
						</div>
						<div ng-repeat="photo in question.answer.photo">
							<div ng-if="photo.remotePath"></div>
							<img ng-src="google/{{photo.remotePath}}/0/150" />
						</div>
					</div>

					@* GEO location *@
					<div class="question_item" ng-show="question.flags=='GEO'">
						<div>{{question.answer.geo.latitude}},{{question.answer.geo.longitude}}</div>
					</div>

				</div>	@* answer container *@
			</div>
		</div>

	</md-tab>
</md-tabs>

