﻿@section icon {
	school
}

@section title {
	School Class Explorer
}

<div ng-style="{'opacity': vm.isWaiting?.4:1}">
	<md-content layout="column">
		<div layout="row" layout-padding layout-margin>
			<div layout="column" layout-padding flex="50" style="border-style:solid;border-width:2px">
				<div layout="row">
					<div flex="20">School</div>
					<div flex><school-finder ng-model="vm.selectedSchool"></school-finder></div>
				</div>
				<div layout="row">
					<div flex="20">Year</div>
					<div flex>
						<md-select ng-model="vm.selectedYear">
							<md-option ng-repeat="y in vm.classInfo.Years" ng-value="y.surveyYear">{{y.surveyYear}}</md-option>
						</md-select>
					</div>
				</div>
				<div layout="row">
					<div flex="20">Grade</div>
					<div flex>
						<md-button ng-repeat="lvl in vm.classInfo.Levels"
											 ng-click="vm.selectClassLevel(lvl.levelCode)"
											 ng-class="
									{'md-primary': vm.classInfo.ClassLevel == lvl.levelCode
									, 'md-raised':vm.classInfo.ClassLevel == lvl.levelCode}">{{lvl.levelCode|lookup:"levels"}}</md-button>
					</div>
				</div>

			</div>
			@*
				sumary statistics
			*@
			<div layout="column" flex="50" style="border-style:solid;border-width:2px" ">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Head Count (FTPT)</th>
							<th>Weighted (FTE)</th>
							<th></th>
						</tr>
					</thead>
					<tr>
						<td>Staff at School</td>
						<td>{{vm.classInfo.StaffCount}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Staff with Teaching Duties</td>
						<td>{{vm.classInfo.TeachingFTPT}}</td>
						<td>{{vm.classInfo.TeachingFTE|number:2}}</td>
						<td></td>
					</tr>
					<tr>
						<td>Staff Teaching {{vm.classInfo.ClassLevel|lookup:"levels"}}</td>
						<td>{{vm.classInfo.TeacherMatchesFTPT}}</td>
						<td>{{vm.classInfo.TeacherMatchesFTE|number:2}}</td>
					</tr>
					<tr>
						<th></th>
						<th>Total</th>
						<th>M</th>
						<th>F</th>
					</tr>

					<tr ng-repeat="yr in vm.classInfo.Years| filter:{surveyYear: vm.classInfo.svyYear}">
						<td>Students at school</td>
						<td>{{yr.Enrol}}</td>
						<td>{{yr.EnrolM}}</td>
						<td>{{yr.EnrolF}}</td>
					</tr>
					<tr>
						<td>Students in {{vm.classInfo.ClassLevel|lookup:"levels"}}</td>
						<td>{{vm.classInfo.StudentMatches}}</td>
						<td>{{vm.classInfo.StudentMatchesM}}</td>
						<td>{{vm.classInfo.StudentMatchesF}}</td>
					</tr>
				</table>
			</div>
		</div>
		@*
			-------------------------------------
				Teachers
			-------------------------------------
		*@
		<div layout="column">
			<h4>
				<md-button ng-click="vm.setTeacherView(0,1)"
									 ng-class="{'md-primary': vm.teacherAll==1,
					   'md-raised': vm.teacherAll==1}">
					All Teachers
				</md-button>

				<md-button ng-click="vm.setTeacherView(1,0)"
									 ng-class="{'md-primary': vm.teacherAll==0,
					   'md-raised': vm.teacherAll==0}">
					Teaching {{vm.classInfo.ClassLevel|lookup:"levels"}}
				</md-button>


			</h4>
			<div ng-if="vm.teacherView == 0">
				<div layout="row" layout-wrap layout-padding>
					<div ng-repeat="se in vm.classInfo.Teachers"
							 flex="20" flex-md="33" flex-sm="50" flex-xs="100"
							 ng-style="{'opacity': se.InSelectedGrade?1:.7,
					 'border-bottom-style': se.InSelectedGrade?'solid':'none',
					 'border-bottom-width': '1px',
					 }"
							 ng-click="vm.state.go('site.teachers.list.item', {id: se.tID})">{{se.tGiven}} <b>{{se.tSurname}}</b></div>
				</div>
			</div>
			<div ng-if="vm.teacherView == 1">

				<table class="md-table list">
					<thead>
						<tr>
							<th>Name</th>
							<th>Role</th>
							<th>Qualified</th>
							<th>Certified</th>
							@*<th class="rotate90" style="font-weight:normal;font-size: 12px;" ng-repeat="l in vm.lookups.cache['levels']"><div><span>{{l.N}}</span></div></th>*@
							<th>PreK</th>
							<th>ECE</th>
							<th ng-repeat="idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,'T?','A','X']" style="width:50px;text-align:center">{{idx}}</th>
							<th></th>
						</tr>
					</thead>
					<tr ng-repeat="t in vm.classInfo.Teachers|filter: vm.teacherListFilter">
						<td style="white-space:nowrap">{{t.tGiven}} <b>{{t.tSurname}}</b></td>
						<td style="white-space:nowrap">{{t.Role|lookup:"teacherRoles"}}</td>
						<td style="text-align:center">{{t.Qualified|tick}}</td>
						<td style="text-align:center">{{t.Certified|tick}}</td>
						@*<td></td>*@

						<td ng-repeat="tt in [ 'TPK', 'T00', 'T01', 'T02', 'T03','T04','T05', 'T06', 'T07','T08','T09', 'T10', 'T11', 'T12','T13','T','A','X']"
								ng-style="{'background-color': $index % 2 == 0? '#f0f0f0': '#ffffff'}">
							<div ng-show="t[tt]>0" style="color: forestgreen; width: 50px; text-align: center">
								<spark-percent n="t[tt]" d="t.Activities" />
								<md-tooltip>{{tt}}</md-tooltip>
							</div>
						</td>
					</tr>

				</table>

			</div>
			@*
				-------------------------------------
				Enrolments
				-------------------------------------
			*@
			<div layout="column">
				<h4>Enrolments</h4>
				<div layout="row" layout-wrap layout-padding>
					<div ng-repeat="se in vm.classInfo.Students"
							 flex="20" flex-md="33" flex-sm="50" flex-xs="100"
							 ng-click="vm.state.go('site.students.list.item', {id: se.stuID})">
						{{se.stuGiven}} <b>{{se.stuFamilyName}}</b>
						<div ng-switch="se.stueFrom" style="display:inline;font-size:10px;color:white">
							<span ng-switch-when='ECE' style="background-color: blue; padding: 2px 5px">
								{{se.stueFrom}}
								<md-tooltip>From ECE</md-tooltip>
							</span>
							<span ng-switch-when='REP' style="background-color: darkred; padding: 2px 5px">
								{{se.stueFrom}}
								<md-tooltip>Repeater</md-tooltip>
							</span>
							<span ng-switch-when='TRIN' style="background-color: teal; padding: 2px 5px">
								{{"<="}}
								<md-tooltip>Transfer in</md-tooltip>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</md-content>
</div>
@*


	<div layout="row">
		<div layout="column" flex="50" style="background-color:azure" layout-padding>
			<div layout="row">
				<div flex="40">Staff at School</div>
				<div flex>{{vm.classInfo.StaffCount}}</div>
			</div>
			<div layout="row">
				<div flex="40">Staff with Teaching Duties</div>

				<div flex="20">{{vm.classInfo.TeachingFTPT}}</div>
				<div flex="20">{{vm.classInfo.TeachingFTE}} FTE</div>
			</div>
			<div layout="row" ng-repeat="yr in vm.classInfo.Years| filter:{surveyYear: vm.classInfo.svyYear}">
				<div flex="40">Students at school</div>
				<div flex>{{yr.Enrol}}</div>
				<div flex>M: {{yr.EnrolM}}</div>
				<div flex>F: {{yr.EnrolF}}</div>
			</div>
		</div>
	</div>
	<div layout="row">
		<div layout="column" flex="50">
			<table>
				<tr>
					<td>Staff at School</td>
					<td>{{vm.classInfo.StaffCount}}</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Staff with Teaching Duties</td>
					<td></td>
					<td>{{vm.classInfo.TeachingFTPT}}</td>
					<td>{{vm.classInfo.TeachingFTE}}</td>
				</tr>
				<td>Teaching {{vm.classInfo.ClassLevel|lookup:"levels"}}</td>
				<td></td>
				<td>{{vm.classInfo.TeacherMatchesFTPT}}</td>
				<td>{{vm.classInfo.TeacherMatchesFTE}}</td>
			</table>
		</div>
		<div layout="column" flex="50">
			<table>
				<tr ng-repeat="yr in vm.classInfo.Years| filter:{surveyYear: vm.classInfo.svyYear}">
					<td>Students at school</td>
					<td>{{yr.Enrol}}</td>
					<td>{{yr.EnrolM}}</td>
					<td>{{yr.EnrolF}}</td>
				</tr>
				<tr>
					<td>Students in {{vm.classInfo.ClassLevel|lookup:"levels"}}</td>
					<td>{{vm.classInfo.StudentMatches}}</td>
					<td>{{vm.classInfo.StudentMatchesM}}</td>
					<td>{{vm.classInfo.StudentMatchesF}}</td>
				</tr>
			</table>
		</div>
	</div>
*@