﻿<!-- expects controller as vm -->
<panel panel-class="panel-primary"
       heading="School Location {{vm.model.schNo}} {{vm.model.schName}}"
       panel-close="true">

	<div>
		<div class="row">
			<div class="col-md-12">
				<p class="alert alert-warning" ng-hide="vm.model.schNo"><strong>Warning</strong>There is no school selected. Select a school by clicking on the coordinate link</p>
			</div>
		</div>
		<div layout="row" permission permission-only="'@ViewBag.EditPermission'">
			<div flex >
				<p ng-show="vm.state == 'Add'">Click on the map to add the marker.</p>
				<div ng-show="vm.state == 'Ready'">
					<p style="display:inline">To reposition: click on the map, or drag the marker.</p>
					<md-button ng-click="vm.saveLatLong()" ng-disabled="!vm.pointerChanged()">Save Position</md-button>
				</div>
			</div>
			<div flex="25">
				<p>Last saved position: [{{vm.model.schLat |number: 4}} , {{vm.model.schLong | number:4}}] </p>
			</div>
			<div flex="20">
				<p>Current marker position: [{{vm.lat | number:4}} , {{vm.lng | number:4}}]</p>
			</div>
		</div>
		
		<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBB0ek5RclWay0_-jZR9doF04wl5rI_L04">
			<ng-map zoom="6" center="[0,0]" style="display:block; height:600px" fit-content>
			</ng-map>
		</div>
	</div>

</panel>