﻿@* Individual school dashboard *@
<div style="padding:5px">

	<div layout="column" layout-gt-md="row">
		<generic flex=""
						 heading-title="Enrollment by Grade Level and Gender ({{vm.lastWarehouseYear()}})"
						 toggle-selected="::vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 heading-filters=" "
						 style="overflow-y:auto; padding: 5px">
			<table class="table dashboard table-hover" style="padding: 20px">
				<thead>
					<tr>
						<th style="text-align: right;" ng-repeat="colHeader in ['Grade', 'F', 'M', 'Total']">{{colHeader}}</th>
					</tr>
				</thead>
				<tr class="animated" ng-repeat="r in vm.enrol(vm.lastWarehouseYear())">
					<td>{{r.ClassLevel}}</td>
					<td>{{r.EnrolF}}</td>
					<td>{{r.EnrolM}}</td>
					<td>{{r.EnrolF + r.EnrolM}}</td>
				</tr>
			</table>
		</generic>

		<echart-bar-chart flex=""
											heading-title="Enrollment by Level and Gender ({{vm.lastWarehouseYear()}})"
											toggle-selected="::vm.toggleSelected"
											selected-child="vm.selectedChild"
											heading-filters=" "
											chart-title=""
											datasets="vm.dataForBarChart(vm.lastWarehouseYear())"
											datasets-metadata="['Female', 'Male']"
											datasets-colors="['#00b161', '#0964a5']"
											datasets-x="ClassLevel"
											datasets-y="Enrol"
											style="padding: 5px" />

		<generic flex=""
						 heading-title="Enrollment by Grade Level and Gender History"
						 toggle-selected="::vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 heading-filters=" "
						 style="overflow-y:auto; padding: 5px;">

			<table class="table dashboard table-hover" ng-repeat="year in vm.enrolmentYears()">
				<thead>
					<tr>
						<th style='width: 25%' ng-repeat="colHeader in [year, 'F', 'M', 'Total']">{{colHeader}}</th>
					</tr>
				</thead>
				<tr class="animated" ng-repeat="r in vm.enrol(year)">
					<td>{{r.ClassLevel}}</td>
					<td>{{r.EnrolF}}</td>
					<td>{{r.EnrolM}}</td>
					<td>{{r.EnrolF + r.EnrolM}}</td>
				</tr>
			</table>
		</generic>
	</div>

	<div layout="column" layout-gt-md="row">
		<echart-line-chart flex=""
											 heading-title="Enrollment by Gender History"
											 toggle-selected="::vm.toggleSelected"
											 selected-child="vm.selectedChild"
											 heading-filters=" "
											 chart-title=""
											 datasets="vm.dataForLineChart()"
											 datasets-x="year"
											 datasets-y="enrol"
											 style="padding: 5px" />

		<echart-stacked-area-chart flex=""
															 heading-title="Enrollment by Gender History (Stacked)"
															 toggle-selected="::vm.toggleSelected"
															 selected-child="vm.selectedChild"
															 heading-filters=" "
															 chart-title=""
															 datasets="vm.dataForStackedGenderHistory()"
															 datasets-metadata="['Female', 'Male']"
															 datasets-x="year"
															 datasets-y="enrol"
															 style="padding: 5px" />
	</div>

	<div layout="column" layout-gt-md="row">
		<echart-clustered-bar-chart flex=""
																heading-title="Female % {{vm.lastWarehouseYear()}}"
																toggle-selected="::vm.toggleSelected"
																selected-child="vm.selectedChild"
																heading-filters=" "
																chart-title=""
																is-selected="vm.selectedChild"
																datasets="vm.dataForFemalePercentBarChart(vm.lastWarehouseYear())"
																datasets-metadata="vm.schoolDistrictNationMeta"
																datasets-x="ClassLevel"
																datasets-y="Ratio"
																style="padding: 5px" />


		<echart-line-chart flex=""
											 heading-title="Female % History"
											 toggle-selected="::vm.toggleSelected"
											 selected-child="vm.selectedChild"
											 heading-filters=" "
											 chart-title=""
											 datasets="vm.dataForFemalePercentHistoryLineChart()"
											 datasets-metadata="vm.schoolDistrictNationMeta"
											 datasets-x="year"
											 datasets-y="Ratio"
											 style="padding: 5px" />
	</div>

	<div layout="column" layout-gt-md="row">
		<echart-bar-chart flex=""
											heading-title="{{ind}} {{vm.lastFlowYear()}}"
											toggle-selected="::vm.toggleSelected"
											selected-child="vm.selectedChild"
											heading-filters=" "
											chart-title=""
											datasets="vm.dataForFlowBarChart(vm.school.schNo, vm.lastFlowYear(), ind)"
											datasets-x="ClassLevel"
											datasets-y="Value"
											ng-repeat="ind in ['DropoutRate', 'PromoteRate', 'RepeatRate', 'SurvivalRate']"
											style="padding: 5px" />
	</div>

	<div layout="column" layout-gt-md="row">
		<echart-line-chart flex=""
											 heading-title="{{ind}} History"
											 toggle-selected="::vm.toggleSelected"
											 selected-child="vm.selectedChild"
											 heading-filters=" "
											 chart-title=""
											 datasets="vm.dataForSchoolFlowLineChart(ind)"
											 datasets-x="year"
											 datasets-y="value"
											 ng-repeat="ind in ['DropoutRate', 'PromoteRate']"
											 style="padding: 5px" />
	</div>

	<div layout="column" layout-gt-md="row">
		<echart-line-chart flex=""
											 heading-title="{{ind}} History"
											 toggle-selected="::vm.toggleSelected"
											 selected-child="vm.selectedChild"
											 heading-filters=" "
											 chart-title=""
											 datasets="vm.dataForSchoolFlowLineChart(ind)"
											 datasets-x="year"
											 datasets-y="value"
											 ng-repeat="ind in ['RepeatRate', 'SurvivalRate']"
											 style="padding: 5px" />
	</div>

	<div layout="column" layout-gt-md="row">
		<generic flex=""
						 heading-title="{{ind}}"
						 toggle-selected="::vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 heading-filters=" "
						 style="overflow-y:hidden; padding: 5px;"
						 ng-init="data=vm.schoolFlowData(vm.school.schNo)"
						 ng-repeat="ind in ['DropoutRate', 'PromoteRate', 'RepeatRate', 'SurvivalRate']">

			<table class="table dashboard table-hover">
				<thead>
					<tr>
						<th>Grade</th>
						<th ng-repeat="colHeader in vm.flowYearArray(5)">{{colHeader}}</th>
					</tr>
				</thead>
				<tr class="animated" ng-repeat="grade in vm.gradesForSchool(vm.school.schNo)">
					<td>{{grade}}</td>
					<td ng-repeat="colHeader in vm.flowYearArray(5)">{{vm.schoolFlowDataValue(vm.school.schNo, colHeader, grade, ind)}}</td>
				</tr>
			</table>
		</generic>
	</div>

</div>
