﻿@* default context-specific extra tabs *@

<div>

	<table class="md-table list">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Qualified</th>
				<th>Certified</th>
				@*<th class="rotate90" style="font-weight:normal;font-size: 12px;" ng-repeat="l in vm.lookups.cache['levels']"><div><span>{{l.N}}</span></div></th>*@
				<th>PreK</th>
				<th>ECE</th>
				<th ng-repeat="idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,'T?','A','X']" style="width:50px;text-align:center">{{idx}}</th>
				<th></th>
			</tr>
		</thead>
		<tr ng-repeat="t in vm.school.Teachers">
			<td style="white-space:nowrap">{{t.tGiven}} <b>{{t.tSurname}}</b></td>
			<td style="white-space:nowrap">{{t.tchRole|lookup:"teacherRoles"}}</td>
			<td style="text-align:center">{{t.Qualified|tick}}</td>
			<td style="text-align:center">{{t.Certified|tick}}</td>
			@*<td></td>*@

			<td ng-repeat="tt in [ 'TPK', 'T00', 'T01', 'T02', 'T03','T04','T05', 'T06', 'T07','T08','T09', 'T10', 'T11', 'T12','T13','T','A','X']"
					ng-style="{'background-color': $index % 2 == 0? '#f0f0f0': '#ffffff'}"
					>
				<div ng-show="t[tt]>0" style="color: forestgreen; width: 50px; text-align: center">
					<spark-percent n="t[tt]" d="t.Activities" />
					<md-tooltip>{{tt}}</md-tooltip>
				</div>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<th>Role</th>
			<th>Qualified</th>
			<th>Certified</th>
			@*<th class="rotate90" style="font-weight:normal;font-size: 12px;" ng-repeat="l in vm.lookups.cache['levels']"><div><span>{{l.N}}</span></div></th>*@
			<th>PreK</th>
			<th>ECE</th>
			<th ng-repeat="idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,'T?','A','X']" style="width:50px;text-align:center">{{idx}}</th>
			<th></th>
		</tr>
		<tr>
			<td>Staff Count:</td>
			<td>{{vm.teacherCountsTable.count}}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4">By Class/Activity: Full-time / Part-time (FTPT)</td>
			<td ng-repeat="tt in [ 'TPK', 'T00', 'T01', 'T02', 'T03','T04','T05', 'T06', 'T07','T08','T09', 'T10', 'T11', 'T12','T13','T','A','X']"
					ng-style="{'background-color': $index % 2 == 0? '#f0f0f0': '#ffffff'}">
				<div style="text-align:right">
					{{vm.teacherCountsTable.ftpt[tt]|hideZero}}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="4">By Class/Activity: Full-time Equivalent (FTE)</td>
			<td ng-repeat="tt in [ 'TPK', 'T00', 'T01', 'T02', 'T03','T04','T05', 'T06', 'T07','T08','T09', 'T10', 'T11', 'T12','T13','T','A','X']"
					ng-style="{'background-color': $index % 2 == 0? '#f0f0f0': '#ffffff'}">
				<div style="text-align:right">
					{{vm.teacherCountsTable.fte[tt]|number:1|hideZero}}
				</div>
			</td>
		</tr>
</table>

</div>