﻿<md-content flex layout-padding>
	<p>Shows the exams your school participated in for which the data was imported in the system.</p>

	<exam-school-dashboard-chart school-no="vm.school.schNo">
	</exam-school-dashboard-chart>

	@* also a simple list*@
	<div>
		<table class="md-table striped">
			<thead>
				<tr>
					<th colspan="2"></th>
					<th colspan="3">Candidates</th>
				</tr>
				<tr>
					<th>Exam Year</th>
					<th>Exam Code</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="exam in vm.school.Exams | orderBy: 'ExamYear' : true">
					<td>{{exam.ExamYear}}</td>
					<td>{{exam.ExamCode}}</td>
					<td>{{exam.Candidates}}</td>
					<td>{{exam.CandidatesM}}</td>
					<td>{{exam.CandidatesF}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</md-content>
