﻿@* This is the Exams page on the schoool form *@
<div ng-hide="vm.options.selectedYear">
	<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
		<md-card-content>
			<md-icon class="material-icons">info</md-icon>
			<span>There are no recorded exams for this school in the system</span>
		</md-card-content>
	</md-card>
</div>

<div ng-show="vm.options.selectedYear">
	<div>
		<div layout="column" layout-gt-md="row">

			<div layout="column" flex>
				<p>Exam Year</p>
				<md-select ng-model="vm.options.selectedYear">
					<md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
				</md-select>
			</div>

			<div layout="column" flex>
				<p>Exam Type</p>
				<md-select ng-model="vm.options.selectedExamCode">
					<md-option ng-value="x.C" ng-repeat="x in vm.lookups.cache['examTypes']">{{ x.N }}</md-option>
				</md-select>
			</div>

			<div layout="column" flex="initial" ng-click="vm.resetAll()" style="opacity: 0.5; height: 64px; width:64px">
				<ng-md-icon size="64" icon="clear" style="height: 64px; width:64px" />
			</div>

		</div>
	</div>

	<school-exam-results-by-benchmark class="dashboard-wrapper"
																		dashboard="::vm.dashboard"
																		group="::vm.grpBenchmarkCode"
																		options="::vm.options"
																		option-change="vm.optionChange"
																		selected-child="vm.selectedChild">

	</school-exam-results-by-benchmark>

	<school-exam-results-gender-tree class="dashboard-wrapper"
																	 dashboard="::vm.dashboard"
																	 dimension="vm.dimensions.achievementLevel"
																	 options="::vm.options"
																	 option-change="vm.optionChange"
																	 selected-child="vm.selectedChild">

	</school-exam-results-gender-tree>

	<div class="dashboard-wrapper">
		<table class="md-table striped dashboard">
			<thead>
				<tr>
					<th colspan="2"></th>
					<th colspan="3">Candidates</th>
					<th colspan="3">Average Score</th>
				</tr>
				<tr>
					<th>Exam Year</th>
					<th>Exam Code</th>
					<th>Total</th>
					<th>Male</th>
					<th>Female</th>
					<th>All</th>
					<th>Male</th>
					<th>Female</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="exam in vm.school.Exams | orderBy: 'ExamYear' : true">
					<td>{{exam.ExamYear}}</td>
					<td>{{exam.ExamCode}}</td>
					<td>{{exam.Candidates}}</td>
					<td>{{exam.CandidatesM}}</td>
					<td>{{exam.CandidatesF}}</td>
					<td>{{exam.AvgScore}}</td>
					<td>{{exam.AvgScoreM}}</td>
					<td>{{exam.AvgScoreF}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
