﻿<div>
	<table class="md-table striped">

		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="3">Enrolment</th>
				<th colspan="2">Level</th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Survey Year</th>
				<th>School Type</th>
				<th>Authority</th>
				<th>Total</th>
				<th>M</th>
				<th>F</th>
				<th>Min</th>
				<th>Max</th>
				<th>
					Teachers (and Admin)
					<md-icon class="material-icons md-dark">info</md-icon>
					<md-tooltip>Includes Teachers, Mixed duties and Admin staff (i.e. 'T','M','A' from TAMX field in data)</md-tooltip>
				</th>
				<th>Classrooms</th>
				<th>Operations</th>
				<th></th>

			</tr>
		</thead>

		<tbody>
			<tr ng-class="{'editing': vm.activeSurvey.year == survey.svyYear}" data-ng-repeat="survey in vm.surveys | orderBy: svyYear : true">
				<td>{{survey.svyYear | surveyYear}}</td>
				<td>{{survey.ssSchType}}</td>
				<td>{{survey.ssAuth |lookup:"authorities"}}</td>
				<td>{{survey.ssEnrol}}</td>
				<td>{{survey.ssEnrolM}}</td>
				<td>{{survey.ssEnrolF}}</td>
				<td>{{survey.minLevel}}</td>
				<td>{{survey.maxLevel}}</td>
				<td>{{survey.TeacherSurveyCount}}</td>
				<td>{{survey.ClassroomCount}}</td>
				@*Use state #/schools/{{survey.schNo}}/surveys/{{survey.svyYear}}? OR
					ng-click="vm.showEditSurvey(survey.schNo, survey.svyYear, survey)" *@
				<td>
					<md-button class="md-icon-button" ng-click="vm.showEditSurvey(survey.schNo, survey.svyYear)" ng-hide="vm.activeSurvey.year == survey.svyYear">
						<md-tooltip>Edit survey data</md-tooltip>
						<md-icon class="material-icons md-24 md-dark">edit</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="vm.closeEditSurvey(survey.schNo, survey.svyYear)" ng-show="vm.activeSurvey.year == survey.svyYear">
						<md-tooltip>Close survey data</md-tooltip>
						<md-icon class="material-icons md-24 md-dark">close</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-show="survey.eForm" ng-click="vm.showAuditLog(survey.schNo, survey.svyYear)">
						<md-tooltip>View logs</md-tooltip>
						<md-icon class="material-icons md-24 md-dark">description</md-icon>
					</md-button>
					<md-button class="md-icon-button" disabled ng-hide="survey.eForm" ng-click="vm.showAuditLog(survey.schNo, survey.svyYear)">
						<md-tooltip>No logs to view</md-tooltip>
						<md-icon class="material-icons md-24 md-dark">description</md-icon>
					</md-button>
				</td>
				<td>
					<span permission permission-only="'@Pineapples.Models.PermissionGlobals.ShowCensusPermission'">
						<document-image document="survey.ssSource" height="10"></document-image>
					</span>
				</td>
			</tr>
		</tbody>

	</table>

</div>