﻿<panel panel-class=""
			 panel-icon="download"
			 heading="School Annual Census Workbook Create (Rollover)"
			 panel-control-collapse="true">

	<md-content>
		This rolls over the data and provides you with a pre-populated Annual School Census Workbook. 
		There are two primary advantages of this online rollover vs submitting a workbook completed from scratch:
		Saves a lot of time by pre-populating the roster with all known students from last year's survey (even better with end of year data completed).
		Carries all the cleaned up data (e.g. de-duplication, date of birth and other fixes) done online and avoids re-introducing lower quality data over and over.
	</md-content>

	<md-input-container class="md-block">
		<label>year</label>
		<input ng-model="vm.year" />
	</md-input-container>

	<school-finder flex-gt-sm
								 ng-model="vm.schoolNo"></school-finder>

	<md-input-container class="md-block" flex-gt-sm>
		<label>{{ "District" | vocab}}</label>
		<lookup-selector id="srchDistrict"
										 lkp="districts"
										 ng-model="vm.district">
		</lookup-selector>
	</md-input-container>

	<excel-download-component from="{{vm.censusPath}}" ng-disabled="!(vm.year)">
		Create Census Workbook (Rollover)
	</excel-download-component>

</panel>
