﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <i class="cloud_upload"></i>
}

@section title {
  Workbook Uploaded
}

@section tools {
}

@* body *@

<ul>
  <li>{{"District" | vocab}}: {{vm.info.District}}</li>
  <li>Year: {{vm.info.SchoolYear}}</li>
  <li>Schools: {{vm.info.NumSchools}}</li>
  <li>Students: {{vm.info.NumStudents}}</li>
  <li>Staff:{{vm.info.NumStaff}}</li>
  <li>WASH: {{vm.info.NumWash}}</li>
  <li>File ID: {{vm.info.id}}</li>
</ul>

<p ng-show="vm.info.hasValidations">
  Missing or undefined school codes were found in this workbook. 
</p>
<p ng-show="vm.info.hasStaffValidations">
  Invalid data was identified on the Staff page of this workbook.
</p>
<p ng-show="vm.info.hasStudentValidations">
	Invalid data was identified on the Students page of this workbook.
</p>
<p ng-show="vm.info.hasWashValidations">
	Invalid data was identified on the Wash page of this workbook.
</p>
<p ng-show="vm.info.hasAnyValidations">
  Review and correct these problems, then submit the file again.
</p>


@section actions {

  <md-button ng-click="vm.returnSuccess()" 
			ng-disabled="vm.info.hasAnyValidations" class="md-primary">
    Process this file
  </md-button>
  <md-button ng-click="vm.returnFail()" class="md-primary">
    Cancel - discard this data
  </md-button>
}
