﻿<crossfilter-table class="thin striped"
									 source="vm.source"
									 columns="['SchoolName','EnrolLY','RepTY', 'RepRate']"
									 column-translator="vm.columnTranslator"
									 cell-class="vm.cellClassHandler"
									 value-accessor="vm.valueAccessor"
									 value-formatter="vm.valueFormatter"
									 has-row-totals="false"
									 row-filter="vm.rowFilterRepRate"
									 gender-totals="vm.genderTotals"
									 row-descriptor="School">
	<caption-content>
		{{vm.selectedClass|lookup:'levels'}} 
	</caption-content>
</crossfilter-table>
