﻿<crossfilter-table class="thin striped"
									 source="vm.source"
									 columns="['SchoolName','Enrol','Rep', 'Intake']"
									 column-translator="vm.columnTranslator"
									 row-accessor="vm.rowAccessor"
									 row-label-class="'left-align'"
									 cell-class="vm.cellClassHandler"
									 @*col-class-handler="vm.colClassHandler"*@
									 value-accessor="vm.valueAccessor"
									 has-row-totals="false"
									 @* row-filter="vm.rowFilterIntake" *@
									 gender-totals="vm.genderTotals"
									 row-descriptor="School">
	<caption-content>
		{{vm.selectedClass|lookup:'levels'}} 
	</caption-content>
</crossfilter-table>
