﻿<crossfilter-table class="thin striped"
									 source="vm.grpSchool"
									 value-accessor="vm.valueAccessor"
									 columns="vm.classes"
									 column-translator="'levels'"
									 has-row-totals="true"
									 gender-totals="vm.genderTotals"
									 row-descriptor="School"
									 select="row"
									 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
									 >
	<caption-content>
		Enrolment of {{vm.selectedAge === null?"unknown age":"Age " + vm.selectedAge}}
	</caption-content>
</crossfilter-table>
