﻿<div>
	<div class="alert alert-warning alert-smaller" role="alert" typeof="warning">
		<ul>
			<li><strong>Editing:</strong> {{vm.schoolSurvey.schNo}} : Year {{vm.schoolSurvey.svyYear}}</li>
			<li><strong>Note:</strong> Survey data is the same as collected {{vm.schoolSurvey.svyYear}} EC survey.</li>
		</ul>
	</div>

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Enrol">
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="DIS"></pupil-table-panel>
		</md-tab>

	</md-tabs>
</div>
