﻿<div>
	<div class="alert alert-warning alert-smaller" role="alert" typeof="warning">
		<ul>
			<li><strong>Editing:</strong> {{vm.schoolSurvey.schNo}} : Year {{vm.schoolSurvey.svyYear}}</li>
			<li><strong>Note:</strong> This survey data is the same as collected from the PDF eSurvey and/or the main workbook data collection tool. It cna be edited here but if the workbook is re-uploaded data will be again re-written.</li>
		</ul>
	</div>

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Enrol">
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL"></pupil-table-panel>
		</md-tab>
		<md-tab label="Enrol 2">
			"
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL_PRI"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="ENROL_SEC"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="REP"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="DIS"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="TRIN"></pupil-table-panel>
			<pupil-table-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" table-name="TROUT"></pupil-table-panel>
		</md-tab>
		<md-tab label="School Resources">
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Communications"></resource-list-panel>
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Equipment"></resource-list-panel>
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Power Supply"></resource-list-panel>
			<resource-list-panel school-no="vm.schoolSurvey.schNo" year="vm.schoolSurvey.svyYear" category="Library Resources"></resource-list-panel>
		</md-tab>
		<md-tab label="Wash">
			<div>

				<h4>Water Supply</h4>
				<div layout="column">
					<div layout="row" layout-fill>
						<div flex>Water Supply</div>
						<div flex>Overhead tank</div>
						<div flex>Water Tank</div>
						<div flex>Well (drinkable)</div>
						<div flex>Well (drinkable)</div>

					</div>
					<div layout="row" layout-fill>
						<div flex>Number</div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>

					</div>
					<div layout="row" layout-fill>
						<div flex>Total Capacity</div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
						<div flex></div>
					</div>

				</div>
				<h4>Drinking Water: {{vm.DrinkWater}}</h4>
				<div layout="row" layout-fill>
					<div flex>Rainwater</div>
					<div flex>Groundwater</div>
					<div flex>Dealinated Water</div>
					<div flex>Bottled Water</div>
				</div>
				<md-radio-group layout="row" layout-fill ng-model="vm.DrinkWater">
					<md-radio-button flex ng-value="1"></md-radio-button>
					<md-radio-button flex ng-value="2"></md-radio-button>
					<md-radio-button flex ng-value="3"></md-radio-button>
					<md-radio-button flex ng-value="4"></md-radio-button>

				</md-radio-group>

				<md-radio-group layout="row" layout-fill ng-model="vm.DrinkWater">
					<md-radio-button flex ng-repeat="src in ['Rainwater','Groundwater', 'Desalinated Water','Bottled Water']" 
									 ng-value="$index+1">{{src}}</md-radio-button>


				</md-radio-group>

			</div>
		</md-tab>
	</md-tabs>
</div>
