﻿<md-content flex layout-padding>
	<p>
		Only a summary of the FORM B school accreditation results will be shown to the schools for information purposes.
		The actual data collection is done through an Android app not by the schools themselves but by designated inspectors.
		If you believe some of the results below are not correct you must contact the National Data Management Office.
	</p>
</md-content>

<md-card ng-repeat="sa in vm.schoolaccreditations | orderBy: 'InspectionYear' : true">

	<md-card-header>
		<md-card-header-text>
			<div layout="row">
				<span flex class="md-headline" ng-show="sa.StartDate == null">
					Inspection: {{sa.InspectionYear}}
					(<a class="gdAction" ng-click="vm.showSchoolAccreditation(sa.inspID)">{{sa.inspID}}</a>)
				</span>
				<span flex class="md-headline" ng-show="sa.StartDate != null">
					Inspection: {{sa.StartDate|date}}
					(<a class="gdAction" ng-click="vm.showSchoolAccreditation(sa.inspID)">{{sa.inspID}}</a>)
				</span>
				<span flex class="md-headline"><stars level="sa.InspectionResult" size="large"></stars></span>
			</div>
			<span class="md-subhead" ng-show="sa.InspectedBy == null">Inspected by: N/A</span>
			<span class="md-subhead" ng-show="sa.InspectedBy != null">Inspected by: {{sa.InspectedBy}}</span>
		</md-card-header-text>
	</md-card-header>

	<md-card-content>

		<table class="md-table striped">
			<thead>
				<tr>
					<th colspan="2">Standard</th>
					<th>Criteria 1</th>
					<th>Criteria 2</th>
					<th>Criteria 3</th>
					<th>Criteria 4</th>

					<th>Standard Level</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="std in ['SE.1', 'SE.2', 'SE.3', 'SE.4','SE.5', 'SE.6']">
					<td>{{std}}</td>
					@*code*@
					<td>{{std | lookup:'accreditationTerms':'S'}}</td>  @*short name*@

					<td><stars size="small" level="sa[std + '.1']"></stars></td>
					<td><stars size="small" level="sa[std + '.2']"></stars></td>
					<td><stars size="small" level="sa[std + '.3']"></stars></td>
					<td><stars size="small" level="sa[std + '.4']"></stars></td>
					<td><stars level="sa[std]"></stars></td>
				</tr>

				<tr ng-repeat-end>
					<td></td>
					<td>Classroom Observation</td>
					<td>{{sa["CO.1"] | number}}</td>
					<td>{{sa["CO.2"]| number}}</td>
				</tr>
			</tbody>
		</table>

	</md-card-content>
</md-card>
