﻿
<div>
	<findata-year-nation class="dashboard-wrapper height5 "
																dashboard="::vm.dashboard"
																group="::vm.xtabDistrictSector"
																options="::vm.options"
																selected-child="vm.selectedChild">
	</findata-year-nation>
</div>

<div>
	<findata-district-sector-spend class="dashboard-wrapper height3 "
																 dashboard="::vm.dashboard" group="::vm.xtabDistrictSector"
																 options="::vm.options"
																 selected-child="vm.selectedChild">
	</findata-district-sector-spend>
</div>

<div>
	<year-sector-spend-chart class="dashboard-wrapper height3 "
													 dashboard="::vm.dashboard" group="::vm.xtabYearSector"
													 options="::vm.options"
													 selected-child="vm.selectedChild">
	</year-sector-spend-chart>
</div>
<div>
	<year-district-spend-chart class="dashboard-wrapper height3 "
													 dashboard="::vm.dashboard" group="::vm.xtabYearDistrict"
													 options="::vm.options"
													 selected-child="vm.selectedChild">
	</year-district-spend-chart>
</div>

