﻿@using Pineapples.Models
@model PermissionSet
@* Education Expenditure Details (by cost centre, education level)
*@
<div>
	<table class="md-table list numbers tight striped">
		<thead>
			<tr>
				<th colspan="2"></th>
				<th colspan="2">Total Expenditure</th>
				<th colspan="2">Recurrent Expenditure</th>
				<th></th>
			</tr>
			<tr>
				<th class="text">Cost Centre</th>
				<th class="text">Item</th>
				<th>Budgeted</th>
				<th>Actual</th>
				<th>Budgeted</th>
				<th>Actual</th>
				<th class="text">Funding Source</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="edx in vm.edexps">
				<td class="text">{{edx.xedCostCentre | lookup:"costCentres"}}</td>
				<td class="text">{{edx.xedItem}}</td>
				<td>{{edx.xedTotB | currency:"$"}}</td>
				<td>{{edx.xedTotA | currency:"$"}}</td>
				<td>{{edx.xedCurrentB | currency:"$"}}</td>
				<td>{{edx.xedCurrentA | currency:"$"}}</td>
				<td class="text">{{edx.sofCode|lookup:"fundingSources"}}</td>
				<td>
					<md-button class="md-icon-button" ng-click="vm.showEdExp(edx)">
						@* create is a pencil, ie 'Edit' more-horiz is the horizontal ellipsis *@
						<md-icon class="material-icons md-24 md-dark">
							<span permission permission-only="'@Model.Update'">
								create
								<md-tooltip>View / Edit details ... </md-tooltip>
							</span>
							<span permission permission-only="'@Model.Read'" permission-except="'@Model.Update'">
								more_horiz
								<md-tooltip>Details ...</md-tooltip>
							</span>
						</md-icon>
					</md-button>
					<span permission permission-only="'@Model.Delete'">
						<md-button class="md-icon-button" ng-click="vm.delete(edx)">
							<md-icon class="material-icons md-24 md-dark">delete</md-icon>
							<md-tooltip>Delete this expenditure line</md-tooltip>
						</md-button>
					</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Total</td>
				<td>{{vm.findata.educationTotals.totalBudget | currency:"$"}}</td>
				<td>{{vm.findata.educationTotals.totalActual | currency:"$"}}</td>
				<td>{{vm.findata.educationTotals.currentBudget | currency:"$"}}</td>
				<td>{{vm.findata.educationTotals.currentActual | currency:"$"}}</td>
			</tr>
			<tr>
				<td colspan="2">% of Govt</td>
				<td>{{vm.findata.educationPercs.budget }}</td>
				<td>{{vm.findata.educationPercs.actual}}</td>
				<td></td>
				<td></td>
			</tr>

		</tfoot>
	</table>

	<div layout="row" permission permission-only="'@Model.Create'">
		<div flex></div>
		<md-button class="md-fab md-mini" ng-click="vm.new()">
			<md-icon class="md-24">add</md-icon>
			<md-tooltip>Add a new expenditure line</md-tooltip>
		</md-button>
	</div>
</div>