﻿@section title {
  Education Expenditure
}

@section icon {
  <i class="fa fa-graduation-cap"></i>&nbsp;
}
@section tools {}
@section actions {}

<div ng-show="vm.showErrors()">
  The form cannot be saved because the data is incomplete or invalid
</div>
<div>
  <form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">
		<div layout="column">

			@* becuase lookup-selector sits between the md-input-container
			and the actual md-select, there are problems getting the error visibility
		 we expect - using ng-class seems to overcome a problem with md-is-error
		not doing what we would expect  (ie set the class md-input-invalid)
		This is not perfect - there are still cases where the error styling does not get
		applied to the md-select
			*@
			<md-input-container class="md-block" flex-gt-sm
													md-is-error="vm.showErrors('xedCostCentre')"
													ng-class="{'md-input-invalid': vm.showErrors('xedCostCentre')}">
				<label>Cost centre</label>
				<lookup-selector name="xedCostCentre"
												 lkp="costCentres" ng-model="vm.model.xedCostCentre" ng-disabled="!vm.isEditing"
												 ng-required="true"></lookup-selector>
				<div ng-messages="vm.modelForm.xedCostCentre.$error" ng-show="vm.showErrors('xedCostCentre')">
					<ng-message when="required">
						Cost centre is required
					</ng-message>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Expenditure Item</label>
				<input type="text" ng-model="vm.model.xedItem" ng-disabled="!vm.isEditing" />
			</md-input-container>

			<div layout="row">
				<label flex-gt-sm>Total Expenditure</label>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Budget</label>
					<input type="number" ng-model="vm.model.xedTotB" ng-disabled="!vm.isEditing" />
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Actual</label>
					<input type="number" ng-model="vm.model.xedTotA" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			<div layout="row">
				<label flex-gt-sm>Recurrent Expenditure</label>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Budget</label>
					<input type="number" ng-model="vm.model.xedCurrentB" ng-disabled="!vm.isEditing" />
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Actual</label>
					<input type="number" ng-model="vm.model.xedCurrentA" ng-disabled="!vm.isEditing" />
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex-gt-sm
														md-is-error="vm.showErrors('sofCode')"
														ng-class="{'md-input-invalid': vm.showErrors('sofCode')}">
					<label>Funding Source</label>
					<lookup-selector name="sofCode"
													 lkp="fundingSources" ng-model="vm.model.sofCode" ng-disabled="!vm.isEditing"
													 ></lookup-selector>
				</md-input-container>
	
			</div>
		</div>
  </form>
</div>