﻿@section icon {
	fa fa-book
}

@section title {
	{{vm.formTitle}}
}

<div class="appform">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Financial Expenditure">

			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@


							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Financial Year</label>
									<input type="number" ng-model="vm.model.fnmYear" ng-disabled="!(vm.isNew && vm.isEditing)" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>{{"District" | vocab}} </label>
									<lookup-selector lkp="expenditurePoints" ng-model="vm.model.fnmDistrict" ng-disabled="!vm.isEditing" ng-required="true" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Budgeted Expenditure</label>
									<input type="number" ng-model="vm.model.fnmExpTotB" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Actual Expenditure</label>
									<input type="number" ng-model="vm.model.fnmExpTotA" ng-disabled="!vm.isEditing" />
								</md-input-container>

							</div>

							<div layout-gt-xs="row" ng-show="vm.model.fnmDistrict == 'NATIONAL'">
								<md-input-container class="md-block" flex-gt-sm>
									<label>GNI</label>
									<input type="number" ng-model="vm.model.fnmGNP" ng-disabled="!vm.isEditing" />
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>GNI per Capita</label>
									<input type="number" ng-model="vm.model.fnmGNPCapita" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>GNI Currency</label>
									<input type="text" ng-model="vm.model.fnmGNPCurrency" ng-disabled="!vm.isEditing" />
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>GNI Currency Exchange (to USD)</label>
									<input type="number" ng-model="vm.model.fnmGNPXchange"
												 ng-disabled="!vm.isEditing || vm.model.fnmGNPCurrency == 'USD'" />
								</md-input-container>


							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Source of data</label>
									<input type="text" ng-model="vm.model.fnmSource" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Notes</label>
									<textarea rows="3" ng-model="vm.model.fnmNote" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

		<md-tab label="Education Expenditure" ng-disabled="vm.isNew">
			<div layout="column">
				<md-content layout-padding>
					<component-ed-exp-list findata="vm.model" edexps="vm.model.educationSpending"></component-ed-exp-list>
				</md-content>
			</div>
		</md-tab>
	</md-tabs>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>