﻿<h4>Search/Filter Dataset</h4>

@{
	Layout = null;
}

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>ID</label>
		<input ng-model="vm.params.fnmID" type="number" />
	</md-input-container>

	@*TODO - Move to dynamic lookups of existing quarterly report periods*@
	<md-input-container class="md-block" flex-gt-sm>
		<label>Year (e.g. 2016)</label>
		<input ng-model="vm.params.Year" type="text" />
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>{{ "District" | vocab}}</label>
		<lookup-selector id="srchDistrict"
										 lkp="districts"
										 ng-model="vm.params.District"
										 ng-disabled="vm.findConfig.isLocked('District')">
		</lookup-selector>
	</md-input-container>
</div>
<section layout="row" layout-align="center center">
	<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
	<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
