﻿<panel panel-class=""
       panel-icon="list"
       heading="{{vm.heading}}"
       panel-control-collapse="true">
	<div layout="row" layout-padding>
		<div flex="30">
			<md-select ng-model="vm.table">
				<md-option></md-option>
				<md-option ng-repeat="table in vm.tableList" ng-value="table">
					{{vm.prettyName(table)}}
				</md-option>
			</md-select>
		</div>
		<div flex="70" style="margin-top: 20px; margin-bottom: 20px">{{vm.entityDescription}}</div>
	</div>

  <div>
		<super-grid rowset="vm.rowset" view-mode="vm.viewMode" is-editing="vm.isEditing" parent="vm"></super-grid>
	</div>

</panel>
