﻿<div>
	<div>
		<table class="table cells">
			<thead>
				<tr>
					<th class="no-border"></th>
					<th colspan="1" ng-class="{'leftedge':$first, 'rightedge': $last}"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6','CO.1','CO.2']">
						{{std}}
					</th>
					</tr>
				<tr>
					<th class="no-border"></th>
					<th ng-class="{'leftedge':$first, 'rightedge': $last}"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std | lookup:'accreditationTerms':'S'}}
					</th>
					<th colspan="2" class="leftedge rightedge">Classroom Observation</th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="i in [1,2,3,4]">
					<td class="rowlabel cell">C.{{i}}</td>
					<td ng-class="{'rightedge': $last}"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						<stars level="vm.calc.critLevel(std + '.' + i)"></stars>
					</td>
					<td ng-class="{'leftedge': i == 1, 'no-border': i > 1}">
						<span ng-if="i == 1">
							<stars level="vm.calc.categorytypeLevel('CLASSROOM_OBSERVATION', 'Classroom Observation 1')"></stars>
						</span>
					</td>
					<td ng-class="{'rightedge': i == 1, 'no-border': i > 1}">
						<span ng-if="i == 1">
							<stars level="vm.calc.categorytypeLevel('CLASSROOM_OBSERVATION', 'Classroom Observation 2')"></stars>
						</span>
					</td>
				</tr>

				@* for now, omit this calculated score *@
				@*
		<tr>
			<!-- standard tally -->
			<td class="no-border"></td>
			<td ng-class="{'leftedge':$first, 'rightedge': $last}"
					ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
				{{vm.calc.standardScore(std) |number:1}}
			</td>
		</tr>
				*@
				@*
		<tr>
					<!-- standard calculated level -->
			<td class="no-border"></td>
			<td ng-class="{'leftedge':$first, 'rightedge': $last}"
					ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
				{{vm.calc.standardLevel(std)}}
			</td>
		</tr>
				*@
				<tr class="total">
					<!-- standard level in stars -->
					<td class="cell">Standard Level</td>
					<td ng-class="{'leftedge':$first, 'rightedge': $last}"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						<stars size="large" level="vm.calc.standardLevel(std)"></stars>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
	</div>
	<div>
		@* Tallies by result level *@
		<h1> Tally Table</h1>
		<table>
			<thead>
				<tr>
					<th ng-repeat="level in ['Level 1','Level 2', 'Level 3', 'Level 4']">
						<stars level="level"></stars>
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td ng-repeat="level in ['Level 1','Level 2', 'Level 3', 'Level 4']">
						{{vm.calc.tally(level)}}
					</td>
					<td>Result:</td>
					<td><stars level="vm.calc.assessedLevel()" size="large"></stars></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>


</div>