﻿<div>
	<div style="padding:5px">
		@* 
			Criteria Totals 
			---------------
			Horizontal table of the *scores* (shown as numeric) by criteria
			These are accumulated below from the 
		*@
		<table class="table cells">
			<thead>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std}}
					</th>
					<th colspan="2" class="no-border"></th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std | lookup:'accreditationTerms':'S'}}
					</th>
					<th colspan="2" class="cell">Classroom Observation</th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th class="leftedge">CO.1</th> @* column heads for classroom observation *@
					<th class="rightedge">CO.2</th>
				</tr>
			</thead>
			<tbody>
				@* criteria totals, numeric *@
				<tr>
					<td class="no-border"></td>
					<td ng-repeat-start="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']" class="leftedge">
						{{vm.calc.critScore(std+ '.1')}} 
					</td>
					<td>{{vm.calc.critScore(std + '.2')}}</td>
					<td>{{vm.calc.critScore(std + '.3')}}</td>
					<td ng-repeat-end class="rightedge">
						{{vm.calc.critScore(std + '.4')}}
					</td>
					@* now numeric out of 4 for the classroom observations *@
					<td class="leftedge">
						{{vm.calc.categorytypeLevel('CLASSROOM_OBSERVATION', 'Classroom Observation 1')}}
					</td>
					<td class="rightedge">
						{{vm.calc.categorytypeLevel('CLASSROOM_OBSERVATION', 'Classroom Observation 2')}}

					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
	</div>
	<div>
		@* Tallies by result level *@
		<h1> Tally Table</h1>
		<table>
			<thead>
				<tr>
					<th ng-repeat="level in ['Level 1','Level 2', 'Level 3', 'Level 4']">
						<stars level="level"></stars>
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-repeat="level in ['Level 1','Level 2', 'Level 3', 'Level 4']">
						{{vm.calc.tally(level)}}
					</td>
					<td>Result:</td>
					<td><stars level="vm.calc.assessedLevel()" size="large"></stars></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>


	</div>

	<div>
		@*
		School Evaluation
		----------------------
		*@
		<h3>School Evaluation Detail</h3>
		<table class="table cells">
			<thead>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std}}
					</th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std | lookup:'accreditationTerms':'S'}}
					</th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
					<th ng-repeat="i in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}">C.{{i}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="cell">Criteria Score</td>
					<td ng-repeat-start="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{vm.calc.critScore(std+ '.1')}}
					</td>
					<td>{{vm.calc.critScore(std + '.2')}}</td>
					<td>{{vm.calc.critScore(std + '.3')}}</td>
					<td ng-repeat-end class="rightedge">
						{{vm.calc.critScore(std + '.4')}}
					</td>
				</tr>
				<tr ng-repeat="sc in ['a','b','c','d']">
					<td style="border: lightgray 1px solid">{{sc}}</td>
					<td ng-repeat-start="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{vm.calc.score(std,'1',sc)}}
					</td>
					<td>{{vm.calc.score(std,'2',sc)}}</td>
					<td>{{vm.calc.score(std,'3',sc)}}</td>
					<td ng-repeat-end style="border-right: lightgray 1px solid">
						{{vm.calc.score(std,'4',sc)}}
					</td>
				</tr>
				<tr>
					@* standard tally *@
					<td class="cell">Standard Total</td>
					<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']"
							class="cell">
						{{vm.calc.standardScore(std)}}
					</td>
				</tr>
				@* don;t display the level in text *@
				@*
		<tr>
					<!-- Level as text -->
			<td></td>
			<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']"
					style="border-right: lightgray 1px solid">
				{{vm.calc.standardLevel(std)}}
			</td>
		</tr>
				*@
				<tr class="total">
					<td class="cell">Standard Level</td>
					<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']"
							class="cell">
						<stars level="vm.calc.standardLevel(std)"></stars>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		@* classroom observation 1*@
		<div ng-repeat="coname in ['Classroom Observation 1', 'Classroom Observation 2']">
			<h3>{{coname}}</h3>
			<table class="table cells">
				<thead>
					<tr>
						<th class="no-border"></th>
						<th colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{std}}
						</th>
					</tr>
					<tr>

						<th class="no-border"></th>
						<th colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{std | lookup:'accreditationTerms':'S'}}
						</th>
					</tr>
					<tr>
						<th class="no-border"></th>
						<th ng-repeat="n in [1,2]" ng-class="{leftedge: $first, rightedge: $last}">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}"">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1,2,3,4]" ng-class="{leftedge: $first, rightedge: $last}"">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1]" ng-class="{leftedge: $first, rightedge: $last}"">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1]" ng-class="{leftedge: $first, rightedge: $last}"">
							C.{{n}}
						</th>


					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sc in ['a','b','c','d','e']">
						<td class="cell">{{sc}}</td>
						<td ng-repeat="n in [1,2]" ng-style="$last && {'border-right':'lightgray 1px solid'}">
							{{vm.calc.score('CO.1',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-style="$last && {'border-right':'lightgray 1px solid'}">
							{{vm.calc.score('CO.2',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-style="$last && {'border-right':'lightgray 1px solid'}">
							{{vm.calc.score('CO.3',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1]" ng-style="$last && {'border-right':'lightgray 1px solid'}">
							{{vm.calc.score('CO.4',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1]" ng-style="$last && {'border-right':'lightgray 1px solid'}">
							{{vm.calc.score('CO.5',n, sc, coname)}}
						</td>
					</tr>
					<tr>
						@* standard totals - score*@
						<td class="cell">Standard Total</td>
						<td colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{vm.calc.standardScore(std, coname)}}
						</td>
						<td class="cell">{{vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", coname)}}</td>
					</tr>
					@* standard totals - level*@
					@*
		<tr>
			<td style="border-right: lightgray 1px solid">{{sc}}</td>
			<td colspan="{{[2,4,4,1,1][$index]}}" style="border-right: lightgray 1px solid"
					ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
				{{vm.calc.standardLevel(std,coname, [10,20,20,5,5][$index])}}
			</td>
			<td>{{vm.calc.categorytypeLevel("CLASSROOM_OBSERVATION", coname)}}</td>
		</tr>
					*@
					<tr class="total">
						@* standard totals - level as stars *@
						<td class="cell">Standard Level</td>
						<td colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							<stars level="vm.calc.standardLevel(std, coname, [10,20,20,5,5][$index])"></stars>
						</td>
						<td class="cell">
							<stars level="vm.calc.categorytypeLevel('CLASSROOM_OBSERVATION', coname)"></stars>
						</td>
					</tr>
				</tbody>
			</table>
		</div> @* end ng-repeat classroom observations *@
	</div>
</div>