﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.filters}}
}

@section componentOptions {
	@*<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
	</md-select>*@
}
<div ng-if="vm.isSelected()">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{'School No' | vocab}}</th>
				<th>Year</th>
				<th>Result</th>
				<th>SE.1</th>
				<th>SE.2</th>
				<th>SE.3</th>
				<th>SE.4</th>
				<th>SE.5</th>
				<th>SE.6</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in vm.accreditations">
				<td><a ui-sref=".item({id: a.inspID})">{{a.inspID}}</a></td>
				<td><a ui-sref=".school({id: a.schNo})">{{a.schNo}}</a></td>
				<td>{{a.InspectionYear}}</td>
				<td class="stars"><stars size="large" level="a.InspectionResult"></stars></td>
				<td class="stars"><stars level="a['SE.1']"></stars></td>
				<td class="stars"><stars level="a['SE.2']"></stars></td>
				<td class="stars"><stars level="a['SE.3']"></stars></td>
				<td class="stars"><stars level="a['SE.4']"></stars></td>
				<td class="stars"><stars level="a['SE.5']"></stars></td>
				<td class="stars"><stars level="a['SE.6']"></stars></td>
			</tr>
		</tbody>
	</table>
</div>
<div flex>
	<mirror-chart 
								
								 dataset="vm.chartData"
								 touch="{{vm.touch}}"
								 charttype="h" flip="false"
								 sort-by ="vm.sortBy"
								 sort-descending="vm.sortDescending"
								 highlight="vm.highlight"
								 tooltipper="vm.tooltipper(datum)"
								 on-chart-render="vm.onChartRender(option, echart)"
								 on-click="vm.clickHandler(params)"
									mirrors="vm.mirrors"
								 colors="vm.palette"
								 info="vm.info" style="height:100%; width:100%"
								 @* add flexing to fill the container *@
								 layout="column" layout-fill>
	</mirror-chart>
</div>
