﻿<div layout="column" layout-fill>
	<div layout="row">
		<div layout="row" flex ng-transclude="tools">
			
		</div>
		<div layout="row" flex>

			
			<div layout="row" flex style="padding: 0 10px 0 0">
				@*<p style="margin: 25px 20px 0 10px">Results for</p>*@
				<md-select ng-model="vm.selectedRecordType" flex>

					<md-option ng-value="type" ng-repeat="type in ['Exam','Standard','Benchmark','Indicator']">{{type}}</md-option>
				</md-select>
			</div>

			<div layout="row" flex style="padding: 0 0 0 10px">
				@*<p style="margin: 25px 20px 0 10px">By</p>*@
				<md-select ng-model="vm.calculationMethod" flex>

					<md-option ng-value="m[0]" ng-repeat="m in [
								 ['candidateCount','Candidate Count'],
								 ['indicatorCount','Indicator Count'],
								 ['weight','Weighted Indicator Count']
								 ]">{{m[1]}}</md-option>
				</md-select>

			</div>
		</div>
	</div>
	<div layout="row" flex>
		<mirror-chart @*ng-class="vm.paletteName"*@
									dataset="vm.chartData"
									touch="{{vm.touch}}"
									sort-by="vm.aggregationSortFunction"
									sort-descending="1" @* a horizontal chart renders from the bottom up, so sort descding is more natural*@
									charttype="hp" flip="false"
									click-handler="vm.clickHandler(event)"
									class-handler="vm.classHandler(source)"
									tooltipper="vm.tooltipper(datum)"
									on-chart-render="vm.onChartRender(option, echart)"
									colors="vm.palette"
									@*column-sort-by="['Approaching competence','Well below competent','Minimally competent','Competent']"*@
									mirrors="vm.mirrors"
									column-sort-by="vm.columnSortBy"
									info="vm.info"
									@* add flexing to fill the container *@
									layout="column" layout-fill>
		</mirror-chart>
	</div>
	<!--"['#1010FF', '#223344', '#096723', '#123456','#3000FF', '#503344', '#506723', '#503456']"
	['#1010FF','#223344','#096723','#123456']
	-->

</div>