﻿<div layout="column" layout-fill>
	<div layout="row">
		<div layout="row" flex ng-transclude="tools">
			
		</div>
		<md-select ng-model="vm.selectedRecordType" flex="25">

			<md-option ng-value="type" ng-repeat="type in ['Exam','Standard','Benchmark','Indicator']">{{type}}</md-option>
		</md-select>
		<md-select ng-model="vm.calculationMethod" flex="25">

			<md-option ng-value="m[0]" ng-repeat="m in [
								 ['candidateCount','Candidate Count'],
								 ['indicatorCount','Indicator Count'],
								 ['weight','Weighted Indicator Count']
								 ]">{{m[1]}}</md-option>
		</md-select>
		
	</div>
	<div layout="row" flex>
		<crossfilter-table source="vm.currentAggregationGroup()" @* Crossfilter group *@
											 columns="['1','2','3','4']" @* array of the available columns *@
											 column-translator="vm.examXf.achievementLevels.description"		@* Translator object for rendering column header expects 1 arg the raw col value *@
											 row-accessor="vm.tableRowAccessor" , @* takes a row (ie key value pair) returns the row label *@
											 row-filter="vm.tableRowFilter"       @*"vm.makeRecordTypeFilter(vm.selectedRecordType)"  *@ @* takes a row, returns false if the row should be hidden *@
											 value-accessor="vm.tableValueAccessor" , @* function taking a (row, column, gender ) returns value  *@
											 @* default row.value[col].T or row.value[col]  (no gender)  *@
											 @* or if gender supplied, row.value[col][gender] *@
											 has-row-totals="true" @* true if there is a total at the end of each row *@
											 gender-totals="true" @* displays subheaders for gender, and gender values *@
											 @* showDetail: "<" , @* function takes row, source returns boolean  *@
											 col-descriptor="Achievement Level"
											 row-descriptor="{{vm.selectedRecordType}}" 
											 flex>
		</crossfilter-table>
	</div>
	<!--"['#1010FF', '#223344', '#096723', '#123456','#3000FF', '#503344', '#506723', '#503456']"
	['#1010FF','#223344','#096723','#123456']
	-->

</div>