﻿<div layout="column">
	
	<div layout="column" fit-content>
		<exam-chart exam-xf="vm.examXf" sta-mirrors="['1.F','2.F','1.T','2.T','1.M','2.M','1','2']"
								layout="column" layout-fill>
			<chart-tools layout="column" flex >
				<div layout="row" flex >
					<md-input-container flex="30">
						<md-checkbox ng-model="vm.national">
							National data
						</md-checkbox>
					</md-input-container>
					<school-finder ng-disabled="vm.national" ng-model="vm.schoolNo" flex="50" />
				</div>
			</chart-tools>
		</exam-chart>
	</div>
</div>