﻿<div layout="column">
	
	<div layout="column" fit-content>
		<exam-crosstab exam-xf="vm.examXf"
								layout="column" layout-fill>
			<chart-tools layout="row" flex >
				<md-input-container flex="30">
					<md-checkbox ng-model="vm.national" >
						National data
					</md-checkbox>
				</md-input-container>
					<school-finder ng-disabled="vm.national"  ng-model="vm.schoolNo" flex="50"/>
			</chart-tools>
		</exam-crosstab>
	</div>
</div>