﻿<div layout="column">
	
	<div layout="column" fit-content>
		<exam-chart exam-xf="vm.examXf" sta-mirrors="['1.F','2.F','1.T','2.T','1.M','2.M','1','2']"
								layout="column" layout-fill>
			<chart-tools layout="row" flex>
				@* these css adjustments are to make these labels line up nicely with the selects ....*@
				<div layout="row" flex style="padding: 0 10px 0 0">
					<p style="margin: 25px 20px 0 10px">Exam Year</p>
					<md-select ng-model="vm.examYear" flex>
						<md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
					</md-select>
				</div>

				<div layout="row" flex style="padding: 0 20px 0 10px">
					<p style="margin: 25px 20px 0 10px">Exam Type</p>
					<md-select ng-model="vm.examCode" flex>
						<md-option ng-value="x.C" ng-repeat="x in vm.lookups.cache['examTypes']">{{ x.N }}</md-option>
					</md-select>
				</div>
			</chart-tools>
		</exam-chart>
	</div>
</div>