﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.options.descriptionExcluding()}}
}
@section componentOptions {

	<md-select ng-model="vm.selectedViewOption" aria-label="Select" ng-if="vm.viewOptions.length > 0">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
	</md-select>
}


<div flex>
	@section whenSelected {
		<table>
			<thead>
				<tr>
					<th>{{vm.group.all()[0].key[2]}}</th>
					<th>M</th>
					<th>F</th>
					<th>Total</th>
				</tr>

			</thead>
			<tbody>
				<tr ng-repeat="row in vm.group.all()">
					<td>{{row.key[1]}}</td>
					<td>{{row.value["Tot"].M}}</td>
					<td>{{row.value["Tot"].F}}</td>
					<td>{{row.value["Tot"].T}}</td>

				</tr>
			</tbody>
		</table>
	}
	<style>
		row-col-chart.sta rect.series01 {
			fill: #1010ff;
		}

		row-col-chart.default rect.series01 {
			fill: green;
		}
	</style>
	<row-col-chart 
								 @*ng-class="vm.paletteName"*@
								 dataset="vm.chartData" touch="{{vm.touch}}"
								 charttype="h" flip="false"
								 on-click="vm.clickHandler(item)"
								 tooltipper="vm.tooltipper(datum)"
								 on-chart-render="vm.onChartRender(option, echarts, renderedType)"
								 colors="vm.palette"
								 allowed-types="['h','pie']"
								 highlight="vm.highlight"
								 layout="column" layout-fill>
	</row-col-chart>
	<!--"['#1010FF', '#223344', '#096723', '#123456','#3000FF', '#503344', '#506723', '#503456']"
	['#1010FF','#223344','#096723','#123456']
	-->

</div>