﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New QuarterlyReport': 'QuarterlyReport ' + vm.model.schNo + '-' + vm.model.InspQuarterlyReport}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Quarterly Report (9 Week Report)">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
            <form name="vm.modelForm" ng-submit="vm.save()">
              @*novalidate class="form-custom-validation"*@

              <div layout-gt-xs="row">
                <h3>General Information</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>{{"School No" | vocab }}</label>
                  <input type="text" ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>School Name</label>
                  <input type="text" ng-model="vm.model.schName" ng-disabled="true" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Reporting Period</label>
                  <input type="text" class="form-control" id="inputInspQuarterlyReport" placeholder="YYYY/Q[1-4]"
                         ng-model="vm.model.InspQuarterlyReport" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Complete By</label>
                  <input type="text" ng-model="vm.model.InspectedBy" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Note</label>
                  <input type="text" ng-model="vm.model.Note" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label># of Days Open</label>
                  <input type="number" ng-model="vm.model.NumDaysOpen" ng-disabled="!vm.isEditing" required />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Attendance Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Attendance</label>
                  <input type="number" ng-model="vm.model.AggDaysAtt" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Attendance (Male)</label>
                  <input type="number" ng-model="vm.model.AggDaysAttM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Attendance (Female)</label>
                  <input type="number" ng-model="vm.model.AggDaysAttF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              @* Start Auto computed*@
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Attendance</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAtt / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                  @*equals vm.model.AvgDailyAtt*@
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Attendance (Male)</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAttM / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                  @*equals vm.model.AvgDailyAttM*@
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Attendance (Female)</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAttF / vm.model.NumDaysOpen}}" ng-disabled="true" required />
                  @*equals vm.model.AvgDailyAttF*@
                </md-input-container>
              </div>
              @* End Auto computed*@

              <div layout-gt-xs="row">
                <h3>Absence Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Absence</label>
                  <input type="number" ng-model="vm.model.AggDaysAbs" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Absence (Male)</label>
                  <input type="number" ng-model="vm.model.AggDaysAbsM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Absence (Female)</label>
                  <input type="number" ng-model="vm.model.AggDaysAbsF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Membership Data</h3>
              </div>

              @* Start Auto computed*@
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Membership</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAtt + vm.model.AggDaysAbs}}" ng-disabled="true" required />
                  @*equals vm.model.AggDaysMem*@
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Membership (Male)</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAttM + vm.model.AggDaysAbsM}}" ng-disabled="true" required />
                  @*equals vm.model.AggDaysMemM*@
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Agg. Days of Membership (Female)</label>
                  <input type="number" placeholder="{{vm.model.AggDaysAttF + vm.model.AggDaysAbsF}}" ng-disabled="true" required />
                  @*equals vm.model.AggDaysMemF*@
                </md-input-container>
              </div>
              @* End Auto computed*@

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Membership</label>
                  <input type="number" ng-model="vm.model.AvgDailyMem" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Membership (Male)</label>
                  <input type="number" ng-model="vm.model.AvgDailyMemM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Avg. Daily Membership (Female)</label>
                  <input type="number" ng-model="vm.model.AvgDailyMemF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Dropouts Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Dropouts</label>
                  <input type="number" ng-model="vm.model.Dropout" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Dropouts (Male)</label>
                  <input type="number" ng-model="vm.model.DropoutM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Dropouts (Female)</label>
                  <input type="number" ng-model="vm.model.DropoutF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Transfers Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers In</label>
                  <input type="number" ng-model="vm.model.Trin" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers In (Male)</label>
                  <input type="number" ng-model="vm.model.TrinM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers In (Female)</label>
                  <input type="number" ng-model="vm.model.TrinF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers Out</label>
                  <input type="number" ng-model="vm.model.Trout" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers Out (Male)</label>
                  <input type="number" ng-model="vm.model.TroutM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Transfers Out (Female)</label>
                  <input type="number" ng-model="vm.model.TroutF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Graduate Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 8</label>
                  <input type="number" ng-model="vm.model.Grad8" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 8 (Male)</label>
                  <input type="number" ng-model="vm.model.Grad8M" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 8 (Female)</label>
                  <input type="number" ng-model="vm.model.Grad8F" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 12</label>
                  <input type="number" ng-model="vm.model.Grad12" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 12 (Male)</label>
                  <input type="number" ng-model="vm.model.Grad12M" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Graduate 12 (Female)</label>
                  <input type="number" ng-model="vm.model.Grad12F" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

              <div layout-gt-xs="row">
                <h3>Enrolment Data</h3>
              </div>

              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Total Enrol to Date</label>
                  <input type="number" ng-model="vm.model.TotEnrolToDate" ng-disabled="!vm.isEditing" required />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Total Enrol to Date (Male)</label>
                  <input type="number" ng-model="vm.model.TotEnrolToDateM" ng-disabled="!vm.isEditing" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Total Enrol to Date (Female)</label>
                  <input type="number" ng-model="vm.model.TotEnrolToDateF" ng-disabled="!vm.isEditing" />
                </md-input-container>
              </div>

            </form>

            <md-card md-colors="::{backgroundColor: 'default-primary-200'}">
              <md-card-content>
                <md-icon class="material-icons">info</md-icon>
                <span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
              </md-card-content>
            </md-card>

          </div>
        </md-content>
      </div>
    </md-tab>

  </md-tabs>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>