﻿<h4>Search/Filter Dataset</h4>

@{
	Layout = null;
}

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>Quarterly Report ID</label>
		<input ng-model="vm.params.QRID" type="number" />
	</md-input-container>

	<school-finder flex-gt-sm
								 ng-model="vm.params.SchoolNo"
								 ng-disabled="vm.findConfig.isLocked('SchoolNo')"></school-finder>

	@*TODO - Move to dynamic lookups of existing quarterly report periods*@
	<md-input-container class="md-block" flex-gt-sm>
		<label>Quarter (e.g. 2014/Q4)</label>
		<input ng-model="vm.params.InspQuarterlyReport" type="text" />
	</md-input-container>
</div>

<section layout="row" layout-align="center center">
	<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
	<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
