﻿
@section icon {
	cloud
}

@section title {
	{{vm.metadata.properties.type | lookup:'inspectionTypes'}}:
	{{vm.model.schoolName}} {{vm.metadata.properties.schoolNo}} {{vm.metadata.properties.surveyTag}}
}

@*<div>
		<table>
			<tbody>
				<tr ng-repeat="r in vm.model.rowset">
					<td>{{r.subcriteria}}</td>
					<td>{{r.score}}</td>
				</tr>
			</tbody>
		</table>
	</div>*@
@* metadata *@

<div layout="column">
	<p flex>
		This is the "cloudfile" and not the actual {{vm.metadata.properties.type | lookup:'inspectionTypes'}} officially loaded into the database.
	</p>
	<p flex ng-show="vm.metadata.properties.uploaded =='OK'">
		If you want to view the official one loaded in the system click here <a ui-sref="site.schoolaccreditations.list.item({id: vm.metadata.properties.inspectionId})">{{vm.metadata.properties.type | lookup:'inspectionTypes'}} ID {{vm.metadata.properties.inspectionId}}</a>
	</p>
	<p flex ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'POSITIVE'">When in READY mode it means you can verify everything is ok (i.e. verify it is not a duplicates (unlikely to happen), the data all looks correct, etc.) and then Approve it to load official into the system.</p>
	<p flex ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'NEGATIVE'">In progress files are incomplete on the tablet. Either not yet completed (then complete it) or never will be completed (a worker partial that was merged with team leader). Eventually clean these up.</p>
	<p flex ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'MERGED'">A merged survey is a partially complete one that was already merged with a team leader's survey. Nothing to do and eventually clean these up.</p>
</div>

<div layout="row">
	<div flex>
		<md-button md-colors="{background: 'blue'}" disabled ng-show="vm.metadata.properties.uploaded =='OK'">
			LOADED
		</md-button>

		<md-button md-colors="{background: 'red'}" disabled ng-show="vm.metadata.properties.uploaded =='ERROR'">
			ERROR
		</md-button>
		<md-button md-colors="{background: 'green'}" disabled ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'POSITIVE'">Ready</md-button>
		<md-button md-colors="{background: 'orange'}" disabled ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'NEGATIVE'">In progress</md-button>
		<md-button md-colors="{background: 'deep-orange'}" disabled ng-show="!vm.metadata.properties.uploaded && vm.metadata.properties.surveyCompleted == 'MERGED'">Merged</md-button>

	</div>
	<div flex permission permission-only="'InspectionWriteX'">
		<md-button class="md-raised" ng-click="vm.download()">
			Export
			<md-icon class="material-icons">import_export</md-icon>
			<md-tooltip md-direction="bottom">For technical people only. Download an XML data dump of this inspection.</md-tooltip>
		</md-button>
		<md-button class="md-raised md-warn" ng-click="vm.delete()" permission permission-only="'InspectionAdmin'">
			Delete
			<md-icon class="material-icons">delete</md-icon>
			<md-tooltip md-direction="bottom">Delete the cloud file. Make sure it is no longer needed (e.g. old in progress, merged) or already Approved (loaded in database).</md-tooltip>
		</md-button>
		<md-button class="md-raised md-primary" ng-click="vm.approve()" ng-disabled="vm.metadata.properties['surveyCompleted'] != 'POSITIVE'">
			<span ng-show="vm.metadata.properties['uploaded'] =='OK'">Reload</span>
			<span ng-show="!vm.metadata.properties['uploaded']">Approve</span>
			<md-icon class="material-icons">cloud_download</md-icon>
			<md-tooltip md-direction="bottom">Approve or Reload does the same thing. It officially approves the results and load all data from cloud to the database. Reload simply reloads an already approved inspection updating any changes.</md-tooltip>
		</md-button>
	</div>
</div>
@* TO DO - better model for 'polymorphic ui' for cloudfiles and inspections *@
<div ng-show="vm.metadata.properties.type == 'SCHOOL_ACCREDITATION'">
	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>
		<md-tab label="Form B">
			<form-b model="vm.model"></form-b>
		</md-tab>
		<md-tab label="Survey">
			<inspection-survey inspection-type="{{vm.metadata.properties.type}}" survey="vm.model">

			</inspection-survey>
			@*<div ng-repeat="category in vm.model.category">
					<div>{{category.type}}</div>
					<div>{{category.name}}</div>
					<div ng-repeat="standard in category.standard">
						<div>
							<span style="font-weight:bold">{{standard.id}}:</span>
							<span>{{standard.name}}</span>
						</div>
						<div ng-repeat="criteria in standard.criteria" style="padding-top:5px">
							<div style="font-weight:bold;padding-bottom:20px">
								<div>Criteria {{criteria.id}}: </div>
								<div>{{criteria.name}}</div>
							</div>
							<div ng-repeat="sub in criteria.subcriteria" style="padding-top:20px; border-bottom: 1px solid lightgray">
								<div style="font-size:8pt">Sub-criteria {{sub.id}}: </div>
								<div style="font-size:14pt; font-weight:bolder;">{{sub.name}}</div>
								<div style="font-size:8pt; font-style:italic">{{sub.interviewQuestions}}</div>
								<div><yes-no value="sub.answer.state"></yes-no></div>
							</div>

						</div>
					</div>
				</div>*@
		</md-tab>
		<md-tab label="Photos">
			<md-content layout="row" layout-wrap="" layout-padding="">
				<md-card ng-repeat="photo in vm.model.photos" flex="33" flex-gt-sm="20">
					<p>{{photo.sourceId}}</p>
					<p>{{photo.caption}}</p>
					<a target="_blank" href="/google/{{photo.photoId}}">
						<img ng-src="/google/{{photo.photoId}}/0/300" layout-fill="" />
					</a>
				</md-card>
			</md-content>
		</md-tab>

	</md-tabs>
</div>

@* WASH

	WASH survey is structured in hierarchy of arrays
	survey=>group[]=>subgroup[]=>question[]=>answer
*@
<div ng-if="vm.metadata.properties.type == 'WASH'">
	<inspection-survey inspection-type="{{vm.metadata.properties.type}}" survey="vm.model">

	</inspection-survey>
</div>

