﻿<div>
	<div ng-show="vm.viewMode=='files'">
		<div permission permission-only="'InspectionWriteX'">
				<md-checkbox ng-model="vm.mode" ng-true-value="'cleanup'" ng-false-value="">
					Clean up mode
				</md-checkbox>
				<md-tooltip>Select and remove files</md-tooltip>
		</div>

		<div ng-if="vm.mode=='cleanup'" permission permission-only="'InspectionWriteX'">
			<span>
				<md-checkbox ng-checked="true" ng-click="vm.selectAll(vm.files)"></md-checkbox>
				<md-tooltip>Select all</md-tooltip>
			</span>
			<span>
				<md-checkbox ng-checked="false" ng-click="vm.unselectAll()"></md-checkbox>
				<md-tooltip>Unselect all</md-tooltip>
			</span>

			<md-button ng-click="vm.removeSelected()" ng-disabled="!vm.hasSelection()">Remove Selected</md-button>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-if="vm.mode=='cleanup'" colspan="2">Selected...</th>
					<th>Cloudfile</th>
					<th>Type</th>
					<th colspan="2">School</th>
					<th>Period</th>
					<th>Status</th>
					<th>Created</th>
					<th>... by</th>
					<th>Last Edited</th>
					<th>... by</th>
					@*
					<th>Id</th>
					<th>Name</th>
					<th>Mime</th>
					<th>Folder</th>
					<th>Kind</th>
					<th>Properties</th>*@
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in vm.files"
					ng-style="{opacity: file.properties.surveyCompleted == 'MERGED'?.7:1}">
					<td ng-if="vm.mode=='cleanup'">
						<md-checkbox ng-checked="vm.isSelected(file)" ng-click="vm.toggleSelect(file)"></md-checkbox>
					</td>
					<td ng-if="vm.mode=='cleanup'">{{file.properties.removeStatus}}</td>
					<td>
						<a class="gdAction" ng-click="vm.showItem(file.id)">View</a>
					</td>
					<td>{{file.properties.type| lookup:'inspectionTypes'}}</td>
					<td>
						{{file.properties.schoolNo}}
					</td>
					<td>
						{{file.properties.schoolName}}
					</td>
					<td>{{file.properties.surveyTag  | date:'yyyy-MM-dd' }}</td>
					<td>
						<span ng-show="file.properties.uploaded =='OK'" style="color:mediumblue">
							Loaded <a class="gdAction" ng-click="vm.showInspection(file.properties.inspectionId)">
								<md-icon class="material-icons">file_present</md-icon>
								<md-tooltip md-direction="bottom">Access the LOADED {{vm.metadata.properties.type | lookup:'inspectionTypes'}}. The one that was LOADED in the database and was given ID of {{file.properties.inspectionId}} (and not the cloudfile).</md-tooltip>
							</a>
						</span>
						<span ng-show="file.properties.uploaded =='ERROR'">
							Error
						</span>
						<span ng-show="!file.properties.uploaded">
							<span ng-show="file.properties.surveyCompleted == 'POSITIVE'" style="color:seagreen">Ready</span>
							<span ng-show="file.properties.surveyCompleted == 'NEGATIVE'" style="color:red">In progress</span>
							<span ng-show="file.properties.surveyCompleted == 'MERGED'" style="color:darkorange">Merged</span>
						</span>
					</td>
					<td>{{file.properties.createDateTime | date:'yyyy-MMM-dd hh:mm' }}</td>
					<td style="white-space:pre-line">{{vm.splitUsers(file.properties.createUser)}}</td>
					<td>{{file.properties.lastEditedDateTime | date:'yyyy-MMM-dd hh:mm'}}</td>
					<td style="white-space:pre-line">{{vm.splitUsers(file.properties.lastEditedUser)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="vm.viewMode=='photos'">
		<div ng-repeat="file in vm.files" class="md-sm-6">
			<img ng-src="{{vm.cloudPhotoUrl(file.id)}}" height="300" />
		</div>
	</div>
</div>
