﻿<h4>Search Cloudfiles</h4>

@{
	Layout = null;
}

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>File Id</label>
		<input ng-model="vm.params.id" type="number" />
	</md-input-container>

	<school-finder flex-gt-sm
								 ng-model="vm.params.SchoolNo"
								 ng-disabled="vm.findConfig.isLocked('SchoolNo')"></school-finder>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Survey Type</label>
		<lookup-selector id="srchType"
										 lkp="inspectionTypes"
										 ng-model="vm.params.fileType"
										 ng-disabled="vm.findConfig.isLocked('fileType')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Status</label>
		<md-select ng-model="vm.params.status">
			<md-option></md-option>
			<md-option ng-value="'ready'">Ready</md-option>
			<md-option ng-value="'inprogress'">In Progress</md-option>
			<md-option ng-value="'active'">Active (Ready / In Progress)</md-option>
			<md-option ng-value="'merged'">Merged</md-option>
			<md-option ng-value="'loaded'">Loaded</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Created By</label>
		<input ng-model="vm.params.createUser" type="text" />
	</md-input-container>
</div>

<section layout="row" layout-align="center center">
	<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
	<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
