﻿<div layout="column fit-content">
	<div layout="column" layout-fill layout-padding>
		<h4>Welcome to {{'APP_NAME_FULL'|sysParam}} Public Access</h4>
		<p>Use the sidebar menu to explore statistical information about education in {{'USER_NATION'|sysParam}}</p>
		<p>Please bear in mind that some links will take a little longer to load due to the large amount of data. When clicking on the links please be patient waiting for the page to complete loading.</p>
		<p>Currently, the public profile includes only the analysis dashboards. Next, we plan to bring also a public data export functionality where a growing list of Excel workbooks will be made available. Stay tuned...</p>
	</div>
</div>
