﻿<panel panel-class=""
       panel-icon="edit"
       heading="{{vm.title}}"
       panel-control-collapse="true">

  <table class="md-table striped">
    <colgroup>
      <col width="220" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
      <col width="80" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>Read</th>
        <th>ReadX</th>
        <th>Write</th>
        <th>WriteX</th>
        <th>Ops</th>
        <th>Admin</th>
      </tr>
    </thead>
		<tbody>
			<tr>
				<td>Enrolment</td>
				<td><span permission permission-only="'EnrolmentRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EnrolmentReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EnrolmentWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EnrolmentWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EnrolmentOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EnrolmentAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Establishment</td>
				<td><span permission permission-only="'EstablishmentRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EstablishmentReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EstablishmentWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EstablishmentWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EstablishmentOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'EstablishmentAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Exam</td>
				<td><span permission permission-only="'ExamRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ExamReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ExamWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ExamWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ExamOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ExamAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Finance</td>
				<td><span permission permission-only="'FinanceRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'FinanceReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'FinanceWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'FinanceWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'FinanceOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'FinanceAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Infrastructure</td>
				<td><span permission permission-only="'InfrastructureRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InfrastructureReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InfrastructureWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InfrastructureWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InfrastructureOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InfrastructureAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Inspection</td>
				<td><span permission permission-only="'InspectionRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InspectionReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InspectionWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InspectionWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InspectionOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'InspectionAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>IST</td>
				<td><span permission permission-only="'ISTRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ISTReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ISTWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ISTWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ISTOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ISTAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Performance Assessment</td>
				<td><span permission permission-only="'PARead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'PAReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'PAWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'PAWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'PAOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'PAAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>School</td>
				<td><span permission permission-only="'SchoolRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SchoolReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SchoolWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SchoolWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SchoolOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SchoolAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Survey</td>
				<td><span permission permission-only="'SurveyRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SurveyReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SurveyWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SurveyWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SurveyOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SurveyAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Teacher</td>
				<td><span permission permission-only="'TeacherRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'TeacherReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'TeacherWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'TeacherWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'TeacherOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'TeacherAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Student</td>
				<td><span permission permission-only="'StudentRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'StudentReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'StudentWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'StudentWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'StudentOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'StudentAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Special Education</td>
				<td><span permission permission-only="'SpecialEdRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>

			<tr>
				<td>Special Education</td>
				<td><span permission permission-only="'SpecialEdRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'SpecialEdAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>


			<tr>
				<td>Scholarship</td>
				<td><span permission permission-only="'ScholarshipRead'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ScholarshipReadX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ScholarshipWrite'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ScholarshipWriteX'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ScholarshipOps'"><md-icon class="material-icons">check</md-icon></span></td>
				<td><span permission permission-only="'ScholarshipAdmin'"><md-icon class="material-icons">check</md-icon></span></td>
			</tr>
		</tbody>
  </table>

</panel>