﻿@section icon {
	wash
}

@section title {
	WASH Survey: {{vm.model.schNo}} {{vm.model.schName}}
}


<div>
	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>
		<md-tab label="Survey">
			<inspection-survey inspection-type="{{vm.model.inspTypeCode}}" survey="vm.model.InspectionContent.survey">
			</inspection-survey>
		</md-tab>
		<md-tab label="Photos">
			<md-content layout="row">
				<md-card ng-repeat="photo in vm.model.photos.photo" flex-gt-sm="33" style="padding:5px">
					<p>{{photo.sourceId}}</p>
					<p>{{photo.caption}}</p>
					<img ng-src="/google/{{photo.photoId}}/0/300" />
				</md-card>
			</md-content>
		</md-tab>


		<md-tab label="Summary">


			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h3>General Information</h3>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>{{"School No" | vocab }}</label>
									<input type="text" ng-model="vm.model.schNo" ng-disabled="true" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Inspection Year</label>
									<input type="text" ng-model="vm.model.InspectionYear" ng-disabled="true" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Complete By</label>
									<input type="text" ng-model="vm.model.InspectedBy" ng-disabled="true" />
								</md-input-container>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Start Date (of the WASH e.g. first created on tablet)</label>
									<md-datepicker ng-model="vm.model.StartDate" ng-disabled="true"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>End Date (of the WASH e.g. when it got completed)</label>
									<md-datepicker ng-model="vm.model.EndDate" ng-disabled="true"></md-datepicker>
								</md-input-container>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Note</label>
									<textarea type="text" ng-model="vm.model.Note" ng-disabled="true" />
								</md-input-container>
							</div>
						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>First saved (i.e. approved by): {{vm.model.pCreateUser}} {{vm.model.pCreateDateTime | date:"dd MMM yyyy h:mm a Z"}}</span>
							</md-card-content>
						</md-card>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}" ng-hide="vm.model.pEditDateTime != vm.model.pCreateDateTime">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved (i.e. reloaded by): {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a Z"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>
	</md-tabs>
</div>