﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.options.descriptionExcluding("Year")}}
}

@section componentOptions {
	<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{opt}}</md-option>
	</md-select>
}
	<div ng-show="vm.isSelected()">
		<div>{{vm.currentQuestion.QID}}: {{vm.currentQuestion.QName}}</div>
		<table ng-if="['CHOOSE|SINGLE','CHOOSE|MULTIPLE'].includes(vm.currentQuestion.QFlags)" class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th></th>
					<th>Year</th>
					<th ng-repeat="item in vm.drillItems track by item.item">{{item.item}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="w in vm.drillX">
					<td><a ui-sref=".item({id: w.key})">{{w.key}}</a></td>
					<td><a ui-sref=".school({id: vm.drillRow(w.key).schNo})">{{vm.drillRow(w.key).schNo}}</a></td>
					<td>{{vm.drillRow(w.key).InspectionYear}}</td>
					<td ng-repeat="item in vm.drillItems track by item.item">
						<span ng-show="w.value[item.item]">
							<md-icon>lens</md-icon>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<table ng-if="['BINARY','TERNARY'].includes(vm.currentQuestion.QFlags)" class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>School</th>
					<th>Year</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="w in vm.drillData">
					<td><a ui-sref=".item({id: w.inspID})">{{w.inspID}}</a></td>
					<td><a ui-sref=".school({id: w.schNo})">{{w.schNo}}</a></td>
					<td>{{w.InspectionYear}}</td>
					<td>{{w.Answer}}</td>
				</tr>
			</tbody>
		</table>
	</div>
<div layout="column" layout-fill>

	<div ng-show="!vm.isSelected()" layout="column" layout-fill>
		<row-col-chart dataset="vm.chartData" charttype="h" flip="false"
									 touch="{{vm.touch}}"
									 on-click="vm.clickHandler(item)"
									 on-chart-render="vm.onChartRender(option, echarts)"
									 tooltipper="vm.tooltipper(datum)"
									 highlight ="vm.highlight"
									 colors="vm.palette"
									 layout="column" layout-fill>
		</row-col-chart>
	</div>
</div>
