﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.options.descriptionExcluding("Year")}}
}

@section componentOptions {
	<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{opt}}</md-option>
	</md-select>
}



<div ng-show="vm.isSelected()">
	<table class="table dashboard">
		<thead>
			<tr>
				<th>School</th>
				<th>Inspection Year</th>
				<th>InspID</th>
				<th colspan="4">Total</th>
				<th colspan="4">Usable</th>
				<th colspan="3">Pupils</th>
			</tr>
			<tr>
				<th colspan="3">
				</th>
				<th>Girls</th>
				<th>Boys</th>
				<th>Common</th>
				<th>Total</th>
				<th>Girls</th>
				<th>Boys</th>
				<th>Common</th>
				<th>Total</th>
				<th>F</th>
				<th>M</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in vm.dashboard.toiletData">
				<td>{{r.schNo}}</td>
				<td>{{r.SurveyYear}}</td>
				<td>{{r.inspID}}</td>
				<td>{{r.TotalF}}</td>
				<td>{{r.TotalM}}</td>
				<td>{{r.TotalC}}</td>
				<td>{{r.Total}}</td>

				<td>{{r.UsableF}}</td>
				<td>{{r.UsableM}}</td>
				<td>{{r.UsableC}}</td>
				<td>{{r.Usable}}</td>

				<td>{{r.EnrolF}}</td>
				<td>{{r.EnrolM}}</td>
				<td>{{r.Enrol}}</td>

			</tr>
		</tbody>
	</table>
</div>
<div ng-show="!vm.isSelected()" flex>
	<mirror-chart dataset="vm.chartData" touch={{vm.touch}} 
								charttype="v" flip="false"
								on-click="vm.clickHandler(params)"
								on-chart-render="vm.onChartRender(option, echart, renderedType)"
								tooltipper="vm.tooltipper(datum)"
								colors="vm.palette"
								mirrors="vm.mirrors"
								layout-fill>
	</mirror-chart>
</div>
