﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.options.descriptionExcluding("Year")}}
}

@section componentOptions {
	<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{opt}}</md-option>
	</md-select>
}



<div ng-show="vm.isSelected()">
	<table class="table dashboard">
		<thead>
			<tr>
				<th>School</th>
				<th>Inspection Year</th>
				<th>InspID</th>
				<th colspan="7">Currently Available</th>
				<th colspan="7">Used for Drinking</th>
			</tr>
			<tr>
				<th colspan="3">
				</th>
				<th>Piped Water Supply</th>
				<th>Protected well/spring</th>
				<th>Unproteted well/spring</th>
				<th>Rainwater</th>
				<th>Bottled water</th>
				<th>Tanker/Truck or cart</th>
				<th>Surfaced water (Lake, River, Stream)</th>
				<th>Piped Water Supply</th>
				<th>Protected well/spring</th>
				<th>Unproteted well/spring</th>
				<th>Rainwater</th>
				<th>Bottled water</th>
				<th>Tanker/Truck or cart</th>
				<th>Surfaced water (Lake, River, Stream)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in vm.dashboard.toiletData">
				<td>{{r.schNo}}</td>
				<td>{{r.SurveyYear}}</td>
				<td>{{r.inspID}}</td>
				<td>{{r.PipedWaterSupplyCurrentlyAvailable}}</td>
				<td>{{r.PipedWaterSupplyUsedForDrinking}}</td>
				<td>{{r.ProtectedWellCurrentlyAvailable}}</td>
				<td>{{r.ProtectedWellUsedForDrinking}}</td>
				<td>{{r.UnprotectedWellSpringCurrentlyAvailable}}</td>
				<td>{{r.UnprotectedWellSpringUsedForDrinking}}</td>
				<td>{{r.RainwaterCurrentlyAvailable}}</td>
				<td>{{r.RainwaterUsedForDrinking}}</td>
				<td>{{r.BottledWaterCurrentlyAvailable}}</td>
				<td>{{r.BottledWaterUsedForDrinking}}</td>
				<td>{{r.TankerTruckCartCurrentlyAvailable}}</td>
				<td>{{r.TankerTruckCartUsedForDrinking}}</td>
				<td>{{r.SurfacedWaterCurrentlyAvailable}}</td>
				<td>{{r.SurfacedWaterUsedForDrinking}}</td>

			</tr>
		</tbody>
	</table>
</div>
<div ng-show="!vm.isSelected()" flex>
	<row-col-chart dataset="vm.chartData" touch={{vm.touch}}
								 charttype="v" flip="false"
								 on-click="vm.clickHandler(params)"
								 on-chart-render="vm.onChartRender(option, echart, renderedType)"
								 tooltipper="vm.tooltipper(datum)"
								 colors="vm.palette"
								 info="vm.info"
								 layout-fill>
	</row-col-chart>
</div>
