﻿<div>
	<exam-chart-dashboard class="dashboard-wrapper height5 "
												dashboard="::vm.dashboard"
												options="::vm.options"
												selected-child="vm.selectedChild"
												option-change="vm.optionChange"
												layout="column" layout-fill>
		<chart-tools layout="column" flex>
		</chart-tools>
	</exam-chart-dashboard>

	<exam-chart-dashboard class="dashboard-wrapper height5 "
												dashboard="::vm.dashboard"
												options="::vm.options"
												selected-child="vm.selectedChild"
												option-change="vm.optionChange"
												aggregation="year" heading-title="Results By Year"
												layout="column" layout-fill>
		<chart-tools layout="column" flex>
		</chart-tools>
	</exam-chart-dashboard>

	<exam-chart-dashboard class="dashboard-wrapper height20 "
												dashboard="::vm.dashboard"
												options="::vm.options"
												selected-child="vm.selectedChild"
												option-change="vm.optionChange"
												aggregation="district" heading-title="Results By {{'District'|vocab}}"
												layout="column" layout-fill>
		<chart-tools layout="column" flex>
		</chart-tools>
	</exam-chart-dashboard>

	<exam-chart-dashboard class="dashboard-wrapper height20 "
												dashboard="::vm.dashboard"
												options="::vm.options"
												selected-child="vm.selectedChild"
												option-change="vm.optionChange"
												aggregation="region" heading-title="Results By {{'Region'|vocab}}"
												layout="column" layout-fill>
		<chart-tools layout="column" flex>
		</chart-tools>
	</exam-chart-dashboard>

	<exam-chart-dashboard class="dashboard-wrapper height5 "
												dashboard="::vm.dashboard"
												options="::vm.options"
												selected-child="vm.selectedChild"
												option-change="vm.optionChange"
												aggregation="authorityGovt" heading-title="Results By {{'Authority Govt'|vocab}}"
												layout="column" layout-fill>
		<chart-tools layout="column" flex>
		</chart-tools>
	</exam-chart-dashboard>
</div>

<div>
	<exam-results-gender-tree class="dashboard-wrapper height3 "
														dashboard="::vm.dashboard"
														dimension="::vm.dimensions.achievementLevel"
														options="::vm.options"
														selected-child="vm.selectedChild"
														option-change="vm.optionChange">

	</exam-results-gender-tree>
</div>
