﻿@* student enrollment List
*@
<div layout="row" layout-fill>
	<div flex="50" layout-padding>
		<div>
			This table shows how each qualification determines the Certified and
			Qualified status for teachers teaching in the specified sector ( blank = all sectors)
		</div>
		<div flex>
			<table class="table">
				<thead>
					<tr>
						<th>Since Year...</th>
						<th>Qualification</th>
						<th>in Sector...</th>
						<th>is Certified</th>
						<th>is Qualified</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in vm.effectiveTeacherQuals" ng-style="{'font-weight':(row.svyYear == vm.model.svyYear)?'bolder':''}">
						<td>{{row.svyYear}}</td>
						<td>{{row.ytqQual|lookup:'teacherQuals'}}</td>
						<td>{{row.ytqSector|lookup:'educationSectors'}}</td>
						<td style="text-align:center">{{row.ytqCertified|tick}}</td>
						<td style="text-align:center">{{row.ytqQualified|tick}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div flex="50" layout-padding>
		<div>Record any changes to teacher Qualified/Certified rules that apply for year {{vm.model.svyYear}}</div>
		<super-grid rowset="vm.model.teacherQuals"
								view-mode="vm.teacherQualsViewMode"
								parent-resource="vm.model"
								is-editing="true"
								is-waiting="vm.isWaiting">
		</super-grid>
	</div>
</div>
