﻿@section icon {
  fa fa-graduation-cap
}

@section title {
  {{(vm.isNew? 'Initiate New Census: ': 'Census: ') + vm.model.svyYear}}
}

<div class="appform">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		<md-tab label="Census Info">

			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h3>Census Information</h3>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Census Year</label>
									<input type="text" ng-model="vm.model.svyYear" ng-disabled="true" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Census Date</label>
									<md-datepicker ng-model="vm.model.svyCensusDate" ng-disabled="!vm.isEditing" md-placeholder="Enter date"></md-datepicker>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Collection Date</label>
									<md-datepicker ng-model="vm.model.svyCollectionDate" ng-disabled="!vm.isEditing" md-placeholder="Enter date"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Primary School Official Start Age</label>
									<input type="number" ng-model="vm.model.svyPSAge" ng-disabled="!vm.isEditing" required />
								</md-input-container>
							</div>

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

	<md-tab label="School Types" ng-if="!vm.isNew">
		<div layout="column" fit-content >
			<div layout="column" layout-fill layout-padding>
				<div>This table records information that is used to configure the user interface for school surveys
				, based on the school type. </div>
				<super-grid rowset="vm.model.schoolTypes"
										view-mode="vm.schoolTypesViewMode"
										parent-resource="vm.model"
										is-editing="true"
										is-waiting="vm.isWaiting">
				</super-grid>
			</div>
		</div>
	</md-tab>

		<md-tab label="Teacher Qualifications" ng-if="!vm.isNew">
			<md-content>
				<div layout="column" fit-content>
					<component-census-teacher-quals model="vm.model"></component-census-teacher-quals>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>
