﻿<div>

	@*
		+-------------------------------------------------------------------------------------+
		+
		+ +---------------------------------------------------------------------------------+
		+ + Chart Type
		+ +--------------------------------------------------------------------
		+ +---------------------------------------------------------------------------------+
		+ + +Labels+ + Cpntrp
		+

	*@
	<div layout="column" flex class="scatteropts">
		<div layout="row" flex>
			<div layout="row" flex>
				<div layout="row" flex>
					@* Chart type *@
					<div flex layout="column" layout-align="center end" layout-padding><div>Chart</div></div>
					<div layout="row" flex>
						@*<select flex ng-model="vm.chartSpec" ng-change="vm.changeChartSpec()">
								<option ng-repeat="p in vm.chartSpecs" ng-value="p">{{p.name}}</option>
							</select>*@
						<md-select flex ng-model="vm.chartSpec" ng-change="vm.changeChartSpec()">
							<md-option ng-repeat="p in vm.chartSpecs" ng-value="p">{{p.name}}</md-option>
						</md-select>
					</div>
				</div>
				<div Layout="row" flex>

					@* Base year *@
					<div flex layout="column" layout-align="center end" layout-padding><div>Base Year</div></div>
					<md-select flex ng-model="vm.search.BaseYear" ng-change="vm.getData()">
						<md-option ng-repeat="p in vm.lookups.cache['surveyYears']" ng-value="p.C">{{p.N}}</md-option>
					</md-select>
				</div>

			</div>
			<div layout="row" flex style="margin-top:20px;margin-left:20px">
				<div flex>
					<school-finder ng-model="vm.selectedSchool"></school-finder>
				</div>
				<div flex="20">
					<md-button ng-click="vm.showSelectedSchool()" ng-disabled="vm.selectedSchool == null">Show School</md-button>
				</div>
			</div>
		</div>

		<div layout="row" flex layout-wrap>
			<div flex flex-sm="100" flex-xs="100">
				<div flex layout="row">

					<div flex layout="column">
						@* X Values*@
						<div flex layout="row">
							<div flex="10" layout="row" layout-align="center center">X <span hide-xs hide-sm hide-md>&nbsp;Values</span></div>
							<div layout="row" flex layout-wrap>
								<div flex="50" flex-xs="100">
									<select layout-fill ng-model="vm.search.XSeries" ng-change="vm.setXSeries()">
										<option ng-repeat="p in vm.dataItems">{{p.name}}</option>

									</select>
								</div>
								<div flex="20" flex-xs="45">
									<select layout-fill ng-model="vm.search.XSeriesOffset">
										<option ng-repeat="p in vm.yearOffsets" ng-value="p.C">{{p.N + ' (' + (p.C + vm.search.BaseYear) + ')'}}</option>
									</select>
								</div>
								<div flex flex-xs="45">
									<select layout-fill ng-model="vm.search.XFilter">
										<option ng-value="null"></option>
										<option ng-repeat="p in vm.XArgs" ng-value="p.C">{{p.N}}</option>
									</select>
								</div>
							</div>
						</div>

						<div flex layout="row">
							<div flex="10" layout="row" layout-align="center center">
								<md-button ng-click="vm.flipXY()" class="md-primary">
									<md-icon>refresh</md-icon>
									<md-tooltip>Flip X Y</md-tooltip>
								</md-button>
							</div>
							<div flex="10" layout="row" layout-align="center center">
								<md-button ng-click="vm.getData()" class="md-primary md-raised">Show</md-button>
							</div>
						</div>
						@* Y Values *@
						<div flex layout="row">
							<div flex="10" layout="row" layout-align="center center">Y <span hide-xs hide-sm hide-md>&nbsp;Values</span></div>
							<div layout="row" flex layout-wrap>
								<div flex="50" flex-xs="100">
									<select layout-fill ng-model="vm.search.YSeries" ng-change="vm.setYSeries()">
										<option ng-repeat="p in vm.dataItems">{{p.name}}</option>

									</select>
								</div>
								<div flex="20" flex-xs="45">
									<select layout-fill ng-model="vm.search.YSeriesOffset">
										<option ng-repeat="p in vm.yearOffsets" ng-value="p.C">{{p.N + ' (' + (p.C + vm.search.BaseYear) + ')'}}</option>
									</select>
								</div>
								<div flex flex-xs="45">
									<select layout-fill ng-model="vm.search.YFilter">
										<option ng-value="null"></option>
										<option ng-repeat="p in vm.YArgs" ng-value="p.C">{{p.N}}</option>
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div flex flex-sm="100" flex-xs="100">
				<div flex layout="column">
					<div layout="row" flex>
						<div flex>Color By</div>
						<div flex>
							<select flex ng-model="vm.colorBy">
								<option ng-repeat="p in vm.colorByOptions" ng-value="p[0]">{{p[1]|vocab}}</option>
							</select>
						</div>
					</div>
					
					@*<md-button ng-click="vm.getData()" class="md-primary md-raised">Show</md-button>*@
				</div>
			</div>
		</div>
	</div>
	<div style="padding: 10px;position:relative" layout="row" flex>

		@* use fit-content to establish the deterministic height, that will respond to layout and window changes *@
		<school-scatter-chart fit-content width="100%" flex datasets="vm.scatterData" ng-if="vm.scatterData.length == 3"
							  color-by="vm.colorBy" color-by-value="vm.colorByValue" selected="vm.selectedSchool"
							  column-value="{{vm.columnValue}}" info="vm.info"
							  click-handler="vm.clickHandler(params)" dbl-click-handler="vm.dblClickHandler(params)">

		</school-scatter-chart>
		<div class="toolbox" layout="row" style="width:900px">
			<md-fab-toolbar md-open="vm.isOpen">
				<md-fab-trigger>
					<md-button aria-label="settings" class="">
						<md-icon style="vertical-align:top">settings</md-icon>
					</md-button>
				</md-fab-trigger>

				<md-toolbar>
					<md-fab-actions>
						<md-button ng-repeat="charttype in ['scatter','x','y','xony','yonx','xminusy', 'yminusx', 'xaccum', 'yaccum','xhist','yhist']"
								   ng-click="vm.columnValue=charttype;vm.isOpen=true;"
								   ng-class="{'md-raised': vm.columnValue==charttype }">

							<div style="padding:2px">
								{{['scatter','x','y','x / y','y / x','x - y', 'y - x' , 'X Cum.', 'Y Cum.','X Hist', 'Y Hist'][$index]}}
							</div>
						</md-button>
					</md-fab-actions>

				</md-toolbar>
			</md-fab-toolbar>


		</div>
		<div fit-content width="100%" ng-if="vm.scatterData.length == 0">
			<div ng-show="!vm.error">
				No data available
			</div>
			<div ng-show="vm.error">
				{{vm.error.message}}
			</div>
		</div>
	</div>
</div>

