﻿@* echart tooltips are rendered as html when renderMode = 'html' ( the default)
	if appendToBody = false, the tooltip is a child of the echart <div> and
	hence will be affected by any styles set up here
	these styles can then be applied to the tooltip.
*@
<style>
	.item.tip {
		color: black;
		font-size: 14px;
		border-radius: 10px;
		background-color: #e0f0e0f0;
	}

		.item.tip h4 {
			background-color: black;
			color: white;
			margin: -5px;
			font-weight: normal;
			padding: 10px;
			min-width: 200px;
		}
		.item.tip a {

			color: inherit;

		}

		@*// pesky bootstrap setting for table*@
		.item.tip .table {
			margin-bottom: 5px;
		}

	.scatteropts select {
		margin: 3px;
		border-color: gray;
		border-radius: 3px;
		background-color: white;
	}

	div:has(select) {
		margin: 3px;
	}

	.tip .highlightrow {
		font-weight: 900;
		background-color: #ddddddf0;
	}

	div.toolbox {
		position: absolute;
		top: 0px;
		left: 0px;
		overflow-x: visible
	}

		div.toolbox md-fab-trigger .md-button {
			min-width: 20px;
			min-height: 20px;
			width: 70px;
			height: 30px;
			margin: 0px 0px;
			padding: 0 0px;
		}

		div.toolbox md-fab-toolbar .md-fab-toolbar-wrapper {
			min-height: 20px;
			height: 30px;
		}

		div.toolbox md-fab-toolbar.md-is-open .md-fab-toolbar-wrapper {
			min-height: 20px;
			height: 30px;
			background-color: #1665c0;
		}

		div.toolbox md-fab-actions {
			padding-left: 30px;
		}

		div.toolbox .md-button.md-fab-action-item {
			line-height: 20px;
			min-width: 20px;
			min-height: 20px;
			width: 70px;
			height: 30px;
			margin: 0px 0px;
			padding: 0 0px;
		}

			div.toolbox .md-button.md-fab-action-item.selected {
				background-color: #9e9e9e;
			}
	/*
		div.toolbox md-fab-toolbar md-fab-trigger .md-fab-toolbar-background {
			opacity: 0;
			transition: all .2s
		}*/
</style>

<div id="vm.chartId" ng-class="vm.chartNgClass" class="vm.chartCssClass" layout="column" layout-fill>
	<e-chart-component layout="column" layout-fill
					   option="vm.option" on-click="vm.clickHandler(params)"
					   on-dblclick="vm.dblClickHandler(params)"
					   on-chart-init="vm.eChartInit(echart)"
					   renderer="{{vm.renderer}}">
	</e-chart-component>

</div>
@*
	---------------------------------------------------------------------------------------------
	Tooltips
	---------------------------------------------------------------------------------------------
*@
<div ng-show="false" ng-repeat="params in [vm.tipparams]">

	@* Main tooltip - on schoolscatter and column *@

	<div id="schoolScatter_schoolTooltip" class='item tip'>
		<h4><a ui-sref="site.schools.list.item({id: params.data.schNo})">{{params.data.schNo}}: {{params.data.schName}}</a></h4>
		<table class="table">
			<tr>
				<td class="tiplabel">{{"District"|vocab}}</td>
				<td>
					{{params.data.District}}
				</td>
			</tr>

			<tr>
				<td class="tiplabel">Authority</td>
				<td>
					{{params.data.authName}}
				</td>
			</tr>

			<tr>
				<td class="tiplabel">School Type</td>
				<td>
					{{params.data.stDescription}}
				</td>
			</tr>

			<tr>
				<td class="tiplabel">{{vm.XAxisLabel()}}:</td>
				<td>{{params.data.XValue}}</td>
			</tr>

			<tr>
				<td class="tiplabel">{{vm.YAxisLabel()}}:</td>
				<td>
					{{params.data.YValue}}
				</td>
			</tr>

			<tr>
				<td>Y/X:</td>
				<td>{{(params.data.YValue /params.data.XValue)|number:2}}</td>
			</tr>

		</table>
	</div>">


	@* tooltip - for X-oriented marklines on schooliscatter*@

	<div id="schoolScatter_MarklineXTooltip" class='item tip'>
		<h4>
			{{vm.XAxisLabel()}}
		</h4>
		<table class="table">
			<tr ng-class="{'highlightrow': params.data.id == 'xMin'}">
				<td class="tiplabel">Minimum:</td>
				<td>
					{{vm.datasets[1][0].Xmin}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'x1'}">
				<td class="tiplabel">1st Quartile:</td>
				<td>
					{{vm.datasets[1][0].XQ1}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'xMid'}">
				<td class="tiplabel">Median:</td>
				<td>
					{{vm.datasets[1][0].Xmedian}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'x3'}">
				<td class="tiplabel">3rd Quartile:</td>
				<td>
					{{vm.datasets[1][0].XQ3}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'xMax'}">
				<td class="tiplabel">Maximum:</td>
				<td>
					{{vm.datasets[1][0].Xmax}}
				</td>
			</tr>

		</table>

	</div>

	@* tooltip - for Y-oriented marklines on schoolscatter*@

	<div id="schoolScatter_MarklineYTooltip" class='item tip'>
		<h4>
			{{vm.YAxisLabel()}}
		</h4>
		<table class="table">
			<tr ng-class="{'highlightrow': params.data.id == 'yMin'}">
				<td class="tiplabel">Minimum:</td>
				<td>
					{{vm.datasets[1][0].Ymin}}
				</td>

			<tr ng-class="{'highlightrow': params.data.id == 'y1'}">
				<td class="tiplabel">1st Quartile:</td>
				<td>
					{{vm.datasets[1][0].YQ1}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'yMid'}">
				<td class="tiplabel">Median:</td>
				<td>
					{{vm.datasets[1][0].Ymedian}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'y3'}">
				<td class="tiplabel">3rd Quartile:</td>
				<td>
					{{vm.datasets[1][0].YQ3}}
				</td>
			</tr>
			<tr ng-class="{'highlightrow': params.data.id == 'yMax'}">
				<td class="tiplabel">Maximum:</td>
				<td>
					{{vm.datasets[1][0].Ymax}}
				</td>
			</tr>
		</table>
	</div>

	@* tooltip - for histogram series on X or Y - histogram 
		Note that because this expects a different format of params.value, 
		if will give a console error on ng-repeat below when Gini tooltip is rendered
		(since all tooltips are evaluated using the current tipparams, even if not displayed)
		So ng-if suppreses this tip except when rendering hist tooltip
	*@

	<div id="schoolScatter_HistTooltip" class='item tip' ng-if="params.tag=='hist'">

		<h4>Bucket: {{params.name}}</h4>
		<table class="table">
			<tr>
				<td class="tiplabel">Total:</td>
				<td>{{params.data.v}}</td>
			</tr>

			<tr ng-repeat="(key,value) in params.value" ng-class="{'highlightrow': params.seriesName == key}"
				ng-show="['k','v'].indexOf(key) < 0"
			>
				<td class="tiplabel">
				<span ng-show="params.seriesName == key"><md-icon ng-style="{'color': params.color}">circle</md-icon>
				</span>&nbsp;{{key}}</td>
				<td>{{value}}</td>
			</tr>
		</table>
	</div>

	@* tooltip - for accumulation series on X or Y - accumulation *@

	<div id="schoolScatter_AccumTooltip" class='item tip'>

		<h4>{{vm.columnValue == 'xaccum'?vm.XAxisLabel():vm.YAxisLabel()}}</h4>
		<table class="table">
			<tr>
				<td class="tiplabel">Total:</td>
				<td>{{params.calc.tot}}</td>
			</tr>
			<tr>
				<td class="tiplabel">{{params.data.schNo}}: {{params.data.schName}}</td>
				<td>{{params.calc.rank}} of {{params.calc.size}}</td>
			</tr>


			<tr>
				<td class="tiplabel">Total Top {{params.calc.rank}}</td>
				<td>{{params.calc.tot - params.calc.accum}}</td>
			</tr>

			<tr>
				<td class="tiplabel">Total Top {{params.calc.rankpercent.toLocaleString("en-US", { style: 'percent', maximumFractionDigits: 2 }) }}</td>
				<td>{{params.calc.toppercent.toLocaleString("en-US", { style: 'percent', maximumFractionDigits: 2 }) }}</td>
			</tr>

			<tr>
				<td class="tiplabel">Total Bottom {{params.calc.size - params.calc.rank}}</td>
				<td>
					{{params.calc.accum}}
				</td>
			</tr>

			<tr>
				<td class="tiplabel">Total Bottom {{(1 - params.calc.rankpercent).toLocaleString("en-US", { style: 'percent', maximumFractionDigits: 2 }) }}</td>
				<td>{{(1 - params.calc.toppercent).toLocaleString("en-US", { style: 'percent', maximumFractionDigits: 2 }) }}</td>
			</tr>

			<tr ng-class="{'highlightrow': vm.columnValue == 'xaccum'}">
				<td class="tiplabel">{{vm.XAxisLabel()}}:</td>
				<td>{{params.data.XValue}}</td>
			</tr>

			<tr ng-class="{'highlightrow': vm.columnValue == 'yaccum'}">
				<td class="tiplabel">{{vm.YAxisLabel()}}:</td>
				<td>{{params.data.YValue}}</td>
			</tr>

			<tr>
				<td>Y/X:</td>
				<td>{{(params.data.YValue /params.data.XValue)|number:2}}</td>
			</tr>

		</table>
	</div>
	@* tooltip - for diagnoal line on X or Y - accumulation *@

	<div id="schoolScatter_GiniTooltip" class='item tip'>

		<h4>{{this.columnValue == 'xaccum'?vm.XAxisLabel():vm.YAxisLabel()}}</h4>
		<table class="table">
			<tr>
				<td class="tiplabel">Total:</td>
				<td>{{params.calc.tot}}</td>
			</tr>
			<tr>
				<td class="tiplabel">No of items:</td>
				<td>{{params.calc.size}}</td>
			</tr>
			<tr>
				<td class="tiplabel">Area under diagonal:</td>
				<td>{{params.calc.size * params.calc.tot / 2}}</td>
			</tr>

			<tr>
				<td class="tiplabel">Area under curve:</td>
				<td>{{params.calc.accumtot}}</td>
			</tr>


			<tr class="highlightrow">
				<td class="tiplabel">Gini Coefficient:</td>
				<td>{{ params.calc.gini|number:3 }}</td>
			</tr>

		</table>
	</div>

	<div id="schoolScatter_CorrelationTooltip" class='item tip'>

		<h4>Correlation</h4>
		<table class="table">
			<tr>
				<td class="tiplabel">X Values:</td>
				<td>{{vm.XAxisLabel()}}</td>
			</tr>
			<tr>
				<td class="tiplabel">Y Values:</td>
				<td>{{vm.YAxisLabel()}}</td>
			</tr>
			<tr>
				<td class="tiplabel">Correlation</td>
				<td>{{vm.stats.correlation|number:3}}</td>
			</tr>

		</table>
	</div>
</div>
