﻿<div>
  <div layout="column" layout-gt-md="row">

    <div layout="column" flex>
      <p>Selected Year</p>
      <md-select ng-model="vm.options.selectedYear">
        <md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
      </md-select>
    </div>

		@* in findata, use expenditurePoints to get the option 'National'
		store as selectedDistrict just the same	
		*@
    <div layout="column" flex>
      <p>Selected {{"District"|vocab}}</p>
      <md-select ng-model="vm.options.selectedDistrict">
        <md-option value=""></md-option>
        <md-option ng-repeat="c in vm.lookups.cache['expenditurePoints']" ng-value="c.C">{{c.N}}</md-option>
      </md-select>
    </div>

    <div layout="column" flex="initial" ng-click="vm.resetAll()" style="opacity: 0.5; height: 64px; width:64px">
        <ng-md-icon size="64" icon="clear" style="height: 64px; width:64px" />
    </div>

  </div>
</div>
