﻿<div>
	<div layout="column" layout-gt-md="row">

		<div layout="column" flex>
			<p>Scholarship Round</p>
			<md-select ng-model="vm.options.selectedYear">
				<md-option value=""></md-option>
				<md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Scholarship Type</p>
			<md-select ng-model="vm.options.selectedScholarshipType">
				<md-option value=""></md-option>
				<md-option ng-value="x.C" ng-repeat="x in vm.lookups.cache['scholarshipTypes']">{{ x.N }}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Major</p>
			<md-select ng-model="vm.options.selectedMajor">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['fieldsOfStudy']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>


		<div layout="column" flex>
			<p>Status</p>
			<md-select ng-model="vm.options.selectedStatus">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['scholarshipStatus']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex="initial" ng-click="vm.resetAll()" style="opacity: 0.5; height: 64px; width:64px">
			<ng-md-icon size="64" icon="clear" style="height: 64px; width:64px" />
		</div>

	</div>
</div>
