﻿<div layout="column">
	<div layout="column" layout-gt-md="row">

		<div layout="column" flex>
			<p>Selected Year</p>
			<md-select ng-model="vm.options.selectedYear">
				<md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Selected {{"District"|vocab}}</p>
			<md-select ng-model="vm.options.selectedDistrict">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['districts']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Selected {{"Island"|vocab}}</p>
			<md-select ng-model="vm.options.selectedIsland">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['islands']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Selected {{"Region"|vocab}}</p>
			<md-select ng-model="vm.options.selectedRegion">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['regions']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>
	</div>

	<div layout="column" layout-gt-md="row">
		<div layout="column" flex>
			<p>Selected {{"Authority Govt"|vocab}}</p>
			<md-select ng-model="vm.options.selectedAuthorityGovt">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['authorityGovts']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Selected {{"Authority"|vocab}}</p>
			<md-select ng-model="vm.options.selectedAuthority">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['authorities']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex>
			<p>Selected {{"School Type"|vocab}}</p>
			<md-select ng-model="vm.options.selectedSchoolType">
				<md-option value=""></md-option>
				<md-option ng-repeat="c in vm.lookups.cache['schoolTypes']" ng-value="c.C">{{c.N}}</md-option>
			</md-select>
		</div>

		<div layout="column" flex="initial" ng-click="vm.resetAll()" style="opacity: 0.5; height: 64px; width:64px">
			<ng-md-icon size="64" icon="clear" style="height: 64px; width:64px" />
		</div>

	</div>
	<div layout="column" layout-gt-md="row">
		<md-autocomplete flex
										 @* this is a question object, we use a getter setter in the controller
											 to move its QID to the option
											 selectedQuestion
										*@
										 md-selected-item="vm.selectedQuestionItem"
										 md-
										 md-search-text="vm.searchQText"
										 md-selected-item-change="vm.applyQuestion(q)"
										 md-items="q in vm.searchQuestions(vm.searchQText)"
										 md-item-text="q.QID + ': ' + q.QName"
										 md-min-length="0"
										 md-floating-label="Question"
										 md-select-on-focus="true"
										 md-select-on-match="true">
			<md-item-template>
				<span md-highlight-text="vm.searchQText">{{q.QID}}: {{q.QName}}</span>
			</md-item-template>
			<md-not-found>
				No question matching "{{vm.searchQText}}" was found.
			</md-not-found>
		</md-autocomplete>
	</div>
</div>