﻿@*
	New (2021) indicator page layout for secondary education
	This (default) version is shared by FEDEMIS and MIEMIS.
	Minor customisations to one or other if required in future can be made by
	using (ViewBag.Context == "miemis"') resp. (ViewBag.Contaxt = "fedemis")
	to make context-specific conditional code

*@
<panel panel-class="panel-primary"
			 heading="High School Education Indicators"
			 panel-collapse="true"
			 style="width:100%">

	<md-tabs md-dynamic-height md-border-bottom>

		<md-tab label="Data Grid">
			<p>
				Please select a start and end year to compare indicators over time. Get more details on the column F% or GPI
				<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GPI')">
					<md-tooltip>Details</md-tooltip>
					<md-icon class="material-icons md-24 md-dark">info</md-icon>
				</md-button>
			</p>
			<style>

				.flextbl .row:nth-child(even) {
					background-color: rgb(243,244,246)
				}

				.flextbl .row {
					display: flex;
					flex-direction: row;
					min-height: 20px;
					border-top-color: rgb(221,221,221);
					border-top-style: solid;
					border-top-width: 1px;
					margin-right: 0;
					margin-left: 0
				}

				.flextbl .cellgrp {
					display: flex;
					flex-direction: row;
				}

				.flextbl .cell {
					padding: 5px 3px 5px 5px;
					text-align: right;
					font-size: 12px
				}

				.flextbl .blockhdr {
					font-weight: 700
				}

				.flextbl .row_label {
					padding: 5px 20px 5px 5px;
					text-align: right;
					font-size: 12px;
					background-color: rgb(243,244,246)
				}

				.flextbl .row_label md-icon {
					cursor: help
				}


				.flextbl .cell.left, .flextbl .left {
					text-align: left;
				}

				.flextbl .cell.center, .flextbl .center {
					text-align: center;
				}

				.flextbl .grouphdr {
					background-color: #f3f4f6;
					color: #333;
					font-weight: bold;
					font-size: 14px;
					text-align: center;
					padding: 10px 3px 10px 5px;
				}

				ind-block.hover, ind-change.hover {
					background-color: rgb(224,224,224);
					border-radius: 3px
				}
			</style>
			<div layout="column" class="flextbl">
				<div class="grouphdr" layout="row">
					<div class="cell left" flex="25">Indicators</div>
					<div class="cell" flex>
						<select style="width: 100%; border-style: none; color: #4b4b4b; font-size: 14pt"
										ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
										ng-model="vm.baseYear"></select>
					</div>
					<div class="cell" flex>
						<select style="width:100%;border-style:none; color:#4b4b4b; font-size:14pt"
										ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
										ng-model="vm.selectedYear"></select>
					</div>
					<div class="cell center" flex hide-xs hide-sm>
						Change {{vm.baseYear}} - {{vm.selectedYear}}
					</div>

				</div>
				<div class="row">
					<div flex="25" class="cell"></div>
					<div layout="row" flex>
						<ind-block-hdr layout="row" flex></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
					</div>
				</div>

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Context Indicators</div>
				<div class="row">
					<div flex="25" class="row_label">Years of schooling</div>
					<ind-row-x layout="row" flex
										 item="YearsOfSchooling"></ind-row-x>
				</div>
				<div class="row">
					<div flex="25" class="row_label">Official Start Age</div>
					<ind-row-x layout="row" flex
										 item="OfficialStartAge"></ind-row-x>
				</div>
				@*
					This row is the only difference currently between MIEMIS and FEDMIS versions (i.e. how to get the school count)
					In FedEMIS, currently the way the system is configured there is no support to provide a school count from
					the VERMPAF since it only produces it disaggregated by SchoolTypes which are not at all inline with the typical
					education level disaggregation. To get this, either 1) change the schooltypes in the system to be inline
					with the education levels or 2) add support in the VERMPAF to provide another schoolCount2 with support
					for education level disaggreation.
				*@
				@*<div class="row">
						<div flex="25" class="row_label">Number of ECE Schools</div>
						<div flex layout="row">
							<ind-block flex model="vm.indicatorCalc.schoolCount(vm.baseYear, 'SEC')" />
							<ind-block flex model="vm.indicatorCalc.schoolCount(vm.selectedYear, 'SEC')" />
							<ind-change flex
													model1="vm.indicatorCalc.schoolCount(vm.baseYear, 'SEC')"
													model2="vm.indicatorCalc.schoolCount(vm.selectedYear, 'SEC')" />
						</div>
					</div>*@

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Demographic Indicators</div>

				<div class="row">
					<div flex="25" class="row_label">Population (Estimate)</div>
					<ind-row-x layout="row" flex
										 item="Population"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Enrolment</div>
					<ind-row-x flex item="Enrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Official Age Enrolment</div>
					<ind-row-x flex item="NetEnrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Gross Enrolment Ratio
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="GER"
										 gpi="1"
										 action="ger" tt="Click to explore GER"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Net Enrolment Ratio
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="NER"
										 gpi="1"
										 action="ner" tt="Click to explore NER"></ind-row-x>
				</div>

				@* quality indicators*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Quality Indicators</div>
				<div class="row">
					<div class="row_label" flex="25">
						Number of Teachers
					</div>
					<ind-row-x layout="row" flex item="TeachersFtpt" places="2"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCert" places="2"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCertP"
										 gpi="1"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQual" places="2"
										 action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQualP"
										 gpi="1"
										 action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Teacher Ratio
					</div>
					<ind-row-x flex item="FtptPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Certified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptCertPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Qualified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptQualPTR" places="1"></ind-row-x>
				</div>
				@*
					-------------------------------------
							Process indicators
					-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Process Indicators
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Repeaters
					</div>
					<ind-row-x flex item="Repeaters"
										 action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Repetition Rate
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="RepRate"
										 gpi="1"
										 action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>
				@*
					-------------------------------------
							Outcome indicators
					-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Outcome Indicators
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Survival Rate (from Year 1 to Year 12)
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="Survival12"
										 gpi="1"
										 action="survival" tt="Click to explore Survival Rate"></ind-row-x>
				</div>

				@*
					-------------------------------
					Intake
					-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Intake (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
					</div>
					<ind-row-x flex item="Intake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Gross Intake Ratio (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="GIR"
										 gpi="1"
										 action="gir" tt="Click to explore GIR"></ind-row-x>
				</div>
				@*
					-------------------------------
					Net Intake
					-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Net Intake (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
					</div>
					<ind-row-x flex item="NetIntake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Net Intake Ratio (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="NIR"
										 gpi="1"
										 @* action="nir" tt="Click to explore NIR" *@></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Gross Intake Ratio (in last grade of elementary)
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex layout-align="start center" item="GIRLast"
										 gpi="1"></ind-row-x>
				</div>
			</div>

			@* keep temporarily to verify the new encoding*@
			<table ng-if="false" class="indicators table table-striped table-hover table-condensed">
				<colgroup>
					<col width="25" />
					<col width="7" />
					<col width="6" />
					<col width="6" />
					<col width="6" />
					<col width="7" />
					<col width="6" />
					<col width="6" />
					<col width="6" />
					<col width="7" />
					<col width="6" />
					<col width="6" />
					<col width="6" />
				</colgroup>

				<thead class="ng-cloak">
					<tr class="rowhdr">
						<th class="sec no-top-border">Indicators</th>
						<th colspan="4" class="table-cell-smashed">
							<select style="width:100%; color:#4b4b4b; font-size:14pt"
											ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
											ng-model="vm.baseYear"></select>
						</th>
						<th colspan="4" class="table-cell-smashed">
							<select style="width:100%; color:#4b4b4b; font-size:14pt"
											ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
											ng-model="vm.selectedYear"></select>
						</th>
						<th class="text-center" colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
					</tr>

					<tr class="rowhdr">
						<th class="colghdr sec gray-left-border no-top-border"></th>
						<th class="colghdr gray-left-border text-right" ng-repeat-start="i in [1,2,3]">Total</th>
						<th class="colghdr text-right">Female</th>
						<th class="colghdr text-right">Male</th>
						<th class="colghdr text-right" ng-repeat-end>F% or GPI</th>
					</tr>
				</thead>

				<tbody>
					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Context Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Years of schooling</td>
						<td>{{vm.baseYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.YearsOfSchooling - vm.baseYearData.YearsOfSchooling}}</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Official Start Age</td>
						<td>{{vm.baseYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Number of High School Schools</td>
						<td>{{vm.indicatorCalc.schoolCount(vm.baseYear, 'SS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'SS')}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.indicatorCalc.schoolCount(vm.selectedYear, 'SS') - vm.indicatorCalc.schoolCount(vm.baseYear, 'SS')}}</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Demographic Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Population (Estimate)</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] < 0.005 && vm.selectedYearData.Population[g] - vm.baseYearData.Population[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Total Enrolment</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] < 0.005 && vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Official Age Enrolment</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] < 0.005 && vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					@* GER *@
					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Gross Enrolment Ratio
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" @* base year *@
								ng-class="{sec: $last, alt: $last}"
								ng-click="vm.action('ger',vm.baseYear)">

							<md-tooltip>Click to explore GER</md-tooltip>

							{{vm.baseYearData.GER[g]| percif:!($last) :2 }}

						</td>

						<td ng-repeat="g in ['T','F','M','I']" @* selected year *@
								ng-class="{sec: $last, alt: $last}"
								ng-click="vm.action('ger',vm.selectedYear)">

							{{vm.selectedYearData.GER[g]|percif:!($last) :2 }}

							<md-tooltip>Click to explore GER</md-tooltip>
						</td>

						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| percif:!($last) :2 }}
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] < 0.005 && vm.selectedYearData.GER[g] - vm.baseYearData.GER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					@* NER *@
					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Net Enrolment Rate
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" @* base year *@
								ng-class="{sec: $last, alt: $last}"
								ng-click="vm.action('ner',vm.baseYear)">

							<md-tooltip>Click to explore NER</md-tooltip>

							{{vm.baseYearData.NER[g]| percif:!($last) :2 }}
						</td>

						<td ng-repeat="g in ['T','F','M','I']" @* selected year *@
								ng-class="{sec: $last, alt: $last}"
								ng-click="vm.action('ner',vm.selectedYear)">

							<md-tooltip>Click to explore NER</md-tooltip>

							{{vm.selectedYearData.NER[g]| percif:!($last) :2 }}
						</td>

						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| percif:!($last) :2 }}
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] < 0.005 && vm.selectedYearData.NER[g] - vm.baseYearData.NER[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Quality Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Number of Teachers</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] < 0.005 && vm.selectedYearData.Teachers2[g] - vm.baseYearData.Teachers2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Certified</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] < 0.005 && vm.selectedYearData.TeachersCert2[g] - vm.baseYearData.TeachersCert2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Certified %</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP2[g]| percif :!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP2[g]| percif :!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] < 0.005 && vm.selectedYearData.TeachersCertP2[g] - vm.baseYearData.TeachersCertP2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Qualified</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersQual2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersQual2[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] < 0.005 && vm.selectedYearData.TeachersQual2[g] - vm.baseYearData.TeachersQual2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Qualified %</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersQualP2[g]| percif :!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersQualP2[g]| number :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] < 0.005 && vm.selectedYearData.TeachersQualP2[g] - vm.baseYearData.TeachersQualP2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Pupil/Teacher Ratio</td>
						<td>{{vm.baseYearData.PTR2 |number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.PTR2|number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>
							{{vm.selectedYearData.PTR2 - vm.baseYearData.PTR2|number:1}}
							<md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] < 0.005 && vm.selectedYearData.PTR2[g] - vm.baseYearData.PTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Pupil/Certified Teacher Ratio</td>
						<td>{{vm.baseYearData.CertPTR2 |number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.CertPTR2|number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>
							{{vm.selectedYearData.CertPTR2 - vm.baseYearData.CertPTR2|number:1}}
							<md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] < 0.005 && vm.selectedYearData.CertPTR2[g] - vm.baseYearData.CertPTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Pupil/Qualified Teacher Ratio</td>
						<td>{{vm.baseYearData.QualPTR2 |number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>{{vm.selectedYearData.QualPTR2|number:1}}</td>
						<td colspan="3" class="na sec" />
						<td>
							{{vm.selectedYearData.QualPTR2 - vm.baseYearData.QualPTR2|number:1}}
							<md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] < 0.005 && vm.selectedYearData.QualPTR2[g] - vm.baseYearData.QualPTR2[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
						<td colspan="3" class="na sec" />
					</tr>

					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Process Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">No of Repeaters</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">
							{{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] < 0.005 && vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Repetition Rate
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}
							<md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] < 0.005 && vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td colspan="13" class="grouphdr">Outcome Indicators</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Survival Rate (to Year 12)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival6[g]| percif:!($last) :2 }}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g]| percif:!($last) :2}}
							<md-icon ng-if="vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g] < 0.005 && vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Intake (i.e. in first grade of secondary)</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Intake[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Intake[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] < 0.005 && vm.selectedYearData.Intake[g] - vm.baseYearData.Intake[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Gross Intake Ratio (i.e. in first grade of high school)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIR[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIR[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g]| percif:!($last) :2}}
							<md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] < 0.005 && vm.selectedYearData.GIR[g] - vm.baseYearData.GIR[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">
							Gross Intake Ratio (i.e. in last grade of high school)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| percif:!($last) :2}}
							<md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] < 0.005 && vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="rowhdr sec">Net Intake (i.e. in first grade of high school)</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NetIntake[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NetIntake[g]| percif :$last :0}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g]| percif :$last :0}}
							<md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] < 0.005 && vm.selectedYearData.NetIntake[g] - vm.baseYearData.NetIntake[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

					<tr class="ng-cloak">
						<td class="		rowhdr sec">
							Net Intake Rate (i.e. in first grade of high school)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NIR[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NIR[g]| percif:!($last) :2}}</td>
						<td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">
							{{vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g]| percif:!($last) :2}}
							<md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] >= 0.005" class="material-icons md-24 md-dark" md-colors="{color:'green'}">trending_up</md-icon>
							<md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] <= -0.005" class="material-icons md-24 md-dark" md-colors="{color:'red'}">trending_down</md-icon>
							<md-icon ng-if="vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] < 0.005 && vm.selectedYearData.NIR[g] - vm.baseYearData.NIR[g] > -0.005" class="material-icons md-24 md-dark" md-colors="{color:'gray'}">trending_flat</md-icon>
						</td>
					</tr>

				</tbody>
			</table>
		</md-tab>

		<md-tab label="Historical Charts">
			<div style="margin: 10px;">
				<h2>Demographic Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']" />
					<echart flex="" indicators="vm" title="Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrolment (Male)', 'Enrolment (Female)', 'Enrolment (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Net Enrolment (Official Age)" chart-type="line" indicator="NetEnrolment" meta="['Net Enrolment (Male)', 'Net Enrolment (Female)', 'Net Enrolment (Total)']" />
					<echart flex="" indicators="vm" title="Net Enrolment Rate" chart-type="line" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Gross Enrolment Rate" chart-type="line" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']" />
				</div>
				<h2>Quality Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Teachers" chart-type="line" indicator="Teachers" meta="['Teachers (Male)', 'Teachers (Female)', 'Teachers (Total)']" />
					<echart flex="" indicators="vm" title="Certified Teachers" chart-type="line" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Qualified Teachers" chart-type="line" indicator="TeachersQual" meta="['Teachers Qualified (Male)', 'Teachers Qualified (Female)', 'Teachers Qualified (Total)']" />
				</div>
				<h2>Process Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']" />
					<echart flex="" indicators="vm" title="Repeaters Rate" chart-type="line" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']" />
				</div>
				<h2>Outcome Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Survival12" chart-type="line" indicator="Survival12" meta="['Survival12 (Male)', 'Survival12 (Female)', 'Survival4 (Total)']" />
					<echart flex="" indicators="vm" title="Intake" chart-type="line" indicator="Intake" meta="['Intake (Male)', 'Intake (Female)', 'Intake (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="GIR" chart-type="line" indicator="GIR" meta="['GIR (Male)', 'GIR (Female)', 'GIR (Total)']" />
					<echart flex="" indicators="vm" title="GIRLG" chart-type="line" indicator="GIRLast" meta="['GIRLast (Male)', 'GIRLast (Female)', 'GIRLast (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Net Intake" chart-type="line" indicator="NetIntake" meta="['NetIntake (Male)', 'NetIntake (Female)', 'NetIntake (Total)']" />
					<echart flex="" indicators="vm" title="NIR" chart-type="line" indicator="NIR" meta="['NIR (Male)', 'NIR (Female)', 'NIR (Total)']" />
				</div>
			</div>
		</md-tab>

	</md-tabs>

</panel>