﻿<div>
	<div>
		@* final calculation *@
		<h3>
			Accreditation Result
			<stars size="large"
						 level="vm.calc.SSA(vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 90 / 96
						+ vm.calc.categorytypeScore('CLASSROOM_OBSERVATION', vm.calc.coLesser()) * 10 / 60, 100)"></stars>
		</h3>
		<table class="table cells">
			<thead>
				<tr>
					<th>Component</th>
					<th>Score</th>
					<th>Percent Score</th>
					<th>Contribution to total</th>
					<th colspan="2">Final Score</th>

				</tr>
			</thead>
			<tr>
				<td>SchoolEvaluation</td>
				<td>{{vm.calc.categorytypeScore('SCHOOL_EVALUATION')}}</td>
				<td>{{vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 100 / 96 | number:1}} </td>
				<td>.9</td>
				<td>{{vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 90 / 96 | number:1}}</td>
				<td></td>
			</tr>
			<tr ng-repeat="obs in ['Classroom Observation 1','Classroom Observation 2']"
					ng-style="obs!=vm.calc.coLesser() && {'color':  'lightgray' }">
				<td>{{obs}}</td>
				<td>{{vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", obs)}}</td>
				<td>{{vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", obs) * 100 / 60 | number:1}} </td>
				<td>
					<span ng-show="obs == vm.calc.coLesser()">
						.1
					</span>
				</td>
				<td>
					<span ng-show="obs == vm.calc.coLesser()">
						{{vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", obs) * 10 /60 | number:1}}
					</span>
				</td>
				<td></td>
			</tr>
			<tr style="font-weight:800">
				<td>Accreditation Result</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div>
						<md-tooltip md-direction="left">
							Rounded to {{
						vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 90 / 96
						+ vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", vm.calc.coLesser()) * 10 /60 | number:0
							}} for final determination of the level
						</md-tooltip>
						{{
						vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 90 / 96
						+ vm.calc.categorytypeScore("CLASSROOM_OBSERVATION", vm.calc.coLesser()) * 10 /60 | number:1
						}}
					</div>
				</td>
				<td>
					<stars size="large"
								 level="vm.calc.SSA(vm.calc.categorytypeScore('SCHOOL_EVALUATION') * 90 / 96
						+ vm.calc.categorytypeScore('CLASSROOM_OBSERVATION', vm.calc.coLesser()) * 10 / 60, 100)"></stars>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<h3>School Evaluation Details</h3>
		<table class="table cells">
			<thead>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std}}
					</th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th colspan="4" class="cell"
							ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']">
						{{std | lookup:'accreditationTerms':'S'}}
					</th>
				</tr>
				<tr>
					<th class="no-border"></th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
					<th ng-class="{'leftedge': $first, 'rightedge':$last}" ng-repeat="i in [1,2,3,4]">C.{{i}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sc in ['a','b','c','d']">
					<td class="cell">{{sc}}</td>
					<td ng-repeat-start="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']"
							class="leftedge">
						{{vm.calc.score(std,'1',sc)}}
					</td>
					<td>{{vm.calc.score(std,'2',sc)}}</td>
					<td>{{vm.calc.score(std,'3',sc)}}</td>
					<td ng-repeat-end class="rightedge">
						{{vm.calc.score(std,'4',sc)}}
					</td>
				</tr>
				@* criteria tally *@
				<tr>
					<th class="no-border">Criteria Total</th>
					<td ng-repeat-start="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']"
							class="leftedge">
						{{vm.calc.score(std,'1','a') + vm.calc.score(std,'1','b') + vm.calc.score(std,'1','c') + vm.calc.score(std,'1','d')}}
					</td>
					<td>
						{{vm.calc.score(std,'2','a') + vm.calc.score(std,'2','b') + vm.calc.score(std,'2','c') + vm.calc.score(std,'2','d')}}
					</td>
					<td>
						{{vm.calc.score(std,'3','a') + vm.calc.score(std,'3','b') + vm.calc.score(std,'3','c') + vm.calc.score(std,'3','d')}}
					</td>
					<td ng-repeat-end class="rightedge">
						{{vm.calc.score(std,'4','a') + vm.calc.score(std,'4','b') + vm.calc.score(std,'4','c') + vm.calc.score(std,'4','d')}}
					</td>
				</tr>
				<tr>
					@* standard tally *@
					<th class="no-border">Standard Total</th>
					<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']" class="cell">
						{{vm.calc.standardScore(std)}}
					</td>
				</tr>
				<tr>
					<th class="no-border">Standard Level</th>
					<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']" class="cell">
						{{vm.calc.standardLevel(std)}}
					</td>
				</tr>
				<tr class="total">
					<th class="no-border"></th>
					<td colspan="4" ng-repeat="std in ['SE.1','SE.2','SE.3','SE.4','SE.5','SE.6']" class="cell">
						<stars level="vm.calc.standardLevel(std)"></stars>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		@* classroom observations *@
		<div ng-repeat="coname in ['Classroom Observation 1', 'Classroom Observation 2']">
			<h3 ng-style="coname!=vm.calc.coLesser() && {'color':  'lightgray' }">{{coname}} <span ng-show="coname!=vm.calc.coLesser()">(discarded)</span></h3>
			<table class="table cells">
				<thead>
					<tr>
						<th class="no-border"></th>
						<th colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{std}}
						</th>
					</tr>
					<tr>

						<th class="no-border"></th>
						<th colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{std | lookup:'accreditationTerms':'S'}}
						</th>
					</tr>
					<tr>
						<th class="no-border"></th>
						<th ng-repeat="n in [1,2]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							C.{{n}}
						</th>
						<th ng-repeat="n in [1]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							C.{{n}}
						</th>


					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sc in ['a','b','c','d','e']">
						<td class="cell">{{sc}}</td>
						<td ng-repeat="n in [1,2]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.1',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.2',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.3',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.4',n, sc, coname)}}
						</td>
						<td ng-repeat="n in [1]">
							{{vm.calc.score('CO.5',n, sc, coname)}}
						</td>
					</tr>
					@* criteria totals *@
					<tr>
						<th class="no-border">Criteria Total</th>
						<td ng-repeat="n in [1,2]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.1',n,'a', coname) + vm.calc.score('CO.1',n,'b', coname) + vm.calc.score('CO.1',n,'c', coname) + vm.calc.score('CO.1',n,'d', coname) + vm.calc.score('CO.1',n,'e', coname) }}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.2',n,'a', coname) + vm.calc.score('CO.2',n,'b', coname) + vm.calc.score('CO.2',n,'c', coname) + vm.calc.score('CO.2',n,'d', coname) + vm.calc.score('CO.2',n,'e', coname) }}
						</td>
						<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.3',n,'a', coname) + vm.calc.score('CO.3',n,'b', coname) + vm.calc.score('CO.3',n,'c', coname) + vm.calc.score('CO.3',n,'d', coname) + vm.calc.score('CO.3',n,'e', coname) }}
						</td>
						<td ng-repeat="n in [1]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.4',n,'a', coname) + vm.calc.score('CO.4',n,'b', coname) + vm.calc.score('CO.4',n,'c', coname) + vm.calc.score('CO.4',n,'d', coname) + vm.calc.score('CO.4',n,'e', coname) }}
						</td>
						<td ng-repeat="n in [1]" ng-class="{'leftedge': $first, 'rightedge':$last}">
							{{vm.calc.score('CO.5',n,'a', coname) + vm.calc.score('CO.5',n,'b', coname) + vm.calc.score('CO.5',n,'c', coname) + vm.calc.score('CO.5',n,'d', coname) + vm.calc.score('CO.5',n,'e', coname) }}
						</td>
					</tr>
					<tr>
						@* standard totals*@
						<th class="no-border">Standard Total</th>
						<td colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{vm.calc.standardScore(std, coname)}}
						</td>
					</tr>
					<tr>
						@* standard totals *@
						<th class="no-border">Standard Level</th>
						<td colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							{{vm.calc.standardLevel(std,coname, [10,20,20,5,5][$index])}}
						</td>
					</tr>
					<tr class="total">
						@* standard Level *@
						<th class="no-border"></th>
						<td colspan="{{[2,4,4,1,1][$index]}}" class="cell"
								ng-repeat="std in ['CO.1','CO.2','CO.3','CO.4','CO.5']">
							<stars level="vm.calc.standardLevel(std, coname, [10,20,20,5,5][$index])"></stars>
						</td>
					</tr>
				</tbody>
			</table>
		</div> @* end ng-repeat classroom observations *@
	</div>

	<div>
		<h3>Recommendations</h3>

		<table class="table cells">
			<thead>
				<tr>
					<th class="no-border">School Evaluation Standard</th>
					<th class="cell" colspan="4" style="background-color: #8ed15e;">Continue to <em>maintain</em> in these criteria</th>
					<th class="cell" colspan="4" style="background-color: #f5dd87;">Continue to <em>improve</em> in these criteria</th>
				</tr>
				<tr>
					<th class="no-border"></th>					
					<th ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}" style="background-color: #8ed15e;">
						C.{{n}}
					</th>
					<th ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}" style="background-color: #f5dd87;">
						C.{{n}}
					</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="std in [{id: 'SE.1', name:'Leadership'},{id: 'SE.2', name:'Teacher Performance'},{id: 'SE.3', name:'Data Management'},{id: 'SE.4', name:'NCSB'},{id: 'SE.5', name:'Facilities'},{id: 'SE.6', name:'SIP'}]">
					<td class="cell">{{std.id}}: {{std.name}}</td>					
					<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}" style="background-color: #8ed15e;">
						<span ng-show="vm.calc.critScore(std.id+'.'+n) >= 3"><md-icon class="material-icons">check</md-icon></span>
					</td>
					<td ng-repeat="n in [1,2,3,4]" ng-class="{'leftedge': $first, 'rightedge':$last}" style="background-color: #f5dd87;">
						<span ng-show="vm.calc.critScore(std.id+'.'+n) < 3"><md-icon class="material-icons">check</md-icon></span>
					</td>					
				</tr>				
			</tbody>
		</table>

		<ol>
			<li>School Improvement Plan, Self-Study, and</li>
			<li>
				Specific areas to improve suggested below:

				<ul>
					<li ng-repeat="cat in vm.model.category">
						Category - {{cat.name}}
						<ul>
							<li ng-hide="vm.calc.standardScore(std.id, cat.name) == vm.calc.standardScoreMax(std.id, cat.name)" ng-repeat="std in cat.standard">
								Standard - {{std.id}}: {{std.name}}
								<ul>
									<li ng-hide="vm.calc.critScore(cri.id,cat.name) == cri.maxscore" ng-repeat="cri in std.criteria">
										Criteria - {{cri.id}}: {{cri.name}}
										<ul>
											<li ng-hide="sc.score" ng-repeat="sc in cri.subcriteria">
												Sub-criteria - {{sc.id}}: {{sc.name}}
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

			</li>
		</ol>
	</div>

</div>
