﻿<div>
	<accreditation-year-chart class="dashboard-wrapper height3 "
														dashboard="::vm.dashboard"
														group="::vm.xtabSurveyYear"
														options="::vm.options"
														option-change="vm.optionChange"
														selected-child="vm.selectedChild"
														heading-title="Accreditation Progress by Year">
	</accreditation-year-chart>

	<accreditation-nation-chart class="dashboard-wrapper height3 "
															dashboard="::vm.dashboard"
															group="::vm.xtabDistrictCode"
															options="::vm.options"
															option-change="vm.optionChange"
															selected-child="vm.selectedChild"
															heading-title="Accreditation Progress by {{'District' | vocab }}">
	</accreditation-nation-chart>

	<accreditation-pie-chart class="dashboard-wrapper height3 "
													 dashboard="::vm.dashboard"
													 group="::vm.xtabAggregate"
													 options="::vm.options"
													 option-change="vm.optionChange"
													 selected-child="vm.selectedChild"
													 heading-title="Accreditation Progress National">
	</accreditation-pie-chart>

	<accreditation-district-table class="dashboard-wrapper height3 "
																dashboard="::vm.dashboard"
																group="::vm.xtabDistrictCode"
																options="::vm.options"
																selected-child="vm.selectedChild">

	</accreditation-district-table>

	<accreditation-standard-table class="dashboard-wrapper height5 "
																dashboard="::vm.dashboard"
																group="::vm.xtabStd"
																options="::vm.options"
																selected-child="vm.selectedChild">
	</accreditation-standard-table>
</div>

