﻿<panel panel-class=""
			 panel-icon="download"
			 heading="Export Data in Excel"
			 panel-control-collapse="true">

	<md-content>
		<div>
			<p>
				Download the data from the official data warehouse. The data will be downloaded as an Excel spreadsheet.
				Without clicking "Create Refreshable Workbook" below, the excel export will be static:
				any changes to the data (e.g. the next school year) will not be in your spreadsheet. You will need to come and
				download it again here to get the latest data. Clicking on "Create Refreshable Workbook" is a newer more experimental way to get the data
				in Excel while also adding a "live" connection to the official data warehouse. This means that you could simply refresh
				your Excel data source and you will retrieve any new data automatically in your same Excel document without the need
				to come back and download it again.
			</p>
		</div>

		<div>
			<md-checkbox ng-model="vm.pq">Create Refreshable workbook</md-checkbox>
		</div>

		<table class="md-table striped">
			<thead>
				<tr>
					<th>Data</th>
					<th>Description</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>

				@*<tr>
						<td>
							Teacher Activity Data (Nation)
						</td>
						<td>
							Teaching staff count by year, activity (aka grade level) and enrolment for the whole nation. Teaching staff count is provided weighted and not and for qualified, certified and both qualified and certified.
						</td>
						<td>
							<excel-download-component from="api/warehouse/teacheractivity/nation?byActivity" mode="{{vm.pq?'pq':'xl'}}" progress="linear">
								Download
							</excel-download-component>
						</td>
					</tr>*@

			</tbody>
		</table>

	</md-content>

</panel>
