﻿@* kemis context-specific extra tabs *@

<md-tab label="Surveys" ng-disabled="!vm.model.Surveys.length">
  <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
</md-tab>

<md-tab label="Inspectorate Data" ng-disabled="!vm.model.Inspections.length"  ng-if="vm.model.schType!='EC'">
  <table class="md-table striped">

    <thead>
      <tr>
        <th>ID</th>
        <th>Inspection Program</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Note</th>
        <th>Inspected By</th>
        <th>Inspection Type Code</th>
        <th>Inspection Type</th>
      </tr>
    </thead>

    <tbody>
		<tr data-ng-repeat="inspection in vm.model.Inspections | orderBy: 'StartDate' : true">
			<td><a ui-sref="site.schoolinspections.list.item({id: inspection.inspID})">{{inspection.inspID}}</a></td>
			<td>{{inspection.InspectionSetName}}</td>
			<td>{{inspection.StartDate |date:"dd MMM yyyy"}}</td>
			<td>{{inspection.EndDate    |date:"dd MMM yyyy"}}</td>
			<td>{{inspection.Note}}</td>
			<td>{{inspection.InspectedBy}}</td>
			<td>{{inspection.InspTypeCode}}</td>
			<td>{{inspection.InspectionType}}</td>
		</tr>
    </tbody>

  </table>
</md-tab>

<md-tab label="Principal's Comments" ng-disabled="!vm.model.Surveys.length">
  <table class="md-table striped">

    <thead>
      <tr>
        <th>Year</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="survey in vm.model.Surveys | orderBy: svyYear : true">
        <td>{{survey.svyYear}}</td>
        <td>{{survey.ssNote}}</td>
      </tr>
    </tbody>

  </table>
</md-tab>
