﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	Teacher Deduplicate: Compare Teacher Surveys
}

<div>
	<table class="table table-material">
		<thead>
			<tr>
				<th></th>
				<th colspan="5">Record 1:</th>
				<th colspan="5">Record 2:</th>
			</tr>
			<tr>
				<th>Year</th>
				<th>ID</th>
				<th>{{'School No'|vocab}}</th>
				<th>School Name</th>
				<th>Role</th>
				<th>Status</th>

				<th>ID</th>
				<th>{{'School No'|vocab}}</th>
				<th>School Name</th>
				<th>Role</th>
				<th>Status</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(year, v) in vm.listdata">
				<td>{{year}}</td>

				<td>{{v.left.tID}}</td>
				<td>{{v.left.schNo}}</td>
				<td>{{v.left.schName}}</td>
				<td>{{v.left.RoleDesc}}</td>
				<td>{{v.left.StatusDesc}}</td>
				<td>{{v.right.tID}}</td>
				<td>{{v.right.schNo}}</td>
				<td>{{v.right.schName}}</td>
				<td>{{v.right.RoleDesc}}</td>
				<td>{{v.right.StatusDesc}}</td>
			</tr>
		</tbody>
	</table>
</div>