﻿@*
	New (2021) indicator page layout for ECE education
	This (default) version is shared by FEDEMIS and MIEMIS.
	Minor customisations to one or other if required in future can be made by
	using (ViewBag.Context == "miemis"') resp. (ViewBag.Contaxt = "fedemis")
	to make context-specific conditional code

*@
<panel panel-class="panel-primary"
			 heading="Early Childhood Education Indicators{{vm.selectedDistrict|lookup:'districts'|append:': '}}"
			 panel-collapse="true"
			 style="width:100%">

	<md-tabs md-dynamic-height md-border-bottom>

		<md-tab label="Data Grid">
			<p>
				Please select a start and end year to compare indicators over time. Get more details on the column F% or GPI
				<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GPI')">
					<md-tooltip>Details</md-tooltip>
					<md-icon class="material-icons md-24 md-dark">info</md-icon>
				</md-button>
			</p>
			<style>

				.flextbl .row:nth-child(even) {
					background-color: rgb(243,244,246)
				}

				.flextbl .row {
					display: flex;
					flex-direction: row;
					min-height: 20px;
					border-top-color: rgb(221,221,221);
					border-top-style: solid;
					border-top-width: 1px;
					margin-right: 0;
					margin-left: 0
				}

				.flextbl .cellgrp {
					display: flex;
					flex-direction: row;
				}

				.flextbl .cell {
					padding: 5px 3px 5px 5px;
					text-align: right;
					font-size: 12px
				}

				.flextbl .blockhdr {
					font-weight: 700
				}

				.flextbl .row_label {
					padding: 5px 20px 5px 5px;
					text-align: right;
					font-size: 12px;
					background-color: rgb(243,244,246)
				}

				.flextbl .row_label md-icon {
					cursor: help
				}


				.flextbl .cell.left, .flextbl .left {
					text-align: left;
				}

				.flextbl .cell.center, .flextbl .center {
					text-align: center;
				}

				.flextbl .grouphdr {
					background-color: #f3f4f6;
					color: #333;
					font-weight: bold;
					font-size: 14px;
					text-align: center;
					padding: 10px 3px 10px 5px;
				}

				ind-block.hover, ind-change.hover {
					background-color: rgb(224,224,224);
					border-radius: 3px
				}
			</style>
			<div layout="column" class="flextbl">
				<div class="grouphdr" layout="row">
					<div class="cell left" flex="25">Indicators</div>
					<div class="cell" flex>
						<select style="width: 100%; border-style: none; color: #4b4b4b; font-size: 14pt"
										ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
										ng-model="vm.baseYear"></select>
					</div>
					<div class="cell" flex>
						<select style="width:100%;border-style:none; color:#4b4b4b; font-size:14pt"
										ng-options="year.C as year.N for year in vm.lookups.cache['surveyYears']"
										ng-model="vm.selectedYear"></select>
					</div>
					<div class="cell center" flex hide-xs hide-sm>
						Change {{vm.baseYear}} - {{vm.selectedYear}}
					</div>

				</div>
				<div class="row">
					<div flex="25" class="cell"></div>
					<div layout="row" flex>
						<ind-block-hdr layout="row" flex></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
						<ind-block-hdr layout="row" flex hide-xs hide-sm show-gt-sm=""></ind-block-hdr>
					</div>
				</div>

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Context Indicators</div>
				<div class="row">
					<div flex="25" class="row_label">Years of schooling</div>
					<ind-row-x layout="row" flex
										 item="YearsOfSchooling"></ind-row-x>
				</div>
				<div class="row">
					<div flex="25" class="row_label">Official Start Age</div>
					<ind-row-x layout="row" flex
										 item="OfficialStartAge"></ind-row-x>
				</div>

				@*
					This row is the only difference currently between MIEMIS and FEDMIS versions (i.e. how to get the school count)
					In MIEMIS, the school count can be used as the system is configured in such a way the school types and education levels
					are "in sync". See the FedEMIS version for additional details on this and why it does not always work as expected.
				*@
				<div class="row">
					<div flex="25" class="row_label">Number of ECE Schools</div>
					<div flex layout="row">
						<ind-block flex model="vm.indicatorCalc.schoolCount(vm.baseYear, 'ECE')" />
						<ind-block flex model="vm.indicatorCalc.schoolCount(vm.selectedYear, 'ECE')" />
						<ind-change flex
												model1="vm.indicatorCalc.schoolCount(vm.baseYear, 'ECE')"
												model2="vm.indicatorCalc.schoolCount(vm.selectedYear, 'ECE')" />
					</div>
				</div>

				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Demographic Indicators</div>

				<div class="row">
					<div flex="25" class="row_label">Population (Estimate)</div>
					<ind-row-x layout="row" flex
										 item="Population"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Enrolment</div>
					<ind-row-x flex item="Enrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">Official Age Enrolment</div>
					<ind-row-x flex item="NetEnrolment"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Gross Enrolment Ratio
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="GER"
										 gpi="1"
										 action="ger" tt="Click to explore GER"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Net Enrolment Ratio
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NER')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="NER"
										 gpi="1"
										 action="ner" tt="Click to explore NER"></ind-row-x>
				</div>

				@* quality indicators*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">Quality Indicators</div>
				<div class="row">
					<div class="row_label" flex="25">
						Number of Teachers
					</div>
					<ind-row-x layout="row" flex item="TeachersFtpt" places="2"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCert" places="2"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Certified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptCertP"
										 gpi="1"
										 action="teacher" tt="Click to explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQual" places="2"
										 action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Qualified %
					</div>
					<ind-row-x layout="row" flex item="TeachersFtptQualP"
										 gpi="1"
										 action="teacher" tt="Click tp explore teachers and qualifications"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Teacher Ratio
					</div>
					<ind-row-x flex item="FtptPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Certified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptCertPTR" places="1"></ind-row-x>
				</div>
				<div class="row">
					<div class="row_label" flex="25">
						Pupil/Qualified Teacher Ratio
					</div>
					<ind-row-x flex item="FtptQualPTR" places="1"></ind-row-x>
				</div>
				@*
					-------------------------------------
							Process indicators
					-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Process Indicators
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Repeaters
					</div>
					<ind-row-x flex item="Repeaters"
										 action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Repetition Rate
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('RR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="RepRate"
										 gpi="1"
										 action="rep" tt="Click to explore repetition"></ind-row-x>
				</div>
				@*
					-------------------------------------
							Outcome indicators
					-------------------------------------
				*@
				<div flex class="grouphdr" md-colors="{'background-color':'primary-100'}">
					Outcome Indicators
				</div>

				@*Theoretically possible to do Survival Rate to ECE but the method used throughout pins the starting
					value of 100% to grade 1. So to use this below would require either an additional parallelle "year-on-year"
					computation flowthat starts earlier (e.g. Pre-K or ECE), not needed and not done.*@
				@*<div class="row">
						<div class="row_label" flex="25">
							Survival Rate (to Year ECE)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('SR')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</div>
						<ind-row-x flex item="SurvivalECE"
											 gpi="1"
											 action="survival" tt="Click to explore Survival Rate"></ind-row-x>
					</div>*@

				@*
					-------------------------------
					Intake
					-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Intake (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
					</div>
					<ind-row-x flex item="Intake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Gross Intake Ratio (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="GIR"
										 gpi="1"
										 action="gir" tt="Click to explore GIR"></ind-row-x>
				</div>
				@*
					-------------------------------
					Net Intake
					-------------------------------
				*@
				<div class="row">
					<div class="row_label" flex="25">
						Net Intake (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
					</div>
					<ind-row-x flex item="NetIntake"></ind-row-x>
				</div>

				<div class="row">
					<div class="row_label" flex="25">
						Net Intake Ratio (in first grade of {{vm.selectedEdLevel|lookup:'educationLevels'}})
						<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('NIR')">
							<md-tooltip>Details</md-tooltip>
							<md-icon class="material-icons md-24 md-dark">info</md-icon>
						</md-button>
					</div>
					<ind-row-x flex item="NIR"
										 gpi="1"
										 @* action="nir" tt="Click to explore NIR" *@></ind-row-x>
				</div>

				@*Theoretically possible to have a GIRLG into ECE but not required and in most cases would just be same as GIR
					as there would only be one grade in ECE.*@
				@*<div class="row">
						<div class="row_label" flex="25">
							Gross Intake Ratio (in last grade of elementary)
							<md-button class="md-icon-button" ng-click="vm.showIndicatorInfo('GIRLG')">
								<md-tooltip>Details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">info</md-icon>
							</md-button>
						</div>
						<ind-row-x flex layout-align="start center" item="GIRLast"
											 gpi="1"></ind-row-x>
					</div>*@
			</div>


		</md-tab>

		<md-tab label="Historical Charts">
			<div style="margin: 10px;">
				<h2>Demographic Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" layout-fill indicators="vm" title="Population" chart-type="line" indicator="Population" meta="['Population (Male)', 'Population (Female)', 'Population (Total)']" />
					<echart flex="" indicators="vm" title="Total Enrolment" chart-type="line" indicator="Enrolment" meta="['Enrol (Male)', 'Enrol (Female)', 'Enrol (Total)']" />
				</div>
				<div layout="row">
					<echart flex="" indicators="vm" title="Net Enrolment Rate" chart-type="line" value-format="0.0%" indicator="NER" meta="['NER (Male)', 'NER (Female)', 'NER (Total)']" />
					<echart flex="" indicators="vm" title="Gross Enrolment Rate" chart-type="line" value-format="0.0%" indicator="GER" meta="['GER (Male)', 'GER (Female)', 'GER (Total)']" />
				</div>
				<h2>Quality Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Teachers vs Certified Teachers" chart-type="line" value-format="0.0%" indicator="TeachersCert" meta="['Teachers Certified (Male)', 'Teachers Certified (Female)', 'Teachers Certified (Total)']" />
				</div>
				<h2>Process Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Repeaters" chart-type="line" indicator="Repeaters" meta="['Repeaters (Male)', 'Repeaters (Female)', 'Repeaters (Total)']" />
					<echart flex="" indicators="vm" title="Repeaters Rate" chart-type="line" value-format="0.0%" indicator="RepRate" meta="['RepRate (Male)', 'RepRate (Female)', 'RepRate (Total)']" />
				</div>
				<h2>Outcome Indicators</h2>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="SurvivalECE" chart-type="line" indicator="Survival8" meta="['SurvivalECE (Male)', 'SurvivalECE (Female)', 'SurvivalECE (Total)']" />
					<echart flex="" indicators="vm" title="Intake" chart-type="line" indicator="Intake" meta="['Intake (Male)', 'Intake (Female)', 'Intake (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="GIR" chart-type="line" indicator="GIR" meta="['GIR (Male)', 'GIR (Female)', 'GIR (Total)']" />
					<echart flex="" indicators="vm" title="GIRLG" chart-type="line" indicator="GIRLast" meta="['GIRLast (Male)', 'GIRLast (Female)', 'GIRLast (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="Net Intake" chart-type="line" indicator="NetIntake" meta="['NetIntake (Male)', 'NetIntake (Female)', 'NetIntake (Total)']" />
					<echart flex="" indicators="vm" title="Net Intake" chart-type="line" indicator="NetIntake" meta="['NetIntake (Male)', 'NetIntake (Female)', 'NetIntake (Total)']" />
				</div>
				<div layout="column" layout-gt-md="row">
					<echart flex="" indicators="vm" title="NIR" chart-type="line" indicator="NIR" meta="['NIR (Male)', 'NIR (Female)', 'NIR (Total)']" />
				</div>
			</div>
		</md-tab>

	</md-tabs>

</panel>