﻿@* teacher survey List
*@
<div>
  <table class="md-table striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Position No</th>
        <th>{{"School No" | vocab}}</th>
        <th>Role</th>
        <th>Salary Pt</th>     
        <th>End Date</th>
        <th>Flag</th>
        <th>Note</th>
        @*<th>Has Note</th>*@
        <th>Role Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="a in vm.appointments">
        <td>{{a.taDate | date:"d-MMM-yyyy"}}</td>
        <td>{{a.taType}}</td>
        <td>{{a.estpNo}}</td>
        <td>{{a.SchNo}}</td>
        <td>{{a.taRole}}</td>
        <td>{{a.spCode}}</td>
        
        <td>{{a.taEndDate | date:"d-MMM-yyyy"}}</td>
        <td>{{a.taFlag}}</td>
        <td>{{a.taNote}}</td>
        @*<td>{{a.taHasNote}}</td>*@
        <td>{{a.taRoleGrade}}</td>
      </tr>
    </tbody>
  </table>
</div>