﻿@section title {
Payslip : {{vm.payslip.tpsPeriodStart |date:"d-MMM-yyyy"}} - {{vm.payslip.tpsPeriodEnd |date:"d-MMM-yyyy"}}
 
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
}
<component-teacher-payslip payslip="vm.payslip"></component-teacher-payslip>

