﻿@section title {
	Qualification : {{vm.model.trYear}} {{vm.model.trQual |lookup:'teacherQuals'}}

}

@section icon {
	<i class="fa fa-graduation-cap"></i>&nbsp;
}
@section tools {}
@section actions {}

<div ng-show="vm.showErrors()">
	The form cannot be saved because the data is incomplete or invalid
</div>
<div>
	<form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">
		<div layout="column">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Year</label>
				@* the input has to have a name to be part of the form error handling *@
				<input type="number" name="trYear"
							 ng-model="vm.model.trYear" ng-disabled="!vm.isEditing"
							 ng-min="vm.minYear" ng-max="vm.maxYear" />
				<div ng-messages="vm.modelForm.trYear.$error">

					<ng-message when="max">
						Year must be between {{vm.minYear}} and {{vm.maxYear}}
					</ng-message>
					<ng-message when="min">
						Year must be between {{vm.minYear}} and {{vm.maxYear}}
					</ng-message>
				</div>
			</md-input-container>

			@* becuase lookup-selector sits between the md-input-container
					and the actual md-select, there are problems getting the error visibility
				 we expect - using ng-class seems to overcome a problem with md-is-error
				not doing what we would expect  (ie set the class md-input-invalid)
				This is not perfect - there are still cases where the error styling does not get
				applied to the md-select
			*@
			<md-input-container class="md-block" flex-gt-sm
													md-is-error="vm.showErrors('trQual')"
													ng-class="{'md-input-invalid': vm.showErrors('trQual')}">
				<label>Qualification</label>
				<lookup-selector name="trQual"
												 lkp="teacherQuals" ng-model="vm.model.trQual" ng-disabled="!vm.isEditing"
												 ng-required="true"></lookup-selector>
				<div ng-messages="vm.modelForm.trQual.$error" ng-show="vm.showErrors('trQual')">
					<ng-message when="required">
						Qualification is required
					</ng-message>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Institution</label>
				<input type="text" ng-model="vm.model.trInstitution" ng-disabled="!vm.isEditing" />
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Major</label>
				<lookup-selector name="trMajor" lkp="subjects"
												 ng-model="vm.model.trMajor" ng-disabled="!vm.isEditing"></lookup-selector>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Minor</label>
				<lookup-selector name="trMinor" lkp="subjects"
												 ng-model="vm.model.trMinor" ng-disabled="!vm.isEditing"></lookup-selector>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				@* use <p> to prevent the *@
				<p>Completed?</p>
				@* not to get boolean values we have to use ng-value, not value , so that the expression 'true'
					is evaluated, not treated as a string literal
				*@
				<md-radio-group ng-model="vm.model.trComplete" ng-disabled="!vm.isEditing" layout="row">
					<md-radio-button ng-value="true">Yes</md-radio-button>
					<md-radio-button ng-value="false">No</md-radio-button>
				</md-radio-group>
			</md-input-container>

			<md-input-container class="md-block conditional" flex-gt-sm>
				<input placeholder="Progress %"
							 name="trProgressPerc"
							 ng-required="false"
							 type="number"
							 ng-model="vm.model.trProgressPerc"
							 ng-disabled="!vm.isEditing"
							 ng-min=0
							 ng-max=100 />
				<div ng-messages="vm.modelForm.trProgressPerc.$error" ng-show="vm.showErrors('trProgressPerc')">
					<ng-message when="min,max">Progress % must be a number between 0-100</ng-message>
				</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Comment</label>
				<textarea rows="2" ng-model="vm.model.trComment" ng-disabled="!vm.isEditing" ng-maxlength="50" maxlength="50" />
			</md-input-container>

		</div>
	</form>
</div>