﻿<h4>Search/Filter Dataset</h4>
<div layout="column">
	<div layout-gt-xs="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label>First Name</label>
			<input ng-model="vm.params.GivenName" type="text" />
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Family Name</label>
			<input ng-model="vm.params.Surname" type="text" />
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>{{'Teacher Payroll No'|vocab}}</label>
			<input ng-model="vm.params.PayrollNo" type="text" />
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Gender</label>
			<lookup-selector lkp="gender"
											 ng-model="vm.params.Gender"
											 ng-disabled="vm.findConfig.isLocked('Gender')">
			</lookup-selector>
		</md-input-container>
	</div>
	<div layout-gt-xs="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Role</label>
			<lookup-selector lkp="teacherRoles"
											 ng-model="vm.params.Role"
											 ng-disabled="vm.findConfig.isLocked('Role')">
			</lookup-selector>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Subject</label>
			<lookup-selector lkp="subjects"
											 ng-model="vm.params.Subject"
											 ng-disabled="vm.findConfig.isLocked('Subject')">
			</lookup-selector>
		</md-input-container>
	</div>
	<div layout-gt-xs="row">
		<school-finder flex-gt-sm
									 ng-model="vm.params.AtSchool"
									 ng-disabled="vm.findConfig.isLocked('AtSchool')"></school-finder>

		<md-input-container class="md-block" flex-gt-sm>
			<label>{{'District'|vocab}}</label>
			<lookup-selector lkp="districts"
											 ng-model="vm.params.District"
											 ng-disabled="vm.findConfig.isLocked('District')">
			</lookup-selector>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Authority</label>
			<lookup-selector lkp="authorities"
											 ng-model="vm.params.Authority"
											 ng-disabled="vm.findConfig.isLocked('Authority')">
			</lookup-selector>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>In Year</label>
			<input ng-model="vm.params.InYear" type="text" />
		</md-input-container>
	</div>

	<div layout-gt-xs="row">
		@*This is not ideal as searching goes. It currently uses the more general lookup teacherQuals
			which includes all types of qualifications (i.e. qualification, edqualifications aka certifications, training, etc.)
			This means you could select something available in teacherQuals that is not in vm.params.Qualification (but is in vm.params.EdQualification)
			Eventually this can be broken down using more specific types of lookups.*@
		<md-input-container class="md-block" flex-gt-sm>
			<label>Qualification</label>
			<lookup-selector lkp="teacherQuals"
											 ng-model="vm.params.Qualification"
											 ng-disabled="vm.findConfig.isLocked('Qualification')">
			</lookup-selector>
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Certification</label>
			<lookup-selector lkp="teacherQuals"
											 ng-model="vm.params.EdQualification"
											 ng-disabled="vm.findConfig.isLocked('EdQualification')">
			</lookup-selector>
		</md-input-container>

	</div>

	<section layout="row" layout-align="center center">
		<md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
		<md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
	</section>
</div>
