﻿<div>
	<form name="inputForm">
		<md-checkbox class="md-primary" ng-class="'colt' + col.uid" ui-grid-editor 
					 ng-model="MODEL_COL_FIELD" 
					 @{
						 if (ViewBag.param != null)
			{
						@:ng-true-value="@ViewBag.param" 
			}
					 }
				
					 md-no-ink />
		<md-tooltip ng-if="col.colDef.description">{{col.colDef.description}}</md-tooltip>
	</form>
</div>
