﻿<div>
	<wash-question-district-chart class="dashboard-wrapper height3 "
																dashboard="::vm.dashboard" 
																options="::vm.options" 
																selected-child="vm.selectedChild"
																option-change="vm.optionChange">
	</wash-question-district-chart>
	<wash-toilets-by-school class="dashboard-wrapper height3 "
													dashboard="::vm.dashboard" 
													options="::vm.options" 
													selected-child="vm.selectedChild"
													option-change="vm.optionChange">
	</wash-toilets-by-school>
	<wash-water-by-school class="dashboard-wrapper height3 "
												dashboard="::vm.dashboard" 
												options="::vm.options" 
												selected-child="vm.selectedChild"
												option-change="vm.optionChange">
	</wash-water-by-school>
</div>

