﻿@* *@
@section title {
	Spending By Sector
}

@section filters {
	{{vm.options.descriptionExcluding("District")}}
}

@section whenSelected {

}
<table class="table tight table-hover">
	<colgroup>
		<col />
	</colgroup>
	<colgroup ng-repeat="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">
		<col class="colgroupstart" />
		<col />
	</colgroup>
	@* totals *@
	<colgroup>
		<col class="colgroupstart" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<td></td>
			<th class="colgroupheader" colspan="2" ng-repeat="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">{{sc|lookup:"educationSectors"}}</th>
			<th colspan="2">Total</th>
		</tr>
		<tr>
			<td class="rowlabelhdr">{{"District"|vocab}}</td>
			<th ng-repeat-start="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">Actual</th>
			<th ng-repeat-end ng-hide="sc=='--'">Budget</th>
			<th>Actual</th>
			<th>Budget</th>
		</tr>
	</thead>
	<tbody>
		@* pick out the national row and put at the top *@
		<tr ng-repeat="row in vm.dashboard.byKey(vm.dashboard.xtabDistrictSector.all(),'NATIONAL')"
				ng-click="vm.options.toggleSelectedDistrict(row.key)"
				ng-class="{selected: vm.options.isSelectedDistrict(row.key)}">
			<td class="rowlabel">{{row.key|lookup:"expenditurePoints"}}</td>
			<td ng-repeat-start="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">{{row.value[sc].EdExpA| number:0}}</td>
			<td ng-repeat-end ng-hide="sc=='--'">{{row.value[sc].EdExpB| number:0}}</td>
			<td class="total">{{row.value["Tot"].EdExpA| number:0}}</td>
			<td class="total">{{row.value["Tot"].EdExpB| number:0}}</td>
		</tr>
		<tr ng-repeat="row in vm.dashboard.xtabDistrictSector.all()" ng-hide="row.key=='NATIONAL' || row.key=='--'"
				ng-click="vm.options.toggleSelectedDistrict(row.key)"
				ng-class="{selected: vm.options.isSelectedDistrict(row.key)}">

			<td class="rowlabel">{{row.key|lookup:"expenditurePoints"}}</td>
			<td ng-repeat-start="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">{{row.value[sc].EdExpA | number:0}}</td>
			<td ng-repeat-end ng-hide="sc=='--'">{{row.value[sc].EdExpB| number:0}}</td>
			<td class="total">{{row.value["Tot"].EdExpA | number:0}}</td>
			<td class="total">{{row.value["Tot"].EdExpB | number:0}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr ng-repeat="row in vm.dashboard.xtabSector.all()" class="total">
			<td class="rowlabel">Total</td>
			<td ng-repeat-start="sc in vm.dashboard.allSectors" ng-hide="sc=='--'">{{row.value[sc].EdExpA | number:0}}</td>
			<td ng-repeat-end ng-hide="sc=='--'">{{row.value[sc].EdExpB | number:0}}</td>
			<td>{{row.value["Tot"].EdExpA | number:0}}</td>
			<td>{{row.value["Tot"].EdExpB | number:0}}</td>
		</tr>

	</tfoot>
</table>
