﻿@* *@
@section title {
	GNI (aka. GNP) and Government Spending
}

@section filters {

}

@section whenSelected {

}
<table class="table tight table-hover">
	<colgroup>
		<col />
		<col />
	</colgroup>
	@* ed expenditure *@
	<colgroup ng-repeat="items in ['Budget','Actual']">
		<col class="colgroupstart" />
		<col />
		<col />
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th  class="colgroupheader">GNI (aka. GNP)</th>
			<th class="colgroupheader" colspan="6">Actual Expenditure</th>
			<th class="colgroupheader" colspan="6">Budgeted Expenditure</th>
		</tr>
		@*<tr>
			<td></td>
			<th class="colgroupheader" colspan="2">Education Spending</th>
			<th class="colgroupheader" colspan="2">% Govt Spending</th>
			<th class="colgroupheader" colspan="2">% GNP</th>
		</tr>
			<th ng-repeat-start="i in [1,2,3]">Actual</th>
			<th ng-repeat-end>Budget</th>
		</tr>
		*@
		<tr>
			<th></th>
			<th></th>
			<th>Ed Expenditure</th>
			<th>Govt Expenditure</th>
			<th colspan="2"> Ed/Govt %</th>
			<th colspan="2"> Ed/GNI %</th>
			<th>Ed Expenditure</th>
			<th>Govt Expenditure</th>
			<th colspan="2"> Ed/Govt %</th>
			<th colspan="2"> Ed/GNI %</th>
		</tr>

	</thead>
	<tbody>

		<tr ng-repeat="row in vm.dashboard.xtabYearNation.all()"
				ng-click="vm.options.selectedYear = row.key"
				ng-class="{selected: vm.options.isSelectedYear(row.key)}">

			<td class="rowlabel">{{row.key}}</td>
			<td>{{row.value["Tot"].GNP | number:0}}</td>

			<td>{{row.value["Tot"].EdExpA | number:0}}</td>
			<td>{{row.value["Tot"].GovtExpA | number:0}}</td>
			<td>{{row.value["Tot"].EdExpAGovtPerc | number:1}}</td>
			<td>
				<spark-percent n="row.value['Tot'].EdExpA" d="row.value['Tot'].GovtExpA"  />
			</td>
			<td>{{row.value["Tot"].EdExpAGNPPerc | number:1}}</td>
			<td>
				<spark-percent n="row.value['Tot'].EdExpA" d="row.value['Tot'].GNP" />
			</td>
			<td>{{row.value["Tot"].EdExpB | number:0}}</td>
			<td>{{row.value["Tot"].GovtExpB | number:0}}</td>
			<td>{{row.value["Tot"].EdExpBGovtPerc | number:1}}</td>
			<td>
				<spark-percent n="row.value['Tot'].EdExpB" d="row.value['Tot'].GovtExpB"  />
			</td>
			<td>
				{{row.value["Tot"].EdExpBGNPPerc | number:1}}
			</td>
			<td>
				<spark-percent n="row.value['Tot'].EdExpB" d="row.value['Tot'].GNP"/>

			</td>


		</tr>

	</tbody>
	<tfoot>

	</tfoot>
</table>
