﻿@*
	Confirmation to proess upload of Ndoe data
		uses MaterialLayoutDialog
*@

@section icon {
	<md-icon>cloud_upload</md-icon>
}

@section title {
	Kobo Results Workbook Uploaded
}

@section tools {
}

@* body *@
<div>
	<div><strong>Survey Tool:</strong> {{vm.info.surveyTool}}</div>
	<div><strong>Surveys completed:</strong> {{vm.info.listRows}}</div>
	<div><strong>First:</strong> {{vm.info.firstDate | date: 'd MMM yyyy hh:mm'}}</div>
	<div><strong>Last:</strong> {{vm.info.lastDate | date: 'd MMM yyyy hh:mm'}}</div>
</div>
<div ng-show="vm.info.hasValidations">
	Invalid rows were found in this workbook. Review and correct these problems, then submit the file again.
</div>

@section actions {

	<md-button ng-click="vm.returnSuccess()" ng-disabled="vm.info.hasValidations" class="md-primary">
		Process this file
	</md-button>
	<md-button ng-click="vm.returnFail()" class="md-primary">
		Cancel - discard this data
	</md-button>
}
