﻿<div layout="row" layout-align="center center" style="min-height: 70%">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33" ng-controller="LoginController as vm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password</h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form name="Form" ng-submit="vm.changePassword(vm.oldPassword, vm.newPassword, vm.confirmPassword)">
        <p>The change password only works if you are using a external Email user. If you are using a Windows account or Active Directory user then password should be changed in Windows or Active Directory.</p>        
        <md-input-container class="md-block">
          <label>Current Password</label>
          <input type="password" name="oldPassword" ng-model="vm.oldPassword" required />
          <div ng-messages="Form.oldPassword.$error" role="alert">
            <div class="my-message" ng-message="required">You must supply your current password.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>New Password</label>
          <input type="password" name="newPassword" ng-model="vm.newPassword" required />
          <div ng-messages="Form.newPassword.$error" role="alert">
            <div class="my-message" ng-message="required">You must supply a new password.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" ng-model="vm.confirmPassword" required />
          <div ng-messages="Form.confirmPassword.$error" role="alert">
            <div class="my-message" ng-message="required">You must confirm your new password.</div>
          </div>
        </md-input-container>
        <i class="icon-spinner icon-spin icon-large"></i>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="Form.$invalid">
          {{changePasswordState}} <i class="fa fa-spinner spinning" ng-show="changePasswordInProcess" aria-hidden="true"></i>
        </md-button>
      </form>
      <div class="text-danger" ng-repeat="msg in vm.ModelState">{{msg}}</div>
    </md-card-content>
  </md-card>
</div>
