﻿<div class="login-card" layout="row" layout-align="center center">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33" ng-controller="LoginController as vm">
    <form name="Form" ng-submit="vm.logIn(email, password, rememberMe)">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Welcome! Please Login</h2>
        </div>
      </md-toolbar>
      <md-card-header layout="column">
        <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Logo" />
      </md-card-header>
      <md-card-content>
        <md-input-container class="md-block">
          <label>Account Name (user or email)</label>
          <input type="text" name="email" ng-model="email" required />
          <div ng-messages="Form.email.$error" role="alert">
            <div ng-message="required">You must supply an Account Name (user or email.)</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="password" required />
          <div ng-messages="Form.password.$error" role="alert">
            <div ng-message="required">You must supply a password.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <md-checkbox name="rememberMe" ng-model="rememberMe">
            Stay logged in?
          </md-checkbox>
        </md-input-container>
				<md-card-actions layout="row" layout-align="start center">
					<i class="icon-spinner icon-spin icon-large"></i>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="Form.$invalid || loginInProcess">
						{{loginState}} <i class="fa fa-spinner spinning" ng-show="loginInProcess" aria-hidden="true"></i>
					</md-button>
					<md-button class="md-raised " ng-if="vm.publicAccessAllowed" ng-disabled="loginInProcess" ng-click="vm.publicAccess()">
						Public Access <i class="fa fa-spinner spinning" ng-show="loginInProcess" aria-hidden="true"></i>
					</md-button>
					<span flex></span>
					<md-button ng-click="vm.gotoForgotPassword()">Forgot password?</md-button>
				</md-card-actions>
        <div class="text-danger">{{messageText}}</div>
      </md-card-content>
    </form>
  </md-card>
</div>