﻿
@section icon {}
@section title {
	Your session has expired. Log in to continue...
}
@section tools {}
@section actions {
	<i class="icon-spinner icon-spin icon-large"></i>
	<md-button class="md-raised md-primary" 
 					  ng-click="vm.logIn(email, password, rememberMe)"
					 ng-disabled="Form.$invalid || loginInProcess">
		{{loginState}} 
		<i class="fa fa-spinner spinning" ng-show="loginInProcess" aria-hidden="true"></i>
	</md-button>
	<span flex></span>
	<md-button ng-click="vm.gotoForgotPassword()">Forgot password?</md-button>
}

<div layout="column" class="gt-sm width400">

	<form name="vm.modelForm" novalidate>

		

		<md-dialog-content>
			<div class="md-dialog-content">
				<img src="asset/logo" style="max-width:150px; display:block; margin:auto;" aria-label="Logo" />
				<md-input-container class="md-block">
					<label>Account Name (user or email)</label>
					<input type="text" name="email" ng-model="email" required />
					<div ng-messages="Form.email.$error" role="alert">
						<div ng-message="required">You must supply an Account Name (user or email.)</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="password" required />
					<div ng-messages="Form.password.$error" role="alert">
						<div class="my-message" ng-message="required">You must supply a password.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<md-checkbox name="rememberMe" ng-model="rememberMe">
						Stay logged in?
					</md-checkbox>
				</md-input-container>
				<div class="text-danger">{{messageText}}</div>
			</div>
		</md-dialog-content>
	</form>
</div>
