﻿<div>
  <div>
    Your password must be at least <b>{{vm.model.RequiredLength}} characters long</b> and must contain the following elements
  </div>
  <ul>
    <li ng-show="vm.model.RequireUppercase">one or more <b>UPPERCASE</b> letters</li>
    <li ng-show="vm.model.RequireLowercase">one or more <b>lowercase</b> letters</li>
    <li ng-show="vm.model.RequireDigit">one or more <b>digits</b> (0 - 9)</li>
    @* note the @@ to escape @ *@
    <li ng-show="vm.model.RequireNonLetterOrDigit">one or more special characters from the set <b>!@@#$%^&*</b></li>
  </ul>

</div>