﻿<div layout="row" layout-align="center center" style="min-height: 70%">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Register New External User (Email)</h2>
      </div>
    </md-toolbar>
    <md-card-header layout="column">
      <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Logo" />
    </md-card-header>
    <md-card-content>
      <form name="Form" ng-submit="vm.register(vm.UserName, vm.Email, vm.Password, vm.confirmPassword, vm.MenuKey, vm.Country, vm.Permission)">
        <md-input-container class="md-block">
          <label>Account Name (email)</label>
          <input type="email" name="email" ng-model="vm.Email" required />
          <div ng-messages="Form.email.$error" role="alert">
            <div ng-message="required">You must supply an Account Name (email.)</div>
            <div ng-message="email">It must be a valid email</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Menu Key</label>
          <input type="text" name="menukey" ng-model="vm.MenuKey" required />
          <div ng-messages="Form.menukey.$error" role="alert">
            <div ng-message="required">You must supply an a MenuKey</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Permission String</label>
          <input type="text" name="permission" ng-model="vm.Permission" required />
          <div ng-messages="Form.permission.$error" role="alert">
            <div ng-message="required">You must supply an a set of permission</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="vm.Password" required />
          <div ng-messages="Form.password.$error" role="alert">
            <div ng-message="required">You must supply a password.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirm New Password</label>
          <input type="password" name="confirmpassword" ng-model="vm.confirmPassword" required />
          <div ng-messages="Form.confirmpassword.$error" role="alert">
            <div ng-message="required">You must supply a password.</div>
          </div>
        </md-input-container>
        <i class="icon-spinner icon-spin icon-large"></i>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="Form.$invalid">
          {{registerState}} <i class="fa fa-spinner spinning" ng-show="registerInProcess" aria-hidden="true"></i>
        </md-button>
      </form>
      <div class="text-danger" ng-repeat="msg in vm.ModelState">{{msg}}</div>
    </md-card-content>
  </md-card>
</div>
