﻿<div layout="row" layout-align="center center" style="min-height: 70%">
  <md-card flex="flex" flex-gt-xs="60" flex-gt-sm="33">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Password</h2>
      </div>
    </md-toolbar>
    <md-card-header layout="column">
      <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Logo" />
    </md-card-header>
    <md-card-content>
      <password-validator model="vm.passwordValidator"></password-validator>
      <form novalidate name="vm.form" ng-submit="vm.resetPassword()" role="form" layout="column">
        <md-input-container>
          <input type="password" id="newpassword" name="newpassword"
                 ng-model="vm.newPassword"
                 required ng-minlength="vm.passwordValidator.RequiredLength" ng-pattern="vm.passwordValidator.RegEx"
                 placeholder="Password">
          <div ng-messages="vm.form.newpassword.$error">
            <p ng-message="minlength">password must be {{vm.passwordValidator.RequiredLength}} characters</p>
            <p ng-message="pattern" class="validation-message">
              <i class='fa fa-exclamation'>&nbsp;</i>
              Password does not meet password rules
            </p>
          </div>
        </md-input-container>
        <md-input-container>
          <input type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword"
                 ng-model="vm.confirmPassword"
                 required validate-equal="vm.newPassword"
                 placeholder="Confirm New Password">
          <div ng-messages="vm.form.confirmnewpassword.$error">
            <p ng-message="compare" class="validation-message">
              <i class="fa fa-exclamation"></i>
              Confirm must match Password
            </p>
          </div>
        </md-input-container>
        <div>
          <i class="icon-spinner icon-spin icon-large"></i>
          <md-button type="submit" class="md-primary md-raised"
                     ng-disabled="vm.form.$invalid || vm.loginInProcess">
            {{vm.buttonState}} <i class="fa fa-spinner spinning" ng-show="vm.loginInProcess" aria-hidden="true"></i>
          </md-button>
        </div>
      </form>
    </md-card-content>
</div>