﻿@{
	Layout = null;
}
@section icon {
	<i class="fa fa-exclamation-circle"></i>
}

@section title {
	<h3>Save Errors</h3>
}

@section tools {
}

<div class="modal-body">
	<div>The record you tried to update has problems that must be fixed before it can be saved:</div>
	<ul>
		<li ng-repeat="v in vm.errorInfo.validationErrors"><b>{{v._propertyName}}</b>: {{v._errorMessage}}</li>
	</ul>
</div>

@section actions {
	<md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">I have fixed this - try to save again</md-button>
	<md-button class="md-raised md-primary" type="button" ng-click="vm.close('goto')">Go to problem</md-button>
	<md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}