﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Error</h3>
}

@section tools {
}

	<p>
		<span ng-if="vm.errorInfo.data.type!='Sql'">An error occurred saving the record:</span>
		<span ng-if="vm.errorInfo.data.type=='Sql'">A database error occurred:</span>
	</p>
<ul>
  <li>{{vm.errorInfo.data.message}}</li>
</ul>

@section actions {
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">Try again</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}
