﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Save Errors</h3>
}

@section tools {
}

<p>The record you tried to update has problems that must be fixed before it can be saved:</p>
<ul>
  <li>{{vm.validation.field}}: {{vm.validation.message}}</li>
</ul>

@section actions {
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">I have fixed this - try to save again</md-button>
  <md-button class="md-raised md-primary" type="button" ng-click="vm.close('goto')">Go to problem</md-button>
  <md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>
}