﻿@* Teachers dashboard *@
<div>

	@*TODO Move these dashboard-child-chart components to the same as in the Schools dashboard?!
		and get them to support the same blow out mode.*@
	<dashboard-child-chart heading-title="Teachers by {{'District'|vocab}}"
												 dimensions="height3 width9"
												 heading-filters="vm.filterString('District')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpDistrictCodeDetail"
												 selected-key="vm.options.selectedDistrict"
												 @* just one accessor, unnamed so it is applied without ui *@
												 value-accessors="vm.chartAccessors.Total"
												 on-click="vm.optionToggler('selectedDistrict')(key)"
												 key-formatter="vm.lookupFormatter('districts')(key)"
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<dashboard-child-chart heading-title="Teachers by {{'Region'|vocab}}"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('Region')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpRegionCodeDetail"
												 selected-key="vm.options.selectedRegion"
												 @* SAMPLE just one accessor, unnamed so it is applied without ui
												 value-accessors="vm.chartAccessors.Total"*@
												 value-accessors="vm.chartAccessors"
												 on-click="vm.optionToggler('selectedRegion')(key)"
												 key-formatter="vm.lookupFormatter('regions')(key)"
												 option-change="vm.optionChange"
												 charttype="v"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<dashboard-child-chart heading-title="Teachers by {{'Authority Govt'|vocab}}"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('AuthorityGovt')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpAuthorityGovtCodeDetail"
												 selected-key="vm.options.selectedAuthorityGovt"
												 on-click="vm.optionToggler('selectedAuthorityGovt')(key)"
												 option-change="vm.optionChange"
												 charttype="pie"
												 allowed-types="['v','h','pie']" />

	<dashboard-child-chart heading-title="Teachers by Authority"
												 dimensions="height3 width3"
												 heading-filters="vm.filterString('Authority')"
												 toggle-selected="::vm.toggleSelected"
												 selected-child="vm.selectedChild"
												 group="::vm.grpAuthorityCodeDetail"
												 selected-key="vm.options.selectedAuthority"
												 on-click="vm.optionToggler('selectedAuthority')(key)"
												 value-accessors="vm.chartAccessors"
												 option-change="vm.optionChange"
												 charttype="h"
												 allowed-types="['v', 'vp', 'vc', 'h', 'hp', 'hc', 'pie', 'pieh']" />

	<teacher-age-qual-chart class="dashboard-wrapper height3 "
													dashboard="::vm.dashboard" dimension="vm.dimAge"
													@*sample of override heading
													heading-title="Qualification by Age and Gender"
													 sample of override palette
													colors="['pink','teal', 'crimson','darkseagreen']"*@
													options="::vm.options"
													option-change="vm.optionChange"
													selected-child="vm.selectedChild" />

	<simple-table heading-title="Teachers by {{'District'|vocab}}"
								dimensions="height8 width3"
								heading-filters="vm.filterString('District')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpDistrictCode"
								selected-key="vm.options.selectedDistrict"
								on-click="vm.toggle('selectedDistrict')(key)"
								@*row-labels="'districts'"*@
								row-labels-lookup="districts"
								col-headings="['Atolls and Islands', 'Teachers']" />

	<simple-table heading-title="Teachers by Authority"
								dimensions="height8 width3"
								heading-filters="vm.filterString('Authority')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpAuthorityCode"
								selected-key="vm.options.selectedAuthority"
								on-click="vm.toggle('selectedAuthority')(key)"
								@*row-labels="'authorities'"*@
								row-labels-lookup="authorities"
								col-headings="['Authority', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'Region'|vocab}}"
								dimensions="height4 width3"
								heading-filters="vm.filterString('Region')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpRegionCode"
								selected-key="vm.options.selectedRegion"
								on-click="vm.optionToggler('selectedRegion')(key)"
								row-labels-lookup="regions"
								col-headings="['Location', 'Teachers']" />

	<simple-table heading-title="Teachers by {{'Authority Govt'|vocab}}"
								dimensions="height4 width3"
								heading-filters="vm.filterString('AuthorityGovt')"
								toggle-selected="::vm.toggleSelected"
								selected-child="vm.selectedChild"
								group="::vm.grpAuthorityGovtCode"
								selected-key="vm.options.selectedAuthorityGovt"
								on-click="vm.toggle('selectedAuthorityGovt')(key)"
								@*row-labels="'authorityGovts'"*@
								row-labels-lookup="authorityGovts"
								col-headings="['Authority Govt', 'Teachers']" />


	@* Not used in RMi *@
	@* row = school type col = district*@
	@*
		<cross-tab heading-title="Teachers by {{'School Type'|vocab}}, {{'District'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'District')"
						 dimensions="height6 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'School Type'|vocab}}"
						 grid-data="vm.tabSchoolTypeByDistrict"
						 col-labels-lookup="districts"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
																Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
																Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
																CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />
	*@
	<cross-tab heading-title="Teachers by {{'District'|vocab}}, {{'School Type'|vocab}} and Gender"
						 heading-filters="vm.filterString('District', 'SchoolType')"
						 dimensions="height9 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'District'|vocab}}"
						 grid-data="vm.tabDistrictBySchoolType"
						 col-labels-lookup="schoolTypes"
						 row-labels="'districts'"
						 detail-col-labels-lookup="levels"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = school type col = region *@
	<cross-tab heading-title="Teachers by {{'School Type'|vocab}}, {{'Region'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'Region')"
						 dimensions="height4 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'School Type'|vocab}}"
						 grid-data="vm.tabSchoolTypeByRegion"
						 col-labels-lookup="regions"
						 row-labels="'schoolTypes'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = school type col = authority govts *@
	<cross-tab heading-title="Teachers by {{'School Type'|vocab}}, {{'Authority Govt'|vocab}} and Gender"
						 heading-filters="vm.filterString('SchoolType', 'AuthorityGovt')"
						 dimensions="height4 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'School Type'|vocab}}"
						 grid-data="vm.tabSchoolTypeByAuthorityGovt"
						 col-labels-lookup="authorityGovts"
						 row-labels="'schoolTypes'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = district col = ISCEDSubClass *@
	<cross-tab heading-title="Teachers by {{'District'|vocab}}, ISCED Levels and Gender"
						 heading-filters="vm.filterString('District', 'ISCEDSubClass')"
						 dimensions="height9 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="{{'District'|vocab}}"
						 grid-data="vm.tabDistrictByISCEDSubClass"
						 col-labels-lookup="iscedLevelsSub"
						 row-labels="'districts'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = ISCEDSubClass col = region *@
	<cross-tab heading-title="Teachers by ISCED Levels, {{'Region'|vocab}} and Gender"
						 heading-filters="vm.filterString('ISCEDSubClass', 'Region')"
						 dimensions="height4 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="ISCED Levels"
						 grid-data="vm.tabISCEDSubClassByRegion"
						 col-labels-lookup="regions"
						 row-labels="'iscedLevelsSub'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

	@* row = ISCEDSubClass col = authority govts *@
	<cross-tab heading-title="Teachers by ISCED Levels, {{'Authority Govt'|vocab}} and Gender"
						 heading-filters="vm.filterString('ISCEDSubClass', 'AuthorityGovt')"
						 dimensions="height4 width9"
						 toggle-selected="vm.toggleSelected"
						 selected-child="vm.selectedChild"
						 first-dim-name="ISCED Levels"
						 grid-data="vm.tabISCEDSubClassByAuthorityGovt"
						 col-labels-lookup="authorityGovts"
						 row-labels="'iscedLevelsSub'"
						 heading-options=" {Total: ['NumTeachers@Male', 'NumTeachers@Female', 'NumTeachers@NA', 'NumTeachers@Total'],
                                Certified: ['Certified@Male', 'Certified@Female', 'Certified@NA', 'Certified@Total'],
                                Qualified: ['Qualified@Male', 'Qualified@Female', 'Qualified@NA', 'Qualified@Total'],
                                CertQual:  ['CertQual@Male', 'CertQual@Female', 'CertQual@NA', 'CertQual@Total'] }"
						 indicator-calculators="vm.accessors" />

</div>