﻿@*
	Confirmation to proess upload of Ndoe data
		uses MaterialLayoutDialog
*@

@section icon {
	<md-icon class="material-icons">upload</md-icon>
}

@section title {
	{{vm.school.schNo}} {{vm.school.schName}}
	@* title shows preferred photo, not current document; same for teacher link edit*@
	<span style="padding-left:30px" ng-show="vm.school.currentPhoto">
		<document-image document="vm.school.currentPhoto" height="30"></document-image>
	</span>
}

@section tools {
}
<div style="padding:5px">

	<form novalidate class="form-custom-validation form-horizontal" name="vm.modelForm" ng-submit="vm.save()" role="form">

		@* file selected - processing options*@
		<div class="row" style="margin-bottom: 40px">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<document-thumbnail document="vm.model" document-changed="vm.documentChanged(document)"></document-thumbnail>
						</td>
						<td>
							<div><strong>{{ vm.model.docTitle }}</strong></div>
							<div nowrap>{{ vm.model.docSize/1024/1024|number:2 }} MB</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="form-group">
								<label for="linkType" class="col-sm-4 control-label">Category:</label>
								<div class="col-sm-8">
									<lookup-selector name="lnkType" lkp="schoolLinkTypes"
																	 ng-model="vm.model.lnkFunction" ng-disabled="!vm.isEditing" />
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-4 control-label">Description:</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" name="description"
												 ng-model="vm.model.docDescription" ng-disabled="!vm.isEditing" />
								</div>
							</div>
							<div class="form-group">
								<label for="source" class="col-sm-4 control-label">Source:</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" name="source"
												 ng-model="vm.model.docSource" ng-disabled="!vm.isEditing" />
								</div>
							</div>

							<div class="form-group">
								<label for="tags" class="col-sm-4 control-label">Tags:</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" name="tags"
												 ng-model="vm.model.docTags" ng-disabled="!vm.isEditing" />
								</div>
							</div>
							<div class="form-group">
								<label for="chkCurrentPortrait" class="col-sm-4 control-label">Preferred Photo:</label>
								<div class="col-sm-8">
									<input type="checkbox" name="chkCurrentPortrait" id="chkCurrentPortrait"
												 ng-true-value="1" ng-false-value="0"
												 ng-model="vm.model.isCurrentPhoto" ng-disabled="!(vm.isEditing && vm.model.lnkFunction === 'PHOTO')" />
								</div>
							</div>
							<div>


							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</form>
</div>
<div style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.uploader.isUploading">
	Uploading {{vm.uploader.progress}}% <img src="assets/img/wait.gif" />
</div>

@section actions {

}
