﻿@* *@
@section title {
	Accreditation Status by {{'District'|vocab}}
}

@section filters {
	{{vm.options.descriptionExcluding("Year", "District")}}
}

<div ng-if="vm.isSelected()">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{'School No' | vocab}}</th>
				<th>Year</th>
				<th>Result</th>
				<th>SE.1</th>
				<th>SE.2</th>
				<th>SE.3</th>
				<th>SE.4</th>
				<th>SE.5</th>
				<th>SE.6</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in vm.accreditations">
				<td><a ui-sref=".item({id: a.inspID})">{{a.inspID}}</a></td>
				<td><a ui-sref=".school({id: a.schNo})">{{a.schNo}}</a></td>
				<td>{{a.InspectionYear}}</td>
				<td class="stars"><stars size ="large" level="a.InspectionResult"></stars></td>
				<td class="stars"><stars level="a['SE.1']"></stars></td>
				<td class="stars"><stars level="a['SE.2']"></stars></td>
				<td class="stars"><stars level="a['SE.3']"></stars></td>
				<td class="stars"><stars level="a['SE.4']"></stars></td>
				<td class="stars"><stars level="a['SE.5']"></stars></td>
				<td class="stars"><stars level="a['SE.6']"></stars></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<table class="table dashboard table-hover">
		<thead>
			<tr>
				<th></th>
				<th colspan="7">Evaluated in {{vm.options.selectedYear}}</th>
				<th colspan="7">Cumulative up to {{vm.options.selectedYear}}</th>

			</tr>
			<tr>
				<th>{{"District" | vocab}}</th>
				<th><stars level="1"></stars></th>
				<th><stars level="2"></stars></th>
				<th><stars level="3"></stars></th>
				<th><stars level="4"></stars></th>
				<th>Total Evaluated</th>
				<th>Accredited</th>
				<th><stars level="1"></stars></th>
				<th><stars level="2"></stars></th>
				<th><stars level="3"></stars></th>
				<th><stars level="4"></stars></th>
				<th>Total Evaluated</th>
				<th>Accredited</th>
			</tr>
		</thead>
		<tr ng-repeat="row in vm.group.all()"
				ng-class="{'selected':vm.options.isSelectedDistrict(row.key)}">
			<td ng-click="vm.options.toggleSelectedDistrict(row.key)"
					class="rowlabel">
				{{row.key| lookup:'districts'}}
			</td>


			<td ng-repeat="level in vm.levels" 
					ng-click="vm.drilldown(level, row.key)"
					ng-class="{'selectedcell': vm.isSelectedCell(level, row.key)}">
				{{row.value[level].NumThisYear}}
			</td>
			<td>{{row.value["Tot"].NumThisYear}}</td>
			<td>{{row.value["Tot"].AccreditedThisYear}}</td>

			@* cumulative totals*@
			<td ng-repeat="level in vm.levels" ng-click="vm.drilldown(level, row.key,'C')"
					ng-class="{'selectedcell': vm.isSelectedCell(level, row.key,'C')}">
				{{row.value[level].Num}}
			</td>
			<td>{{row.value["Tot"].Num}}</td>
			<td>{{row.value["Tot"].Accredited}}</td>

		</tr>
	</table>

	@* This material can be cut out and used to create other components*@

	@* districts by year

		<table class="table dashboard table-hover">
			<thead>
				<tr>
					<th>Year</th>

					<th ng-repeat="d in vm.lookups.cache['districts']" colspan="3"
							ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)"
							>{{d.N}}</th>

				</tr>
				<tr>
					<th></th>
					<th ng-repeat-start="d in vm.lookups.cache['districts']"
							ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)" >M</th>
					<th ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">F</th>
					<th ng-repeat-end
							ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">Tot</th>
				</tr>

			</thead>
			<tbody>
				<tr class="animated" ng-repeat="r in vm.tabYear_District.all()"
						ng-class="{'selected': vm.dashboard.options.isSelectedYear(r.key)}">
					<td class="rowlabel">{{r.key}}</td>
					<td ng-repeat-start="d in vm.lookups.cache['districts']"
							ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">
						{{r.value[d.C].M}}
					</td>
					<td ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">{{r.value[d.C].F}}</td>
					<td ng-repeat-end
							ng-show="vm.dashboard.options.isSelectedDistrict(d.C, true)">
								{{r.value[d.C].T}}
					</td>
				</tr>
			</tbody>
		</table>

	*@
</div>
