﻿@* *@
@section title {
	Performance by Standard
}

@section filters {
	{{vm.options.descriptionExcluding("Year")}}
}

<div ng-if="vm.isSelected()">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>{{'School No' | vocab}}</th>
				<th>Year</th>
				<th>Result</th>
				<th>{{vm.drillfltr.FilterColumn}}</th>
				<th>{{vm.drillfltr.FilterColumn}}.1</th>
				<th>{{vm.drillfltr.FilterColumn}}.2</th>
				<th>{{vm.drillfltr.FilterColumn}}.3</th>
				<th>{{vm.drillfltr.FilterColumn}}.4</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in vm.accreditations">
				<td><a ui-sref=".item({id: a.inspID})">{{a.inspID}}</a></td>
				<td><a ui-sref=".school({id: a.schNo})">{{a.schNo}}</a></td>
				<td>{{a.InspectionYear}}</td>
				<td class="stars"><stars size="large" level="a.InspectionResult"></stars></td>
				<td class="stars"><stars level="a[vm.drillfltr.FilterColumn]"></stars></td>
				<td class="stars"><stars level="a[vm.drillfltr.FilterColumn + '.1']"></stars></td>
				<td class="stars"><stars level="a[vm.drillfltr.FilterColumn + '.2']"></stars></td>
				<td class="stars"><stars level="a[vm.drillfltr.FilterColumn + '.3']"></stars></td>
				<td class="stars"><stars level="a[vm.drillfltr.FilterColumn + '.4']"></stars></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<table class="table dashboard table-hover">
		<thead>
			<tr>
				<th></th>
				<th colspan="7">Evaluated in {{vm.options.selectedYear}}</th>
				<th colspan="7">Cumulative up to {{vm.options.selectedYear}}</th>

			</tr>
			<tr>
				<th colspan="2">Standard</th>
				<th><stars level="1"></stars></th>
				<th><stars level="2"></stars></th>
				<th><stars level="3"></stars></th>
				<th><stars level="4"></stars></th>
				<th>Total Evaluated</th>
				<th>Accredited</th>
				<th><stars level="1"></stars></th>
				<th><stars level="2"></stars></th>
				<th><stars level="3"></stars></th>
				<th><stars level="4"></stars></th>
				<th>Total Evaluated</th>
				<th>Accredited</th>
			</tr>
		</thead>
		<tr ng-repeat="row in vm.group.all()">
			<td class="rowlabel">
				{{row.key}}
			</td>
			<td class="rowlabel">
				{{row.key| lookup:'accreditationTerms':'S'}}
			</td>


			<td ng-repeat="level in vm.levels"
				ng-click="vm.drilldown(level, row.key)"
				ng-class="{'selectedcell': vm.isSelectedCell(level, row.key)}">
			{{row.value.Tot[level +"InYear"]}}
		</td>
		<td>{{row.value.Tot.NumThisYear}}</td>
		<td>{{row.value.Tot.AccreditedThisYear}}</td>


			<td ng-repeat="level in vm.levels" ng-click="vm.drilldown(level, row.key,'C')"
				ng-class="{'selectedcell': vm.isSelectedCell(level, row.key,'C')}">
			{{row.value.Tot[level]}}
		</td>
		<td>{{row.value.Tot.Num}}</td>
		<td>{{row.value.Tot.Accredited}}</td>

			@*<td>{{row.value.Tot[level +"InYear"]}}</td>
			<td>{{row.value.Tot.level2InYear}}</td>
			<td>{{row.value.Tot.level3InYear}}</td>
			<td>{{row.value.Tot.level4InYear}}</td>
			<td>{{row.value.Tot.NumInYear}}</td>
			<td>{{row.value.Tot.AccreditedInYear}}</td>
		
			<td>{{row.value.Tot.level1}}</td>
			<td>{{row.value.Tot.level2}}</td>
			<td>{{row.value.Tot.level3}}</td>
			<td>{{row.value.Tot.level4}}</td>
			<td>{{row.value.Tot.Num}}</td>
			<td>{{row.value.Tot.Accredited}}</td>*@
		</tr>
	</table>
</div>
