﻿<panel panel-class=""
       panel-icon="list"
       heading="Warehouse Admin Page"
       panel-control-collapse="true">

  <div layout-gt-sm="row">
    <div flex-gt-sm="50">
      <p>
        This command will update the Data Warehouse tables from the current data.
        You should run this operation when data entry is complete, the data is clean and verified, and you are ready to produce annual reports and update the Indicators pages.
      </p>
    </div>

    <div flex-gt-sm="50">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Rebuild from year...</label>
        <md-select ng-model="vm.startAtYear">
          <md-option ng-value="null">Rebuild all years</md-option>
          <md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
        </md-select>
      </md-input-container>
      <section layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="vm.refresh()">Update warehouse</md-button>
      </section>
    </div>
  </div>

  <div ng-show="vm.isWaiting &&!vm.warehouseRefreshed">Please wait while the warehouse is refreshed - this may take a few minutes...</div>
  <md-progress-linear ng-show="vm.isWaiting &&!vm.warehouseRefreshed" md-mode="indeterminate"></md-progress-linear>

  <div ng-show="vm.warehouseRefreshed">
    <h4> The warehouse is refreshed. </h4>
    <p>These summary tables show enrolment and teacher numbers as presented in the major reporting sets of the warehouse. </p>


    <md-content>
      <h3>Enrolment numbers</h3>
      <table class="md-table striped">
        <thead>
          <tr>
            <td ng-repeat="c in vm.enrolTableCols">{{c}}</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in vm.enrolTable">
            <td ng-repeat="c in vm.enrolTableCols">{{r[c]}}</td>
          </tr>
        </tbody>
      </table>
    </md-content>

    <md-content>
      <h3>Teacher numbers</h3>
      <table class="md-table striped">
        <thead>
          <tr>
            <td ng-repeat="c in vm.teacherTableCols">{{c}}</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in vm.teacherTable">
            <td ng-repeat="c in vm.teacherTableCols">{{r[c]}}</td>
          </tr>
        </tbody>
      </table>
    </md-content>
  </div>

  <div ng-show="vm.isWaiting && vm.warehouseRefreshed && !vm.vermdataRefreshed">
    Rebuilding the Indicator Summary File ...
  </div>

  <div ng-show="vm.vermdataRefreshed">
    <h4>The National Indicator Summary File has been rebuilt.</h4>
    <h4>Building {{'District' | vocab}} Indicator Summary Files</h4>
    <p ng-repeat="n in vm.districtUpdates">{{n}}</p>
  </div>

  <div ng-show="vm.calculatorRefreshed">
    These totals are derived from the national indicator summary:


    <h3>Basic Data</h3>
    <table class="md-table striped">
      <tr>
        <td>Create Date</td>
        <td>{{vm.nationCalculator.getCreateDate()}}</td>
      </tr>
      <tr>
        <td>Nation</td>
        <td>{{vm.nationCalculator.getNation()}}</td>
      </tr>
      <tr>
        <td>Source Database</td>
        <td>{{vm.nationCalculator.getSourceDB()}}</td>
      </tr>
			<tr>
				<td>Warehouse Version ID</td>
				<td>{{vm.nationCalculator.getWarehouseVersion()}}</td>
			</tr>
      <tr>
        <td>Years with data</td>
        <td>{{vm.nationCalculator.getYearsWithData().join(", ")}}</td>
      </tr>
    </table>

    <div ng-repeat="tbl in vm.ERTables">
      <h3>{{tbl.edLevel.N}}</h3>
      <table class="md-table striped">
        <thead></thead>
        <tr>
          <td>Population</td>
          <td>{{tbl.Population.T}}</td>
        </tr>
        <tr>
          <td>Enrolment</td>
          <td>{{tbl.Enrolment.T}}</td>
        </tr>
        <tr>
          <td>Official Age Enrolment ({{tbl.AgeRange}})</td>
          <td>{{tbl.NetEnrolment.T}}</td>
        </tr>
        <tr>
          <td>GER</td>
          <td>{{tbl.GER.T}}</td>
        </tr>
        <tr>
          <td>NER</td>
          <td>{{tbl.NER.T}}</td>
        </tr>
      </table>
    </div>

  </div>

</panel>