﻿<div class="cellgrp" flex ng-click="vm.clickHandler()" ng-style="{'cursor': (vm.action? 'pointer':'text')}">
	<div flex hide-gt-sm class="cell">{{vm.year}}:</div>
	<div class="cell" flex ng-style="{'font-weight':(vm.mdMedia('gt-xs')?700:400)}">
		<span ng-if="!(vm.gpi)">{{(vm.model.T==undefined?vm.model:vm.model.T)|number:vm.decimals}}</span>
		<span ng-if="vm.gpi">{{vm.model.T|percif:1:2}}</span>
	</div>
	<div class="cell" flex ng-repeat="g in ['F','M']" hide-xs="" show-gt-xs="">
			<span ng-if="!(vm.gpi)">{{vm.model[g]|number:vm.decimals}}</span>
			<span ng-if="vm.gpi">{{vm.model[g]|percif:1:2}}</span>
	</div>
	<div class="cell" flex>
		<span ng-if="!(vm.gpi)">{{vm.model.P|percif:1:vm.decimals}}</span>
		<span ng-if="vm.gpi"><I>{{vm.model.I|number:2}}</I></span>
	</div>
	<md-tooltip ng-if="vm.tt">{{vm.tt}}</md-tooltip>
</div>