﻿<div layout="row" flex class="blockhdr">
	<div flex hide-gt-sm class="cell">Year</div>
	<div flex class="cell">Total</div>
	<div flex class="cell" hide-xs show-gt-xs>Female</div>
	<div flex class="cell" hide-xs show-gt-xs>Male</div>
	<div flex class="cell">F% or <i>GPI</i></div>
</div>