﻿<div class="cellgrp" flex ng-click="vm.clickHandler()" ng-style="{'cursor': (vm.action? 'pointer':'text')}">
	<div flex hide-gt-sm class="cell"><I>Change</I>:</div>
	<div class="cell" flex ng-repeat="g in ['T']">
		<span ng-if="!(vm.model1[g]==undefined)">
			<span ng-style="{'font-weight':(vm.mdMedia('gt-xs')?700:400)}">
				<span ng-if="!(vm.gpi)">{{vm.model2[g] - vm.model1[g]|number:vm.decimals}}</span>
				<span ng-if="vm.gpi">{{vm.model2[g]- vm.model1[g]|percif:1:2}}</span>
			</span>
			<indicator-arrow v1="vm.model1[g]" v2="vm.model2[g]" />
		</span>
		<span ng-if="(vm.model1[g]==undefined)">
			@* suppress gender totals if dealing with a simple value *@
			<span ng-style="{'font-weight':(vm.mdMedia('gt-xs')?700:400)}">
				<span ng-if="!(vm.gpi)">{{vm.model2 - vm.model1|number:vm.decimals}}</span>
				<span ng-if="vm.gpi">{{vm.model2 - vm.model1|percif:1:2}}</span>
				<indicator-arrow v1="vm.model1" v2="vm.model2" />
			</span>
		</span>
	</div>
	<div class="cell" flex ng-repeat="g in ['F','M']" hide-xs="" show-gt-xs="">
		<span ng-if="!(vm.model1[g]==undefined)"> @* suppress gender totals if dealing with a simple value *@
			<span ng-if="!(vm.gpi)">{{vm.model2[g] - vm.model1[g]|number:vm.decimals}}</span>
			<span ng-if="vm.gpi">{{vm.model2[g]- vm.model1[g]|percif:1:2}}</span>
			<indicator-arrow v1="vm.model1[g]" v2="vm.model2[g]" />
		</span>
	</div>

	<div class="cell" flex>
		<span ng-if="!(vm.model1.T ==undefined)"> @* suppress gender totals if dealing with a simple value *@
			<span ng-if="!(vm.gpi)">
				{{vm.model2.P - vm.model1.P|percif:1:0}}
				<indicator-arrow v1="vm.model1.P" v2="vm.model2.P" />
			</span>
			<span ng-if="vm.gpi">
				<I>{{vm.model2.I - vm.model1.I|number:2}}</I>
				<indicator-arrow v1="vm.model1.I" v2="vm.model2.I" />
			</span>
		</span>
	</div>
</div>