﻿@* inline style defines official_age markup for rows *@
<style>

	/*crossfilter-table.ner {
		--row-hover-background-color: rgba(30,70,100,.6);
		--row-label-background-color: magenta;
		--row-label-color: azure;
		--row-total-background-color: cyan;
		--row-total-color: salmon;
		--col-label-background-color: magenta;
		--col-label-color: azure;
	}
*/
	crossfilter-table.ner tr.official_age {
		font-weight: 700;
		background-color: rgba(192,255,255,.5) ;
	}

	@* preserve striping *@
	crossfilter-table.ner.striped tr.official_age.stripe {
		background-color: rgba(192,240,240,.5) !important;

	}

	crossfilter-table toolbar-content md-checkbox {
		margin-top: 10px;
	}


</style>

<panel panel-class="panel-primary"
			 panel-close="true"
			 heading="Repetition Rate {{vm.edLevelCode|lookup:'educationLevels'}}, {{vm.surveyYear - 1}} - {{vm.surveyYear}}{{vm.districtCode|lookup:'districts'|append:': '}}">

	<div>
		<div>
			<h4>Repetition Rate</h4>

			<p>Definition:</p>
			<p>
				<i>
					The number of pupils repeating a given level of education as a percentage
					of those enrolled at that level in the previous year.
				</i>
			</p>
			<div>
				<p>
					{{vm.edLevelCode|lookup:'educationLevels'}} spans {{vm.yearsInEdLevel}} years from year {{vm.minYoE}} to
					{{vm.maxYoE}}
				</p>
				<p>
					Enrolment in {{vm.edLevelCode|lookup:'educationLevels'}} in {{vm.surveyYear - 1}} was {{vm.enrolTly.T}}.
				</p>
				<p>
					Of those, {{vm.repT.T}} repeated - i.e. were enrolled in the same class level - in {{vm.surveyYear}}.
				</p>
				<p>
					The repetition rate for {{vm.surveyYear - 1}} -> {{vm.surveyYear}} is therefore
				</p>
				<p>{{vm.repT.T}} &#247; {{vm.enrolTly.T}} = {{(vm.repT.T / vm.enrolTly.T)|percentage:2}}</p>
			</div>
			<div>

			</div>

		</div>

		<section>
			<div>
				<h4>Repetition By Grade</h4>
				<p>Click on any row to show enrolments and repeaters by school.</p>

				<crossfilter-table class="thin ner"
													 style="--row-label-width:70px;"
													 source="vm.grpLevel"
													 columns="['EnrolLY','RepTY','RepRate']"
													 column-translator="vm.columnTranslator"
													 value-accessor="vm.valueAccessor"
								   					 value-formatter="vm.valueFormatter"
													 row-accessor="vm.rowAccessor"
													 has-row-totals="false"
													 @*row-filter="vm.hideZeros"*@
													 row-sort="vm.orderLevels"
													 footer-source="vm.grpLevelTotal"
													 gender-totals="vm.genderView"
													 col-descriptor=""
													 row-descriptor="Grade"
													 select="row"
													 selected-row-key="vm.selectedGrade"
													 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
													 row-class="vm.officialAgeClass"
													 ng-init="vm.selecttype='row'">
					<detail-content style="height:100px;width:100%;">
						<school-grade-rep-rate-table source="vm.grpSchool"
																classes="vm.edLevelClasses"
																gender-totals="vm.genderView"
																survey-year="vm.surveyYear"
																selected-class="vm.selectedGrade"
																></school-grade-rep-rate-table>
					</detail-content>
					<toolbar-content>
						<div layout="row">
							<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						</div>
					</toolbar-content>
				</crossfilter-table>
			</div>
		</section>

		@* demonstration / testing of crossfilter table component*@

		<section ng-if="false">
			<h4>Crossfilter-table Demonstration </h4>
			<div>Use these settings to display the component options</div>


			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Enrolments by Age {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="row" layout-align="space-around center">
						<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						<md-checkbox ng-model="vm.optStriped">
							<md-label>Striped</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>

			<div>
				Colors can be customised by setting CSS custom properties. Do this using style attribute,
				ng-style does not support CSS custom properties
			</div>
			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 @*ng-style="{'--stripe-background-color': vm.stripebackgroundcolor,
																		'--row-hover-background-color': vm.rowhoverbackgroundcolor,
																		'--row-hover-color': vm.rowhovercolor,
																		'--row-selected-background-color': vm.rowselectedbackgroundcolor,
																		'--row-selected-color': vm.rowselectedcolor

																	}"*@
												 style="{{vm.stripebackgroundcolor?'--stripe-background-color: ' + vm.stripebackgroundcolor:''}};
													 {{vm.rowhoverbackgroundcolor?'--row-hover-background-color: ' + vm.rowhoverbackgroundcolor:''}};
													 {{vm.rowhovercolor?'--row-hover-color: ' + vm.rowhovercolor:''}};
													 {{vm.rowselectedbackgroundcolor?'--row-selected-background-color: ' + vm.rowselectedbackgroundcolor:''}};
													 {{vm.rowselectedcolor?'--row-selected-color: ' + vm.rowselectedcolor:''}};
													 "
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Custom colors {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="column" layout-align="space-around center">
						<div layout="row">
							<md-checkbox ng-model="vm.optStriped">
								<md-label>Striped</md-label>
							</md-checkbox>
							<md-input-container flex="50">
								<label>Stripe Color</label>
								<input type="text" ng-model="vm.stripebackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Hover Background Color</label>
								<input type="text" ng-model="vm.rowhoverbackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
							<md-input-container flex>
								<label>Row Hover Color</label>
								<input type="text" ng-model="vm.rowhovercolor" required="" md-maxlength="60">
							</md-input-container>

						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Selected Background Color</label>
								<input type="text" ng-model="vm.rowselectedbackgroundcolor" required="" md-maxlength="20">
							</md-input-container>
							<md-input-container flex>
								<label>Row Selected Color</label>
								<input type="text" ng-model="vm.rowselectedcolor" required="" md-maxlength="20">
							</md-input-container>

						</div>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>
		</section>
	</div>
</panel>
