﻿
<panel panel-class="panel-primary" heading="Enrolment by Level {{vm.model.edLevel}}, {{vm.model.year}}" panel-close="true">

	<table class="md-table striped">
		<thead>
			<tr>
				<th colspan="4">Enrolment</th>
				<th colspan="4">Population</th>
			</tr>
			<tr>
				<th>Year of Ed</th>
				<th>M</th>
				<th>F</th>
				<th>Total</th>
				<th>Official Age</th>
				<th>M</th>
				<th>F</th>
				<th>Total</th>
			</tr>
		</thead>
		<tr ng-repeat="d in vm.model.data">
			<td>{{d.yoe}}</td>
			<td>{{d.enrol.M}}</td>
			<td>{{d.enrol.F}}</td>
			<td>{{d.enrol.T}}</td>
			<td>{{d.oage}}</td>
			<td>{{d.pop.M}}</td>
			<td>{{d.pop.F}}</td>
			<td>{{d.pop.T}}</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>{{vm.model.total.enrol.M}}</td>
			<td>{{vm.model.total.enrol.F}}</td>
			<td>{{vm.model.total.enrol.T}}</td>
			<td></td>
			<td>{{vm.model.total.pop.M}}</td>
			<td>{{vm.model.total.pop.F}}</td>
			<td>{{vm.model.total.pop.T}}</td>

		</tr>
	</table>

</panel>
