﻿@* inline style defines official_age markup for rows *@
<style>

	/*crossfilter-table.ner {
		--row-hover-background-color: rgba(30,70,100,.6);
		--row-label-background-color: magenta;
		--row-label-color: azure;
		--row-total-background-color: cyan;
		--row-total-color: salmon;
		--col-label-background-color: magenta;
		--col-label-color: azure;
	}
*/
	crossfilter-table.ner tr.official_age {
		font-weight: 700;
		background-color: rgba(192,255,255,.5) ;
	}

	@* preserve striping *@
	crossfilter-table.ner.striped tr.official_age.stripe {
		background-color: rgba(192,240,240,.5) !important;

	}

	crossfilter-table toolbar-content md-checkbox {
		margin-top: 10px;
	}


</style>

<panel panel-class="panel-primary"
			 panel-close="true"
			 heading="@ViewBag.RatioName Enrolment Ratio for {{vm.edLevelCode|lookup:'educationLevels'}}, {{vm.surveyYear}}{{vm.districtCode|lookup:'districts'|append:': '}}">

	<div>
		@if (ViewBag.Drill == "ger")
		{
			<div>
				<h4>Gross Enrolment Ratio (GER)</h4>
				<p>Definition:</p>
				<p>
					<i>
						Enrolment in given level of education expressed as a percentage of the
						population of official age for that level of education.
					</i>
				</p>
				<div ng-show="vm.yearsInEdLevel>1">
					<p>
						{{vm.edLevelCode|lookup:'educationLevels'}} spans {{vm.yearsInEdLevel}} years from year {{vm.minYoE}} to
						{{vm.maxYoE}}
					</p>
					<p>
						The official age range for {{vm.edLevelCode|lookup:'educationLevels'}} is {{vm.minOfficialAge}}
						to {{vm.maxOfficialAge}}
					</p>
					<p>
						In {{vm.surveyYear}} the population aged from {{vm.minOfficialAge}}
						to {{vm.maxOfficialAge}} is {{vm.model.total[0].value.pop.T}}.
					</p>
				</div>

				<div ng-show="vm.yearsInEdLevel==1">
					<p>
						{{vm.edLevelCode|lookup:'educationLevels'}} is year of education {{vm.minYoE}}.
					</p>
					<p>
						The official age for {{vm.edLevelCode|lookup:'educationLevels'}} is {{vm.minOfficialAge}}.
					</p>
					<p>
						In {{vm.surveyYear}} the population aged {{vm.minOfficialAge}} is {{vm.model.total[0].value.pop.T}}.
					</p>
				</div>

				<p>
					In total (i.e. across all ages) {{vm.enrolT.T}} are enrolled in {{vm.edLevelCode|lookup:'educationLevels'}}.
				</p>
				<p>
					The Gross Enrolment Rate for {{vm.edLevelCode|lookup:'educationLevels'}} is therefore
				</p>
				<p>{{vm.enrolT.T}} &#247; {{vm.model.total[0].value.pop.T}} = {{(vm.enrolT.T / vm.model.total[0].value.pop.T)|percentage:2}}</p>

			</div>
		}
		@if (ViewBag.Drill == "ner")
		{
			<div>
				<h4>Net Enrolment Ratio (NER)</h4>
				<p>Definition:</p>
				<p>
					<i>
						Enrolment of the official age group for a given level of education expressed as a percentage of the
						corresponding population.
					</i>
				</p>
				<div ng-show="vm.yearsInEdLevel>1">
					<p>
						{{vm.edLevelCode|lookup:'educationLevels'}} spans {{vm.yearsInEdLevel}} years from year {{vm.minYoE}} to
						{{vm.maxYoE}}
					</p>
					<p>
						The official age range for {{vm.edLevelCode|lookup:'educationLevels'}} is {{vm.minOfficialAge}}
						to {{vm.maxOfficialAge}}
					</p>
					<p>
						In {{vm.surveyYear}} the population aged from {{vm.minOfficialAge}}
						to {{vm.maxOfficialAge}} is {{vm.model.total[0].value.pop.T}}.
					</p>
				</div>

				<div ng-show="vm.yearsInEdLevel==1">
					<p>
						{{vm.edLevelCode|lookup:'educationLevels'}} is year of education {{vm.minYoE}}.
					</p>
					<p>
						The official age for {{vm.edLevelCode|lookup:'educationLevels'}} is {{vm.minOfficialAge}}.
					</p>
					<p>
						In {{vm.surveyYear}} the population aged {{vm.minOfficialAge}} is {{vm.model.total[0].value.pop.T}}.
					</p>
				</div>
				<p>
					Of these, {{vm.nEnrolT.T}} are enrolled in {{vm.edLevelCode|lookup:'educationLevels'}}.
				</p>
				<p>
					The Net Enrolment Ratio for {{vm.edLevelCode|lookup:'educationLevels'}} is therefore
				</p>
				<p>{{vm.nEnrolT.T}} &#247; {{vm.model.total[0].value.pop.T}} = {{(vm.nEnrolT.T / vm.model.total[0].value.pop.T)|percentage:2}}</p>
				<div ng-if="vm.nEnrolT.T > vm.model.total[0].value.pop.T">
					<p style="font-weight:700">
						An NER > 100% when the enrolment of official age exceeds the estimated population of that age.
					</p>
					<p>
						In this case, the enrolment number is too high and/or the population number is too low.
						A population number based on a projection over a number of years may not accurately reflect the real population size.
						Enrolment numbers may be too high if pupil ages are not correctly recorded.
					</p>
					<p></p>
				</div>
			</div>
		}


		<section>
			<h4>Population</h4>

			<div layout="row">
				<div flex="50">
					<crossfilter-table id="foo" class="thin ner striped"
														 source="vm.kvPop"
														 columns="['pop']"
														 column-translator="{pop:'Population'}"
														 has-row-totals="false"
														 footer-source="vm.model.total"
														 gender-totals="vm.genderView"
														 row-descriptor="Age"
														 select="row"
														 selected-row-key="vm.selectedAge"
														 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)">
						<caption-content>
							Population of Official Age for {{vm.edLevelCode|lookup:'educationLevels'}}
						</caption-content>
					</crossfilter-table>
				</div>
				<div flex="50">
					<mirror-chart dataset="vm.kvPopChart"
												charttype="h"
												mirrors="['M']"
												highlight="vm.selectedAge"
												@*on-click="vm.clickHandler(params)"
										 tooltipper="vm.tooltipper(datum)"
										 on-chart-render="vm.onChartRender(option, echart, renderedType)"

										 colors="vm.palette"*@
												@*column-sort-by="['Approaching competence','Well below competent','Minimally competent','Competent']"*@
												layout="column" layout-fill>
					</mirror-chart>
				</div>
			</div>
		</section>
		<section>
			<div>
				<h4>{{vm.edLevelCode|lookup:'educationLevels'}} Enrolment by Age</h4>
				<div flex="50" style="height:400px">
					<row-col-chart dataset="vm.chartData"
												 charttype="h"
												 highlight="vm.selectedAge"
												 touch="{{vm.touch}}"
												 @*on-click="vm.clickHandler(params)"
										 tooltipper="vm.tooltipper(datum)"
										 on-chart-render="vm.onChartRender(option, echart, renderedType)"

										 colors="vm.palette"*@
												 layout="column" layout-fill>
					</row-col-chart>
				</div>
			</div>
		</section>
		<section>
			<div>
				<h4>Enrolment by Age and Grade</h4>
				<p>
					In this table, enrolments of official age for {{vm.edLevelCode|lookup:'educationLevels'}} are
					<span style="padding:10px; font-weight: 700; background-color: azure;"> highlighted.</span>
				</p>
				@if (ViewBag.Drill == "ner")
				{
					<p ng-if="vm.unknownAgeTotal>0">
						Note: For purposes of calculating NER, any pupils of unknown age are considered to be of Official Age.
						In {{vm.surveyYear}}, there
						<span ng-if="vm.unknownAgeTotal==1">is one enrolment</span>
						<span ng-if="vm.unknownAgeTotal > 1">are {{vm.unknownAgeTotal}} enrolments </span>
						of unknown age in {{vm.edLevelCode|lookup:'educationLevels'}}.
					</p>
				}

				<p>Click on any row to show enrolments by age and school.</p>

				<crossfilter-table class="thin ner"
													 style="--row-label-width:70px;"
													 source="vm.grpAgeA"
													 columns="vm.edLevelClasses"
													 column-translator="'levels'"
													 value-accessor="vm.valueAccessor"
													 row-accessor="vm.rowAccessor"
													 has-row-totals="true"
													 @* row-filter="vm.hideZeros" *@
													 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
													 gender-totals="vm.genderView"
													 col-descriptor="Grade"
													 row-descriptor="Age"
													 select="{{vm.selecttype}}"
													 selected-row-key="vm.selectedAge"
													 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
													 row-class="vm.officialAgeClass"
													 ng-init="vm.selecttype='row'">
					<detail-content style="height:100px;width:100%;">
						<school-class-table source="vm.tables[1]"
																classes="vm.edLevelClasses"
																gender-totals="vm.genderView"
																selected-age="vm.selectedAge"></school-class-table>
					</detail-content>
					<toolbar-content>
						<div layout="row">
							<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						</div>
					</toolbar-content>
				</crossfilter-table>
			</div>
		</section>

		@* demonstration / testing of crossfilter table component*@

		<section ng-if="false">
			<h4>Crossfilter-table Demonstration </h4>
			<div>Use these settings to display the component options</div>


			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Enrolments by Age {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="row" layout-align="space-around center">
						<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						<md-checkbox ng-model="vm.optStriped">
							<md-label>Striped</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>

			<div>
				Colors can be customised by setting CSS custom properties. Do this using style attribute,
				ng-style does not support CSS custom properties
			</div>
			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 @*ng-style="{'--stripe-background-color': vm.stripebackgroundcolor,
																		'--row-hover-background-color': vm.rowhoverbackgroundcolor,
																		'--row-hover-color': vm.rowhovercolor,
																		'--row-selected-background-color': vm.rowselectedbackgroundcolor,
																		'--row-selected-color': vm.rowselectedcolor

																	}"*@
												 style="{{vm.stripebackgroundcolor?'--stripe-background-color: ' + vm.stripebackgroundcolor:''}};
													 {{vm.rowhoverbackgroundcolor?'--row-hover-background-color: ' + vm.rowhoverbackgroundcolor:''}};
													 {{vm.rowhovercolor?'--row-hover-color: ' + vm.rowhovercolor:''}};
													 {{vm.rowselectedbackgroundcolor?'--row-selected-background-color: ' + vm.rowselectedbackgroundcolor:''}};
													 {{vm.rowselectedcolor?'--row-selected-color: ' + vm.rowselectedcolor:''}};
													 "
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Custom colors {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="column" layout-align="space-around center">
						<div layout="row">
							<md-checkbox ng-model="vm.optStriped">
								<md-label>Striped</md-label>
							</md-checkbox>
							<md-input-container flex="50">
								<label>Stripe Color</label>
								<input type="text" ng-model="vm.stripebackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Hover Background Color</label>
								<input type="text" ng-model="vm.rowhoverbackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
							<md-input-container flex>
								<label>Row Hover Color</label>
								<input type="text" ng-model="vm.rowhovercolor" required="" md-maxlength="60">
							</md-input-container>

						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Selected Background Color</label>
								<input type="text" ng-model="vm.rowselectedbackgroundcolor" required="" md-maxlength="20">
							</md-input-container>
							<md-input-container flex>
								<label>Row Selected Color</label>
								<input type="text" ng-model="vm.rowselectedcolor" required="" md-maxlength="20">
							</md-input-container>

						</div>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>
		</section>
	</div>
</panel>
