﻿@* inline style defines official_age markup for rows *@
<style>

	/*crossfilter-table.ner {
		--row-hover-background-color: rgba(30,70,100,.6);
		--row-label-background-color: magenta;
		--row-label-color: azure;
		--row-total-background-color: cyan;
		--row-total-color: salmon;
		--col-label-background-color: magenta;
		--col-label-color: azure;
	}
*/
	crossfilter-table.ner tr.official_age {
		font-weight: 700;
		background-color: rgba(192,255,255,.5) ;
	}

	@* preserve striping *@
	crossfilter-table.ner.striped tr.official_age.stripe {
		background-color: rgba(192,240,240,.5) !important;

	}

	crossfilter-table toolbar-content md-checkbox {
		margin-top: 10px;
	}


</style>

<panel panel-class="panel-primary"
			 panel-close="true"
			 heading="Teachers in {{vm.edLevelCode|lookup:'educationLevels'}}, {{vm.surveyYear}}{{vm.districtCode|lookup:'districts'|append:': '}}">
	<div>
		<div>
			<h4>Full-Time/ Part Time Teacher Count</h4>
			<p>
				Teacher numbers include any teacher who teaches at least one class at {{vm.edLevelCode|lookup:'educationLevels'}} level.
				If the teacher teaches at some other level as well, they are treated as part-time, and their contribution to the total teacher count reflects
				an estimate of the proportion of their total teaching time spent teaching at {{vm.edLevelCode|lookup:'educationLevels'}} level.
			</p>
			<p>
				Since these proportions add to 1 for each teacher when summed across all education levels at which the teacher teaches,
				the sum across all education levels equals the number of teachers that are engaged in any teaching activity
			</p>


			<h5>Full-Time Equivalent Teacher Count</h5>
			<p>
				As well as teaching, school staff may be engaged in other activities, such as school administration. Some staff may only be engaged in non-teaching activities.
				For each teacher, the Full-Time Equivalent teaching load is an estimate of the proportion of their total working time spent in teaching.
				For each education level, the FTE teacher count is an estimate of the proportion of total working time spent teaching at the education level.
				Since the total FTE proportions for a staff member add to 1 when summed across all education levels, as well as Admin and Other duties, their total equals the total number of staff.

			</p>

			<section>
				<crossfilter-table class="thin ner"
													 style="--row-label-width:70px;"
													 source="vm.teacherXf.groups.year"
													 columns="['NumTeachers','ftpt', 'fte']"
													 column-translator="{NumTeachers:'Head Count', ftpt: 'FT/PT', fte: 'FTE'}"*@
													 value-accessor="vm.teacherXf.grpValue"
													 value-formatter="vm.teacherXf.grpValueFormatter"
													 row-accessor="vm.rowAccessor"
													 has-row-totals="false"
													 @*row-filter="vm.hideZeros"*@
													 @*footer-source="[vm.grpTotalA, vm.grpTotalOA]"*@
													 gender-totals="vm.genderView"
													 col-descriptor="Teachers"
													 row-descriptor=""
													 select="{{vm.selecttype}}"
													 selected-row-key="vm.selectedAge"
													 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
													 @*row-class="vm.officialAgeClass"*@
													 ng-init="vm.selecttype='row'">
					<detail-content style="height:100px;width:100%;">
						<school-class-table source="vm.grpSchool"
																classes="vm.edLevelClasses"
																gender-totals="vm.genderView"
																selected-age="vm.selectedAge"></school-class-table>
					</detail-content>
					<toolbar-content>
						<div layout="row">
							<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						</div>
					</toolbar-content>
				</crossfilter-table>

			</section>

	<section>
		<h4>Certified Qualified Teachers</h4>

	</section>

	</div>
</panel>
