﻿@* inline style defines official_age markup for rows *@
<style>

	/*crossfilter-table.ner {
		--row-hover-background-color: rgba(30,70,100,.6);
		--row-label-background-color: magenta;
		--row-label-color: azure;
		--row-total-background-color: cyan;
		--row-total-color: salmon;
		--col-label-background-color: magenta;
		--col-label-color: azure;
	}
*/
	crossfilter-table.ner tr.official_age {
		font-weight: 700;
		background-color: rgba(192,255,255,.5) ;
	}

	@* preserve striping *@
	crossfilter-table.ner.striped tr.official_age.stripe {
		background-color: rgba(192,240,240,.5) !important;

	}

	crossfilter-table toolbar-content md-checkbox {
		margin-top: 10px;
	}


</style>

<panel panel-class="panel-primary"
			 panel-close="true"
			 heading="Survival Rate {{vm.edLevelCode|lookup:'educationLevels'}}, {{vm.surveyYear-1}} - {{vm.surveyYear}}{{vm.districtCode|lookup:'districts'|append:': '}}">

	<div>
		<div>
			<h4>Survival Rate</h4>

			<p>Definition:</p>
			<p>
				<i>
					Percentage of a cohort of pupils (or students) enrolled in the first grade of a given level or cycle of education
					in a given school year who are expected to reach successive grades.
				</i>
			</p>
			<p>Using the Reconstructed Cohort Method, Survival Rate is calculated from Repetition Rate RR, and Promotion Rate PR. 
			From these we obtain the Transition Rate - 
			the number of pupils enrolled at a given grade level who are expected to reach the next grade level.
			The Survival Rate across a range of years is then calculated as the produced of these "year-on-year" transition rates.

			</p>
			<table class="table" style="text-align:right">
				<thead>
					<tr>
						<th>Year of Ed</th>
						<th>Enrol {{vm.surveyYear - 1}}</th>
						<th>Rep {{vm.surveyYear}}</th>
						<th>Repetition Rate</th>
						<th>Enrol Next Level{{vm.surveyYear}}</th>
						<th>Rep Next Level {{vm.surveyYear}}</th>
						<th>Promotees</th>
						<th>Promotion Rate</th>
						<th>Transition
						<md-tooltip>
							<p>Calculated as</p>
							<table>
								<tr><td style="border-bottom-style:solid">Promotion Rate</td></tr>
								<tr><td>(1 - Repetition Rate)</td></tr>
							</table>
						</md-tooltip>
						</th>
						<th>Survival from Year 1</th>


					</tr>
				</thead>
				<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
					<td>{{i}}</td>
					<td>{{vm.indicatorCalc.yoeEnrol(vm.surveyYear - 1, i)}}</td>
					<td>{{vm.indicatorCalc.yoeRep(vm.surveyYear, i)}}</td>
					<td>{{vm.indicatorCalc.yoeRepetitionRate(vm.surveyYear - 1, i)|percif:1:2}}</td>

					<td>{{vm.indicatorCalc.yoeEnrol(vm.surveyYear, i+1)}}</td>
					<td>{{vm.indicatorCalc.yoeRep(vm.surveyYear, i+1)}}</td>
					<td>
						{{vm.indicatorCalc.yoeEnrol(vm.surveyYear, i+1) - vm.indicatorCalc.yoeRep(vm.surveyYear, i+1)}}
					</td>
					<td>{{vm.indicatorCalc.yoePromotionFrom(vm.surveyYear - 1, i,'')|percif:1:2}}</td>
					<td>{{vm.indicatorCalc.yoeTransitionFrom(vm.surveyYear - 1, i,"")|percif:1:2}}</td>
					<td>{{vm.indicatorCalc.yoeSurvivalTo(vm.surveyYear - 1, i,'')|percif:1:2}}</td>
					@*<td>{{vm.indicatorCalc.yoeRep(vm.surveyYear, i)/vm.indicatorCalc.yoeEnrol(vm.surveyYear - 1, i)|percif:1:2}}</td>*@

				</tr>
			</table>

		</div>


	
		@* demonstration / testing of crossfilter table component*@

		<section ng-if="false">
			<h4>Crossfilter-table Demonstration </h4>
			<div>Use these settings to display the component options</div>


			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Enrolments by Age {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="row" layout-align="space-around center">
						<md-button ng-click="vm.genderView = (vm.genderView)?0:1">Toggle Gender View</md-button>
						<md-checkbox ng-model="vm.optStriped">
							<md-label>Striped</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>

			<div>
				Colors can be customised by setting CSS custom properties. Do this using style attribute,
				ng-style does not support CSS custom properties
			</div>
			<crossfilter-table ng-class="{'thick':vm.optThick,
														 'thin': vm.optThin,
														 'striped':vm.optStriped,
														 'fixed':vm.optFixed,
														 }"
												 @*ng-style="{'--stripe-background-color': vm.stripebackgroundcolor,
																		'--row-hover-background-color': vm.rowhoverbackgroundcolor,
																		'--row-hover-color': vm.rowhovercolor,
																		'--row-selected-background-color': vm.rowselectedbackgroundcolor,
																		'--row-selected-color': vm.rowselectedcolor

																	}"*@
												 style="{{vm.stripebackgroundcolor?'--stripe-background-color: ' + vm.stripebackgroundcolor:''}};
													 {{vm.rowhoverbackgroundcolor?'--row-hover-background-color: ' + vm.rowhoverbackgroundcolor:''}};
													 {{vm.rowhovercolor?'--row-hover-color: ' + vm.rowhovercolor:''}};
													 {{vm.rowselectedbackgroundcolor?'--row-selected-background-color: ' + vm.rowselectedbackgroundcolor:''}};
													 {{vm.rowselectedcolor?'--row-selected-color: ' + vm.rowselectedcolor:''}};
													 "
												 source="vm.grpAgeA"
												 columns="vm.edLevelClasses"
												 column-translator="'levels'"
												 value-accessor="vm.valueAccessor"
												 row-accessor="vm.rowAccessor"
												 has-row-totals="true"
												 row-filter="vm.hideZeros"
												 footer-source="[vm.grpTotalA, vm.grpTotalOA]"
												 gender-totals="vm.genderView"
												 col-descriptor="Grade"
												 row-descriptor="Age"
												 select="{{vm.selecttype}}"
												 selected-row-key="vm.selectedAge"
												 on-selection="vm.onSelection(row,group, selectedRowKey, selectedColKey)"
												 row-class="vm.pairstripe"
												 ng-init="vm.selecttype='row'">
				<caption-content>
					Custom colors {{vm.edLevelCode|lookup:'educationLevels'}}
				</caption-content>
				<toolbar-content>
					<div layout="column" layout-align="space-around center">
						<div layout="row">
							<md-checkbox ng-model="vm.optStriped">
								<md-label>Striped</md-label>
							</md-checkbox>
							<md-input-container flex="50">
								<label>Stripe Color</label>
								<input type="text" ng-model="vm.stripebackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Hover Background Color</label>
								<input type="text" ng-model="vm.rowhoverbackgroundcolor" required="" md-maxlength="60">
							</md-input-container>
							<md-input-container flex>
								<label>Row Hover Color</label>
								<input type="text" ng-model="vm.rowhovercolor" required="" md-maxlength="60">
							</md-input-container>

						</div>
						<div layout="row">
							<md-input-container flex>
								<label>Row Selected Background Color</label>
								<input type="text" ng-model="vm.rowselectedbackgroundcolor" required="" md-maxlength="20">
							</md-input-container>
							<md-input-container flex>
								<label>Row Selected Color</label>
								<input type="text" ng-model="vm.rowselectedcolor" required="" md-maxlength="20">
							</md-input-container>

						</div>
						<md-checkbox ng-model="vm.optThick">
							<md-label>Thick</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optThin">
							<md-label>Thin</md-label>
						</md-checkbox>
						<md-checkbox ng-model="vm.optFixed">
							<md-label>Fixed</md-label>
						</md-checkbox>
						<md-select flex="25" ng-model="vm.selecttype">
							<md-option value="row">Row</md-option>
							<md-option value="col">Column</md-option>
							<md-option value="rowcol">Row or Column</md-option>
							<md-option value="cell">Cell</md-option>
							<md-option value="any">Any</md-option>
						</md-select>
					</div>
				</toolbar-content>
			</crossfilter-table>
		</section>
	</div>
</panel>
