﻿<div>
	<md-button class="md-raised md-primary" ng-click="vm.download()" ng-disabled="vm.ngDisabled||vm.isWaiting">
		<div layout="row">
			<div ng-transclude></div>
			<div layout="row" style="padding:3px">
				<md-icon ng-show="!(vm.isComplete||vm.isWaiting||vm.isError)">download</md-icon>
				<md-icon ng-show="vm.isComplete">check</md-icon>
				<md-icon ng-show="vm.isError" style="color:darkred">error</md-icon>
				<md-icon ng-show="vm.progress=='linear'&&vm.isWaiting">cloud_download</md-icon>
				<md-progress-circular ng-show="vm.isWaiting&&vm.progress!='linear'" md-mode="indeterminate" md-diameter="24"></md-progress-circular>
			</div>
		</div>
		<md-progress-linear ng-show="vm.progress=='linear'&&vm.isWaiting" md-mode="indeterminate" md-diameter="24"></md-progress-linear>
	</md-button>
</div>