﻿<div flex layout="column" layout-gt-sm="row">
	<ind-block flex model="vm.indicatorPage.baseYearData[vm.item]" year="vm.indicatorPage.baseYear"
						 gpi="{{vm.gpi}}" places="{{vm.places}}"
						 ng-class="{hover: vm.hover1}" ng-mouseenter="vm.hover1=true" ng-mouseleave="vm.hover1=false"
						 action="{{vm.action}}" tt="{{vm.tt}}"></ind-block>

	<ind-block flex model="vm.indicatorPage.selectedYearData[vm.item]" year="vm.indicatorPage.selectedYear"
						 gpi="{{vm.gpi}}"  places="{{vm.places}}"
						 ng-class="{hover: vm.hover2}" ng-mouseenter="vm.hover2=true" ng-mouseleave="vm.hover2=false"
						 action="{{vm.action}}" tt="{{vm.tt}}"></ind-block>

	<ind-change flex
							model1="vm.indicatorPage.baseYearData[vm.item]"
							model2="vm.indicatorPage.selectedYearData[vm.item]"
							gpi="{{vm.gpi}}"  places="{{vm.places}}"
							ng-class="{hover: vm.hoverc}" ng-mouseenter="vm.hoverc=true" ng-mouseleave="vm.hoverc=false"
							>
	</ind-change>
</div>