﻿<panel panel-class=""
			 panel-icon="download"
			 heading="Export Data in Excel"
			 panel-control-collapse="true">

	<md-content>
		<div>
			<p>
				Download the data from the official data warehouse. The data will be downloaded as an Excel spreadsheet.
				Without clicking "Create Refreshable Workbook" below, the excel export will be static:
				any changes to the data (e.g. the next school year) will not be in your spreadsheet. You will need to come and
				download it again here to get the latest data. Clicking on "Create Refreshable Workbook" is a newer more experimental way to get the data
				in Excel while also adding a "live" connection to the official data warehouse. This means that you could simply refresh
				your Excel data source and you will retrieve any new data automatically in your same Excel document without the need
				to come back and download it again.
			</p>
			<p>
				Specifically available here is UIS Survey Questionnaire required for yearly submission.
			</p>
		</div>
		<div>
			<md-checkbox ng-model="vm.pq">Create Refreshable workbook</md-checkbox>
		</div>


		<md-input-container class="md-block">
			<label>year</label>
			<input ng-model="vm.year" />
		</md-input-container>

		<table class="md-table striped">
			<thead>
				<tr>
					<th>Data</th>
					<th>Description</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>
						UIS Survey
					</td>
					<td>
						A UNESCO Institute of Statistics workbook automatically filled for data submissions. It also contains additional sheets with the goal to "prove" the submitted data (audit data)
					</td>
					<td>
						<excel-download-component from="{{vm.surveyPath}}" ng-disabled="!(vm.year)" mode="" progress="linear">
							Download
						</excel-download-component>
					</td>
				</tr>

				<tr>
					<td>
						School Enrollment by Age Groups and ISCED Levels
					</td>
					<td>
						Data on enrollments by schools, various age groups, official ISCED levels and other school based disaggregation. Contains sample pivot table and chart.
					</td>
					<td>
						<excel-download-component from="{{'api/warehouse/enrol/isced/' + vm.year}}" ng-disabled="!(vm.year)" mode="{{vm.pq?'pq':'xl'}}" progress="linear">
							Download
						</excel-download-component>
					</td>
				</tr>

			</tbody>
		</table>

	</md-content>

</panel>
