﻿<!-- expects controllerAs: vm -->
@*
		RenderFrame is the skeleton that places items in a typical collection of feature presentations
		These are the ui-views used - they will define "views" inside ui-router routes:

		- actionpane -	this is the popup windows for "drilling down" into a view of a single entity.
										Also used for new items and for editing

			renderarea - this is where to place the rendering of the set of entities. This may ba list,
									 chart, table, map etc

			searcher -	 this holds some UI component that allows filtering/selection of the entities
									 to include in the entity set. This selection must be communicated to the rendering,
									 generally this means accessing data from the server

			renderoptions - A rendering may itself need configuration options - e.g.
											* a List => configure columns
											* a chart or table => specify row/column grouping
											UI to manage this goes in this slot. This Ui must communicate with its parent
											in the renderarea

			Visibility is controlled by these properties of the RenderFrame component:

			vm.showRender (read-only) - If true, display the rendering. This is automatically false if
																	anything is in the actionpane.

			vm.showSearcher - The user may toggle the display of the searcher and renderoptions

	FrameTitle
	----------
			FrameTitle is a text string to describe the feature.

			This can be derived in 3 ways, in order of precedence:

			state data - the element frameTitle in the current state data, if defined.
										Note that state data in ui-router is inherited so if used, this is best defined
										on the feature frame state.

			at server - the server can specify a title as ViewBag.FrameTitle when creating the mvc View.

			from entity - the legacy approach is to use the 'entity' defined in the Filter object associated to this feature

			Renderings ( List, Chart, Table, Map .... etc) can give themselves a name in state data.rendermode.
			This also appears in the panel title.

			If the feature allows for addinga new entity, then ViewBag.AddPermission is passed into the View.
			This generates the client-side markup using angular-permission ( 3rd party component).
			If there is no ViewBag.AddPermission then the Add icon is not included in the View at all.

	Icon
	----
			Each state can define an icon in its state data. As with frameTitle,
			this is best defined on the feature's frame state. 'icon' is a string value that is an
			icon name in the material-icons set, look here for names:
			https://material.io/resources/icons/?style=baseline.
*@
@{
	string frameTitle = (ViewBag.FrameTitle == null ? "vm.theFilter.entity|capitalize:first" :
			string.Format("'{0}'", ViewBag.FrameTitle));
	frameTitle = String.Format("vm.state.current.data.frameTitle || {0}", frameTitle);
}

<div id="actionpane" ui-view="actionpane" />
<div id="datadiv" layout="column" flex ng-show="vm.showRender">

	<panel panel-class=""
				 panel-icon="{{vm.state.current.data.icon}}"
				 heading="{{@frameTitle}} : {{vm.state.current.data.rendermode}}"
				 panel-control-collapse="false"
				 layout="column" flex>

		<panel-controls>

			<span ng-hide="vm.state.data.nosearch">
				<md-button class="md-icon-button" ng-click="vm.showSearcher = !vm.showSearcher">
					<md-icon class="material-icons md-24">search</md-icon>
					<md-tooltip md-direction="bottom">Show/Hide Search/Filter Data</md-tooltip>
				</md-button>
			</span>

			@if (ViewBag.AddPermission != null)
			{
				<span permission permission-only="'@ViewBag.AddPermission'" ng-show="vm.state.current.data.rendermode == 'List'">
					<md-button class="md-icon-button" ng-click="console.log(vm.state.current); vm.theFilter.Action('new',null,null, vm.state.current.name)">
						<md-icon class="material-icons md-24">add_box</md-icon>
						<md-tooltip md-direction="bottom">Add</md-tooltip>
					</md-button>
				</span>
			}

		</panel-controls>

		<div ng-show="vm.showSearcher">
			@*
				<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
				<paged-list-params-component columns="listvm.theFilter"></paged-list-params-component>
				<school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>*@

			@* Deactivate broken flashfindsearch for now (was broken before I moved it here)
				<div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
			<div id="searcher" ui-view="searcher"></div>
			<div id="renderoptions" ui-view="renderoptions"></div>
		</div>

		<div @*style="position:relative" fit-content*@>
			<div id="renderarea" ui-view="renderarea"></div>

		</div>
	</panel>
</div>
