﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.optionDescription()}}
	<div ng-if="(!vm.options.selectedYear) || (!vm.options.selectedExamCode)">
		Select the year and the exam code from the Dashboard Options
	</div>
}

@section componentOptions {
	@*<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
	</md-select>*@
}


<div flex>
	@section whenSelected {
		<exam-crosstab ng-show="(vm.options.selectedYear) && (vm.options.selectedExamCode)"
								exam-xf="vm.dashboard.examXf.examXf" aggregation="{{vm.aggregation}}"
								touch="{{vm.touch}}"
								layout="column" layout-fill>
		</exam-crosstab>
	}
	<exam-chart ng-show="(vm.options.selectedYear) && (vm.options.selectedExamCode)"
							exam-xf="vm.dashboard.examXf.examXf" aggregation="{{vm.aggregation}}"
							sta-mirrors="['1.F','2.F','1.T','2.T','1.M','2.M','1','2']"
							touch="{{vm.touch}}"
							layout="column" layout-fill>
		<chart-tools layout="row" flex>
		</chart-tools>
	</exam-chart>

</div>