﻿@* *@
@section title {
	{{vm.title}}
}

@section filters {
	{{vm.options.descriptionExcluding()}}
	<div ng-if="(!vm.options.selectedYear) || (!vm.options.selectedExamCode)">
		Select the year and the exam code from the Dashboard Options
	</div>
}

@section componentOptions {
	@*<md-select ng-model="vm.selectedViewOption" aria-label="Select">
		<md-option ng-value="$index" ng-repeat="opt in vm.viewOptions">{{ opt }}</md-option>
	</md-select>*@
}


	<div flex>
		@section whenSelected {
			<table>
				<thead>
					<tr>
						<th>{{row.key[2]}}</th>
						<th></th>
						<th>Total</th>
						<th ng-repeat="al in vm.dashboard.achievementLevelsByExamYear()">{{al.C}}</th>

					</tr>

				</thead>
				<tbody>
					<tr ng-repeat-start="row in vm.groupData">
						<td>{{row.key[2]}}</td>
						<td>M</td>
						<td>{{row.value["Tot"].M}}</td>
						<td ng-repeat="al in vm.dashboard.achievementLevelsByExamYear()">{{row.value[al.C].M}}</td>
					
					</tr>
					<tr ng-repeat-end>
						<td></td>
						<td>F</td>
						<td>{{row.value["Tot"].F}}</td>
						<td ng-repeat="al in vm.dashboard.achievementLevelsByExamYear()">{{row.value[al.C].F}}</td>
					</tr>
				</tbody>
			</table>
		}
		<mirror-chart ng-show="(vm.options.selectedYear) && (vm.options.selectedExamCode)" 
									 @*ng-class="vm.paletteName"*@
									 dataset="vm.chartData"
									 touch="{{vm.touch}}"
									 sort-by="'id'"
									 sort-descending="1"
									 charttype="h" flip="false"
									 click-handler="vm.clickHandler(event)"
									 class-handler="vm.classHandler(source)"
									 tooltipper="vm.tooltipper(datum)"
									 on-chart-render="vm.onChartRender(option, echart)"
									 colors="vm.palette"
									 @*column-sort-by="['Approaching competence','Well below competent','Minimally competent','Competent']"*@
									 mirrors="vm.mirrors"
									 column-sort-by="vm.columnSortBy"
									 info="vm.info" style="height:100%; width:100%"
									 @* add flexing to fill the container *@
									 layout="column" layout-fill
									 >
		</mirror-chart>
		<!--"['#1010FF', '#223344', '#096723', '#123456','#3000FF', '#503344', '#506723', '#503456']"
		['#1010FF','#223344','#096723','#123456']
		-->

	</div>