﻿@section icon {
  fa fa-book
}

@section title {
  {{vm.isNew?'New '+ vm.model.InspectionType: vm.model.InspectionType + ' ' + vm.model.schNo + '-' + vm.model.InspectionYear}}
}

<div class="appform">

  <md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

    <md-tab label="Inspection">

      <div layout="column" class="md-inline-form">
        <md-content layout-padding>
          <div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h5>General Information</h5>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>{{"School No" | vocab }}</label>
									<input type="text" ng-model="vm.model.schNo" ng-disabled="!(vm.isNew && vm.isEditing)" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Inspection Year</label>
									<input type="text" ng-model="vm.model.InspectionYear" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Complete By</label>
									<input type="text" ng-model="vm.model.InspectedBy" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Note</label>
									<input type="text" ng-model="vm.model.Note" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Start Date</label>
									<md-datepicker ng-model="vm.model.StartDate" ng-disabled="!vm.isEditing"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>End Date</label>
									<md-datepicker ng-model="vm.model.EndDate" ng-disabled="!vm.isEditing"></md-datepicker>
								</md-input-container>
							</div>

							<div layout-gt-xs="row">
								<h5>{{vm.model.InspectionType}}</h5>
							</div>
							<div layout="row" layout-wrap>
								<md-input-container class="md-block" flex-gt-sm="33" ng-repeat="(key, value) in vm.model.InspectionContent">
									<label>{{key}}</label>
									<input type="text" ng-model="vm.model.InspectionContent[key]" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>
						</form>

            <md-card md-colors="::{backgroundColor: 'default-primary-200'}">
              <md-card-content>
                <md-icon class="material-icons">info</md-icon>
                <span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
								<div layout-gt-xs="column" ng-show="vm.model.koboInfo">
                  <div>Esurvey info:</div>
									<div layout="row" style="font-size:smaller">
										<div layout="row" flex>
											<div>ID: </div><div> {{vm.model.koboInfo._id}}</div>
										</div>
										<div layout="row" flex>
											<div>Submitted:</div><div> {{vm.model.koboInfo._submission_time}}</div>
										</div>
										<div layout="row" flex>
											<div>Version:</div><div> {{vm.model.koboInfo.__version__}}</div>
										</div>
										<div layout="row" flex>
											<div>Index:</div><div> {{vm.model.koboInfo._index}}</div>
										</div>
										<div layout="row" flex>
											<div>UUID:</div><div> {{vm.model.koboInfo._uuid}}</div>
										</div>
										<div layout="row" flex="10">
                      <document-image document="vm.model.SourceId" height="10"></document-image>
										</div>

									</div>
								</div>
              </md-card-content>
            </md-card>

          </div>
        </md-content>
      </div>
    </md-tab>

  </md-tabs>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
  </div>

</div>
