﻿<h4>Search/Filter Dataset</h4>

@{
  Layout = null;
}

<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
		<label>School Accreditation ID</label>
		<input ng-model="vm.params.SAID" type="number" />
	</md-input-container>

	<school-finder flex-gt-sm
								 ng-model="vm.params.SchoolNo"
								 ng-disabled="vm.findConfig.isLocked('SchoolNo')"></school-finder>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Inspection Type</label>
		<lookup-selector id="srchType"
										 lkp="inspectionTypes"
										 ng-model="vm.params.InspType"
										 ng-disabled="vm.findConfig.isLocked('InspType')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Year (e.g. 2016)</label>
		<input ng-model="vm.params.InspYear" type="text" />
	</md-input-container>
</div>
<div layout-gt-xs="row">

	<md-input-container class="md-block" flex-gt-sm>
		<label>{{ "District" | vocab}}</label>
		<lookup-selector id="srchDistrict"
										 lkp="districts"
										 ng-model="vm.params.District"
										 ng-disabled="vm.findConfig.isLocked('District')">
		</lookup-selector>
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Authority</label>
		<lookup-selector id="srchAuthorities"
										 lkp="authorities"
										 ng-model="vm.params.Authority"
										 ng-disabled="vm.findConfig.isLocked('Authority')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label for="srchAuthorityGovt">{{ "Authority Govt" | vocab}}</label>
		<lookup-selector id="srchAuthorityGovt"
										 lkp="authorityGovts"
										 ng-model="vm.params.AuthorityGroup"
										 ng-disabled="vm.findConfig.isLocked('AuthorityGroup')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>{{ "School Type" | vocab}}</label>
		<lookup-selector id="schType"
										 lkp="schoolTypes"
										 ng-model="vm.params.SchoolType"
										 ng-disabled="vm.findConfig.isLocked('SchoolType')">
		</lookup-selector>
	</md-input-container>

</div>
<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
