﻿@* student enrollment List
*@
<div>
  <table class="md-table striped">
    <thead>
      <tr>
        <th>Enrollment Year</th>
        <th colspan="2">School</th>

        <th>Grade Level</th>
        <th>Completed</th>
        <th>Days Absent</th>
        <th>From</th>
        <th>From Date</th>
        <th>From School</th>
        <th>Outcome</th>
        <th>Outcome Reason</th>
        <th>Sp Ed?</th>        
      </tr>
    </thead>
    <tbody>
		<tr data-ng-repeat="e in vm.enrollments">
			<td>{{e.stueYear}}</td>
			<td>
				{{e.schNo}}
				@*<md-tooltip >{{e.schNo|lookup:"schoolNames"}}</md-tooltip>*@
			</td>
			<td>{{e.schNo |lookup:"schoolNames"}}</td>
			<td>{{e.stueClass|lookup:"levels"}}</td>
			<td>{{e.stueCompleted | fromYesno| tickcross}}</td>
			<td>{{e.stueDaysAbsent}}</td>
			<td>{{e.stueFrom}}</td>
			<td>{{e.stueFromDate | date:"d-MMM-yyyy"}}</td>
			<td>{{e.stueFromSchool}}
				<md-tooltip ng-if="e.stueFromSchool">{{e.stueFromSchool|lookup:"schoolNames"}}</md-tooltip>
            </td>
			<td>{{e.stueOutcome}}</td>
			<td>{{e.stueOutcomeReason}}</td>
			<td>{{e.stueSpEd|tick}}</td>
		</tr>
    </tbody>
  </table>
</div>