﻿<md-autocomplete id="standard-autocomplete" ng-disabled="vm.ngDisabled" ng-required="vm.ngRequired"
								 md-no-cache="ctrl.noCache"
								 md-selected-item="vm.selectedItem"
								 md-search-text-change="vm.searchTextChange(vm.searchText)"
								 md-search-text="vm.searchText"
								 md-selected-item-change="vm.onSelected(vm.selectedItem)"
								 md-items="student in vm.doSearch(vm.searchText)"
								 md-item-text="student.N"
								 md-min-length="0"
								 input-aria-describedby="standard-autocomplete-description"
								 input-aria-label="Student"
								 md-floating-label="Student"

								 md-menu-class="autocomplete-standard-template"
								 md-menu-container-class="standard-container"
								 md-mode="standard"
								 
								 md-autoselect="true"
								 md-select-on-focus="true"
								 >
	<md-item-template>
			<span> {{student.C}}: {{student.N}} </span>
	</md-item-template>
</md-autocomplete>
