﻿@* student document List
*@
<div>
	<div>
		<table class="md-table striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>File Name</th>
					<th>Description</th>
					<th>Category</th>
					<th>Date</th>
					<th>Source</th>
					<th>Operations</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="link in vm.links">
					<td><document-thumbnail document="link"></document-thumbnail></td>
					<td>{{link.docTitle}}</td>
					<td>{{link.docDescription}}</td>
					<td>{{link.lnkFunction | lookup:'studentLinkTypes'}}</td>
					<td>{{link.docDate | date:"d MMM yyyy"}}</td>
					<td>{{link.docSource}}</td>
					<td>
						<span permission permission-only="@ViewBag.EditPermission">
							<md-button class="md-icon-button" ng-click="vm.doEdit(link, $event)">
								<md-tooltip>Edit details</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">edit</md-icon>
							</md-button>
						</span>
						<span permission permission-only="@ViewBag.DeletePermission">
							<md-button class="md-icon-button" ng-click="vm.doDelete(link, $event)">
								<md-tooltip>Delete document</md-tooltip>
								<md-icon class="material-icons md-24 md-dark">delete</md-icon>
							</md-button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div layout="row">

		<div flex></div>
		<span permission permission-only="@ViewBag.AddPermission">
			<student-new-link student="vm.student"></student-new-link>
		</span>
	</div>
</div>