﻿@* student enrollment List
*@
<div>
	<div>
		<table class="md-table striped">
			<thead>
				<tr>
					<th>Scholarship Type</th>
					<th>Year</th>
					<th>Status</th>
					<th colspan="7">Latest Enrolment</th>
				</tr>

				<tr>
					<th>Scholarship Type</th>
					<th>Year</th>
					<th>Status</th>
					<th>Year</th>
					<th>Semester</th>
					<th>Level</th>
					<th>Institution</th>
					<th>Major</th>
					<th>Tier</th>
					<th>GPA</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="e in vm.scholarships">
					<td>{{e.scholCode }}</td>
					<td>{{e.schrYear}}</td>
					<td>{{e.schoStatus |lookup: 'scholarshipStatus'}}</td>
					<td>{{e.posYear}}</td>
					<td>{{e.posSemester}}</td>
					<td>{{e.gyIndex | lookup:'tertiaryGrades'}}</td>
					<td>{{e.instCode}}</td>
					<td>{{e.fosCode | lookup: 'fieldsOfStudy'}}</td>
					<td>{{e.fosCode | lookup: 'fieldsOfStudy':'G'|lookup:'fieldOfStudyGroups'}}</td>
					<td>{{e.posGPA}}</td>
					<td>
						<md-button class="md-icon-button" ng-click="vm.show(e)">
							@* more-horiz is the horizontal ellipsis *@
							<md-icon class="material-icons md-24 md-dark">
								<span permission permission-only="'@Model.Read'">
									more_horiz
									<md-tooltip>Details ...</md-tooltip>
								</span>
							</md-icon>
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div layout="row" permission permission-only="'@Model.Create'">
		<div flex></div>
		<md-button class="md-fab md-mini" ng-click="vm.new()">
			<md-icon class="md-24">add</md-icon>
			<md-tooltip>Add a new enrollment</md-tooltip>
		</md-button>
	</div>
</div>