﻿<h4>Search/Filter Dataset</h4>

<div layout-gt-xs="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Student Card ID</label>
    <input ng-model="vm.params.StudentCardID" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Given Name</label>
    <input ng-model="vm.params.StudentGiven" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Family Name</label>
    <input ng-model="vm.params.StudentFamilyName" type="text" />
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Gender</label>
    <lookup-selector lkp="gender"
                     ng-model="vm.params.StudentGender"
                     ng-disabled="vm.findConfig.isLocked('StudentGender')">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Ethnicity</label>
    <lookup-selector lkp="ethnicities"
                     ng-model="vm.params.StudentEthnicity"
                     ng-disabled="vm.findConfig.isLocked('StudentEthnicity')">
    </lookup-selector>
  </md-input-container>
</div>
<div layout-gt-xs="row">
	@* find a student by enrolment - at a school, in a year in a grade *@
	<school-finder flex-gt-sm
								 ng-model="vm.params.EnrolledAt"
								 ng-disabled="vm.findConfig.isLocked('EnrolledAt')"></school-finder>
	<md-input-container class="md-block" flex-gt-sm>
		<label>{{'District'|vocab}}</label>
		<lookup-selector lkp="districts"
										 ng-model="vm.params.EnrolDistrict"
										 ng-disabled="vm.findConfig.isLocked('EnrolDistrict')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>Authority</label>
		<lookup-selector lkp="authorities"
										 ng-model="vm.params.EnrolAuthority"
										 ng-disabled="vm.findConfig.isLocked('EnrolAuthority')">
		</lookup-selector>
	</md-input-container>

	<md-input-container class="md-block" flex-gt-sm>
		<label>In Year</label>
		<input ng-model="vm.params.EnrolYear" type="number" />
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>In Grade</label>
		<lookup-selector lkp="levels"
										 ng-model="vm.params.EnrolLevel"
										 ng-disabled="vm.findConfig.isLocked('EnrolLevel')">
		</lookup-selector>
	</md-input-container>


</div>

<section layout="row" layout-align="center center">
  <md-button class="md-raised" id="Reset" ng-click="vm.Reset()"><md-icon class="material-icons">filter_alt_off</md-icon> Clear</md-button>
  <md-button class="md-raised md-primary" id="findNow" ng-click="vm.FindNow()"><md-icon class="material-icons">filter_alt</md-icon> Filter</md-button>
</section>
