﻿@section icon {
	fa fa-graduation-cap
}

@section title {
	{{vm.isNew? 'New Student': 'Student: ' + vm.model.stuGiven + ' ' + vm.model.stuFamilyName }}
}

<div class="appform">

	<md-tabs md-selected="vm.activeTab" md-dynamic-height md-border-bottom>

		@*<md-tab label="Dashboard" ng-disabled="vm.isNew">
				<div class="row">
				</div>
			</uib-tab>*@

		<md-tab label="Student Info">

			<div layout="column" class="md-inline-form">
				<md-content layout-padding>
					<div>
						<form name="vm.modelForm" ng-submit="vm.save()">
							@*novalidate class="form-custom-validation"*@

							<div layout-gt-xs="row">
								<h3>General Information</h3>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Student ID</label>
									@* don't need required on this, becuase it will be server-supplied on new record *@
									<input type="text" ng-model="vm.model.stuID" ng-disabled="true" />
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Student Card ID</label>
									<input type="text" ng-model="vm.model.stuCardID" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								@*<md-input-container class="md-block" flex-gt-sm>
										<label>Name Prefix</label>
										<input type="text" ng-model="vm.model.stuNamePrefix" ng-disabled="!vm.isEditing" />
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Name Suffix</label>
										<input type="text" ng-model="vm.model.stuNameSuffix" ng-disabled="!vm.isEditing" />
									</md-input-container>*@

								<md-input-container class="md-block" flex-gt-sm>
									<label>Given Name</label>
									<input type="text" ng-model="vm.model.stuGiven" ng-disabled="!vm.isEditing" required />
								</md-input-container>

								@*<md-input-container class="md-block" flex-gt-sm>
										<label>Given Name Soundex</label>
										<input type="text" ng-model="vm.model.stuGivenSoundex" ng-disabled="!vm.isEditing" required />
									</md-input-container>*@

								<md-input-container class="md-block" flex-gt-sm>
									<label>Middle Names</label>
									<input type="text" ng-model="vm.model.stuMiddleNames" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Family Name</label>
									<input type="text" ng-model="vm.model.stuFamilyName" ng-disabled="!vm.isEditing" />
								</md-input-container>

								@*<md-input-container class="md-block" flex-gt-sm>
										<label>Family Name Soundex</label>
										<input type="text" ng-model="vm.model.stuFamilySoundex" ng-disabled="!vm.isEditing" />
									</md-input-container>*@
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Gender</label>
									<lookup-selector lkp="gender" ng-model="vm.model.stuGender" ng-disabled="!vm.isEditing" />
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Ethnicity</label>
									<lookup-selector lkp="ethnicities" ng-model="vm.model.stuEthnicity" ng-disabled="!vm.isEditing" />
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Date of Birth</label>
									<md-datepicker ng-model="vm.model.stuDoB" ng-disabled="!vm.isEditing"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<md-checkbox ng-model="vm.model.stuDoBEst"
															 ng-true-value="1" ng-false-value="null"
															 ng-disabled="!vm.isEditing">Is the Date of Birth Estimated?</md-checkbox>
								</md-input-container>
							</div>

							@if (ViewBag.SpecialEd == "SpecialEd")
							{
								<div layout-gt-xs="row">
									<div flex="100">
										<h3>Special Education (Permanent Info)</h3>
										<p>The details do not change over the years and are permanent to the special education student.</p>
									</div>
								</div>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Intake Date</label>
										<md-datepicker ng-model="vm.model.stuSpEdIntakeDate" ng-disabled="!vm.isEditing"></md-datepicker>
									</md-input-container>
								</div>

								<div layout-gt-xs="row">
									<div flex="100">
										<h3>Special Education (Historical Tracked Info)</h3>
										<p>The details in here could change over the years (but does not necessarily do or have to). The most recent is shown here.</p>
									</div>
								</div>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Disability</label>
										<lookup-selector lkp="disabilities" ng-model="vm.model.stueSpEdDisability" ng-disabled="!vm.isEditing" />
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>English Learner</label>
										<lookup-selector lkp="spEdEnglishLearner" ng-model="vm.model.stueSpEdEnglish" ng-disabled="!vm.isEditing" />
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Environment</label>
										<lookup-selector lkp="spEdEnvironment" ng-model="vm.model.stueSpEdEnv" ng-disabled="!vm.isEditing" />
									</md-input-container>
								</div>
								<div layout="column" layout-gt-sm="row">
									<md-input-container flex>
										<md-checkbox ng-model="vm.model.stueSpEdIEP"
																 ng-true-value="1" ng-false-value="0"
																 ng-disabled="!vm.isEditing">Has IEP</md-checkbox>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Accommodations</label>
										<lookup-selector lkp="spEdAccommodations" ng-model="vm.model.stueSpEdAccommodation" ng-disabled="!vm.isEditing" />
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Assessment Type</label>
										<lookup-selector lkp="spEdAssessmentTypes" ng-model="vm.model.stueSpEdAssessment" ng-disabled="!vm.isEditing" />
									</md-input-container>
								</div>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Exiting</label>
										<lookup-selector lkp="spEdExits" ng-model="vm.model.stueSpEdExit" ng-disabled="!vm.isEditing" />
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Exiting Date</label>
										<md-datepicker ng-model="vm.model.stueSpEdExit" ng-disabled="!vm.isEditing"></md-datepicker>
									</md-input-container>
								</div>

								<div layout-gt-sm="row">
									<teacher-finder ng-disabled="!vm.isEditing" ng-model="vm.model.stueSpEdTeacher" />
								</div>
							}

						</form>

						<md-card md-colors="::{backgroundColor: 'default-primary-200'}">
							<md-card-content>
								<md-icon class="material-icons">info</md-icon>
								<span>Last saved: {{vm.model.pEditUser}} {{vm.model.pEditDateTime | date:"dd MMM yyyy h:mm a"}}</span>
							</md-card-content>
						</md-card>

					</div>
				</md-content>
			</div>
		</md-tab>

		@if (ViewBag.SpecialEd == "SpecialEd")
		{
			<md-tab label="(Re-)Evaluations" ng-disabled="vm.isNew">

				<md-content flex layout-padding>
					<p>
						Manage all your evaluations and reevaluation life cycle here. Any number of "evaluation events"
						can be recorded for a special education student.
					</p>
				</md-content>

				<component-special-ed-evaluation-event-list evaluationevents="vm.model.EvaluationEvents"
																										student="vm.model"></component-special-ed-evaluation-event-list>
			</md-tab>
		}

		<md-tab label="Enrollment List" ng-disabled="vm.isNew">
			<component-student-enrollment-list enrollments="vm.model.Enrollments"></component-student-enrollment-list>
		</md-tab>

		@*<md-tab label="Scorecards" ng-disabled="!vm.model.Surveys.length">
				<component-scorecards-list scorecards="vm.model.Scorecards"></component-scorecards-list>
			</md-tab>

			<md-tab label="Documents">
				<component-teacher-links links="vm.model.Documents" teacher="vm.model"></component-teacher-links>
			</md-tab>*@
		<md-tab label="Scholarships">
			<component-student-scholarship-list student="vm.model" scholarships="vm.model.Scholarships"></component-student-scholarship-list>
		</md-tab>

		<md-tab label="Documents" ng-disabled="vm.isNew">

			<md-content flex layout-padding>
				<p>Upload any type of document you would like to archive for your student (e.g. official transcript, photo, letters from doctors, etc. etc.).</p>
			</md-content>

			<component-student-links links="vm.model.Documents" student="vm.model"></component-student-links>
		</md-tab>

		<md-tab label="Reports">
			<report-list folder="Student" context="{StudentID: vm.model.stuID}" set-params="vm.setReportParams(report, context,instanceInfo)"></report-list>
		</md-tab>


	</md-tabs>

	<div layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular ng-show="vm.isWaiting" md-mode="indeterminate"></md-progress-circular>
	</div>

</div>
