﻿@* *@
@section title {
	Enrolment by {{'Authority Govt'|vocab}}
}

@section filters {
	{{vm.dashboard.options.selectedAuthorityGovt|lookup:'authorityGovts'}} {{vm.dashboard.options.selectedYear}}
}
<div>
	<table class="table dashboard table-hover">
		<thead>
			<tr>
				<th>{{'Authority Govt'|vocab}}</th>
				<th>Enrol - {{vm.dashboard.options.selectedYear}}</th>
			</tr>
		</thead>
		<tr class="animated" ng-repeat="r in vm.grpAuthorityGovtCode.all()"
				ng-click="vm.dashboard.options.toggleSelectedAuthorityGovt(r.key)"
				ng-class="{'selected':vm.dashboard.options.isSelectedAuthorityGovt(r.key)}">
			<td class="rowlabel">{{r.key| lookup:'authorityGovts'}}</td>
			<td>{{r.value}}</td>
		</tr>
	</table>
</div>
